<app-cas-dialog title="設定する端末を選択" dialogClass="header-bg--white" bodyClass="p-0" [isCloseBtn]="false">
  <section dialogContent>
    <div class="block-choose-app">
      <button type="button" class="btn btn-link btn-link--black" [disabled]="isLoading" (click)="chooseApp(APP_SETTING.ORDER)">オーダー</button>
      <button type="button" class="btn btn-link btn-link--black" [disabled]="isLoading" (click)="chooseApp(APP_SETTING.SELF_ORDER)">KIOSK</button>
    </div>
  </section>

  <section dialogAction class="cas-dialog__btn-group justify-content-center">
    <button type="button"
      class="btn btn-link btn-link--primary"
      aria-label="Close" (click)="closeModal()">
      キャンセル
    </button>
  </section>
</app-cas-dialog>
