.block-choose-app {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .btn-link {
    &:first-child {
      border-bottom: 1px solid #dedede;
    }
  }
}

.btn-link {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 54px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-decoration: none;
}
