<div class="pie-chart">
  <p class="font-size-14 font-weight-bold">{{title}}</p>

  <div class="pie-container">
    <div class="chart-wrap" *ngIf="labels.length > 0 && data">
      <canvas baseChart
        [data]="data"
        [labels]="labels"
        chartType="pie"
        [options]="pieChartOptions"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)">
      </canvas>
    </div>

    <div class="legend-wrap" *ngIf="legendData && !isDataNotFound">
      <ul class="legend-panel">
        <li class="legend-panel__item"
          (click)="handleChartLengend(legendItem)"
          [ngClass]="{ 'in-active': legendItem.disabled }"
          [title]="tooltip[i]"
          *ngFor="let legendItem of legendData; index as i">
          <span class="legend-panel__color" [ngStyle]="legendItem.styles"></span>
          {{legendItem.label}}
        </li>
      </ul>
    </div>
  </div>

  <div class="font-size-14 text-center w-100 text-not-found" *ngIf="isDataNotFound">
    表示する項目がありません
  </div>

  <div class="loader--center" *ngIf="isLoadingChart">
    <div class="lds-ripple">
      <div></div><div></div>
    </div>
  </div>
</div>
