<section
  class="cas-dropzone"
  appDropZone
  (hovered)="toggleHover($event)"
  (dropped)="startUpload($event)"
  [ngClass]="{ 'cas-dropzone--lg': large, 'cas-dropzone--rect': rectangle, 'cas-dropzone--rect--height-md': rectangleHeight }"
  [class.hovering]="isHovering" [class.disabled]="disabled" [ngStyle]="previewImage">

  <div class="cas-dz__action">
    <input class="cas-dz__input" hidden type="file"
       name="inputFile" #formFiles
       [multiple]="multiple"
       (change)="startUpload($event.target.files)"
       [accept]="accept" [disabled]="disabled"/>
    <div class="cas-dz__btn-add" *ngIf="!isShowBtnDelete && !btnDelete"></div>
    <div class="cas-dz__btn-delete" (click)="deleteImage()" *ngIf="btnDelete"></div>
  </div>

  <div class="cas-dz__remove" *ngIf="isShowBtnDelete">
    <img class="action-delete" src="assets/icon/icon-trash.svg" (click)="deleteImage()" alt="icon-delete">
  </div>

  <div class="cas-dz__messages" [ngClass]="{ 'show': error }" *ngIf="!multiple">{{ error }}</div>
</section>
