$dz-background: #e5e5e5;
$dz-hover: #06adf1;
$dz-image: 'assets/img/no-image.png';
$dz-image--lg: 'assets/img/no-image--lg.png';
$dz-btn-background: #999;
$dz-btn-hover: #b5b3b3;
$dz-btn-disabled: #d7d7d7;

.cas-dropzone {
  background-color: $dz-background;
  background-image: url($dz-image);
  background-position: center;
  background-repeat: no-repeat;
  border: 0.0625rem solid var(--grey-lighten-0);
  border-radius: 0.3125rem;
  box-sizing: border-box;
  cursor: pointer;
  height: 8.125rem;
  margin-bottom: 1.25rem;
  position: relative;
  width: 11.875rem;

  &:hover,
  &.hovering {
    border-color: $dz-hover;
  }

  .cas-dz {
    &__action {
      bottom: -10%;
      position: absolute;
      right: 5%;
    }

    &__btn-add,
    &__btn-delete {
      background-color: $dz-btn-background;
      border-radius: 50%;
      cursor: pointer;
      height: 3.125rem;
      position: relative;
      width: 3.125rem;

      &::before,
      &::after {
        background-color: var(--white);
        border-radius: 0.9375rem;
        content: '';
        height: 0.1875rem;
        left: 25%;
        position: absolute;
        top: 48%;
        width: 50%;
      }

      &::after {
        transform: rotate(90deg);
      }

      &:hover {
        box-shadow: 0 0 0.625rem $dz-btn-hover;
      }
    }

    &__btn-delete {
      transform: rotate(-45deg);
    }

    &__messages {
      -moz-border-radius: 0.3125rem 0.3125rem 0 0;
      -webkit-border-radius: 0.3125rem 0.3125rem 0 0;
      align-items: center;
      background-color: rgba(255, 0, 0, 0.5);
      border-radius: 0.3125rem 0.3125rem 0 0;
      color: var(--white);
      display: flex;
      font-size: 1rem;
      justify-content: center;
      min-height: 15%;
      opacity: 0;
      padding: 0.9375rem;
      transition: all 0.5s ease-in;
      visibility: hidden;
      width: 100%;

      &.show {
        opacity: 1;
        visibility: visible;
      }
    }

    &__remove {
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 0 0 0.3125rem 0.3125rem;
      bottom: 0;
      cursor: pointer;
      display: flex;
      height: 17%;
      justify-content: flex-end;
      position: absolute;
      width: 100%;

      img {
        margin-right: 15px;
      }
    }
  }

  &--lg {
    background-image: url($dz-image--lg);
    height: 18.75rem;
    width: 100%;

    .cas-dz {
      &__btn-add {
        height: 4.6875rem;
        width: 4.6875rem;
      }
    }
  }

  &--rect {
    height: 6.25rem;
    width: 25rem;

    .cas-dz {
      &__action {
        bottom: -15%;
        right: 0;
      }

      &__btn-add,
      &__btn-delete {
        height: 2.084375rem;
        width: 2.084375rem;

        &::before,
        &::after {
          height: 2px;
        }
      }
    }

    &--height-md {
      height: 6.875rem;
    }
  }

  &.disabled {
    cursor: not-allowed;
    pointer-events: none;

    .cas-dz__btn-add {
      background-color: $dz-btn-disabled;
    }
  }
}
