<section class="cas-app" #CasAppRef>
  <header class="cas-head">
    <div class="cas-head__icon--left" *ngIf="!header.isSetting">
      <img class="cursor-pointer title-menu"
        src="assets/icon/toggle_menu.svg" alt="toggle menu" (click)="toogleSideNav()" *ngIf="!header.isChild">
      <img class="cursor-pointer title-back"
        src="assets/icon/arrow-point-to-left-dark.svg" alt="go back" (click)="backPage()" *ngIf="header.isChild">
    </div>

    <div class="cas-head__title"
      *ngIf="!header.isHeaderSeparate" [ngClass]="{ 'cas-head__title-center': header.isPageTitle }">
      <img *ngIf="!header.isPageTitle" class="title-menu logo" src="assets/img/logo.png" alt="title home">
      <span *ngIf="header.isPageTitle" class="title-menu">{{header.pageTitle}}</span>
    </div>

    <div class="container-fluid cas-head-separate" *ngIf="header.isHeaderSeparate">
      <div class="row">
        <div class="col-4 cas-head-separate__left">
          <div class="cas-head-separate__list">
              <div class="cas-head__title text-center">
                <span class="title-menu">{{ header.pageTitle }}</span>
              </div>
              <div class="cas-head-separate__btn" *ngIf="header.isDownloadCSV">
                <a class="btn cas-link cas-link--icon pt-0" (click)="downloadListUser()">
                  <img src="assets/icon/icon-download.svg"/>
                </a>
              </div>
          </div>
        </div>
        <div class="col-8">
          <div class="cas-head-separate__sub_title text-center">
            <span class="title-menu">{{ header.subPageTitle }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="cas-head__icon-right" [hidden]="!header.isNotify">
      <app-notification></app-notification>
    </div>
  </header>

  <div class="cas-sidenav">
    <div class="nav-item" [routerLink]="['/reservation']" routerLinkActive="active">
      <i class="nav-item--icon far fa-calendar-alt" aria-hidden="true"></i>
      <span class="nav-item--text">予約</span>
    </div>

    <div class="nav-item" [routerLink]="['/tables', 'view']" routerLinkActive="active">
      <i class="nav-item--icon fas fa-th-list" aria-hidden="true"></i>
      <span class="nav-item--text">座席管理</span>
    </div>

    <div class="nav-item" [routerLink]="['/users']" routerLinkActive="active">
      <i class="nav-item--icon fas fa-user" aria-hidden="true"></i>
      <span class="nav-item--text">顧客情報</span>
    </div>

    <div class="nav-item" [routerLink]="['/reservations/history']" routerLinkActive="active">
      <i class="nav-item--icon far fa-file-alt" aria-hidden="true"></i>
      <span class="nav-item--text">予約履歴</span>
    </div>

    <div class="nav-item" [routerLink]="['/resv-update-history']" routerLinkActive="active">
      <i class="nav-item--icon fas fa-history" aria-hidden="true"></i>
      <span class="nav-item--text">履歴管理</span>
    </div>

    <div class="nav-item" [routerLink]="['/setting']" routerLinkActive="active">
      <i class="nav-item--icon fas fa-cog" aria-hidden="true"></i>
      <span class="nav-item--text">店舗設定</span>
    </div>

    <div class="nav-item" [routerLink]="['/history-call']" routerLinkActive="active">
      <i class="nav-item--icon nav-item--icon__phone-reserve fas fa-phone" aria-hidden="true"></i>
      <span class="nav-item--text">着信履歴</span>
    </div>

    <div class="nav-item" [routerLink]="['/statistic']" routerLinkActive="active">
      <i class="nav-item--icon fas fa-calculator" aria-hidden="true"></i>
      <span class="nav-item--text">売上分析</span>
    </div>

    <div class="nav-item" [routerLink]="['/ai-analysis']" routerLinkActive="active">
      <i class="nav-item--icon fas fa-video" aria-hidden="true"></i>
      <span class="nav-item--text">来店分析</span>
    </div>

    <div class="nav-item" (click)="logout()">
      <i class="nav-item--icon fas fa-sign-out-alt" aria-hidden="true"></i>
      <span class="nav-item--text">ログアウト</span>
    </div>
  </div>

  <div class="cas-content">
    <router-outlet></router-outlet>
  </div>
</section>


