<section class="content-page">
  <div class="page-content">
    <div class="page-item">
      <div class="page-item--head page-item--head_border">
        <img src="assets/icon/phone-receiver.svg" alt="icon phone receiver" width="21px" />
        <h3 class="head-title cas-text--dark-blue font-size-24 ml-3">{{ historyCall.phone }}</h3>
      </div>
    </div>

    <div class="page-item bg-light--grey-8 py-4 px-3">
      <div class="page-item--head justify-content-between">
        <div class="d-flex flex-wrap">
          <div class="w-100 font-size-16 mb-4">
            顧客台帳から電話番号がHITしました
          </div>
          <div class="d-flex align-items-center" *ngIf="historyCall.client_user">
            <img src="assets/icon/user.svg" alt="icon user" width="21px"/>
            <h3 class="font-size-24 font-weight-bold ml-3">{{ historyCall.client_user?.name }} <span class="font-size-16">様</span></h3>
          </div>
        </div>
      </div>
    </div>

    <div class="page-item">
      <div class="page-item--head page-item--head_icon justify-content-between">
        <div class="d-flex align-items-center">
          <img src="assets/icon/calendar.svg" alt="icon calendar" />
          <h3 class="head-title font-md">
            <span class="font-weight-bold">受電履歴 </span>
            <span>(合計 {{ detailHistoryCalls.length }} 件）</span>
          </h3>
        </div>
      </div>

      <div class="page-item--content">
        <div class="table-responsive cas-table--highlight cas-table--border-radius table-detail-history-call">
          <table class="table table-bordered">
            <thead class="bg-light--grey-8">
              <tr>
                <th class="text-right pr-5">日時</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let call of detailHistoryCalls">
                <td class="text-right"
                  [ngClass]="{ 'missed-call': call.is_missed }"><span> {{ call.start_at_string }}</span></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="text-center text-muted font-md mt-4 w-100"
          *ngIf="!detailHistoryCalls.length && !isLoadingHistoryDetail">
          データが見つかりませんでした
        </div>

        <div class="loader--row" *ngIf="isLoadingHistoryDetail">
          <div class="lds-ripple">
            <div></div><div></div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-end mb-5">
      <a [routerLink]="['/reservations']"
         [queryParams]="{ 'phone': historyCall.phone }"
         class="btn cas-btn btn-primary">予約を作成</a>
    </div>
  </div>
</section>
