<section class="content-page">
  <div class="page-head page-head--space-between pl-3">
    <h2 class="head-title">オプション設定</h2>
    <div class="head-action">
      <button type="button" (click)="openModalCEMenuOption()" class="btn page-head-btn btn-warning">
        新規追加
      </button>
    </div>
  </div>

  <app-cas-filter [sortItems]="optionSort" (eventSort)="sortMenuOption($event)">
    <app-filter-options filterForm (filterEvent)="filterMenuOption($event)"></app-filter-options>
  </app-cas-filter>

  <div class="page-content container-fluid">
    <div class="row">
      <div class="col-12 col-sm-6 mb-3" *ngFor="let option of menuOptions">
        <app-cas-card-options
          [title]="option.name"
          [price]="option.price_format"
          (eventEdit)="openModalCEMenuOption(option)"
          (eventDelete)="openModalRemoveMenuOption(option)">
        </app-cas-card-options>
      </div>
    </div>

    <div class="text-center" *ngIf="!menuOptions.length && !isLoading">
      データが見つかりません
    </div>

    <div class="loader--row" *ngIf="isLoading">
      <div class="lds-ripple">
        <div></div>
        <div></div>
      </div>
    </div>

    <div class="cas-pagination" [ngClass]="{ 'd-none': isLoading }">
      <app-pagination
        *ngIf="pagination.isPagination"
        class="d-flex justify-content-center"
        [boundaryLinks]="true"
        [totalItems]="pagination.total"
        [itemsPerPage]="pagination.per_page"
        [maxSize]="5"
        [(ngModel)]="pagination.current_page"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;">
      </app-pagination>
    </div>
  </div>
</section>
