<section class="content-page notify-container">
  <div class="page-head notify-head border-bottom-0">
    <h2 class="head-title">お知らせ通知一覧</h2>
    <div class="head-action">
      <button class="btn cas-btn btn-secondary btn-border btn-mw" (click)="openModalSettingNotify()">受け取り設定</button>
    </div>
  </div>

  <div class="page-content">
    <perfect-scrollbar class="notify-content">
      <div class="notify-item"
        *ngFor="let notify of notifies; let idx = index"
        [ngClass]="{ 'no-border--bottom mb-3': idx === notifies.length - 1, 'readed': !notify.is_unread }"
        (click)="readDetail(notify)">

        <div class="notify-info">
          <img [src]="notify.icon" class="icon">
          <p class="text" [ngClass]="{'text--red': notify.is_import_resv_fail}">{{ notify.title }}</p>
          <p class="caption">{{ notify.created_at_display }}</p>
        </div>
      </div>

      <div class="loader--center" *ngIf="isLoading">
        <div class="lds-ripple">
          <div></div><div></div>
        </div>
      </div>
    </perfect-scrollbar>
  </div>

  <div class="page-footer notify-footer">
    <button class="btn cas-btn btn-secondary btn-border btn-mw" (click)="closeNotify()">閉じる</button>
  </div>
</section>
