.analysis-header,
.analysis-status {
  background-color: var(--white);
  display: flex;
}

.analysis-content {
  margin-top: 10px;
}

.analysis-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 30px 20px 17px;

  .title {
    color: #434343;
    font-size: 17px;
    font-weight: bold;
  }
}

.analysis-filter {
  display: flex;
}

.analysis-status {
  border-top: 1px solid #eaeaea;
  padding: 13px 10px;

  .status-item {
    border-right: 1px solid #e5e5e5;
    box-sizing: border-box;
    padding: 0 12px;

    &__status {
      flex: 1 1 15%;
    }

    &__date {
      flex: 1 1 40%;
    }

    &__total {
      flex: 1 1 15%;
    }

    &__export {
      flex: 1 1 30%;
    }

    p {
      margin-bottom: 0;
    }

    &:last-child {
      border-right: 0;
    }

    .title {
      color: #434343;
      font-size: 13px;
      margin-bottom: 10px;
    }

    .content {
      align-items: center;
      color: #434343;
      display: flex;
      font-size: 24px;
      justify-content: space-between;

      .type {
        padding-left: 20px;
        position: relative;

        &::before {
          background-color: #e5e5e5;
          border-radius: 50%;
          content: '';
          height: 12px;
          left: 0;
          position: absolute;
          top: calc(50% - 6px);
          width: 12px;
        }

        &.error::before {
          background-color: #ff0707;
        }

        &.success::before {
          background-color: #54c2cb;
        }
      }

      .btn {
        height: 32px;
        line-height: 30px;
        min-width: 80px;
        padding: 0;
      }
    }

    &__export {
      align-items: center;
      display: flex;
      justify-content: flex-end;
    }
  }
}

.disconnected-message {
  background-color: var(--white);
  box-shadow: 1px 1px 1px var(--black-opacity--16);
  display: inline-block;
  font-size: 14px;
  padding: 15px 30px;
  text-align: center;
}

.btn-download {
  color: var(--grey-darken-0);
  font-size: 12px;
  min-width: 230px;
  padding: 0.375rem 0.3rem;
}

.icon-download {
  height: 20px;
  margin: -6px 15px 0 0;
}
