.cas-auth {
  &__logo {
    margin: 0 auto 109px;
    text-align: center;
    width: calc(100% - 200px);

    img {
      width: 100%;
    }

    @media screen and (max-width: 414px) {
      margin-bottom: 70px;
      width: calc(100% - 100px);
    }

    @media screen and (max-width: 320px) {
      margin-bottom: 40px;
      width: calc(100% - 80px);
    }
  }

  &__title {
    margin-bottom: 104px;
    text-align: center;

    h2 {
      font-size: 28px;
      font-weight: 700;
      letter-spacing: 2.8px;
    }
  }

  &__form {
    &-group {
      margin-bottom: 41px;

      &:last-child {
        margin-bottom: 0;
      }

      label.cas-auth__form-label {
        color: $black-darken-1;
        font-size: 18px;
        font-weight: 700;
      }

      .form-control.cas-auth__form-control {
        background-color: $grey-lighten-5;
        border-color: $grey-lighten-6;
        border-radius: 5px;
        font-size: 18px;
        height: 64px;

        &.is-invalid {
          border-color: $deep-orange-accent;
        }

        &::-webkit-input-placeholder,
        &::placeholder {
          color: $grey-lighten-3;
          font-weight: 400;
        }
      }
    }

    &-action {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin-top: 104px;

      .cas-auth__btn {
        background-color: $yellow-accent;
        border: 1px solid $white;
        border-radius: 10px;
        font-size: 20px;
        font-weight: 700;
        height: 86px;
        letter-spacing: 1.2px;
        width: 360px;

        &--space-unset {
          letter-spacing: unset;
        }

        &--link {
          align-items: center;
          display: flex;
          justify-content: center;
        }

        @media screen and (max-width: 414px) {
          width: 100%;
        }
      }

      .cas-auth__link {
        color: $black-darken-1;
        font-size: 14px;
        font-weight: 400;
        margin-top: 19px;
        text-decoration: underline;
      }

      @media screen and (max-width: 320px) {
        margin-top: 60px;
      }
    }
  }
}
