.dialog-set {
  &__nav {
    background-color: var(--grey-lighten-2);
    border: 1px solid var(--grey-lighten-3);
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 16px 16px 11px;

    &-item {
      color: var(--grey-darken-0);
      cursor: pointer;
      display: flex;
      font-size: 14px;
      font-weight: normal;
      margin-bottom: 5px;
      margin-right: 15px;
      max-width: 110px;

      &-name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &.active {
        color: var(--orange-lighten-1);
        font-weight: bold;
      }
    }
  }

  &__scroll {
    height: 430px;
    overflow-y: scroll;
  }

  &__list {
    padding: 0 16px;
  }

  &__item {
    align-items: center;
    border-bottom: 1px solid var(--grey-lighten-3);
    box-sizing: border-box;
    color: var(--black-darken-0);
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    margin-bottom: 7.5px;
    padding-bottom: 7.5px;

    &:first-child {
      padding-top: 7.5px;
    }

    &-avatar {
      margin-right: 10px;
    }

    &-img {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 0.25rem;
      display: inline-block;
      height: 40px;
      width: 40px;
    }

    &-name {
      color: var(--grey-darken-2);
      flex: 1 1 calc(100% - 330px);
      font-family: 'Noto Sans JP', Arial, Helvetica, 'Times New Roman', sans-serif;
      font-size: 15px;
      font-weight: bold;
    }

    &-action {
      height: 41px;
      margin-left: 29px;
      width: 95px;
    }

    &-quantity {
      display: inline-block;
      font-family: 'Noto Sans JP', Arial, Helvetica, 'Times New Roman', sans-serif;
      font-size: 30px;
      margin: 0 5px;
      text-align: center;
      width: 34px;
    }

    &-btn {
      background-image: url('assets/icon/minus-circle.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: inline-block;
      height: 25px;
      width: 25px;

      &--plus {
        background-image: url('assets/icon/plus-circle.svg');
      }

      &.no-bg {
        background-image: none;
      }
    }
  }
}
