.order-app {
  min-height: 650px;

  &__header {
    align-items: center;
    background-color: #fafafa;
    display: flex;
    justify-content: space-between;
    padding: 10px;

    &-title {
      align-items: center;
      color: #282904;
      display: flex;
      font-size: 20px;
      font-weight: 700;
      width: calc(100% - 330px);

      app-cas-popup-guide-drag {
        margin-left: 8px;
      }
    }
  }

  // style for top screent
  &__body {
    background-color: #ccc;
    height: auto;

    &-content {
      padding: 40px 10px 0;
      position: relative;

      .btn-setting {
        background-color: #000;
        border: 1px solid #fff;
        border-radius: 2px;
        color: #fff;
        font-size: 15px;
        height: 48px;
        opacity: 0.8;
        position: absolute;
        right: 13px;
        top: 33px;
        width: 122px;
        z-index: 9;

        &:disabled {
          background-color: #eaeaea;
          cursor: not-allowed;
        }
      }

      &--vert {
        height: calc((var(--vh) * 100) - 100px);
        overflow-y: auto;
      }
    }
  }

  // style for body setting patten
  &__body-setting {
    background-color: #ccc;
    display: flex;
    max-height: calc((var(--vh) * 100) - 100px);
    overflow: auto;
    overflow-x: hidden;

    &-left {
      width: 75%;
    }

    &-right {
      height: calc((var(--vh) * 100) - 75px);
      width: 25%;
    }

    &-box-action {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 15px 10px 5px;

      &__select-patten {
        display: inline-flex;
      }
    }

    &-konva {
      padding: 0 10px;
      position: relative;

      .order-app__image {
        min-height: 397px;
      }

      .order-app__upload-btn {
        bottom: -20px;
        height: 78px;
        width: 78px;
      }
    }

    &-slide-wrap {
      padding: 0 10px;
    }

    &--vert {
      .order-app__body-setting {
        &-left {
          position: relative;
        }

        &-box-action {
          position: absolute;
          width: 100%;
        }

        &-konva {
          margin: 0 auto;
          padding: 16px 0 0;
          width: 376px;
        }
      }
    }
  }

  &__upload {
    &-btn {
      background-color: #999;
      border: 1px solid #fff;
      border-radius: 50%;
      bottom: 18px;
      cursor: pointer;
      height: 78px;
      position: absolute;
      right: 33px;
      transition: all ease-in 0.5s;
      width: 78px;

      &::before,
      &::after {
        background-color: var(--white);
        border-radius: 0.9375rem;
        content: '';
        height: 5px;
        left: 29%;
        position: absolute;
        top: 48%;
        width: 45%;
      }

      &::after {
        transform: rotate(90deg);
      }

      &.disabled {
        background-color: #eaeaea;
        cursor: not-allowed;
      }
    }

    &.remove .order-app__upload-btn {
      background-color: var(--red);
      transform: rotate(45deg);

      &.disabled {
        background-color: #eaeaea;
        cursor: not-allowed;
      }
    }
  }

  &__image {
    //background-color: #959595;
    min-height: 542px;
    position: relative;

    .btn-select-app {
      border: 1px solid #212121;
      border-radius: 30px;
      color: #212121;
      height: 49px;
      margin-top: 30px;
      width: 302px;
    }

    .btn-setting-order {
      background-color: rgba(250, 250, 250, 0.8);
      border: 1px solid rgba(185, 185, 185, 0.4);
      border-radius: 6px;
      color: #000;
      font-family: 'Hiragino Sans';
      font-size: 12px;
      font-weight: bold;
      height: 41px;
      letter-spacing: 0.5px;
      width: 210px;
    }

    &--vert {
      margin: 0 auto;
      width: 470.243px;

      .order-app__top-infor h2 {
        left: 15%;
        top: 47%;
      }

      .order-app__upload-btn {
        bottom: -18px;
        height: 3.6875rem;
        right: 10px;
        width: 3.6875rem;
      }
    }
  }

  &__review {
    overflow: hidden;
  }

  &__slide {
    &-title {
      color: #707070;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 15px;
      margin-left: 10px;
      text-align: left;
    }

    h2 {
      color: #c3c3c3;
      font-size: 35px;
      font-weight: 700;
      line-height: 69px;
    }
  }

  &__top-infor {
    h2,
    button {
      display: flex;
      justify-content: center;
      left: 30%;
      position: absolute;
      top: 32%;
    }

    h2 {
      color: #c3c3c3;
      top: 50%;
    }

    .btn-select-app {
      left: 32.5%;
      top: 70%;

      &:nth-child(2) {
        top: 60%;
      }
    }
  }

  .btn-select-patten {
    align-items: center;
    background-color: #000;
    border: 1px solid #fff;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    height: 61px;
    justify-content: center;
    opacity: 0.8;
    padding: 0;
    width: 60px;

    span {
      color: #fff;
      font-size: 10px;
      letter-spacing: 0.2px;
      line-height: 13px;
    }

    &.active {
      border: 2px solid #f59716;
    }
  }

  .btn-setting {
    background-color: #000;
    border: 1px solid #fff;
    border-radius: 2px;
    color: #fff;
    font-size: 15px;
    height: 48px;
    opacity: 0.8;
    width: 122px;

    i {
      font-size: 25px;
    }
  }

  &__layout {
    &-list {
      display: flex;
      flex-wrap: wrap;
      padding: 4px 15px 15px;
    }

    &-item {
      cursor: pointer;
      margin-bottom: 5px;
      padding: 3px;
      width: 10%;
    }

    &-image {
      background-color: #fff;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border: 1px solid #707070;
      height: 50px;
      margin-bottom: 10px;
      width: 100%;
    }

    &-caption {
      color: #c3c3c3;
      font-size: 10px;
      font-weight: 700;
      overflow: hidden;
    }
  }

  &__pattern-second-wrap {
    padding: 0 10px 20px;
  }
}
