.profit-summary {
  margin: 20px 0;

  th {
    background-color: $grey-lighten-5;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    width: 160px;
  }

  td {
    max-width: 400px;
    text-align: right;
    vertical-align: middle;
  }
}
