.tbl-receipt {
  &__date {
    width: 115px;
  }

  &__time {
    width: 130px;
  }

  &--pl-12 {
    padding-left: 12px;
  }

  .text-truncate--3 {
    max-height: calc(14px * 1.5 * 3);
    overflow: hidden;
  }

  td {
    color: #4d4d4d;
    vertical-align: middle;
    word-break: break-all;
  }

  .cas-label {
    background-color: #a8a8a8;
    border-radius: 2px;
    font-size: 13px;
    height: 26px;
    line-height: 22px;
    width: 65px;
  }
}
