.memo-form {
  position: relative;

  &__keyword-item {
    background-color: #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 2px;
    padding: 5px;

    &:hover {
      background-color: #bebebe;
    }

    &.selected {
      background-color: var(--orange-lighten-1);
    }
  }

  &__popup-footer {
    .btn {
      border-radius: 0;
    }
  }

  .popover-body {
    width: 15rem !important;
  }
}
