@import '../variable';

.resv {
  &-required {
    border: 1px solid $red-accent-1;
    color: $red-accent-1;
    font-size: 11px;
    font-weight: normal;
    height: 16px;
    margin-left: 5px;
    padding: 2px 4px;
    width: 32px;
  }

  &-wrap-filter {
    margin: 0 -33px;
  }

  &-list-selection {
    .selection {
      .item-info {
        flex: 1 1 90%;
      }

      .item-total {
        text-align: right;
        width: 180px;
      }
    }
  }

  &-modal {
    color: $grey-darken-9;
    font-size: 14px;

    .modal-header {
      background-color: $yellow-accent;
      padding: 15px 40px;
    }

    .modal-body {
      padding: 15px 40px;
    }

    .modal-footer {
      background-color: $grey-lighten-5;
      padding: 15px 25px;
    }
  }

  &-line {
    background: $grey-darken-15;
    height: 1px;
    width: 100%;

    &--lighter {
      background: $grey-lighten-12;
    }
  }

  &-section {
    padding: 20px 0;
  }

  &-icon {
    margin-right: 5px;
    width: 12px;
  }

  &-label {
    color: $grey-darken-5;
    font-weight: bold;
  }
}
