.cas-page--setting {
  background-color: $grey-lighten-9;

  &__header {
    border-bottom: 1px solid $grey-lighten-6;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
  }

  &__title {
    font-size: 1.5rem;
  }

  &__sub-header {
    background-color: $white;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    padding: 20px 0;

    .cas-btn {
      &:first-child {
        margin-right: 10px;
      }
    }
  }

  &__list {
    padding: 0 15px;

    [class^='col-'],
    [class*='col-'] {
      padding: 0 5px;
    }
  }
}

.time-box {
  align-items: center;
  display: flex;
  flex: 1 1 100%;
  justify-content: center;

  .time-item {
    align-items: center;
    justify-content: center;
    width: 106px;

    .form-control {
      font-size: 20px;
      height: 40px;

      &.is-invalid {
        padding: 0.6315rem 0.75rem;
      }
    }
  }

  @media (min-width: 576px) {
    .time-item {
      width: 90px;
    }
  }
}
