.payment {
  &__create {
    background-color: #f7f7f7;
    border: 2px dashed #dedede;
    border-radius: 4px;
    padding: 15px;

    &-text {
      color: #707070;
      cursor: pointer;
      font-family: 'Noto Sans CJK JP';
      font-size: 15px;
      font-weight: 400;
      letter-spacing: 0.45px;
      margin: auto;
      width: fit-content;

      &:hover {
        color: #a6a4a4;
      }
    }

    &-input {
      .btn {
        color: #333;
        font-family: 'Noto Sans CJK JP';
        font-weight: 400;
        letter-spacing: 0.45px;
      }
    }

    img {
      height: 17px;
      width: 17px;
    }
  }

  &__items {
    min-height: 280px;
  }

  &__item {
    border: 2px solid #dedede;
    border-radius: 5px;
    padding: 15px;

    &-close {
      cursor: pointer;
      height: 12px;
      width: 12px;

      &:hover {
        opacity: 0.8;
      }
    }

    .cas-radio-item {
      padding-left: 40px;
    }
  }
}
