<app-cas-dialog title="その他会計" (close)="closeDialog()">
  <section class="text-center payment" dialogContent>
    <div class="payment__create">
      <p class="mb-0 payment__create-text d-flex align-items-center"
        *ngIf="!isShowPaymentInput"
        (click)="togglePaymentInput()">
        <img src="assets/icon/plus-circle.svg" alt="plus" />
        <span class="ml-1">新規会計方法の追加</span>
      </p>

      <div class="payment__create-input" *ngIf="isShowPaymentInput">
        <input type="text" class="form-control" name="CategoryName" maxlength="40"
          [(ngModel)]="paymentMethodName"
          placeholder="会計方法を40文字以内で入力してください">
        <div class="mt-3 d-flex justify-content-end">
          <button
          type="button"
          class="btn btn-secondary btn-border btn-mw--sm"
          aria-label="Close"
          (click)="togglePaymentInput()"
        >
          キャンセル
        </button>

        <button
          type="button"
          class="btn btn-warning btn-mw--sm ml-2"
          aria-label="Confirm"
          (click)="addPayment()"
          [disabled]="isLoading"
        >
          追加する
        </button>
        </div>
      </div>
    </div>

    <div class="payment__items mt-4">
      <div>
        <div class="payment__item d-flex justify-content-between align-items-center mb-3" *ngFor="let item of paymentMethods">
          <div class="payment__item-text text-left">
            <label class="radio-item cas-radio-item">
              <input
                class="radio-input"
                type="radio"
                name="active"
                [checked]="item.active"
                (change)="choosePaymentMethod(item)"
              />{{ item.name }}
              <span class="checkmark"></span>
            </label>
          </div>

          <img alt="close item" class="payment__item-close" src="assets/icon/slide-close.svg" (click)="removePaymentMethod(item)">
        </div>
      </div>
    </div>
  </section>

  <section class="cas-dialog__btn-group justify-content-around" dialogAction>
    <button
      type="button"
      class="btn btn-md btn-secondary btn-border btn-mw--lg"
      aria-label="Close"
      (click)="closeDialog()"
      [disabled]="isLoading"
    >
      キャンセル
    </button>

    <button
      type="button"
      class="btn btn-md btn-warning btn-mw--lg"
      aria-label="Confirm"
      (click)="confirmPayment()"
      [disabled]="isLoading || !isSelectPaymentMethod"
      >
      会計する
    </button>
  </section>
</app-cas-dialog>
