<app-cas-dialog [title]="mode.isEdit ? 'コース編集' : 'コース新規作成'" (close)="closeModal()">
  <section dialogContent>
    <form #CourseForm="ngForm" novalidate>
      <!-- Course Name -->
      <div class="row">
        <div class="col-6">
          <app-cas-dropzone
            class="mb-4"
            [oldImage]="course.image_url"
            [large]="true"
            [eventDropzone]="eventDropzone"
            [error]="validation.image"
          ></app-cas-dropzone>

          <!-- Show / Hide block -->
          <div class="menu-toggle">
            <div class="toggle-text">
              <p class="title">このコースを一覧に表示する</p>
              <p class="caption">ユーザーサイトと店舗側管理画面に表示されます</p>
            </div>
            <app-ui-switch
              name="CourseToggle"
              [(ngModel)]="course.is_show"
              labelOn="表示"
              labelOff="非表示"
            ></app-ui-switch>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group mi-form-group">
            <label class="col-form-label mi-form-label required">コース名</label>
            <input
              type="text"
              class="form-control cas-fr-control"
              placeholder="コース名を入力してください"
              [ngClass]="{ 'is-invalid': ((Name.dirty || Name.touched) && Name.errors) || validation.name }"
              [(ngModel)]="course.name"
              (input)="resetValidation('name')"
              #Name="ngModel"
              name="name"
              required
              appSpaceValidation
              maxlength="255"
            />
            <div class="invalid-feedback" *ngIf="(Name.dirty || Name.touched) && Name.errors?.required">
              コース名は必須です
            </div>

            <div class="invalid-feedback" *ngIf="(Name.dirty || Name.touched) && Name.errors?.maxlength">
              コース名は255文字以下で入力してください
            </div>

            <div
              class="invalid-feedback"
              *ngIf="(Name.dirty || Name.touched) && Name.errors?.appSpaceValidation && !Name.errors?.required"
            >
              空白のみを入力することはできません
            </div>

            <div class="invalid-feedback" *ngIf="validation.name">{{ validation.name }}</div>
          </div>

          <!-- Course Price -->
          <div class="form-group mi-form-group">
            <label class="mi-form-label required">料金</label>
            <div class="mi-form__price-group">
              <app-digit-formater
                [(ngModel)]="course.price"
                name="price"
                [max]="999999999"
                (ngModelChange)="setCoursePrice()"
                placeholder="料金を入力してください"
                [required]="true && '料金は必須です'"
                [validator]="validation.price"
              >
              </app-digit-formater>
              <p class="price-symbol">円</p>
            </div>
          </div>

          <!-- Course Menu -->
          <div class="form-group mi-form-group">
            <label class="col-form-label mi-form-label required">料理</label>
            <app-select-menu-item
              name="menus"
              #MenuRef="ngModel"
              placeholder="メニューを選択"
              [(ngModel)]="course.items"
              [ngClass]="{'is-invalid': validation.items}"
              [optionType]="OPTION_TYPE.COURSE"
              (ngModelChange)="addCoursePrice('items')"
            >
            </app-select-menu-item>
            <div class="invalid-feedback" *ngIf="validation.items">{{ validation.items }}</div>
          </div>

          <!-- Course Menu Buffet -->
          <div class="form-group mi-form-group">
            <label class="col-form-label mi-form-label">放題メニュー</label>
            <app-select-menu-item
              name="buffets"
              isBuffet="true"
              #MenuBuffetRef="ngModel"
              placeholder="放題メニューを選択"
              [(ngModel)]="course.buffets"
              [ngClass]="{ 'is-invalid': validation.buffets }"
              (ngModelChange)="addCoursePrice('buffets')"
            >
            </app-select-menu-item>

            <div class="invalid-feedback" *ngIf="validation.buffets">{{ validation.buffets }}</div>
          </div>

          <!-- Course Memo -->
          <div class="form-group mi-form-group">
            <label class="col-form-label mi-form-label required">説明</label>
            <textarea
              class="form-control cas-fr-control"
              placeholder="説明を入力してください"
              [ngClass]="{ 'is-invalid': (MemoRef.dirty || MemoRef.touched) && MemoRef.errors }"
              [(ngModel)]="course.memo"
              #MemoRef="ngModel"
              name="memo"
              rows="5"
              appSpaceValidation
              maxlength="2000"
            ></textarea>

            <div class="invalid-feedback" *ngIf="(MemoRef.dirty || MemoRef.touched) && MemoRef.errors?.maxlength">
              料理は2000文字以下で入力してください
            </div>

            <div
              class="invalid-feedback"
              *ngIf="
                (MemoRef.dirty || MemoRef.touched) && MemoRef.errors?.appSpaceValidation && !MemoRef.errors?.required
              "
            >
              空白のみを入力することはできません
            </div>

            <div class="invalid-feedback" *ngIf="validation.memo">{{ validation.memo }}</div>
          </div>
        </div>
      </div>
    </form>
  </section>
  <section class="cas-dialog__btn-group justify-content-between" dialogAction>
    <button
      type="button"
      class="btn btn-md btn-secondary btn-border btn-mw--lg mr-3"
      (click)="closeModal()"
      [disabled]="isLoading"
    >
      キャンセル
    </button>

    <div>
      <button
        type="button"
        class="btn btn-md btn-default btn-border btn-mw--lg mr-3"
        [disabled]="CourseForm.form.invalid || isLoading"
        *ngIf="mode.isEdit"
        (click)="deleteCourse()"
      >
        削除する
      </button>

      <button
        type="button"
        class="btn btn-md btn-warning btn-mw--lg"
        [disabled]="CourseForm.form.invalid || validationImg || isLoading"
        (click)="submitCourse()"
      >
        {{ mode.isEdit ? '編集する' : '作成する' }}
      </button>
    </div>
  </section>
</app-cas-dialog>
