.content-page-account {
  .page-content {
    min-height: 100%;
  }
}

.user-description {
  margin-bottom: 15px;

  .title {
    color: #434343;
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 27px;
  }

  p {
    color: #707070;
    font-size: 14px;
    margin-bottom: 0;

    &:last-child {
      border-bottom: 1px solid #eaeaea;
      padding-bottom: 18px;
    }
  }
}
