<app-cas-dialog [title]="title" (close)="closeModal()">
  <section dialogContent>
    <form  class="cas-form" #AccountForm="ngForm" novalidate>
      <div class="row">

        <div class="col-lg-12 user-description" *ngIf="cMode.isNew">
          <h3 class="title">アカウント設定について</h3>
          <p>アカウント設定は以下の手順で行ってください。</p>
          <p>1. アカウント新規作成画面からアカウント名、役職名、メールアドレスを入力して「作成する」ボタンを押します。</p>
          <p>2. 1で入力されたメールアドレス宛にパスワード設定のメールが届きます。メールの中にパスワード設定用のリンクが記載されているので、リンクをクリックしてください。</p>
          <p>3.  パスワード設定画面が開くので、パスワードを設定していただくと、アカウント作成が完了となります。</p>
        </div>

        <div class="col-lg-6">
          <div class="form-group mi-form-group">
            <label class="col-form-label mi-form-label required">アカウント名</label>
            <input
              type="text"
              [ngClass]="{ 'is-invalid': ((accountName.dirty || accountName.touched) && accountName.errors) || validation.name }"
              class="form-control cas-fr-control"
              name="accountName"
              autocomplete="off"
              placeholder="アカウント名を入力してください"
              [(ngModel)]="user.name"
              #accountName="ngModel" appSpaceValidation
              required maxlength="255"
              (input)="resetValidation('name')"
            />

            <div class="invalid-feedback"
              *ngIf="(accountName.dirty || accountName.touched) && accountName.errors?.required">
              アカウント名を入力してください
            </div>

            <div class="invalid-feedback"
              *ngIf="(accountName.dirty || accountName.touched) && accountName.errors?.maxlength">
              アカウント名は255文字以下で入力してください
            </div>

            <div class="invalid-feedback"
              *ngIf="(accountName.dirty || accountName.touched) && accountName.errors?.appSpaceValidation && !accountName.errors?.required">
              空白のみを入力することはできません
            </div>

            <div class="invalid-feedback" *ngIf="validation.name">{{validation.name}}</div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="form-group mi-form-group">
            <label class="col-form-label mi-form-label">役職名</label>
            <input
              type="text"
              [ngClass]="{ 'is-invalid': validation.role_name }"
              class="form-control cas-fr-control"
              name="role_name"
              placeholder="役職名を入力してください"
              autocomplete="off"
              [(ngModel)]="user.role_name"
              #accountRole="ngModel"
              maxlength="255"
              (input)="resetValidation('role_name')"
            />
            <div class="invalid-feedback" *ngIf="validation.role_name">{{ validation.role_name }}</div>
          </div>
        </div>

        <div class="col-lg-8">
          <div class="form-group mi-form-group">
            <label class="col-form-label mi-form-label required">メールアドレス</label>
            <input
              type="text"
              [ngClass]="{ 'is-invalid': ((mailAddress.dirty || mailAddress.touched) && mailAddress.errors) || validation.email }"
              class="form-control cas-fr-control"
              name="mailAddress"
              placeholder="メールアドレスを入力してください"
              autocomplete="off"
              [(ngModel)]="user.email"
              #mailAddress="ngModel"
              appEmailValidator
              required
              maxlength="100"
              (input)="resetValidation('email')"
            />

            <div class="invalid-feedback"
                 *ngIf="(mailAddress.dirty || mailAddress.touched) && mailAddress.errors?.required">
              メールアドレスを入力してください
            </div>

            <div class="invalid-feedback"
                 *ngIf="(mailAddress.dirty || mailAddress.touched) && mailAddress.errors?.appEmailValidator">
              メールアドレスのフォーマットが正しくありません
            </div>

            <div class="invalid-feedback" *ngIf="validation.email">{{validation.email}}</div>
          </div>
        </div>
      </div>
    </form>
  </section>

  <section class="cas-dialog__btn-group justify-content-end" dialogAction>
    <button
      class="btn btn-md btn-secondary btn-border btn-mw--lg mr-3"
      (click)="closeModal()" [disabled]="isLoading">
      キャンセル
    </button>

    <button
      type="button"
      class="btn btn-md btn-warning btn-mw--lg"
      [disabled]="isLoading || !AccountForm.form.valid"
      (click)="submitAccount()">
      {{ submitText }}
    </button>
  </section>
</app-cas-dialog>
