<app-cas-dialog
  [title]="'ページの削除'"
  dialogClass="cas-dialog__footer-no-border"
  (close)="closeDialog()"
>
  <section dialogContent>
    <div class="modal-cf-remove text-center">
      <div class="modal-cf-remove__icon">
        <img src="assets/icons/icon_warning_larger.svg" />
      </div>
      <div class="modal-cf-remove__content">
        <h2>
            選択したページの設定内容を削除します。
            <br />
            よろしいでしょうか
        </h2>
        <p>
            ※この操作は取り消すことができません
        </p>
      </div>
    </div>
  </section>

  <section class="cas-dialog__btn-group justify-content-between pr-4" dialogAction>
    <button type="button" class="btn btn-md btn-secondary btn-border btn-mw--lg mr-3"
      (click)="closeDialog()">キャンセル
    </button>
    <button type="button" class="btn btn-md btn-warning btn-mw--lg"
      (click)="closeDialog(SELF_ORDER.ACCEPT_REMOVE_SLIDE)">
      削除する
    </button>
  </section>
</app-cas-dialog>
