.modal-cf-remove {
  text-align: center;

  &__icon {
    margin: 1rem 0 2rem;
  }

  &__content {
    h2 {
      color: #282904;
      font-size: 20px;
      font-weight: 700;
    }

    p {
      color: #282904;
      font-size: 14px;
      margin-bottom: 0;
    }
  }
}
