.omiseno-demo {
  align-items: center;
  background-color: #faed00;
  display: flex;
  flex: 1 1 100vh;
  height: 100vh;
  justify-content: center;
}

.omiseno {
  &-logo {
    background-image: url('../../assets/img/logo-ai-demo.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 132px;
    width: 178px;
  }

  &-price {
    display: inline-block;
    position: relative;

    &::before {
      content: '\0a5';
    }

    &::after {
      -webkit-transform: rotate(-45deg);
      border: solid #63c7cf;
      border-width: 0 3px 3px 0;
      content: '';
      display: inline-block;
      padding: 3px;
      position: absolute;
      right: -70px;
      top: calc(50% - 3.5px);
      transform: rotate(-45deg);
    }
  }

  &-modal {
    .modal-content {
      border: 0;
    }

    .modal-body {
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.16);
      padding: 0;
    }

    img {
      height: auto;
      width: 100%;
    }
  }
}
