<section class="omiseno-demo">
  <div class="omiseno-logo"></div>

  <ng-template #OmisenoModal>
    <div class="modal-body">
      <img src="../../assets/ai-demo/{{ classDemo }}.png">
    </div>
  </ng-template>
</section>
