<app-cas-dialog [title]="titleDialog" (close)="closeDialog()">
  <section dialogContent>
    <div class="undo-modal text-center">
      <div class="undo-modal__icon">
        <img src="assets/icons/icon_warning_larger.svg" />
      </div>
      <div class="undo-modal__content">
        <h2>{{contentDialog}}</h2>
      </div>
    </div>
  </section>

  <section class="cas-dialog__btn-group justify-content-between" dialogAction>
    <button class="btn btn-md btn-mw--lg btn-secondary btn-border"
      type="button"
      (click)="closeDialog()">キャンセル</button>
    <button class="btn btn-md btn-mw--lg btn-warning" type="button"
      [disabled]="isSubmiting"
      (click)="undoPayment()">{{nameBtn}}</button>
  </section>
</app-cas-dialog>
