.payment {
  &__name {
    color: #282904;
    font-family: 'Hiragino Kaku Gothic Pro';
    font-size: 16px;
    line-height: 33px;
  }

  &__note {
    color: #ef2026;
    font-family: 'Noto Sans CJK JP';
    font-size: 18px;
    font-weight: 500;
    line-height: 33px;
  }
}
