<app-cas-dialog title="会計方法の削除" (close)="closeDialog()">
  <section class="text-center" dialogContent>
    <img class="mb-3" src="assets/icon/icon-delete-warning.svg" alt="icon delete warning" />
    <h5 class="font-weight-bold">この会計方法を削除してもよろしいですか？</h5>

    <p class="mb-4 payment__note">※この操作は取り消すことができません</p>

    <p class="mb-0 payment__name">{{ paymentMethod.name }}</p>
  </section>

  <section class="cas-dialog__btn-group justify-content-around" dialogAction>
    <button
      type="button"
      class="btn btn-md btn-secondary btn-border btn-mw--lg"
      aria-label="Close"
      (click)="closeDialog()"
      [disabled]="isLoading"
    >
      キャンセル
    </button>

    <button
      type="button"
      class="btn btn-md btn-warning btn-mw--lg"
      aria-label="Remove"
      [disabled]="isLoading"
      (click)="removePaymentMethod()"
    >
      削除する
    </button>
  </section>
</app-cas-dialog>
