<section class="cas-printer">
  <div class="printer-head">
    <img class="mb-2" src="{{printer.client.logo.url}}" alt="Store-logo" width="250" *ngIf="printer.client.logo && printer.client.logo.url">
    <p class="printer-address">{{ printer.client.fullAddress }}</p>
    <p class="printer-phone">TEL {{printer.client.phone}}</p>
    <p class="printer-date">{{ currentDate }}</p>
  </div>

  <div class="printer-body">
    <p class="title text-center my-3">[ 領収書 ]</p>

    <div class="printer-body__item" *ngFor="let item of printer.reservation_items">
      <p>{{ item.name }}</p>
      <div class="item-info">
        <p>{{ item.price < 0 ? '-¥' : '¥' }}{{ item.price < 0 ? -item.price : item.price }}</p>
        <p>{{ item.quantity }}</p>
        <p>{{ item.total_price < 0 ? '-¥' : '¥' }}{{ item.total_price < 0 ? -item.total_price : item.total_price }}{{ item.tax && item.tax.ratio === 8 ? '※' : '' }}</p>
      </div>
      <ng-container *ngFor="let opt of item.menu_options">
        <div class="item-options">
          <p>{{ opt.name }}</p>
          <div class="item-info">
            <p>¥{{ opt.price.format() }}</p>
            <p>{{ opt.price.quantity }}</p>
            <p>¥{{ opt.price.format() }}</p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="printer-footer">
    <div class="printer-footer__item subtotal-price">
      小計
      <p>¥{{ (printer.total_price - printer.total_taxes).format() }}</p>
    </div>

    <div class="printer-footer__item" *ngIf="printer.tax10">
      10％対象
      <p>¥{{ printer.tax10TargetStr }}</p>
    </div>

    <div class="printer-footer__item" *ngIf="printer.tax10">
      (内消費税等
      <p>¥{{ printer.tax10PriceStr }})</p>
    </div>

    <div class="printer-footer__item" *ngIf="printer.tax8">
      8％対象
      <p>¥{{ printer.tax8TargetStr }}</p>
    </div>

    <div class="printer-footer__item" *ngIf="printer.tax8">
      (内消費税等
      <p>¥{{ printer.tax8PriceStr }})</p>
    </div>

    <div class="printer-footer__item discount-fee" *ngIf="printer.coupon_discount">
      割引
      <p>-¥{{ printer.coupon_discount }}</p>
    </div>

    <hr class="cas-printer__dash">

    <div class="printer-footer__item total">
      合計
      <p>¥{{ printer.total_price.format() }}</p>
    </div>

    <div class="printer-footer__item">
      (内消費税等
      <p>¥{{ printer.total_taxes.format() }})</p>
    </div>

    <div class="printer-footer__item" *ngIf="printer.reservation_payer">
      現金
      <p class="font-weight-bold font-size-18">¥{{ printer.reservation_payer.tender_amount.format() }}</p>
    </div>

    <div class="printer-footer__item change-back" *ngIf="!printer.isCard && printer.reservation_payer && printer.reservation_payer.change_back">
      お釣り
      <p>¥{{ printer.changeBackStr }}</p>
    </div>

    <div class="printer-footer__item change-back change-back__card" *ngIf="printer.isCard">
      <p class="start">****</p>
      <p>-</p>
      <p class="start">****</p>
      <p>-</p>
      <p class="start">****</p>
      <p>-</p>
      {{ printer.reservation_payer.card_last_4 }}
      <span class="text-uppercase ml-2">{{ printer.reservation_payer.card_brand }}</span>
    </div>

    <div class="printer-footer__item mt-4" *ngIf="printer.reservation_payer">
      <span>
        [※]印は軽減税率対象品目です
        <p>NO.{{ printer.reservation_payer.id }}</p>
      </span>
    </div>
  </div>
</section>
