.cas-printer {
  background-color: #fff;
  margin: 20px auto 0;
  padding: 20px 15px;
  width: 400px;

  &__dash {
    border-top: 1px dashed #000;
  }

  p {
    margin-bottom: 0;
  }

  .printer {
    &-head {
      text-align: center;
    }

    &-body {
      border-bottom: 1px dashed #000;
      padding-bottom: 10px;

      &__item {
        margin-top: 8px;
      }

      .item-info {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
        padding-left: 60px;
      }

      .item-options {
        margin-top: 5px;
        padding-left: 20px;

        .item-info {
          padding-left: 40px;
        }
      }
    }

    &-footer {
      .printer-footer__item {
        align-items: center;
        display: flex;
        justify-content: space-between;
      }

      .subtotal-price {
        padding-top: 10px;
      }

      .total,
      .change-back {
        p {
          font-size: 25px;
          font-weight: bold;
        }

        &__card {
          justify-content: flex-start;

          .start {
            font-size: 18px;
            font-weight: normal;
            line-height: 1;
            padding-top: 13px;
          }
        }
      }
    }
  }
}
