<section class="cas-auth">
  <div class="cas-auth__title">
    <h2>{{ title_page }}</h2>
  </div>

  <!-- Block Form input forgot -->
  <div class="cas-auth__form" *ngIf="!isCompleted">
    <form novalidate #ForgotPwForm="ngForm" >
      <div class="form-group cas-auth__form-group">
        <label class="cas-auth__form-label">ログインID</label>
        <input
          type="text"
          class="form-control cas-auth__form-control"
          [ngClass]="{ 'is-invalid': (LoginID.dirty || LoginID.touched) && LoginID.errors }"
          name="loginId"
          [(ngModel)]="forgotPwData.login_id"
          #LoginID="ngModel"
          placeholder="ログインIDを入カしてください"
          minlength="10"
          maxlength="13"
          [disabled]="isAutofill"
          required
        />

        <div class="invalid-feedback" [hidden]="!LoginID.errors?.required">ログインIDを入力してください</div>

        <div class="invalid-feedback" [hidden]="!LoginID.errors?.minlength">
          ログインIDは10文字以上で入力してください
        </div>
      </div>

      <div class="form-group cas-auth__form-group">
        <label class="cas-auth__form-label">メールアドレス</label>
        <input
          type="email"
          class="form-control cas-auth__form-control"
          [ngClass]="{ 'is-invalid': ((Email.dirty || Email.touched) && Email.errors) || validation.email }"
          name="CasEmail"
          [(ngModel)]="forgotPwData.email"
          #Email="ngModel"
          placeholder="メールアドレスを入力してください"
          maxlength="100"
          required
          appEmailValidator
          (input)="resetValidation('email')"
        />

        <div class="invalid-feedback" *ngIf="(Email.dirty || Email.touched) && Email.errors?.required">メールアドレスを入力してください</div>

        <div class="invalid-feedback" *ngIf="(Email.dirty || Email.touched) && Email.errors?.appEmailValidator">
          メールアドレスのフォーマットが正しくありません
        </div>

        <div class="invalid-feedback" *ngIf="validation.email">
           {{ validation.email }}
        </div>
      </div>

      <div class="cas-auth__form-action">
        <button
          type="submit"
          class="btn cas-auth__btn cas-auth__btn--space-unset"
          [disabled]="ForgotPwForm.invalid || isLoading"
          (click)="forgotPassword()">パスワード再発行メールを送信する
        </button>
      </div>
    </form>
  </div>

  <!-- Block completed forgot -->
  <div class="cas-auth__completed" *ngIf="isCompleted">
    <p class="font-size-18 mb-0">ご入力いただいたメールアドレスに、確認用メールを送信しました。</p>
    <p class="font-size-18">メール本文に記載されているURLをクリックして、パスワード再発行を完了して下さい。</p>

    <div class="cas-auth__form-action">
      <a [routerLink]="['/auth/login']"
        class="btn cas-auth__btn cas-auth__btn--link cas-auth__btn--space-unset">ログインページへ
      </a>
    </div>
  </div>
</section>
