<div class="container form-resv-filter">
  <div class="row cas-fr-group">
    <div class="col-8">
      <label for="" class="col-12 mi-form-label font-weight-bold pl-0">日時 <span class="resv-required">必須</span></label>
      <div class="row">
        <div class="col-5">
          <app-ngx-datepicker
            #StartDate="ngModel"
            [(ngModel)]="start_date"
            placeholder="開始日を入力してください"
            [validatorError]="validator"
            [minDate]="minDate"
            (change)="resetValidation()"
            [disabled]="disabledDateTime"
            (ngModelChange)="onChangeValue()">
          </app-ngx-datepicker>
        </div>
        <div class="row col-7">
          <div class="col-5">
            <app-time-picker
              class="cas-fr-time-picker"
              name="start_time"
              minTime="00:00"
              maxTime="23:59"
              [(ngModel)]="start_time"
              (hideSelect)="onChangeValue()"
              minuteStep="5"
              [disabled]="disabledDateTime"
              [isInValid]="validator"
              placeholder="時:分"
              readonly>
            </app-time-picker>
          </div>
          <div class="row col-1 justify-content-center mt-2">~</div>
          <div class="col-5">
            <app-time-picker
              class="cas-fr-time-picker"
              name="end_time"
              minTime="00:00"
              maxTime="23:59"
              [(ngModel)]="end_time"
              (hideSelect)="onChangeValue()"
              minuteStep="5"
              [disabled]="disabledDateTime"
              [isInValid]="validator"
              placeholder="時:分"
              readonly>
            </app-time-picker>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <label for="" class="col-12 mi-form-label font-weight-bold pl-1">人数 <span class="resv-required">必須</span></label>
      <div class="row col-12 align-items-end">
        <div class="col-4 col-md-3 px-1">
          <input
            type="text"
            class="form-control cas-fr-control mr-2 p-2 quantity"
            [ngClass]="{ 'is-invalid': ((Quantity.dirty || Quantity.touched) && Quantity.errors) }"
            name="quantity"
            OnlyNumeric
            appNumbericValidator
            min="1"
            max="100"
            [(ngModel)]="quantity"
            (blur)="onChangeValue()"
            maxlength="3"
            required
            #Quantity="ngModel"
          />

          <div class="invalid-feedback"
            [hidden]="!((Quantity.dirty || Quantity.touched) && Quantity.errors?.required)">
            人数の入力は必須です
          </div>

          <div class="invalid-feedback"
            [hidden]="!((Quantity.dirty || Quantity.touched) && Quantity.errors?.appNumbericValidator)">
            人数は整数で1と100以内に入力してください
          </div>
        </div>
        <div class="col-1 col-md-1 my-auto">
          <span class="d-flex justify-content-center">人</span>
        </div>

        <div class="col-6 col-md-7 my-auto">
          <div class="cas-checkbox cas-checkbox-group">
            <label class="cas-checkbox-item">
              <input
                class="checkbox-input"
                id="has_children"
                name="has_children"
                type="checkbox"
                [(ngModel)]="has_children"
                (ngModelChange)="onChangeValue()"
                #hasKids="ngModel"
              />
              お子様含む<span class="checkmark"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
