<section class="content-page">
  <div class="page-head page-head--space-between">
    <h2 class="head-title">放題メニュー一覧 <span class="sub-title">( 合計{{ pagination.total }}件 )</span></h2>
    <div class="head-action">
      <button type="button" (click)="openDialogBuffet()" class="btn page-head-btn btn-warning">新規追加</button>
    </div>
  </div>

  <app-cas-filter [sortItems]="sortMenuBuffet" (eventSort)="menuBuffetSort($event)">
    <section filterForm>
      <form novalidate #FormBuffetFilter="ngForm">
        <div class="form-group mi-form-group row mb-0">
          <div class="col-6">
            <input type="text"
              name="filterName"
              [(ngModel)]="filterName"
              class="form-control"
              placeholder="放題メニュー名を入力"
              #Name="ngModel">
          </div>
          <div class="col-6 text-right align-self-end">
            <button class="btn btn-warning" (click)="filterMenuBuffet()" [disabled]="!FormBuffetFilter.form.valid">この条件で絞込む</button>
          </div>
        </div>
      </form>
    </section>
  </app-cas-filter>

  <div class="page-content container-fluid">
    <div class="row">
      <div class="col-12 col-sm-6 mb-3" *ngFor="let buffet of menuBuffet">
        <app-cas-card-type [title]="buffet.name" (eventEdit)="openDialogBuffet(buffet)"></app-cas-card-type>
      </div>
    </div>

    <div class="text-center" *ngIf="!menuBuffet.length && !isLoading">
      データが見つかりません
    </div>

    <div class="loader--row" *ngIf="isLoading">
      <div class="lds-ripple">
        <div></div><div></div>
      </div>
    </div>

    <div class="cas-pagination" [ngClass]="{ 'd-none': isLoading }">
      <app-pagination
        *ngIf="pagination.isPagination"
        class="d-flex justify-content-center"
        [boundaryLinks]="true"
        [totalItems]="pagination.total"
        [itemsPerPage]="pagination.per_page"
        [maxSize]="5"
        [(ngModel)]="pagination.current_page"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;"
      ></app-pagination>
    </div>
  </div>
</section>

