.master {
  &-status {
    align-items: center;
    color: #434343;
    font-size: 13px;
    width: 100%;

    .text {
      &--change {
        background-color: #fff0f0;
        border-radius: 2px;
        color: #e03f3f;
        font-size: 12px;
        padding: 0 5px;
      }

      &--remove {
        background-color: #f0faff;
        border-radius: 2px;
        color: #3f64e0;
        font-size: 12px;
        padding: 0 5px;
      }
    }
  }

  &__total {
    color: #434343;
    flex: 1;
    font-size: 16px;
    text-align: right;
  }

  &__btn {
    .btn {
      min-width: 180px;
    }

    .btn-secondary {
      font-size: 18px;
      font-weight: 400;
    }
  }
}

.table-master {
  tr {
    &.master {
      &--change {
        background-color: #fff0f0;
      }

      &--remove {
        background-color: #f0faff;
      }
    }
  }
}
