<app-cas-dialog [title]="'マスター変更点'" (close)="closeDialog()">
  <section dialogContent>
    <div class="d-inline-flex master-status mb-3">
      <div class="mr-4"><span class="text--change mr-2">赤色</span>変更・追加あり</div>
      <div><span class="text--remove mr-2">青色</span>削除</div>
      <div class="master__total mr-2"><span>({{ masters.length }}件)</span></div>
    </div>
    <div class="resv-table-scroll">
      <app-cas-table [headers]="tableHeader" class="cas-table--middle" class="table-master">
        <tr *ngFor="let master of masters" [ngClass]="master.status_class">
          <td>
            {{ master.ordinal }}
          </td>
          <td>
            {{ oldNameDisplay(master) }}
          </td>
          <td>
            {{ nameDisplay(master) }}
          </td>
          <td>
            {{ master.updated_at_display }}
          </td>
          <td>
            {{ master.created_at_display }}
          </td>
        </tr>
      </app-cas-table>
    </div>
  </section>

  <section class="cas-dialog__btn-group justify-content-between master__btn" dialogAction>
    <button class="btn btn-md btn-mw--lg btn-secondary btn-border" (click)="closeDialog()">キャンセル</button>
    <button class="btn btn-md btn-mw--lg btn-warning"
      [disabled]="isSubmiting"
      (click)="updateMaster()">実行</button>
  </section>
</app-cas-dialog>
