<section class="content-page master-page">
  <div class="page-head page-head--space-between pl-3">
    <h2 class="head-title">
      グルメサイト連携
      <p class="sub-title ml-4">設定すると、グルメサイトに入った予約情報が1時間ごとに予約台帳に自動反映されます。</p>
    </h2>
  </div>

  <div class="page-content container-fluid mt-3">
    <app-cas-table [headers]="tableHeaders">
      <tr *ngFor="let gourmet of gourmetSite">
        <td class="cas-text--break font-weight-bold text-center">
          <span
            class="cas-badge "
            [ngClass]="{
              'cas-badge--primary': gourmet.id,
              'cas-badge--secondary': !gourmet.id
            }"
          >
            {{gourmet.status_name}}
          </span>
        </td>
        <td class="cas-text--break text-left">{{ gourmet.service_name }}</td>
        <td class="text-right">
          <button class="btn cas-btn btn-warning px-3" (click)="openSetting(gourmet)">
            {{gourmet.btn_name}}
          </button>
        </td>
      </tr>
    </app-cas-table>
  </div>
</section>
