<div class="row col-12">
  <div class="col-9">
    <input type="text"
      class="form-control cas-fr-control"
      placeholder="電話番号を入力してください"
      [ngClass]="{ 'is-invalid': ((PhoneNum.dirty || PhoneNum.touched) && PhoneNum.errors) }"
      [(ngModel)]="phone"
      #PhoneNum="ngModel"
      name="phone"
      [minlength]="minlength"
      [maxlength]="maxlength"
      OnlyNumeric
      appPhoneValidation
      inputmode="numeric"
      [pattern]="rules.numericMode"
      [readonly]="isCashlessUser"
      [required]="required"
      (ngModelChange)="onChangePhone($event, PhoneNum.errors)"/>

    <div class="invalid-feedback"
      [hidden]="!((PhoneNum.dirty || PhoneNum.touched) && PhoneNum.errors?.required)">
      電話番号は必須です
    </div>

    <div class="invalid-feedback"
      [hidden]="!((PhoneNum.dirty || PhoneNum.touched) && (PhoneNum.errors?.minlength && !PhoneNum.errors?.appPhoneValidation))">
      電話番号は10文字以上で入力してください
    </div>

    <div class="invalid-feedback"
      [hidden]="!((PhoneNum.dirty || PhoneNum.touched) && PhoneNum.errors?.appPhoneValidation && !PhoneNum.errors?.required)">
      半角数字10文字以上11文字以下で、0から始まる番号（ハイフンなし）を入力してください
    </div>
  </div>
  <div class="col-3 align-self-start mt-3" *ngIf="isShowStatus">
    <span class="font-size-14">ステータス：</span><span class="font-size-22">{{ currentUser.status_string }}</span>
  </div>
</div>
