.btn-phone {
  background: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  padding: 0;
  position: relative;

  .input-group-text {
    padding: 13px 8px;
  }

  &[disabled] {
    cursor: default;

    .input-group-text {
      background-color: #fafafa;
      color: #818181 !important;
    }
  }
}
