<form novalidate>
  <div class="row">
    <div class="col-6 col-sm-4">
      <input type="text" class="form-control" name="CategoryName" maxlength="255" [(ngModel)]="filterData.name" placeholder="カテゴリー名を入力">
    </div>
    <div class="col-6 col-sm-4">
      <app-cas-ng-select
        [items]="menusType$ | async"
        [loading]="isLoadMenuType"
        [clearable]="true"
        [searchable]="true"
        [virtualScroll]="true"
        [disabled]="isLoadMenuType"
        [typeahead]="menusTypeInput$"
        [isTemplateSpan]="true"
        [ngClass]="{ 'is-invalid': MenuTypeRef.dirty && MenuTypeRef.errors }"
        [(ngModel)]="filterData.type_id"
        (onScrollToEnd)="nextPage()"
        (close)="onCloseSelect()"
        sliceMax="1"
        bindLabel="name"
        bindValue="id"
        className="mi-form-ng-select"
        name="MenuType"
        #MenuTypeRef="ngModel"
        dropdownPosition="bottom"
        placeholder="種別名"
        notFoundText="利用できるクーポンがありません"
      ></app-cas-ng-select>
    </div>
    <div class="col-6 col-sm-4 text-right align-self-end">
      <button type="button" class="btn btn-warning" (click)="filter()">この条件で絞込む</button>
    </div>
  </div>
</form>
