<section appClickOutside (clickOutside)="clickOutside($event)">
  <div class="btn notification" [ngClass]="{ 'show': totalUnseen > 0 }" #NotifyRef (click)="clearUnseen()">
    <img src="assets/icon/bell.svg" alt="notify">
    <span class="notification__count">{{ totalUnseen }} </span>
    <span class="notification__title">お知らせ</span>
  </div>

  <div class="notification-list" *ngIf="isShowNotiList">
    <app-notify-list (closeEvent)="isShowNotiList = false"></app-notify-list>
  </div>
</section>
