.notification {
  -webkit-transform-origin: 50% 4px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transform-origin: 50% 4px;

  &__count {
    background-color: #ed1212;
    border-radius: 50%;
    color: #fff;
    font-size: 9px;
    font-weight: 700;
    height: 15px;
    line-height: 15px;
    opacity: 0;
    position: absolute;
    right: 20px;
    text-align: center;
    top: 2px;
    transition: opacity 0.5s cubic-bezier(0.39, 0.58, 0.57, 1);
    width: 15px;
  }

  &__title {
    font-size: 11px;
  }

  &.show {
    -webkit-animation: 4s ease-in-out 0.7s infinite ring;
    animation: 4s ease-in-out 0.7s infinite ring;

    .notification__count {
      opacity: 1;
    }
  }
}

.notification-list {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 3px 2px var(--black-opacity--16);
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 90px;

  &::before {
    border: 0;
    border-bottom: 13px solid var(--yellow-accent);
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    content: '';
    position: absolute;
    right: 15px;
    top: -13px;
  }
}
