<app-cas-dialog [title]="title_modal" (close)="closeDialog()">
  <section class="text-center" dialogContent>
    <img class="mb-3" src="assets/icon/icon-delete-warning.svg" alt="icon delete warning" />
    <h5 class="font-weight-bold">{{gourmet.service_name}}との連携を 解除してもよろしいですか？</h5>
    <p class="mb-0 font-size-14">これまでに{{gourmet.service_name}}から自動反映された予約情報は、連携を解除しても保持されます。</p>
  </section>

  <section class="cas-dialog__btn-group justify-content-around" dialogAction>
    <button type="button"
      class="btn btn-md btn-secondary btn-border w-50 mr-3"
      aria-label="Close"
      (click)="closeDialog()"
      [disabled]="isLoading">
      キャンセル
    </button>

    <button
      type="button"
      class="btn btn-md btn-warning w-50"
      aria-label="Remove"
      (click)="deleteLink()"
      [disabled]="isLoading">
      解除する
    </button>
  </section>
</app-cas-dialog>
