<div class="cas-modal modal-incoming-call mb-0 hidden">
  <div class="modal-body">
    <div class="text-center">
      <img class="nav-item--icon nav-item--icon__phone-reserve" src="assets/icon/telephone-incoming-call.svg" alt="telephone-incoming-call">
      <div class="mt-4 mb-2 d-flex client-name justify-content-center">
        <span class="mb-0 h3 text-truncate font-weight-bold d-block"
          [title]="clientUser.name_display">
          {{ clientUser.name_display}}
        </span>
        <span class="ml-1 font-weight-bold">様</span>
      </div>

      <h4 class="mb-4 font-weight-bold">{{ clientUser.phone }}</h4>
    </div>

    <div *ngIf="!clientUser.is_new">
      <h6 class="mb-1 font-weight-bold">顧客メモ</h6>
      <textarea class="form-control-plaintext no-resize cas-scroll" readonly rows="5" [(ngModel)]="clientUser.memo"></textarea>
    </div>
  </div>

  <div class="modal-footer justify-content-center p-0">
    <button type="button"
      class="btn btn-secondary w-50 mr-0 btn-lg"
      aria-label="Close"
      (click)="closeModal()">
      閉じる
    </button>

    <button type="button"
      class="btn btn-warning w-50 ml-0 btn-lg"
      aria-label="Edit Reservation"
      (click)="createOrUpdateResv()"
      [disabled]="isSolving">
      {{ clientUser.has_upcoming_resv ? '予約変更' : '予約作成' }}
    </button>
  </div>
</div>

