.modal-incoming-call {
  color: var(--grey-darken-0);
  width: 400px;

  .btn {
    border-radius: 0;
    padding: 1rem 0.75rem;
  }

  .client-name {
    span {
      line-height: 2.5rem;
    }
  }
}
