<app-cas-dialog title="料理選択" (close)="closeModal()" headerClass="cas-dialog__header--order-menu">
  <section dialogContent class="apply-tax dialog-set">
    <div class="apply-tax__action">
      <button
        type="button"
        class="btn btn-mw--xl font-size-17 py-2"
        [ngClass]="{ 'btn-secondary': !is_apply_all, 'btn-warning': is_apply_all }"
        (click)="applyAll()"
      >
        すべてに税金を適用する
      </button>

      <div class="apply-tax__cat dialog-set__nav mt-3">
        <div
          class="dialog-set__nav-item"
          *ngFor="let category of categories"
          (click)="selectCategory(category)"
          [ngClass]="{ 'active font-weight-bold': isActive(category.id) }"
        >
          <p class="dialog-set__nav-item-name mb-0">{{ category.name }}</p>
          <p class="dialog-set__nav-item-count mb-0">({{ category.items_count }})</p>
        </div>
      </div>
    </div>

    <div class="dialog-set__scroll">
      <div class="loader--row" *ngIf="isLoading">
        <div class="lds-ripple">
          <div></div>
          <div></div>
        </div>
      </div>

      <div class="text-center" *ngIf="!listItems.length && !isLoading">
        データが見つかりません
      </div>

      <div class="dialog-set__list">
        <div class="dialog-set__item" *ngFor="let menu of listItems">
          <div class="dialog-set__item-avatar" [ngClass]="{ 'item-sold-out': menu.is_sold_out }">
            <div class="dialog-set__item-img" [ngStyle]="menu.style"></div>
          </div>
          <div class="dialog-set__item-name">{{ menu.name }}</div>
          <div class="dialog-set__item-price">{{ menu.price_string }}</div>
          <div class="dialog-set__item-action">
            <app-ui-switch
              className="ui-switch--sm"
              name="MenuOptionToggle"
              [(ngModel)]="menu.is_tax"
              (click)="changeTax(menu)"
            ></app-ui-switch>
          </div>
        </div>
      </div>

      <div class="cas-pagination" [ngClass]="{ 'd-none': isLoading }">
        <app-pagination
          *ngIf="pagination.isPagination"
          class="d-flex justify-content-center"
          [boundaryLinks]="true"
          [totalItems]="pagination.total"
          [itemsPerPage]="pagination.per_page"
          [(ngModel)]="pagination.current_page"
          [maxSize]="5"
          (pageChanged)="pageChanged($event)"
          previousText="&lsaquo;"
          nextText="&rsaquo;"
          firstText="&laquo;"
          lastText="&raquo;"
        ></app-pagination>
      </div>
    </div>
  </section>

  <section class="cas-dialog__btn-group justify-content-between" dialogAction>
    <button
      type="button"
      class="btn btn-md btn-secondary btn-border btn-mw--xl"
      aria-label="Close"
      (click)="closeModal()"
      [disabled]="isSubmiting"
    >
      キャンセル
    </button>

    <button
      type="button"
      class="btn btn-md btn-warning btn-mw--xl"
      aria-label="Delete"
      (click)="confirmApplyTax()"
      [disabled]="isSubmiting"
    >
      選択する
    </button>
  </section>
</app-cas-dialog>
