.card-table {
  background-color: var(--white);
  border: 0.0625rem solid var(--grey-lighten-0);
  box-sizing: border-box;
  cursor: pointer;
  padding: 0.3125rem;

  &__title {
    background-color: var(--grey-darken-0);
    color: var(--white);
    overflow: hidden;
    padding: 0.3125rem 0.9375rem;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__code {
    align-items: center;
    display: flex;
    font-size: 1.2rem;
    height: 3rem;
    justify-content: center;
    padding: 0 0.9375rem;
    text-align: center;
  }

  &__name {
    align-items: center;
    color: var(--grey-darken-0);
    display: flex;
    font-size: 0.8125rem;
    justify-content: center;
    text-align: center;
  }

  &__footer {
    align-items: center;
    display: flex;
    justify-content: space-between;

    &-title {
      color: var(--grey-darken-0);
      font-size: 0.8125rem;
    }
  }
}
