<section class="card-table" [ngClass]="table.swapClassActive" (click)="changeTable()">
  <div class="card-table__title" [attr.title]="table.type?.name">{{ table.type?.name }}</div>

  <div class="card-table__code font-weight-bold">
      {{ table.code }}
    </div>

    <div class="card-table__name" [attr.title]="table.name">
      <p class="text-truncate">{{ table.name }}</p>
    </div>

  <div class="card-table__footer">
    <div class="card-table__footer-title">{{ table.quantity }}名席</div>
    <div class="card-table__footer-icon">
      <img [src]="img_smoking" alt="smoking">
    </div>
  </div>
</section>
