<div class="row form-group my-4">
  <div class="col-6" *ngIf="floors.length">
    <select
      name="floors"
      class="custom-select"
      [ngModel]="selectedFloor"
      [disabled]="isLoadFloors"
      (ngModelChange)="changeFloor($event)"
    >
      <option *ngFor="let floor of floors" [ngValue]="floor.value">{{ floor.label }}</option>
    </select>
  </div>

  <div class="col-6">
    <div class="text-right">
      <a class="btn btn-primary" *ngIf="!isModeEdit" [routerLink]="['/management/tables']">レイアウト設定</a>
    </div>
    <div class="floor-btn--group" *ngIf="isModeEdit">
      <button class="btn floor-btn--item" (click)="createFloor()" [disabled]="isLoadFloors">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>

      <button
        class="btn floor-btn--item floor-btn--minus"
        (click)="confirmRemoveFloor(modalRemoveFloor)"
        [disabled]="isLoadFloors"
        *ngIf="!isFirstFloor"
      >
        <i class="fa fa-minus" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>

<div class="konva-scroll" [ngClass]="{ edit: isModeEdit }">
  <div id="konvaManager" #KonvaCanvas class="table-container"></div>

  <div class="btn-group zoom__konva">
    <button type="button" class="btn btn-secondary" *ngIf="isModeEdit" (click)="konvaAction(konvaStageActions.UNGROUP)">
      <i class="fas fa-unlink" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-secondary" *ngIf="isModeEdit" (click)="konvaAction(konvaStageActions.GROUP)">
      <i class="fas fa-link" aria-hidden="true"></i>
    </button>

    <button
      type="button"
      class="btn btn-secondary mb-5"
      *ngIf="isModeEdit"
      (click)="konvaAction(konvaStageActions.REMOVE)"
    >
      <i class="fas fa-trash" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-secondary" (click)="konvaAction(konvaStageActions.ZOOM_IN)">
      <i class="fas fa-search-plus" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-secondary" (click)="konvaAction(konvaStageActions.ZOOM_OUT)">
      <i class="fas fa-search-minus" aria-hidden="true"></i>
    </button>
  </div>

  <div class="loading" [hidden]="!isLoading">
    <div class="spinner-border" role="status"><span class="sr-only"></span></div>
  </div>
</div>

<button
  type="button"
  class="btn cas-btn btn-primary"
  [disabled]="!canUpdate || isLoading"
  (click)="openModalConfirmSetting(modalConfirmSetting)"
  *ngIf="isModeEdit"
>
  保存
</button>

<div class="tables row mt-3 mx-0" *ngIf="isModeEdit">
  <ng-container *ngFor="let table of tables">
    <div
      class="col-xl-2 col-3 p-0 mb-3"
      [title]="table.quantity + ' | ' + table.name"
      [popover]="popTemplate"
      [outsideClick]="true"
      popoverTitle="選んでください"
      (click)="selectTable(table)"
      *ngIf="!table.has_layout"
    >
      <div class="table-item mr-3 p-1">
        <i class="fas fa-plus-circle icon-plus" aria-hidden="true"></i>
        <p class="text-truncate text-white table__name">{{ table.name }} ({{ table.quantity }}人)</p>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #popTemplate>
  <div class="change-table-type">
    <div class="circle" (click)="changeTableType(tableLayoutTypes.CIRCLE)"></div>
    <div class="square ml-2" (click)="changeTableType(tableLayoutTypes.SQUARE)"></div>
    <div class="rect mx-2" (click)="changeTableType(tableLayoutTypes.RECT)"></div>
  </div>
</ng-template>

<ng-template #modalConfirmSetting>
  <div class="cas-modal">
    <div class="modal-header">
      <h5 class="cas-modal__title text-center w-100 font-weight-bold">テーブルレイアウト設定</h5>
    </div>
    <div class="modal-body"><p class="text-center">テーブルレイアウトを設定します。宜しいですか。</p></div>
    <div class="modal-footer cas-modal__footer">
      <button type="button" class="btn cas-btn" aria-label="Close" (click)="closeModal()">キャンセル</button>

      <button type="button" class="btn cas-btn btn-primary" aria-label="Remove" (click)="save()">設定する</button>
    </div>
  </div>
</ng-template>

<!-- Modal Remove Floor -->
<ng-template #modalRemoveFloor>
  <div class="cas-modal">
    <div class="modal-header"><h5 class="cas-modal__title text-center w-100 font-weight-bold"></h5></div>
    <div class="modal-body"><p class="text-center">このフロアを削除します。宜しいですか。</p></div>
    <div class="modal-footer cas-modal__footer">
      <button type="button" class="btn cas-btn" aria-label="Close" (click)="closeModal()">キャンセル</button>

      <button type="button" class="btn cas-btn btn-primary" aria-label="Remove" (click)="removeFloor()">
        削除する
      </button>
    </div>
  </div>
</ng-template>
