.konva-scroll {
  border: 1px solid #ddd;
  height: 500px;
  position: relative;
  width: 100%;

  &.edit {
    background-color: #fff;
    background-image: -webkit-linear-gradient(#dcdcdd 1px, transparent 1px),
      -webkit-linear-gradient(0, #dcdcdd 1px, transparent 1px),
      -webkit-linear-gradient(rgba(255, 255, 255, 0.3) 1px, transparent 1px),
      -webkit-linear-gradient(0, rgba(255, 255, 255, 0.3) 1px, transparent 1px);
    background-image: -moz-linear-gradient(#dcdcdd 1px, transparent 1px),
      -moz-linear-gradient(0, #dcdcdd 1px, transparent 1px),
      -moz-linear-gradient(rgba(255, 255, 255, 0.3) 1px, transparent 1px),
      -moz-linear-gradient(0, rgba(255, 255, 255, 0.3) 1px, transparent 1px);
    background-image: linear-gradient(#dcdcdd 1px, transparent 1px),
      linear-gradient(90deg, #dcdcdd 1px, transparent 1px),
      linear-gradient(rgba(255, 255, 255, 0.3) 1px, transparent 1px),
      linear-gradient(90deg, rgba(255, 255, 255, 0.3) 1px, transparent 1px);
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
    background-size: 40px 40px, 40px 40px, 1px, 1px, 1px, 1px;
    margin: 20px 0;
  }

  .table-container {
    -webkit-overflow-scrolling: touch;
    height: 100%;
    overflow: scroll;
    width: 100%;

    @media (device-width: 768px) and (device-height: 1024px) {
      &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
      }

      &::-webkit-scrollbar-thumb {
        -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 4px;
      }
    }
  }

  .zoom__konva {
    bottom: 20px;
    flex-direction: column;
    position: absolute;
    right: 20px;

    .btn {
      border-radius: 0.25rem;
      margin-top: 3px;
    }
  }

  .loading {
    background-color: transparent;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 9999;

    .spinner-border {
      position: absolute;
      top: 50%;
    }
  }
}

@media (min-width: 992px) {
  .konva-scroll:not(.edit) {
    height: 100vh;
  }
}

.table-item {
  background-color: #5c868d;
  border-radius: 3px;
  cursor: pointer;
  position: relative;

  p {
    font-size: 13px;
    margin: 7px 5px;
  }

  .icon-plus {
    background: #fff;
    border-radius: 50%;
    color: #a9e5a0;
    font-size: 20px;
    height: 1rem;
    position: absolute;
    right: -9px;
    top: -9px;
    width: 1rem;
  }
}

.change-table-type {
  & > * {
    cursor: pointer;
    display: inline-block;
  }

  .circle {
    background: #99b59f;
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }

  .square {
    background: #99b59f;
    height: 50px;
    width: 50px;
  }

  .rect {
    background: #99b59f;
    height: 50px;
    width: 80px;
  }
}

.floor-btn {
  &--group {
    display: flex;
  }

  &--item {
    align-items: center;
    background-color: #eaed12;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    font-size: 22px;
    height: 40px;
    justify-content: center;
    position: relative;
    width: 40px;

    &:hover {
      background-color: #d7da35;
    }

    &:disabled {
      background-color: #dcdcdd;
      pointer-events: none;
    }
  }

  &--minus {
    margin-left: 15px;
  }
}

.popover .popover-body {
  width: 13rem;
}
