@import 'src/stylesheets/variable';

.resv-summary {
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;

  &__item {
    border-right: 1px solid #ccc;
    margin: 15px;
    width: 20%;

    &:last-of-type {
      border: 0;
    }
  }

  &__title {
    color: #818181;
    font-size: 14px;
    margin-bottom: 10px;
  }

  &__number {
    font-size: 18px;
    margin-bottom: 0;
  }
}
