<section class="content-page">
  <div class="page-content container-fluid p-0">
    <!-- Resv Summary -->
    <div class="resv-summary d-flex">
      <div class="resv-summary__item">
        <p class="resv-summary__title">合計売上</p>
        <h5 class="resv-summary__number">{{resvStatistic.total_price_display}}</h5>
      </div>
      <div class="resv-summary__item">
        <p class="resv-summary__title">予約件数</p>
        <h5 class="resv-summary__number">{{resvStatistic.total_reservations_display}}</h5>
      </div>
      <div class="resv-summary__item">
        <p class="resv-summary__title">Web予約</p>
        <h5 class="resv-summary__number">{{resvStatistic.web_total_price_display}}</h5>
      </div>
      <div class="resv-summary__item">
        <p class="resv-summary__title">電話予約</p>
        <h5 class="resv-summary__number">{{resvStatistic.phone_total_price_display}}</h5>
      </div>
      <div class="resv-summary__item">
        <p class="resv-summary__title">ウォークイン</p>
        <h5 class="resv-summary__number">{{resvStatistic.walk_in_total_price_display}}</h5>
      </div>
    </div>

    <!-- Resv Calendar -->
    <div class="position-relative">
      <div class="fc-instruction pl-3">
        <div class="instr-item">Web予約</div>
        <div class="instr-item instr-telephone">電話予約</div>
        <div class="instr-item instr-walk-in">ウォークイン</div>
      </div>

      <div class="d-flex justify-content-end pr-3">
        <button class="btn cas-btn cas-btn--outline-yellow"
          (click)="openModalWalkinResv()">ウォークインを作成する</button>
      </div>
      <app-calendar
        (dayClick)="dayClick($event)"
        (eventClick)="eventClick($event)"
        (scrollEndReached)="scrollEnd($event)">
      </app-calendar>
    </div>
  </div>
</section>
