.receipt-quantity__change {
  align-items: center;
  display: flex;
  height: 154px;
  justify-content: center;

  p {
    font-size: 87px;
    line-height: 1;
    margin: 0 40.6px;
  }

  img {
    cursor: pointer;
    height: 72.5px;
    width: 72.5px;
  }
}
