<app-cas-dialog title="品数の変更" (close)="closeDialog()">
  <section class="text-center" dialogContent>
    <div class="receipt-quantity__change" *ngIf="!isConfirm">
      <img src="assets/icon/minus-circle.svg" alt="plus" (click)="minusQuantity()" />

      <p>{{ receiptItem.quantity }}</p>

      <img src="assets/icon/plus-circle.svg" alt="plus" (click)="plusQuantity()" />
    </div>

    <div class="" *ngIf="isConfirm">
      <img class="mb-3" src="assets/icon/icon-delete-warning.svg" alt="icon delete warning" />
      <h5 class="font-weight-bold">メニューの品数が変更されます</h5>
      <p class="mb-0 font-size-20">{{ oldQuantity }} → {{ receiptItem.quantity }}</p>
    </div>
  </section>

  <section class="cas-dialog__btn-group justify-content-around" dialogAction>
    <button
      type="button"
      class="btn btn-md btn-secondary btn-border btn-mw--lg"
      aria-label="Close"
      (click)="closeDialog()"
      [disabled]="isLoading"
    >
      キャンセル
    </button>

    <button
      type="button"
      *ngIf="!isConfirm"
      class="btn btn-md btn-warning btn-mw--lg"
      aria-label="Remove"
      [disabled]="isLoading"
      (click)="confirmChangeQuantity()"
    >
      OK
    </button>

    <button
      type="button"
      *ngIf="isConfirm"
      class="btn btn-md btn-warning btn-mw--lg"
      aria-label="Remove"
      [disabled]="isLoading"
      (click)="changeQuantity()"
    >
      変更する
    </button>
  </section>
</app-cas-dialog>
