.setting-sold-out {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 340px;

  p {
    color: #707070;
    font-size: 15px;
    margin: 0 auto;
    width: 300px;

    span {
      display: inline-block;
      text-align: right;
      width: 180px;
    }
  }
}
