<app-cas-dialog title="売切画像設定" (close)="closeModal()">
  <section dialogContent class="setting-sold-out">
    <app-cas-dropzone
      class="align-self-center"
      [rectangle]="true"
      [contain]="false"
      [oldImage]="soldOutImg"
      [rectangleHeight]="true"
      accept="image/jpeg,image/png,image/jpg"
      msgAccept="jpgとpngのファイルでアップロードしてください"
      [eventDropzone]="eventDropzone"
      [btnDelete]="!!soldOutImg"
    >
    </app-cas-dropzone>
    <p class="cas-text--red mb-3 w-auto" *ngIf="validation.image">{{ validation.image }}</p>
    <p><span>登録可能ファイル形式：</span>JPEG、PNG</p>
    <p><span>登録可能な画像の大きさ：</span>398px ✕ 110px</p>
    <p><span>最大サイズ：</span>3MB</p>
  </section>

  <section class="cas-dialog__btn-group justify-content-between" dialogAction>
    <button
      type="button"
      class="btn btn-md btn-secondary btn-border btn-mw--lg mr-3"
      aria-label="Close"
      (click)="closeModal()"
      [disabled]="isLoading"
    >
      キャンセル
    </button>

    <button
      type="button"
      class="btn btn-md btn-warning btn-border btn-mw--lg"
      aria-label="設定する"
      [disabled]="!soldOut"
      (click)="saveImageSoldOut()"
    >
      設定する
    </button>
  </section>
</app-cas-dialog>
