<div class="cas-swap">
  <ng-content select="[swapContent]"></ng-content>

  <button type="button" class="btn btn-warning cas-swap__switch"
    (click)="handleSwitch()" *ngIf="isSwap"
    [disabled]="isSubmitting || swapArray.length < 2">
      <i class="fa fa-exchange-alt"></i>
    <span>入替</span>
  </button>

  <div class="cas-swap__loading" *ngIf="isSubmitting"></div>
</div>
