.cas-swap {
  position: relative;

  &__switch {
    align-items: center;
    border: 2px solid #fff;
    border-radius: 50%;
    bottom: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    height: 80px;
    justify-content: center;
    position: fixed;
    right: 15px;
    width: 80px;
    z-index: 1000;

    i.fa {
      font-size: 20px;
    }
  }

  &__item {
    cursor: pointer;

    &--active {
      border: 2px solid #f59716 !important;
      box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    }
  }

  &__loading {
    background-color: rgba(243, 243, 243, 0.51);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 500;
  }
}
