.tax-container {
  min-height: 600px;
}

.apply_tax {
  align-items: center;
  background-color: #fafafa;
  display: flex;
  flex: 1 1 100%;
  justify-content: space-between;
  padding: 8.9px 12.8px;

  p {
    font-family: 'Noto Sans JP', Arial, Helvetica, 'Times New Roman', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
  }
}

.tax-percent {
  display: flex;
  margin-top: 32px;

  .percent {
    &-label {
      display: flex;
      font-size: 16px;
      font-weight: bold;
      padding-bottom: 3px;

      span {
        flex: 1 1 70%;

        &:nth-child(2) {
          flex: 1 1 30%;
        }
      }
    }

    &-control {
      display: flex;

      .input {
        border: 1px solid #d8d8d8;
        border-radius: 5px 0 0 5px;
        display: flex;
        flex: 1 1 90%;
        padding: 5px 0;

        input {
          border-bottom: 0;
          border-left: 0;
          border-top: 0;
          font-size: 18px;
          height: 50px;

          &:focus {
            outline: none;
          }
        }

        &-name {
          border-right: 1px solid #d8d8d8;
          box-sizing: border-box;
          flex: 1 1 60%;
          padding-left: 16px;
          width: 78%;
        }

        &-percent {
          border: 0;
          font-size: 25px;
          text-align: center;
          width: 22%;
        }
      }

      .symbol {
        align-self: flex-end;
        flex: 1 1 10%;
        text-align: center;
      }
    }

    &-name,
    &-ratio {
      p {
        color: #434343;
        font-size: 35px;
        margin-bottom: 0;

        &.title {
          font-size: 16px;
          font-weight: bold;
        }

        .symbol {
          font-size: 16px;
          margin-left: 15px;
        }
      }
    }

    &-name {
      width: 70%;
    }
  }
}

.tax-method {
  margin-top: 40px;

  .method {
    &-item {
      align-items: center;
      border-bottom: 1px solid #eaeaea;
      display: flex;
      justify-content: space-between;
      padding: 15px 0 16px 3px;

      &:first-child {
        border-top: 1px solid #eaeaea;
      }

      &__round {
        .method-text {
          color: #707070;
          cursor: pointer;
          padding-right: 25px;
          position: relative;

          &::after {
            -webkit-transform: rotate(-45deg);
            border: solid #707070;
            border-width: 0 2px 2px 0;
            content: '';
            display: inline-block;
            padding: 4px;
            position: absolute;
            right: 5px;
            top: calc(50% - 4px);
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}

.tax-menu {
  margin-top: 29.5px;

  &__title {
    border-bottom: 1px solid #eaeaea;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 3.5px;
  }

  &__items {
    align-items: center;
    border-bottom: 1px solid #eaeaea;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 15px 0;
    position: relative;

    p {
      margin-bottom: 0;
    }

    .item-name {
      flex: 1 1 20%;
    }

    .item-text {
      color: #707070;
      cursor: pointer;
      flex: 1 1 80%;
      text-align: right;
    }

    &::after {
      -webkit-transform: rotate(-45deg);
      border: solid #707070;
      border-width: 0 2px 2px 0;
      content: '';
      display: inline-block;
      padding: 4px;
      position: absolute;
      right: 5px;
      transform: rotate(-45deg);
    }
  }
}
