<app-cas-dialog title="税金設定の編集" (close)="closeModal()">
  <section dialogContent>
    <div class="container tax-container">
      <div class="row">
        <div class="col-sm-8 offset-sm-2">
          <div class="tax-percent">
            <div class="percent-name">
              <p class="title">名前</p>
              <p>{{ tax.name }} <span class="font-size-28">{{ tax.isOrder === 1 ? '(デフォルト)' : '' }}</span></p>
            </div>
            <div class="percent-ratio">
              <p class="title">税率</p>
              <p>{{ tax.ratio }} <span class="symbol">%</span></p>
            </div>
          </div>

          <div class="tax-method">
            <div class="method-item method-item__round">
              <div class="method-name">端数処理</div>
              <div class="method-text" (click)="openModalSettingRound()">{{ tax.roundString }}</div>
            </div>
          </div>

          <div class="tax-menu" *ngIf="!tax.isEatAtStore">
            <p class="tax-menu__title">適用するメニュー</p>
            <div class="tax-menu__items">
              <p class="item-name">商品</p>
              <p class="item-text text-truncate" (click)="openModalSettingTax()">{{ itemsString }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="cas-dialog__btn-group justify-content-between" dialogAction>
    <button
      type="button"
      class="btn btn-md btn-secondary btn-border btn-mw--lg mr-3"
      (click)="closeModal()"
      [disabled]="isLoading"
    >
      キャンセル
    </button>

    <button
      type="button"
      class="btn btn-md btn-warning btn-mw--lg"
      [disabled]="isLoading"
      (click)="saveTax()"
    >
      編集する
    </button>
  </section>
</app-cas-dialog>
