<section class="cas-slide" [ngClass]="{ 'open': open }">
  <div class="cas-slide__body">
    <div class="cas-slide__body-action">
      <!-- slide close -->
      <div class="cas-slide_btn-close" (click)="closeSlide()">
        <img src="assets/icon/slide-close.svg" alt="slide btn close" />
        <span class="btn-title">閉じる</span>
      </div>
      <div class="cas-slide_btn-tabs" *ngIf="!isWalkIn">
        <div
          class="tab-item"
          *ngFor="let tab of tabs"
          [ngClass]="{ active: activeForm(tab.type) }"
          (click)="selectForm(tab.type)"
        >
          <p *ngFor="let str of tab.text">{{ str }}</p>
          <p class="order-count" *ngIf="tab.count">{{ resData.all_selection.length }}<span class="symbol">品</span></p>
        </div>
      </div>
      <div class="cas-slide_btn-tabs" *ngIf="isWalkIn">
        <div class="tab-item active walkin">
          <p>予約</p>
          <p>情報</p>
        </div>
      </div>
    </div>

    <div class="cas-slide__body-content">
      <app-form-reservation-walkin
        *ngIf="isWalkIn"
        [walkinData]="walkinData"
        [validation]="validator"
        appFormTracking (tracking)="trackFormFocus($event)"
        (formChange)="formChange($event)"
      >
      </app-form-reservation-walkin>

      <div *ngIf="!isWalkIn && open" [ngSwitch]="formSelected" class="h-100">
        <!-- Form Info-->
        <app-form-res-info
          [resData]="resData"
          [triggerValidForm]="triggerValidForm"
          [resetForm]="resetForm"
          [minDate]="minDate"
          *ngSwitchCase="FORM_TYPE.INFO"
          appFormTracking (tracking)="trackFormFocus($event)"
          (changeFormValue)="changeFormValue($event)"
        ></app-form-res-info>

        <!-- Form Order -->
        <app-form-res-order
          [resData]="resData"
          (eventChangeOrder)="eventChangeOrder($event)"
          *ngSwitchCase="FORM_TYPE.ORDER"
          appFormTracking (tracking)="trackFormFocus($event)"
          (clearAllCoupon)="clearCoupon()"
          (changeFormValue)="changeFormValue()"
        ></app-form-res-order>

        <!-- Form Memo -->
        <app-from-res-memo [resData]="resData"
          *ngSwitchCase="FORM_TYPE.MEMO"
          appFormTracking (tracking)="trackFormFocus($event)"
          (changeFormValue)="changeFormValue()"
        ></app-from-res-memo>
      </div>
    </div>
  </div>

  <div class="cas-slide__footer">
    <!-- Reservation, walk-in create btn -->
    <div class="cas-slide__footer-content" *ngIf="formMode.isNew">
      <button class="btn btn-lg btn-40"
        [ngClass]="{'btn-outline-primary': !isWalkIn, 'btn-outline-success': isWalkIn }"
        (click)="closeSlide()">キャンセル</button>
        <!-- submit walkin -->
      <button class="btn btn-lg btn-60 btn-success"
        [hidden]="!isWalkIn"
        [disabled]="!isValidFromWalkin"
        (click)="saveRes()">保存</button>
        <!-- submit resv -->
      <button class="btn btn-lg btn-60 btn-primary"
        [hidden]="isWalkIn"
        [disabled]="resData.isEnoughSeat || !resData.isEnoughInfo"
        (click)="saveRes()">登録</button>
    </div>

    <div class="cas-slide__footer-content" *ngIf="formMode.isEdit">
      <!-- Walk-in edit btn -->
      <div class="d-flex w-100" *ngIf="isWalkIn && !isFormFocus">
        <button class="btn btn-lg btn-outline-success btn-40"
          *ngIf="walkinData.isInComing"
          (click)="openModalResvCancel()">作成取消</button>

        <button class="btn btn-lg btn-success btn-60"
          *ngIf="walkinData.isInComing"
          [disabled]="isSubmitingWalkin "
          (click)="startWarkin()">ご案内</button>

        <button class="btn btn-lg btn-success btn-40"
          *ngIf="walkinData.isWorking || walkinData.isFinished"
          [disabled]="walkinData.paid_at"
          (click)="openModalReceiptDetail()">{{ walkinData.paid_at ? '会計済' : '会計' }}</button>

        <button class="btn btn-lg btn-success btn-60"
          *ngIf="walkinData.isWorking || walkinData.isFinished"
          [disabled]="isCleaning || walkinData.isFinished"
          (click)="finishResv(walkinData.id)">{{ walkinData.isFinished ? '退店済' : '退店' }}</button>
      </div>

      <!-- Reservation edit btn -->
      <div class="d-flex w-100" *ngIf="!isWalkIn && resData.isInComing && !isFormFocus">
        <button class="btn btn-lg btn-danger btn-40"
          (click)="openModalResvCancel()">予約取消</button>

        <button class="btn btn-lg btn-primary btn-60"
          (click)="startResv(resData.id)">来店</button>
      </div>

      <div class="d-flex w-100" *ngIf="!isWalkIn && (resData.isWorking || resData.isFinished) && !isFormFocus">
        <button class="btn btn-lg btn-primary"
          [disabled]="resData.paid_at"
          (click)="openModalReceiptDetail()">{{ resData.paid_at ? '会計済' : '会計' }}</button>

        <button class="btn btn-lg btn-primary"
          [disabled]="resData.isFinished"
          (click)="finishResv(resData.id)">{{ resData.isFinished ? '退店済' : '退店' }}</button>
      </div>

      <div class="d-flex w-100" *ngIf="isFormFocus">
        <button class="btn btn-lg btn-40"
          [ngClass]="{'btn-outline-primary': !isWalkIn, 'btn-outline-success': isWalkIn }"
          (click)="trackFormFocus(false)">キャンセル</button>

        <button class="btn btn-lg btn-primary btn-60"
          [ngClass]="{'btn-primary': !isWalkIn, 'btn-success': isWalkIn }"
          [disabled]="!isValidFromWalkin || resData.isEnoughSeat || !isChangeFormValues"
          (click)="saveRes()">編集内容を保存</button>
      </div>
    </div>
  </div>
</section>
