<app-cas-dialog [title]="dialogTitle" (close)="closeDialog()">
  <section dialogContent>
    <form name="tableTypeFr" #TableTypeFr="ngForm" novalidate>
      <div class="form-group mi-form-group">
        <label class="col-form-label mi-form-label required">テーブルタイプ名</label>
        <input
          type="text"
          name="tableTypeName"
          class="form-control cas-fr-control"
          [ngClass]="{ 'is-invalid': ((NameRef.dirty || NameRef.touched) && NameRef.errors) || validation.name }"
          placeholder="テーブルタイプ名を入力してください"
          [(ngModel)]="tableType.name"
          (input)="validatorReset()"
          appSpaceValidation
          #NameRef="ngModel"
          required maxlength="100"/>

        <div class="invalid-feedback" *ngIf="(NameRef.dirty || NameRef.touched) && NameRef.errors?.required">
          テーブルタイプ名は必須です
        </div>
        <div class="invalid-feedback" *ngIf="(NameRef.dirty || NameRef.touched) && NameRef.errors?.maxlength">
          テーブルタイプ名は100文字以下で入力してください
        </div>
        <div class="invalid-feedback"
          *ngIf="(NameRef.dirty || NameRef.touched) && NameRef.errors?.appSpaceValidation && !NameRef.errors?.required">
          空白のみを入力することはできません
        </div>
        <div class="invalid-feedback" *ngIf="validation.name">
          {{validation.name}}
        </div>
      </div>
    </form>
  </section>

  <section class="cas-dialog__btn-group justify-content-center" dialogAction>
    <button type="button"
      class="btn btn-md btn-secondary btn-border mr-3 w-50"
      aria-label="Close"
      (click)="closeDialog()"
      [disabled]="isLoading">
      キャンセル
    </button>

    <button
      type="button"
      class="btn btn-md btn-warning w-50"
      [disabled]="TableTypeFr.invalid || isLoading"
      (click)="submitTableType()">
      {{ submitText }}
    </button>
  </section>
</app-cas-dialog>
