<section class="filter-self-order d-flex justify-content-between bg-white p-3">
  <div class="filter-self-order__search-name d-flex align-items-center px-2">
    <i class="fa fa-search" aria-hidden="true"></i>
    <input
      type="text"
      class="form-control py-0 h-100"
      [(ngModel)]="sortSearch.search_filter"
      #SearchTerm
      [placeholder]="searchConf.placeholder"
      (keyup.enter)="searchAction()"
      *ngIf="!isSelfOrder"
      maxlength="255"
    />
    <input
      type="text"
      class="form-control py-0 h-100"
      [(ngModel)]="sortSearch.search_filter"
      #SearchTerm
      [placeholder]="searchConf.placeholder"
      (keyup.enter)="searchAction()"
      *ngIf="isSelfOrder"
      maxlength="3"
      OnlyNumeric
      inputmode="numeric"
    />
  </div>

  <div class="filter-self-order__action d-flex">
    <div class="filter-self-order__sort d-flex align-items-center">
      <div class="dropdown">
        <button
          class="btn dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          (click)="pop.hide()"
        >
          {{ activedItem.name }}
        </button>

        <div class="dropdown-menu dropdown-menu-right p-0 m-0" aria-labelledby="dropdownMenuButton">
          <a
            class="dropdown-item"
            [ngClass]="{ 'dropdown-item--active': sort.active }"
            *ngFor="let sort of sortItems; let sortIdx = index"
            (click)="sortAction(sort)"
          >
            <img
              class="mr-1"
              [ngClass]="{ invisible: !sort.active, visible: sort.active }"
              src="assets/icon/check.svg"
              alt="icon arrow"
            />
            {{ sort.name }}
          </a>
        </div>
      </div>

      <button
        type="button"
        class="filter-self-order__direction btn p-0"
        (click)="changeSortDirection()"
        [disabled]="disabledDirection"
      >
        <img
          [ngClass]="{ 'filter-self-order__sort--asc': isAscending }"
          src="assets/icon/filter-arrow-down.svg"
          alt="icon arrow"
        />
      </button>
    </div>

    <div class="filter-self-order__search ml-3">
      <button
        type="button"
        class="btn"
        containerClass="filter-self-order__popover"
        [popover]="popTemplate"
        placement="bottom"
        [outsideClick]="true"
        #pop="bs-popover"
      >
        <img src="assets/icon/filter.svg" alt="icon arrow" />
      </button>

      <ng-template #popTemplate>
        <ng-content select="[filterForm]"></ng-content>
      </ng-template>
    </div>
  </div>
</section>
