.filter-self-order {
  &__sort {
    .dropdown-toggle {
      color: var(--orange-lighten-1);

      &:hover {
        color: var(--orange-darken-1);
      }
    }

    .dropdown-item {
      cursor: pointer;
      font-size: 13px;
      padding: 10px;

      &:hover,
      &:active,
      &--active {
        background-color: #f5faff;
      }
    }

    .dropdown-menu {
      border: 0;
      border-radius: 0;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16);
      width: 182px;
    }

    &--asc {
      transform: rotate(-180deg);
    }
  }

  &__direction {
    cursor: pointer;

    &:focus {
      box-shadow: none;
    }

    img {
      transition: transform 0.5s ease-in-out;
    }
  }

  &__search {
    .btn {
      &:focus {
        box-shadow: none;
      }
    }
  }

  &__search-name {
    border: 1px solid #eee;
    border-radius: 2px;
    height: 40px;
    width: 530px;

    .fa {
      color: #dedede;
      font-size: 17px;
    }

    input {
      border: 0;

      &:focus {
        box-shadow: none;
      }
    }
  }

  .dropdown-toggle {
    font-size: 12px;
    font-weight: normal;

    &::after {
      display: none;
    }

    &:focus {
      box-shadow: none;
    }

    .dropdown-item {
      font-size: 13px;
    }
  }

  .cas-checkbox-item {
    min-width: 120px;
  }
}
