<div class="time-box my-2">
  <div class="time-item">
    <app-input-time
      containerClass="z-index--1"
      [class]="errorMsg ? 'is-invalid' : ''"
      name="start"
      [(ngModel)]="start" [disabled]="disabled"
      (ngModelChange)="changeSeletecTime()"></app-input-time>
  </div>
  <div class="time-divider">〜</div>
  <div class="time-item">
    <app-input-time
      containerClass="z-index--1"
      [class]="errorMsg ? 'is-invalid' : ''"
      name="end"
      [(ngModel)]="end" [disabled]="disabled"
      (ngModelChange)="changeSeletecTime()"></app-input-time>
  </div>
</div>

<div class="invalid-feedback d-block text-left" *ngIf="errorMsg">{{ errorMsg }}</div>
