<app-cas-dialog title="メニューの削除" (close)="closeDialog()">
  <section class="text-center" dialogContent>
    <img class="mb-3" src="assets/icon/icon-delete-warning.svg" alt="icon delete warning" />
    <h5 class="font-weight-bold">削除してよろしいですか？</h5>
    <p class="mb-0 font-size-14">※この操作は取り消すことができません</p>
  </section>

  <section class="cas-dialog__btn-group justify-content-around" dialogAction>
    <button
      type="button"
      class="btn btn-md btn-secondary btn-border btn-mw--lg"
      aria-label="Close"
      (click)="closeDialog()"
      [disabled]="isLoading"
    >
      キャンセル
    </button>

    <button
      type="button"
      class="btn btn-md btn-warning btn-mw--lg"
      aria-label="Remove"
      (click)="menuRemove()"
      [disabled]="isLoading"
    >
      削除する
    </button>
  </section>
</app-cas-dialog>
