.ai_bar-chart_info {
  padding: 10px;
}

.ai_bar-chart_item {
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  color: #707070;
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  padding: 7px 0;

  p {
    margin-bottom: 0;
  }

  &-title {
    color: #d3cfcf;
    font-size: 11px;
    padding-top: 0;
  }

  .info-legend {
    padding-left: 18px;
    position: relative;
  }

  .info-badge {
    border-radius: 3px;
    display: inline-block;
    height: 13px;
    left: 0;
    position: absolute;
    top: calc(50% - (13px / 2));
    width: 13px;
  }
}

.bar-chart {
  padding: 0 10px;
}

.ai-not-found {
  margin-top: 80px;
  text-align: center;
}
