<app-cas-ai-analysis analysisTitle="年齢">
  <section analysisContent>
    <!-- Bar Chart Info -->
    <div class="ai_bar-chart_info">
      <div class="ai_bar-chart_item ai_bar-chart_item-title">
        <p>年齢</p>
        <p>人数</p>
      </div>
      <div class="ai_bar-chart_item" *ngFor="let item of colors[0].backgroundColor; let i = index">
        <p class="info-legend"><span class="info-badge" [ngStyle]="{background: item}"></span>{{ labels[i] }}</p>
        <p>{{ chartData[i] }}</p>
      </div>
    </div>

    <!-- Bar chart -->
    <div class="bar-chart">
      <div class="d-block" *ngIf="labels && labels.length > 0 && !!chartData && !isDataNotFound">
        <canvas
          baseChart
          height="200"
          width="100vw"
          [data]="chartData"
          [labels]="labels"
          [options]="barChartOptions"
          [legend]="true"
          chartType="horizontalBar"
          [colors]="colors"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"
        ></canvas>
      </div>

      <div class="ai-not-found" *ngIf="!chartData || isDataNotFound">表示するデータがありません</div>

      <div class="loader--center" *ngIf="isLoadingBarChart">
        <div class="lds-ripple">
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </section>
</app-cas-ai-analysis>
