.resv-history__filter {
  position: relative;

  img {
    cursor: pointer;
  }
}

.filter-form {
  padding: 10px 11px 10px 10px;

  .cas-checkbox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .cas-checkbox-item {
    min-width: auto;
  }
}
