<section class="bg-white pb-1">
  <!-- Reservation history filter -->
  <div class="resv-history__filter text-right mr-5">
    <img
      class="mt-3 img-filter"
      src="assets/icon/filter.svg"
      alt="reservation-filter"
      width="17px"
      height="18px"
      [popover]="popTemplate"
      placement="bottom"
      containerClass="filter-popover"
      [outsideClick]="true"
    />
  </div>

  <div class="table-responsive">
    <table class="table cas-table cas-table__history cas-table--head-white cas-table--middle">
      <thead>
        <tr>
          <th>来店日</th>
          <th width="130">時間</th>
          <th width="100">テーブル</th>
          <th>顧客名</th>
          <th width="100">予約人数</th>
          <th width="120">電話番号</th>
          <th>来店種別</th>
          <th width="100">ステータス</th>
          <th width="100"></th>
        </tr>
      </thead>

      <tbody>
        <ng-container *ngFor="let key of reservationKey">
          <tr *ngFor="let item of reservations[key]; let idx = index">
            <td *ngIf="idx === 0" [rowSpan]="reservations[key].length" [ngClass]="{ 'align-text-top': reservations[key].length > 1 }">
              {{ key }}
            </td>
            <td>{{ item.start_end_time_string }}</td>
            <td>{{ item.tables_name_display }}</td>
            <td class="font-weight-bold cas-text--black">
              {{
                item.client_user_display ? item.client_user_display.toEllipsisWithCountLetters(45).string + ' 様' : ''
              }}
            </td>
            <td>{{ item.quantity }}人</td>
            <td>{{ item.client_user?.phone }}</td>
            <td>{{ item.resvTypeDisplay }}</td>
            <td>
              <span
                class="cas-badge text-center"
                [ngClass]="{
                  'cas-badge--primary': item.isInComing,
                  'cas-badge--info': item.isWorking,
                  'cas-badge--secondary': item.isFinished || item.isCanceled
                }"
              >
                {{ item.status_display }}
              </span>
            </td>
            <td class="text-center">
              <button class="btn cas-btn btn-warning px-3" (click)="navigate(item)">
                詳細
              </button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

  <div class="text-center" *ngIf="!reservationKey.length && !isLoading">
    データが見つかりません
  </div>

  <div class="loader--row" *ngIf="isLoading">
    <div class="lds-ripple">
      <div></div>
      <div></div>
    </div>
  </div>

  <div class="cas-pagination" [ngClass]="{ 'd-none': isLoading }">
    <app-pagination
      *ngIf="pagination.isPagination"
      class="d-flex justify-content-center"
      [boundaryLinks]="true"
      [totalItems]="pagination.total"
      [itemsPerPage]="pagination.per_page"
      [maxSize]="5"
      [(ngModel)]="pagination.current_page"
      (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
    ></app-pagination>
  </div>

  <ng-template #popTemplate>
    <div class="filter-form">
      <div class="cas-checkbox cas-checkbox-group">
        <label class="cas-checkbox-item font-weight-bold">
          <input
            class="checkbox-input"
            name="by_web"
            [(ngModel)]="typeArr.web"
            value="web"
            type="checkbox"
          />Web予約
          <span class="checkmark"></span>
        </label>

        <label class="cas-checkbox-item font-weight-bold">
          <input
            class="checkbox-input"
            name="by_phone"
            [(ngModel)]="typeArr.phone"
            value="phone"
            type="checkbox"
          />電話予約
          <span class="checkmark"></span>
        </label>

        <label class="cas-checkbox-item font-weight-bold">
          <input
            class="checkbox-input"
            name="by_walk_in"
            [(ngModel)]="typeArr['walk-in']"
            value="walk-in"
            type="checkbox"
          />ウォークイン
          <span class="checkmark"></span>
        </label>
      </div>

      <div class="text-right">
        <button
          type="button"
          class="btn btn-filter btn-mw cas-btn btn-border btn-secondary font-weight-normal"
          (click)="filterResv()"
        >
          この条件で絞込む
        </button>
      </div>
    </div>
  </ng-template>
</section>
