<app-cas-dialog title="テーブルタイプの削除" (close)="closeDialog()">
  <section class="text-center" dialogContent>
    <img class="mb-3" src="assets/icon/icon-delete-warning.svg" alt="icon delete warning" />
    <h5 class="font-weight-bold">削除してよろしいですか？</h5>
    <p class="mb-0 font-size-14">※この操作は取り消すことができません</p>
  </section>

  <section class="cas-dialog__btn-group justify-content-around" dialogAction>
    <button type="button"
      class="btn btn-md btn-secondary btn-border w-50 mr-3"
      aria-label="Close"
      (click)="closeDialog()"
      [disabled]="isLoading">
      キャンセル
    </button>

    <button
      type="button"
      class="btn btn-md btn-warning w-50"
      aria-label="Remove"
      (click)="destroyTableType()"
      [disabled]="isLoading">
      削除する
    </button>
  </section>
</app-cas-dialog>
