<app-cas-dialog title="メニュー削除" (close)="closeDialog()">
  <section class="text-center" dialogContent>
    <img class="mb-3" src="assets/icon/icon-delete-warning.svg" alt="icon delete warning" />
    <h5 class="font-weight-bold">選択したメニューを削除してもよろしいですか？</h5>
  </section>

  <section class="cas-dialog__btn-group justify-content-around" dialogAction>
    <button
      type="button"
      class="btn btn-md btn-secondary btn-border btn-mw--lg"
      aria-label="Close"
      (click)="closeDialog()"
      [disabled]="isLoading"
    >
      キャンセル
    </button>

    <button
      type="button"
      class="btn btn-md btn-warning btn-mw--lg"
      aria-label="Remove"
      [disabled]="isLoading"
      (click)="removeItem()"
    >
      削除する
    </button>
  </section>
</app-cas-dialog>
