<app-cas-dialog title="注意" dialogClass="cas-dialog__footer-no-border" (close)="closeModal()">
  <section dialogContent>
    <div class="text-center font-size-13">
      <img class="mb-3" src="assets/icon/icon-delete-warning.svg" alt="icon delete warning" />

      <h5>CTI電話番号発行には</h5>
      <h5>Twilioアカウント情報の入力が必要となります</h5>

      <p class="mb-0">Twilioアカウント情報をご確認の上、</p>
      <p>「次へ」を選択してください。</p>
    </div>
  </section>

  <section class="cas-dialog__btn-group justify-content-between" dialogAction>
    <button
      type="button"
      class="btn btn-md btn-secondary btn-border btn-mw--lg"
      aria-label="Close"
      (click)="closeModal()">
      キャンセル
    </button>

    <button
      type="button"
      class="btn btn-md btn-warning btn-mw--lg"
      aria-label="Confirm Change"
      (click)="confirmSettingTwilio()">
      次へ
    </button>
  </section>
</app-cas-dialog>
