.order-app {
  &__body {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 0 35px;
    text-align: center;
  }

  &__body-content {
    display: inline-block;
    padding: 25px 0 0;

    .btn-setting {
      right: -15px;
    }
  }

  &__image {
    -webkit-transform: translate(-50%, -50%);
    align-items: center;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 50%;
    min-height: auto;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 1;

    h2 {
      color: #c3c3c3;
      font-size: 35px;
      font-weight: 700;
      line-height: 69px;
      margin-bottom: 55px;
    }
  }

  &__slide-wrap {
    display: block;
    margin: 0 auto;
    width: 640px;
  }
}
