<div class="order-app">
  <div class="order-app__header">
    <h3 class="order-app__header-title">
      来店画面のリッチメニューを作成する <app-cas-popup-guide-drag></app-cas-popup-guide-drag>
    </h3>
    <div class="order-app__header-group-btn">
      <button type="button"
        class="btn btn-md btn-secondary btn-border btn-mw--md mr-2"
        aria-label="Close" (click)="closeModal()">
        キャンセル
      </button>

      <button type="submit"
        class="btn btn-md btn-warning btn-border btn-mw--md"
        aria-label="Save" [disabled]="isLoading" (click)="saveTopScreen()">
        編集する
      </button>
    </div>
  </div>

  <div class="order-app__body" appScroller>
    <div class="order-app__body-content">
      <button class="btn btn-md btn-setting d-flex justify-content-between align-items-center" (click)="settingDisplay()">
        <i class="fa fa-cog"></i>詳細設定
      </button>

      <div class="order-app__image">
        <h2 [ngClass]="{'invisible': topImage.image_url}">画像を登録してください</h2>
        <button type="button" class="btn btn-setting-order"
          [ngStyle]="{'color': styleOpts?.text_color, 'font-family': styleOpts?.font_family}">着席する</button>
      </div>

      <div class="order-app__review">
        <app-cas-order-top-image
          [topImage]="topImage"
          [styleOpts]="styleOpts"
          [screenSize]="screenSize"
          [onEventEmitter]="onEventEmitter"></app-cas-order-top-image>
      </div>
    </div>

    <div class="order-app__slide-wrap">
      <div class="order-app__slide-title">
        表示画面
      </div>

      <app-cas-carousel
        [items]="slideItems"
        [isDefaultSlide]="false"
        [onEventEmitter]="onEventEmitter"
        [maxItems]="2"
        [isTopScreen]="true"
        [isRemove]="false"
      ></app-cas-carousel>
    </div>
  </div>
</div>

