<section class="cas-preview">
  <div class="preview-item preview-item--main" [ngStyle]="renderStyles(fileMain)">
    <div class="preview-item--delete" *ngIf="!disabled && (fileMain || isLoadImage)">
      <img src="assets/icon/icon-trash.svg" (click)="deleteImage(0)" alt="icon-delete">
    </div>
  </div>

  <div class="preview-wrap">
    <div [ngClass]="{ 'preview-scroll cas-scroll': fileList && fileList.length > 2 }">
      <div [ngClass]="{ 'scroll-box': fileList && fileList.length > 1, 'scroll': fileList && fileList.length > 2 }">
        <div class="preview-item"
             *ngFor="let file of fileList; let idx = index" [ngStyle]="renderStyles(file)">
          <div class="preview-item--delete" *ngIf="!disabled && (!file.isUpload || isLoadImage)">
            <img src="assets/icon/icon-trash.svg" (click)="deleteImage(idx)" alt="icon-delete">
          </div>
          <div class="preview-loading" *ngIf="file.isUpload"></div>
        </div>
      </div>
    </div>

    <app-cas-dropzone class="mr-3"
      [multiple]="true"
      [disabled]="uploadDisabled || disabled"
      [maxFile]="5 - fileList.length"
      [eventDropzone]="eventDropzone"></app-cas-dropzone>
  </div>
</section>
