$preview-background: #e5e5e5;
$preview-image: 'assets/img/no-image--lg.png';
$icon-delete: 'assets/icon/icon-trash.svg';

.cas-preview {
  margin-bottom: 15px;

  .preview-scroll {
    margin-right: 15px;
    overflow-x: auto;
  }

  .scroll-box {
    display: flex;
    min-width: 190px;

    &.scroll {
      width: calc(190px * 5);
    }
  }

  .preview-item {
    background-color: $preview-background;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0.3125rem;
    height: 8.125rem;
    margin-right: 0.9375rem;
    position: relative;
    width: 11.875rem;

    &--delete {
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 0 0 0.3125rem 0.3125rem;
      bottom: 0;
      cursor: pointer;
      display: flex;
      height: 25%;
      justify-content: flex-end;
      position: absolute;
      width: 100%;

      img {
        margin-right: 15px;
      }
    }

    &--main {
      background-image: url($preview-image);
      border-radius: 0;
      height: 18.75rem;
      margin-bottom: 0.9375rem;
      margin-right: 0;
      width: 100%;

      .preview-item--delete {
        background-position: 98% center;
        background-size: auto;
        border-radius: 0;
        height: 15%;
      }
    }
  }

  .preview-loading {
    animation: spin 2s linear infinite;
    border: 5px solid #f3f3f3; /* Light grey */
    border-radius: 50%;
    border-top: 5px solid #3498db; /* Blue */
    height: 80px;
    left: calc(50% - 40px);
    position: absolute;
    top: calc(50% - 40px);
    width: 80px;
  }

  .preview-wrap {
    display: flex;
    padding-left: 0.9375rem;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
