<section class="card-type" [ngClass]="class">
  <div class="card-type__content" (click)="editEvent()">
    <p class="card-type__content-caption" *ngIf="caption" [attr.title]="caption">{{ caption }}</p>
    <p class="card-type__content-title" [ngClass]="{ 'no-caption': !caption }" [attr.title]="title">{{ title }}</p>
  </div>

  <div class="card-type__action" *ngIf="isAction" (click)="trashEvent()">
    <img src="assets/icon/icon-trash.svg" alt="trash" />
  </div>
</section>
