.card-type {
  align-items: center;
  background-color: var(--white);
  border: 0.0625rem solid var(--grey-lighten-0);
  border-radius: 0.5rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;

  &__content {
    flex: 1 1 auto;
    min-height: 5.625rem;
    padding: 0.9375rem;

    &-caption,
    &-title {
      margin-bottom: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 9.375rem;
    }

    &-caption {
      color: #818181;
      font-size: 0.75rem;
    }

    &-title {
      color: #222;
      font-size: 0.9375rem;
      font-weight: bold;

      &.no-caption {
        margin-bottom: 1.5625rem;
      }
    }
  }

  &__action {
    cursor: pointer;
    margin-right: 0.9375rem;
  }
}
