<app-cas-dialog title="通知設定" (close)="closeModal()">
  <section dialogContent>
    <form class="fr-setting-notify" novalidate #SettingNoityForm="ngForm">
      <div class="form-group d-flex justify-content-between align-items-center">
        <label class="col-form-label mi-form-label">着信</label>
        <app-ui-switch
          name="receive_call"
          [disabled]="isLoading"
          className="ui-switch--short"
          [(ngModel)]="notify_settings.receive_call.is_enable">
        </app-ui-switch>
      </div>

      <div class="form-group d-flex justify-content-between align-items-center">
        <label class="col-form-label mi-form-label">新規予約</label>
        <app-ui-switch
          name="resv_create"
          [disabled]="isLoading"
          className="ui-switch--short"
          [(ngModel)]="notify_settings.resv_create.is_enable"
        ></app-ui-switch>
      </div>

      <div class="form-group d-flex justify-content-between align-items-center">
        <label class="col-form-label mi-form-label">予約変更通知</label>
        <app-ui-switch
          name="resv_update"
          [disabled]="isLoading"
          className="ui-switch--short"
          [(ngModel)]="notify_settings.resv_update.is_enable"
        ></app-ui-switch>
      </div>

      <div class="row">
        <label class="col-12 col-form-label mi-form-label">予約</label>
        <div class="col-12 fr-setting-notify-duration">
          <!-- Before start resv -->
          <div class="form-group d-flex justify-content-between align-items-center">
            <div class="duration-item">
              <label class="mi-form-label">開始時間</label>
              <input
                type="text"
                class="form-control mi-form-control"
                [ngClass]="{
                  'is-invalid': ((BeforeStartResv.dirty || BeforeStartResv.touched) && BeforeStartResv.errors) || validation.before_resv_start
                }"
                name="duration_before_resv_start"
                placeholder="10"
                [(ngModel)]="notify_settings.before_resv_start.duration"
                #BeforeStartResv="ngModel"
                required
                OnlyNumeric
                min="1"
                max="999"
                maxlength="3"
                inputmode="numeric"
                [pattern]="rules.numericMode"
                (input)="resetValidation('before_resv_start')"
                [NumberPattern]="rules.number_max_three"
                [disabled]="!notify_settings.before_resv_start.is_enable"
              />
              <span class="input-after">分前</span>
              <div
                class="invalid-feedback w-100"
                *ngIf="((BeforeStartResv.dirty || BeforeStartResv.touched) && BeforeStartResv.errors?.required) || validation.before_resv_start"
              >
                開始時間の設定を終えていません
              </div>
            </div>
            <app-ui-switch
              name="before_resv_start"
              [disabled]="isLoading"
              className="ui-switch--short"
              [(ngModel)]="notify_settings.before_resv_start.is_enable"
              (change)="resetValidation('before_resv_start')"
            ></app-ui-switch>
          </div>

          <!-- Before end resv -->
          <div class="form-group d-flex justify-content-between align-items-center">
            <div class="duration-item">
              <label class="mi-form-label">終了時間</label>
              <input
                type="text"
                class="form-control mi-form-control"
                [ngClass]="{ 'is-invalid':
                ((BeforeEndResv.dirty || BeforeEndResv.touched) && BeforeEndResv.errors) || validation.before_resv_end }"
                name="duration_before_resv_end"
                placeholder="10"
                [(ngModel)]="notify_settings.before_resv_end.duration"
                #BeforeEndResv="ngModel"
                required
                OnlyNumeric
                min="1"
                max="999"
                maxlength="3"
                [NumberPattern]="rules.number_max_three"
                inputmode="numeric"
                [pattern]="rules.numericMode"
                (input)="resetValidation('before_resv_end')"
                [disabled]="!notify_settings.before_resv_end.is_enable"
              />
              <span class="input-after">分前</span>
              <div
                class="invalid-feedback"
                *ngIf="((BeforeEndResv.dirty || BeforeEndResv.touched) && BeforeEndResv.errors?.required) || validation.before_resv_end">
                終了時間の設定を終えていません
              </div>
            </div>
            <app-ui-switch
              name="before_resv_end"
              [disabled]="isLoading"
              className="ui-switch--short"
              [(ngModel)]="notify_settings.before_resv_end.is_enable"
              (change)="resetValidation('before_resv_end')"
            ></app-ui-switch>
          </div>
        </div>
      </div>
    </form>
  </section>

  <section class="cas-dialog__btn-group justify-content-around" dialogAction>
    <button
      class="btn btn-md btn-secondary btn-border btn-mw--lg mr-3"
      (click)="closeModal()" [disabled]="isLoading">
      キャンセル
    </button>

    <button
      type="button"
      class="btn btn-md btn-warning btn-mw--lg"
      [disabled]="isLoading || !SettingNoityForm.form.valid"
      (click)="settingNotify()">
      設定する
    </button>
  </section>
</app-cas-dialog>
