.fr-setting-notify {
  padding: 20px 20px 0;

  .form-group {
    margin-bottom: 10px;
  }

  .form-control {
    font-size: 18px;

    &.is-invalid {
      padding-right: 0.75rem;
    }

    &:disabled {
      background-color: var(--grey-lighten-2) !important;
      border-color: var(--grey-lighten-0) !important;
    }
  }

  &-duration {
    background-color: var(--grey-lighten-2);
    border: 1px solid var(--grey-lighten-0);
    border-radius: 3px;
    padding: 15px 10px;

    .mi-form-label {
      font-weight: normal;
      margin: 0 15px 0 0;
      min-width: 75px;
    }

    .mi-form-control {
      width: 70px;
    }

    .input-after {
      align-self: flex-end;
      font-size: 14px;
      margin-left: 5px;
      min-width: 30px;
    }

    .duration-item {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      width: calc(100% - 100px);
    }
  }
}
