@import 'src/stylesheets/mixins/index';

.cas-card {
  background-color: var(--white);
  border: pixel-to-rem(1) solid var(--grey-lighten-0);
  box-sizing: border-box;
  max-height: 100%;
  min-height: pixel-to-rem(211);
  padding: pixel-to-rem(10);
  width: 100%;

  &__image {
    background-color: var(--grey-lighten-3);
    background-position: center;
    background-repeat: no-repeat;
    height: pixel-to-rem(106);
    margin-bottom: pixel-to-rem(10);
  }

  &__caption {
    color: #818181;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__content {
    // @issues (https://github.com/ionic-team/ionic/issues/10723)
    /* autoprefixer: ignore next */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    font-size: pixel-to-rem(13);
    height: calc(13px * 1.5 * 2);
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__action {
    color: #707070;
    font-size: pixel-to-rem(13);
    overflow: hidden;

    &-status {
      background: #dada85;
      border-radius: 8px;
      color: #fff;
      font-size: 10px;
      padding: 0 pixel-to-rem(5);

      &.hide-status {
        background-color: #dedede;
        border-radius: 0;
        font-size: pixel-to-rem(12);
        font-weight: 700;
        text-align: center;
      }

      &.only-course-status {
        background-color: #dedede;
        border-radius: 0;
        color: #434343;
        font-size: pixel-to-rem(12);
        text-align: center;
      }
    }

    &-price {
      float: right;
      font-size: 12px;
    }
  }
}
