<section class="cas-card" [ngClass]="class" (click)="cardClick()">
  <div class="cas-card__image" [ngClass]="{ 'item-sold-out': isSoldOut }" [ngStyle]="style"></div>

  <div class="cas-card__caption" [attr.title]="caption" *ngIf="caption">
    {{ caption }}
  </div>

  <div class="cas-card__content">
    {{ content }}
  </div>

  <div class="cas-card__action">
    <span class="cas-card__action-status" *ngIf="recommend">
      <i class="fas fa-star" aria-hidden="true"></i>
      オススメ
    </span>
    <span class="cas-card__action-status hide-status ml-1" *ngIf="!isShow">
      非表示
    </span>
    <span class="cas-card__action-price" *ngIf="price">{{ displayPrice }}</span>
  </div>
</section>
