@import 'src/stylesheets/variable';

.ui-switch {
  margin-bottom: 0;
  position: relative;

  input[type='checkbox'] {
    height: 0;
    visibility: hidden;
    width: 0;

    &:disabled ~ span {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  span {
    background-color: #e5e5e5;
    border-radius: 30px;
    color: $white;
    cursor: pointer;
    display: inherit;
    font-weight: bold;
    height: 40px;
    line-height: 28px;
    min-width: 100px;
    padding: 5px;
    position: relative;

    &::after,
    &::before {
      background: $white;
      border-radius: 50%;
      box-shadow: -2px 1px 0 rgba(0, 0, 0, 0.16);
      content: '';
      height: 34px;
      position: absolute;
      top: 3px;
      transition: 2s;
      width: 34px;
    }

    &::before {
      display: block;
      left: 4px;
    }

    &::after {
      display: none;
      right: 4px;
    }
  }

  input:checked ~ span {
    background-color: #c3ed12;

    &::before {
      display: none;
    }

    &::after {
      display: block;
    }
  }

  &_label--on {
    margin-left: 10px;
  }

  &_label--off {
    margin-left: 35px;
  }

  &--short {
    span {
      min-width: 82px;
    }
  }

  &--sm {
    span {
      height: 30px;
      min-width: 60px;

      &::before,
      &::after {
        height: 26px;
        top: 2px;
        width: 26px;
      }
    }
  }
}
