<label class="ui-switch" [ngClass]="className">
  <input type="checkbox"
    class="ui-switch_input"
    [name]="name"
    [(ngModel)]="switchValue"
    [disabled]="disabled">
  <span class="ui-switch--circle">
    <strong [hidden]="!switchValue" class="ui-switch_label--on">{{ labelOn }}</strong>
    <strong [hidden]="switchValue" class="ui-switch_label--off">{{ labelOff }}</strong>
  </span>
</label>
