<section class="content-page">
  <div class="page-head page-head--space-between">
    <h2 class="head-title">クーポン一覧 <span class="sub-title">( 合計{{ pagination.total }}件 )</span></h2>
    <div class="head-action">
      <button type="button" class="btn page-head-btn btn-warning" (click)="createCoupon()">新規追加</button>
    </div>
  </div>

  <app-cas-filter [sortItems]="sortItems" (eventSort)="updateSortTerm($event)">
    <section filterForm>
      <app-coupon-filter (changeFilter)="changeFilter($event)" [disabled]="isLoading"></app-coupon-filter>
    </section>
  </app-cas-filter>

  <div class="filter-status">
    <ul class="nav coupon-filter" *ngIf="!isLoadingStatistics">
      <li class="nav-item"><a class="nav-link" [ngClass]="{'active': is_active_filter(COUPON_STATUS.TOTAL)}"
        (click)="filterCoupons(COUPON_STATUS.TOTAL)" href="javascript:void(0)">全て({{ couponStatistics.total }})</a></li>
      <li class="nav-item"><a class="nav-link" [ngClass]="{'active': is_active_filter(COUPON_STATUS.PUBLISH)}"
        (click)="filterCoupons(COUPON_STATUS.PUBLISH)"
        href="javascript:void(0)">公開中({{ couponStatistics.total_publishes }})</a></li>
      <li class="nav-item"><a class="nav-link" [ngClass]="{'active': is_active_filter(COUPON_STATUS.UNPUBLISH)}"
        (click)="filterCoupons(COUPON_STATUS.UNPUBLISH)"
        href="javascript:void(0)">非公開({{ couponStatistics.total_unpublishes }})</a></li>
      <li class="nav-item"><a class="nav-link" [ngClass]="{'active': is_active_filter(COUPON_STATUS.DRAFT)}"
        (click)="filterCoupons(COUPON_STATUS.DRAFT)"
        href="javascript:void(0)">下書き({{ couponStatistics.total_drafts }})</a></li>
      <li class="nav-item"><a class="nav-link" [ngClass]="{'active': is_active_filter(COUPON_STATUS.EXPIRED)}"
        (click)="filterCoupons(COUPON_STATUS.EXPIRED)"
        href="javascript:void(0)">期限切れ({{ couponStatistics.total_expiries }})</a></li>
    </ul>
  </div>

  <div class="page-content container-fluid">

    <div class="row">
      <div class="col-12 col-sm-6 col-md-6" *ngFor="let coupon of coupons">
        <app-coupon-item [coupon]="coupon" (changeCoupon)="editCoupon($event)"></app-coupon-item>
      </div>
    </div>

    <div class="text-center" *ngIf="!coupons.length && !isLoading">
      データが見つかりません
    </div>

    <div class="loader--row" *ngIf="isLoading">
      <div class="lds-ripple">
        <div></div><div></div>
      </div>
    </div>

    <div class="cas-pagination" [ngClass]="{ 'd-none': isLoading }">
      <app-pagination
        *ngIf="pagination.isPagination"
        class="d-flex justify-content-center"
        [boundaryLinks]="true"
        [totalItems]="pagination.total"
        [itemsPerPage]="pagination.per_page"
        [maxSize]="5"
        [(ngModel)]="pagination.current_page"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;">
      </app-pagination>
    </div>
  </div>
</section>
