@import 'src/stylesheets/variable';

.coupon-filter {
  .nav-item .nav-link {
    color: $grey-darken-0;
    font-size: 14px;
    text-decoration: underline;

    &.active {
      color: $blue-accent;
    }
  }
}
