<section appClickOutside (clickOutside)="clickOutside($event)">
  <div class="btn notification" class="btn notification" [ngClass]="{ 'show': totalUnseen > 0 }" #NotifyRef (click)="clearUnseen()">
    <img src="assets/icon/notify_link.svg" alt="notify">
    <span class="notification__count">{{ totalUnseen }}</span>
    <span class="notification__title">連携通知</span>
  </div>

  <div class="notification-list" *ngIf="isShowNotiList">
    <app-notify-list-csv (closeEvent)="isShowNotiList = false"></app-notify-list-csv>
  </div>
</section>