<app-cas-dialog title="詳細設定" (close)="closeModal()" headerClass="cas-dialog__header--setting" [isCloseBtn]="false">
  <section dialogContent>
    <div class="row form-group mi-form-group">
      <label class="col-form-label mi-form-label col-3">文字色</label>
      <div class="col-9 align-self-center">
        <div *ngFor="let item of settingDisplay.text"
          class="set-item"
          [ngClass]="{'active': settingOpts.text_color === item.color}"
          [ngStyle]="{'background-color': item.color, 'color': item.textColor, 'border-color': item.borderColor}"
          (click)="onChangeTextColor(item.color)">
          {{ item.content }}
        </div>
      </div>
    </div>

    <div class="row form-group mi-form-group">
      <label class="col-form-label mi-form-label col-3">背景色</label>
      <div class="col-9 align-self-center set-item__background">
        <div *ngFor="let item of settingDisplay.background"
          class="set-item"
          [ngClass]="{'active': settingOpts.bg_color === item.color}"
          [ngStyle]="{'background-color': item.color, 'border-color': item.borderColor}"
          (click)="onChangeBackground(item.color)">
        </div>
      </div>
    </div>

    <div class="row form-group mi-form-group">
      <label class="col-form-label mi-form-label col-3">フォント</label>
      <div class="col-9 align-self-center">
        <div *ngFor="let item of settingDisplay.font"
          class="set-item__font"
          [ngClass]="{'active': settingOpts.font_family === item.font}"
          [ngStyle]="{'font-family': item.font}"
          (click)="onChangeFont(item.font)">
          {{ item.content }}
        </div>
      </div>
    </div>
  </section>

  <section class="cas-dialog__btn-group justify-content-between" dialogAction>
    <button type="button"
      class="btn btn-md btn-secondary btn-border btn-mw--lg"
      (click)="closeModal()">
      キャンセル
    </button>

    <button
      type="button"
      class="btn btn-md btn-warning btn-border btn-mw--lg"
      [disabled]="isLoading"
      (click)="submitSetting()"
      >
      適用する
    </button>
  </section>
</app-cas-dialog>
