.set-item {
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  height: 30px;
  line-height: 30px;
  margin-right: 25px;
  position: relative;
  text-align: center;
  width: 50px;

  &.active::before {
    background-color: transparent;
    border: 1px solid #f59716;
    content: '';
    display: inline-block;
    height: 34px;
    left: -3px;
    position: absolute;
    top: -3px;
    width: 54px;
  }

  &__font {
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-right: 35px;

    &.active {
      color: #f59716;
    }
  }
}

.set-item__background {
  .set-item {
    margin-right: 15px;
  }
}
