.calendar-wrap {
  background-color: var(--white);
  height: 100%;
  padding-bottom: 20px;
  position: relative;
  transition: width 0.3s ease-in-out;
  width: 100%;

  .fc-resv--btn-create {
    align-items: center;
    background-color: #eaed12;
    border-radius: 50%;
    bottom: 30px;
    cursor: pointer;
    display: flex;
    font-size: 22px;
    height: 60px;
    justify-content: center;
    position: fixed;
    right: 30px;
    width: 60px;
    z-index: 1000;

    &:hover {
      background-color: #d7da35;
    }
  }

  .day-off {
    font-size: 2rem;
  }

  .dimmer-bg {
    .fc-time-area .fc-bg .fc-slats {
      background-color: #707070;
      opacity: 0.3;

      td {
        border-color: rgba(221, 221, 221, 0.26);
      }
    }

    .fc-event {
      opacity: 0.9;

      &.fc-event__resv--draft {
        background: #fffbf6;
        border-style: dotted;
        border-width: 2px;
        font-size: 0.8rem;
        margin-top: 10.5px;
        opacity: 1;
        padding: 10px;

        .fc-content {
          text-align: center;
        }

        &.resv {
          border-color: #f59716;
          color: #f59716;

          &.active {
            background-color: #f59716;
            border-width: 0;
            color: #fffbf6;
            padding: 12px 10px;
          }
        }

        &.walkin {
          border-color: #4abac4;
          color: #4abac4;

          &.active {
            background: #4abac4;
            border-width: 0;
            color: #fffbf6;
            padding: 11.5px 10px;
          }
        }
      }
    }
  }

  &.calendar-reservation {
    transition: width 0s ease-in-out 0.7s;
    width: calc(100% - 420px);
  }
}

.resv-datepicker {
  display: block;
  position: relative;
  width: 100%;

  .form-control {
    border: 0;
    height: 0;
    left: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 40px;
  }
}

// Calendar Instruction
.cal-ins {
  background-color: #707070;
  bottom: 0;
  color: #fff;
  font-size: 0.625rem;
  height: 1.5rem;
  line-height: 1.5rem;
  position: fixed;
  width: 100%;
  z-index: 1;

  &_item {
    margin-left: 0.875rem;
  }

  &_item--badge {
    background-color: #54c2cb;
    border-radius: 50%;
    display: inline-block;
    height: 1rem;
    line-height: 1rem;
    margin-right: 0.1875rem;
    width: 1rem;
  }

  &_item--phone .cal-ins_item--badge {
    background-color: #f59716;
  }

  &_item--web .cal-ins_item--badge {
    background-color: #8bc34a;
  }

  &_item--preorder .cal-ins_item--badge {
    background-color: #fff;
    border-radius: 5px;
    color: #f59716;
    padding: 0 0.35rem;
    width: auto;
  }

  &_calendar {
    position: absolute;
  }
}

.btn-setting {
  background-color: #f4f4f4;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
  color: #6f6f6f;
  font-family: 'Noto Sans CJK JP';
  font-size: 0.625rem;
  font-weight: 500;
  height: 1rem;
  line-height: 1rem;
  padding: 0 3px;
  width: 60px;
}
