<section class="calendar-wrap">
  <div id="Calendar" class="fc-calendar" [ngClass]="{ 'dimmer-bg': mode_select }">
    <div class="dimmer">
      <p class="day-off">休業日</p>
    </div>
  </div>

  <div class="cal-ins d-flex align-items-center" [ngClass]="insClass">
    <div class="cal-ins_item cal-ins_item--web" appClickOutside (clickOutside)="clickOutside($event)">
      <button type="button" class="btn btn-setting btn-light d-flex align-items-center justify-content-between" [disabled]="isDisabledBtnSwitchTimebar"
        (click)="showSwitchTimebar()">
        <img src="assets/icon/setting.svg" alt="setting" />
        <span>台帳設定</span>
      </button>

      <app-cas-switch-timebar *ngIf="isShowSwitchTimebar"
        (eventClose)="closeSwitchTimebar()"
        (eventChange)="changeSwitchTimebar($event)">
      </app-cas-switch-timebar>
    </div>

    <div class="cal-ins_item cal-ins_item--web">
      <span class="cal-ins_item--badge">&nbsp;</span>
      <span>Web予約</span>
    </div>
    <div class="cal-ins_item cal-ins_item--walkin">
      <span class="cal-ins_item--badge">&nbsp;</span>
      <span>ウォークイン</span>
    </div>
    <div class="cal-ins_item cal-ins_item--phone">
      <span class="cal-ins_item--badge">&nbsp;</span>
      <span>電話予約</span>
    </div>
    <div class="cal-ins_item cal-ins_item--preorder">
      <span class="cal-ins_item--badge">注文済</span>
      <span>事前に注文済み</span>
    </div>
  </div>


</section>
