<app-cas-dialog title="カテゴリー削除" (close)="closeModal()">
  <section class="text-center" dialogContent>
    <img class="mb-3" src="assets/icon/icon-delete-warning.svg" alt="icon delete warning" />
    <h5 class="font-weight-bold">削除してよろしいですか？</h5>
    <p class="mb-0 font-size-14">この操作は取り消すことができません</p>
  </section>

  <section class="cas-dialog__btn-group justify-content-around" dialogAction>
    <button type="button" class="btn btn-md btn-secondary btn-border btn-mw--lg" aria-label="Close" (click)="closeModal()" [disabled]="isSubmiting">
      キャンセル
    </button>

    <button
      type="button"
      class="btn btn-md btn-warning btn-mw--lg"
      aria-label="Remove"
      (click)="removeCategory()"
      [disabled]="isSubmiting">
      削除
    </button>
  </section>
</app-cas-dialog>
