<app-cas-dialog [title]="title_modal" (close)="closeModal()">
  <section dialogContent>
    <form #categoryFrom="ngForm">
      <div class="form-group mi-form-group">
        <label class="col-form-label mi-form-label required">カテゴリーID / カテゴリー名</label>

        <app-input-name-with-id
          name="ordinal_input"
          [(ngModel)]="ordinalInput"
          (ngModelChange)="onChangeOrdinal()"
          #OrdinalInputRef="ngModel"
          namePlaceholder="カテゴリー名を入力してください"
          nameRequiredErrorMsg="カテゴリー名を入力してください"
          nameMaxlength="100"
          [validatorError]="validator.name"
          [numberUniqueErrorMsg]="validator.ordinal_number"
          required>
        </app-input-name-with-id>
      </div>

      <!-- Menu Types -->
      <div class="form-group mi-form-group">
        <label class="col-form-label mi-form-label required">種別</label>
        <app-cas-ng-select
          [items]="menuTypes"
          [loading]="isLoadMenuType"
          [clearable]="false"
          [disabled]="isLoadMenuType"
          [ngClass]="{ 'is-invalid': MenuTypeRef.dirty && MenuTypeRef.errors }"
          [(ngModel)]="category.item_type"
          sliceMax="1"
          bindLabel="name"
          className="mi-form-ng-select"
          name="MenuType"
          #MenuTypeRef="ngModel"
          dropdownPosition="bottom"
          placeholder="種別を選択してください"
          notFoundText="利用できるクーポンがありません"
          required
        ></app-cas-ng-select>
        <div
          class="invalid-feedback"
          *ngIf="(MenuTypeRef.dirty || MenuTypeRef.touched) && MenuTypeRef.errors?.required"
        >
          種別は必須です
        </div>

        <div class="invalid-feedback" *ngIf="validator.type_id">{{ validator.type_id }}</div>
      </div>
    </form>
  </section>

  <section class="cas-dialog__btn-group justify-content-around" dialogAction>
    <button type="button" class="btn btn-md btn-secondary btn-border btn-mw--lg" aria-label="Close" (click)="closeModal()" [disabled]="isSubmiting">
      キャンセル
    </button>

    <button
      type="button"
      class="btn btn-md btn-warning btn-mw--lg"
      aria-label="Create"
      *ngIf="mode.isNew"
      (click)="createCategory()"
      [disabled]="!categoryFrom.form.valid || isSubmiting">
      追加する
    </button>

    <button
      type="button"
      class="btn btn-md btn-warning btn-mw--lg"
      aria-label="Edit"
      *ngIf="mode.isEdit"
      (click)="editCategory()"
      [disabled]="!categoryFrom.form.valid || isSubmiting">
      編集
    </button>
  </section>
</app-cas-dialog>
