<ng-template #popTemplate>
  <div class="box-input d-flex align-items-center justify-content-between">
    <button class="btn btn-link cas-link cas-btn__icon-color-lighter-gray"
      (click)="minusQuantity()">
      <img src="assets/icon/minus-circle.svg"/>
    </button>
    <h4 class="item-value"> {{ quantity_input }}</h4>
    <button class="btn btn-link cas-link cas-btn__icon-color-lighter-gray"
      (click)="plusQuantity()">
      <img src="assets/icon/plus-circle.svg"/>
    </button>
  </div>
  <div class="d-flex input-action border-top">
    <button type="button"
      (click)="removeQuantity(); inputPop.hide()"
      class="btn cas-btn btn-secondary">
      削除
    </button>
    <button
      type="button"
      (click)="addQuantity(); inputPop.hide()"
      class="btn cas-btn btn-primary">
      設定
    </button>
  </div>
</ng-template>
<div class="info-number">
  <input
    [disabled]="disabled"
    [attr.name]="name"
    type="number"
    [ngModel]="quantity"
    [popover]="popTemplate"
    [containerClass]="containerClass"
    placement="left"
    container="body"
    #inputPop="bs-popover"
    [outsideClick]="true"
    readonly/>
</div>
