<div class="cas-modal text-center">
  <div class="modal-body">
    <img src="assets/icon/exclamation-mark.svg" alt="exclamation marks" class="my-4">

    <h4 class="mb-4">予約内容を編集しますか？</h4>

    <p class="cas-modal__text">こちらの予約を更新します。<br>本当によろしいですか？</p>
  </div>

  <div class="modal-footer cas-modal__footer">
    <button type="button"
      class="btn cas-btn"
      aria-label="Close" (click)="closeModal()"
      [disabled]="isLoading">
      戻る
    </button>

    <button type="button"
      class="btn cas-btn btn-primary"
      aria-label="Confirm Edit Reservation"
      (click)="onConfirmEdit()"
      [disabled]="isLoading">
      はい
    </button>
  </div>
</div>
