<app-cas-dialog  bodyClass="background-dark" [isHiddenHeader]="true" [isHiddenFooter]="true">
  <section class="text-center" dialogContent>
   <div class="loader text-center">loading</div>
    <div class="loading-text">
      <p class="loading-text--title mb-1">会計実行中です</p>
      <p class="loading-text--content">Square POSレジを操作してください </p>
      <p class="loading-text--note mb-5">※自動でSquare POSに切り替わります</p>
    </div>
  </section>
</app-cas-dialog>
