.loading-text {
  color: #fff;

  &--title {
    font-size: 29px;
  }

  &--content {
    font-size: 16px;
  }

  &--content {
    font-size: 15px;
  }
}

.loader {
  -ms-transform: translateZ(0);
  -webkit-animation: loading 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  animation: loading 1.1s infinite ease;
  border-radius: 50%;
  font-size: 16px;
  height: 1em;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);

  width: 1em;
}
@keyframes loading {
  0%,
  100% {
    box-shadow: 0 -2.6em 0 0 #ff0, 1.5em -2em 0 0 rgba(255, 255, 0, 0.2), 2.5em -0.75em 0 0 rgba(255, 255, 0, 0.2),
      2.5em 0.75em 0 0 rgba(255, 255, 0, 0.2), 1.5em 2em 0 0 rgba(255, 255, 0, 0.2), 0 2.5em 0 0 rgba(255, 255, 0, 0.2),
      -1.5em 2em 0 0 rgba(255, 255, 0, 0.2), -2.5em -0.75em 0 0 rgba(255, 255, 0, 0.5),
      -2.5em 0.75em 0 0 rgba(255, 255, 0, 0.5), -1.5em -2em 0 0 rgba(255, 255, 0, 0.7);
  }

  12.5% {
    box-shadow: 0 -2.6em 0 0 rgba(255, 255, 0, 0.7), 1.5em -2em 0 0 #ff0, 2.5em -0.75em 0 0 rgba(255, 255, 0, 0.2),
      2.5em 0.75em 0 0 rgba(255, 255, 0, 0.2), 1.5em 2em 0 0 rgba(255, 255, 0, 0.2), 0 2.5em 0 0 rgba(255, 255, 0, 0.2),
      -1.5em 2em 0 0 rgba(255, 255, 0, 0.2), -2.5em -0.75em 0 0 rgba(255, 255, 0, 0.2),
      -2.5em 0.75em 0 0 rgba(255, 255, 0, 0.2), -1.5em -2em 0 0 rgba(255, 255, 0, 0.5);
  }

  25% {
    box-shadow: 0 -2.6em 0 0 rgba(255, 255, 0, 0.5), 1.5em -2em 0 0 rgba(255, 255, 0, 0.7), 2.5em -0.75em 0 0 #ff0,
      2.5em 0.75em 0 0 #ff0, 1.5em 2em 0 0 rgba(255, 255, 0, 0.2), 0 2.5em 0 0 rgba(255, 255, 0, 0.2),
      -1.5em 2em 0 0 rgba(255, 255, 0, 0.2), -2.5em -0.75em 0 0 rgba(255, 255, 0, 0.2),
      -2.5em 0.75em 0 0 rgba(255, 255, 0, 0.2), -1.5em -2em 0 0 rgba(255, 255, 0, 0.2);
  }

  37.5% {
    box-shadow: 0 -2.6em 0 0 rgba(255, 255, 0, 0.2), 1.5em -2em 0 0 rgba(255, 255, 0, 0.5),
      2.5em -0.75em 0 0 rgba(255, 255, 0, 0.7), 2.5em 0.75em 0 0 rgba(255, 255, 0, 0.7), 1.5em 2em 0 0 #ff0,
      0 2.5em 0 0 rgba(255, 255, 0, 0.2), -1.5em 2em 0 0 rgba(255, 255, 0, 0.2),
      -2.5em -0.75em 0 0 rgba(255, 255, 0, 0.2), -2.5em 0.75em 0 0 rgba(255, 255, 0, 0.2),
      -1.5em -2em 0 0 rgba(255, 255, 0, 0.2);
  }

  50% {
    box-shadow: 0 -2.6em 0 0 rgba(255, 255, 0, 0.2), 1.5em -2em 0 0 rgba(255, 255, 0, 0.2),
      2.5em -0.75em 0 0 rgba(255, 255, 0, 0.5), 2.5em 0.75em 0 0 rgba(255, 255, 0, 0.5),
      1.5em 2em 0 0 rgba(255, 255, 0, 0.7), 0 2.5em 0 0 #ff0, -1.5em 2em 0 0 rgba(255, 255, 0, 0.2),
      -2.5em -0.75em 0 0 rgba(255, 255, 0, 0.2), -2.5em 0.75em 0 0 rgba(255, 255, 0, 0.2),
      -1.5em -2em 0 0 rgba(255, 255, 0, 0.2);
  }

  62.5% {
    box-shadow: 0 -2.6em 0 0 rgba(255, 255, 0, 0.2), 1.5em -2em 0 0 rgba(255, 255, 0, 0.2),
      2.5em -0.75em 0 0 rgba(255, 255, 0, 0.2), 2.5em 0.75em 0 0 rgba(255, 255, 0, 0.2),
      1.5em 2em 0 0 rgba(255, 255, 0, 0.5), 0 2.5em 0 0 rgba(255, 255, 0, 0.7), -1.5em 2em 0 0 #ff0,
      -2.5em -0.75em 0 0 rgba(255, 255, 0, 0.2), -2.5em 0.75em 0 0 rgba(255, 255, 0, 0.2),
      -1.5em -2em 0 0 rgba(255, 255, 0, 0.2);
  }

  75% {
    box-shadow: 0 -2.6em 0 0 rgba(255, 255, 0, 0.2), 1.5em -2em 0 0 rgba(255, 255, 0, 0.2),
      2.5em -0.75em 0 0 rgba(255, 255, 0, 0.2), 2.5em 0.75em 0 0 rgba(255, 255, 0, 0.2),
      1.5em 2em 0 0 rgba(255, 255, 0, 0.2), 0 2.5em 0 0 rgba(255, 255, 0, 0.5), -1.5em 2em 0 0 rgba(255, 255, 0, 0.7),
      -2.5em -0.75em 0 0 #ff0, -2.5em 0.75em 0 0 #ff0, -1.5em -2em 0 0 rgba(255, 255, 0, 0.2);
  }

  87.5% {
    box-shadow: 0 -2.6em 0 0 rgba(255, 255, 0, 0.2), 1.5em -2em 0 0 rgba(255, 255, 0, 0.2),
      2.5em -0.75em 0 0 rgba(255, 255, 0, 0.2), 2.5em 0.75em 0 0 rgba(255, 255, 0, 0.2),
      1.5em 2em 0 0 rgba(255, 255, 0, 0.2), 0 2.5em 0 0 rgba(255, 255, 0, 0.2), -1.5em 2em 0 0 rgba(255, 255, 0, 0.5),
      -2.5em -0.75em 0 0 rgba(255, 255, 0, 0.7), -2.5em 0.75em 0 0 rgba(255, 255, 0, 0.7), -1.5em -2em 0 0 #ff0;
  }
}
@-webkit-keyframes loading {
  0%,
  100% {
    box-shadow: 0 -2.6em 0 0 #ff0, 1.5em -2em 0 0 rgba(255, 255, 0, 0.2), 2.5em -0.75em 0 0 rgba(255, 255, 0, 0.2),
      2.5em 0.75em 0 0 rgba(255, 255, 0, 0.2), 1.5em 2em 0 0 rgba(255, 255, 0, 0.2), 0 2.5em 0 0 rgba(255, 255, 0, 0.2),
      -1.5em 2em 0 0 rgba(255, 255, 0, 0.2), -2.5em -0.75em 0 0 rgba(255, 255, 0, 0.5),
      -2.5em 0.75em 0 0 rgba(255, 255, 0, 0.5), -1.5em -2em 0 0 rgba(255, 255, 0, 0.7);
  }

  12.5% {
    box-shadow: 0 -2.6em 0 0 rgba(255, 255, 0, 0.7), 1.5em -2em 0 0 #ff0, 2.5em -0.75em 0 0 rgba(255, 255, 0, 0.2),
      2.5em 0.75em 0 0 rgba(255, 255, 0, 0.2), 1.5em 2em 0 0 rgba(255, 255, 0, 0.2), 0 2.5em 0 0 rgba(255, 255, 0, 0.2),
      -1.5em 2em 0 0 rgba(255, 255, 0, 0.2), -2.5em -0.75em 0 0 rgba(255, 255, 0, 0.2),
      -2.5em 0.75em 0 0 rgba(255, 255, 0, 0.2), -1.5em -2em 0 0 rgba(255, 255, 0, 0.5);
  }

  25% {
    box-shadow: 0 -2.6em 0 0 rgba(255, 255, 0, 0.5), 1.5em -2em 0 0 rgba(255, 255, 0, 0.7), 2.5em -0.75em 0 0 #ff0,
      2.5em 0.75em 0 0 #ff0, 1.5em 2em 0 0 rgba(255, 255, 0, 0.2), 0 2.5em 0 0 rgba(255, 255, 0, 0.2),
      -1.5em 2em 0 0 rgba(255, 255, 0, 0.2), -2.5em -0.75em 0 0 rgba(255, 255, 0, 0.2),
      -2.5em 0.75em 0 0 rgba(255, 255, 0, 0.2), -1.5em -2em 0 0 rgba(255, 255, 0, 0.2);
  }

  37.5% {
    box-shadow: 0 -2.6em 0 0 rgba(255, 255, 0, 0.2), 1.5em -2em 0 0 rgba(255, 255, 0, 0.5),
      2.5em -0.75em 0 0 rgba(255, 255, 0, 0.7), 2.5em 0.75em 0 0 rgba(255, 255, 0, 0.7), 1.5em 2em 0 0 #ff0,
      0 2.5em 0 0 rgba(255, 255, 0, 0.2), -1.5em 2em 0 0 rgba(255, 255, 0, 0.2),
      -2.5em -0.75em 0 0 rgba(255, 255, 0, 0.2), -2.5em 0.75em 0 0 rgba(255, 255, 0, 0.2),
      -1.5em -2em 0 0 rgba(255, 255, 0, 0.2);
  }

  50% {
    box-shadow: 0 -2.6em 0 0 rgba(255, 255, 0, 0.2), 1.5em -2em 0 0 rgba(255, 255, 0, 0.2),
      2.5em -0.75em 0 0 rgba(255, 255, 0, 0.5), 2.5em 0.75em 0 0 rgba(255, 255, 0, 0.5),
      1.5em 2em 0 0 rgba(255, 255, 0, 0.7), 0 2.5em 0 0 #ff0, -1.5em 2em 0 0 rgba(255, 255, 0, 0.2),
      -2.5em -0.75em 0 0 rgba(255, 255, 0, 0.2), -2.5em 0.75em 0 0 rgba(255, 255, 0, 0.2),
      -1.5em -2em 0 0 rgba(255, 255, 0, 0.2);
  }

  62.5% {
    box-shadow: 0 -2.6em 0 0 rgba(255, 255, 0, 0.2), 1.5em -2em 0 0 rgba(255, 255, 0, 0.2),
      2.5em -0.75em 0 0 rgba(255, 255, 0, 0.2), 2.5em 0.75em 0 0 rgba(255, 255, 0, 0.2),
      1.5em 2em 0 0 rgba(255, 255, 0, 0.5), 0 2.5em 0 0 rgba(255, 255, 0, 0.7), -1.5em 2em 0 0 #ff0,
      -2.5em -0.75em 0 0 rgba(255, 255, 0, 0.2), -2.5em 0.75em 0 0 rgba(255, 255, 0, 0.2),
      -1.5em -2em 0 0 rgba(255, 255, 0, 0.2);
  }

  75% {
    box-shadow: 0 -2.6em 0 0 rgba(255, 255, 0, 0.2), 1.5em -2em 0 0 rgba(255, 255, 0, 0.2),
      2.5em -0.75em 0 0 rgba(255, 255, 0, 0.2), 2.5em 0.75em 0 0 rgba(255, 255, 0, 0.2),
      1.5em 2em 0 0 rgba(255, 255, 0, 0.2), 0 2.5em 0 0 rgba(255, 255, 0, 0.5), -1.5em 2em 0 0 rgba(255, 255, 0, 0.7),
      -2.5em -0.75em 0 0 #ff0, -2.5em 0.75em 0 0 #ff0, -1.5em -2em 0 0 rgba(255, 255, 0, 0.2);
  }

  87.5% {
    box-shadow: 0 -2.6em 0 0 rgba(255, 255, 0, 0.2), 1.5em -2em 0 0 rgba(255, 255, 0, 0.2),
      2.5em -0.75em 0 0 rgba(255, 255, 0, 0.2), 2.5em 0.75em 0 0 rgba(255, 255, 0, 0.2),
      1.5em 2em 0 0 rgba(255, 255, 0, 0.2), 0 2.5em 0 0 rgba(255, 255, 0, 0.2), -1.5em 2em 0 0 rgba(255, 255, 0, 0.5),
      -2.5em -0.75em 0 0 rgba(255, 255, 0, 0.7), -2.5em 0.75em 0 0 rgba(255, 255, 0, 0.7), -1.5em -2em 0 0 #ff0;
  }
}
