<section class="content-page">
  <div class="page-content page-content--padding">
    <app-konva-canvas
      [tables]="tables"
      [canvasHandleEvent]="canvasHandleEvent$"
      [isLoading]="isLoading" (saveEventHandler)="saveEventHandler($event)"
      [mode]="MODES.EDIT"></app-konva-canvas>
  </div>
</section>
