<app-cas-dialog [title]="title_modal" (close)="closeDialog()">
  <section dialogContent>
    <form name="settingFr" #SettingFr="ngForm" novalidate>
      <!-- Input password user -->
      <div *ngIf="!isSetting">
        <div class="form-group mi-form-group ">
          <div class="col-form-label mi-form-label text-center">{{ currentUser.email }}</div>
          <div class="col-form-label mi-form-label text-center required">のパスワードを入力してください</div>
          <input
            type="password"
            name="passwordUser"
            class="form-control cas-fr-control"
            [ngClass]="{ 'is-invalid': ((PassRef.dirty || PassRef.touched) && PassRef.errors) || validation.password }"
            placeholder="パスワードを入力してください"
            [(ngModel)]="password_user"
            #PassRef="ngModel"
            appSpaceValidation
            required
            minlength="8"
            maxlength="100"
          />
          <div class="invalid-feedback" *ngIf="(PassRef.dirty || PassRef.touched) && PassRef.errors?.required">
            パスワードを入力してください
          </div>
          <div class="invalid-feedback" *ngIf="(PassRef.dirty || PassRef.touched) && PassRef.errors?.maxlength">
            最大100文字以内で入力してください
          </div>
          <div class="invalid-feedback" [hidden]="!PassRef.errors?.minlength">
            パスワードは8文字以上で入力してください
          </div>
          <div
            class="invalid-feedback"
            *ngIf="
              (PassRef.dirty || PassRef.touched) && PassRef.errors?.appSpaceValidation && !PassRef.errors?.required
            "
          >
            空白のみを入力することはできません
          </div>
          <div class="invalid-feedback" *ngIf="validation.password">
            {{ validation.password }}
          </div>
        </div>
      </div>

      <!-- Input ID gourmet site -->
      <div *ngIf="isSetting">
        <div class="text-center col-form-label mi-form-label">
          {{ gourmet.service_name }} のログイン情報を <br />
          入力してください
        </div>
        <p class="font-size-14 sub-title text-center">※初回の情報反映には、時間がかかる場合があります。(最大1時間)</p>
        <hr class="mb-0" />
        <div class="form-group mi-form-group">
          <label class="col-form-label mi-form-label required">ID *</label>
          <input
            type="text"
            name="idGourmet"
            class="form-control cas-fr-control"
            placeholder="IDを入力してください"
            [ngClass]="{
              'is-invalid': ((idGourmetRef.dirty || idGourmetRef.touched) && idGourmetRef.errors) || validation.username
            }"
            [(ngModel)]="gourmet.username"
            #idGourmetRef="ngModel"
            appSpaceValidation
            required
            maxlength="100"
          />
          <div
            class="invalid-feedback"
            *ngIf="(idGourmetRef.dirty || idGourmetRef.touched) && idGourmetRef.errors?.required"
          >
            IDが入力されていません
          </div>
          <div
            class="invalid-feedback"
            *ngIf="(idGourmetRef.dirty || idGourmetRef.touched) && idGourmetRef.errors?.maxlength"
          >
            最大100文字以内で入力してください
          </div>
          <div
            class="invalid-feedback"
            *ngIf="
              (idGourmetRef.dirty || idGourmetRef.touched) &&
              idGourmetRef.errors?.appSpaceValidation &&
              !idGourmetRef.errors?.required
            "
          >
            空白のみを入力することはできません
          </div>
          <div class="invalid-feedback" *ngIf="validation.username">
            {{ validation.username }}
          </div>
        </div>
        <div class="form-group mi-form-group">
          <label class="col-form-label mi-form-label required">パスワード *</label>
          <input
            type="password"
            name="passGourmet"
            class="form-control cas-fr-control"
            placeholder="パスワードを入力してください"
            [(ngModel)]="gourmet.password"
            [ngClass]="{
              'is-invalid':
                ((PassGourmetRef.dirty || PassGourmetRef.touched) && PassGourmetRef.errors) || validation.password
            }"
            #PassGourmetRef="ngModel"
            appSpaceValidation
            required
            maxlength="100"
          />
          <div
            class="invalid-feedback"
            *ngIf="(PassGourmetRef.dirty || PassGourmetRef.touched) && PassGourmetRef.errors?.required"
          >
            パスワードが入力されていません
          </div>
          <div
            class="invalid-feedback"
            *ngIf="(PassGourmetRef.dirty || PassGourmetRef.touched) && PassGourmetRef.errors?.maxlength"
          >
            最大100文字以内で入力してください
          </div>
          <div
            class="invalid-feedback"
            *ngIf="
              (PassGourmetRef.dirty || PassGourmetRef.touched) &&
              PassGourmetRef.errors?.appSpaceValidation &&
              !PassGourmetRef.errors?.required
            "
          >
            空白のみを入力することはできません
          </div>
          <div class="invalid-feedback" *ngIf="validation.password">
            {{ validation.password }}
          </div>
        </div>

        <div class="text-center" *ngIf="gourmet.id">
          <span class="gourmet_destroy--link font-size-14" (click)="destroyGourmet()">連携を解除する場合はこちら</span>
        </div>
      </div>
    </form>
  </section>

  <!-- Action submit -->
  <section class="cas-dialog__btn-group justify-content-center" dialogAction>
    <button
      type="button"
      *ngIf="!isSetting"
      class="btn btn-md btn-warning w-50"
      (click)="checkPassword()"
      [disabled]="SettingFr.invalid || isLoading"
    >
      OK
    </button>

    <button
      type="button"
      *ngIf="isSetting"
      class="btn btn-md btn-secondary btn-border mr-3 w-50"
      (click)="closeDialog()"
    >
      キャンセル
    </button>
    <button
      type="button"
      *ngIf="isSetting"
      class="btn btn-md btn-warning w-50"
      (click)="submitGourmet()"
      [disabled]="SettingFr.invalid || isLoading"
    >
      設定する
    </button>
  </section>
</app-cas-dialog>
