<section class="container-fluid cas-style-guide">
  <div class="row">
    <!-- Cas filter -->
    <div class="col-sm-12 mb-3">
      <app-cas-filter [sortItems]="sortItems" (eventSort)="eventSort($event)">
        <section filterForm>
          <p>Please render the form in here, You can import Module or Component at here</p>
          <p>If you do not add "<strong>filterForm</strong>" then your form here will not be displayed</p>
        </section>
      </app-cas-filter>
    </div>

    <!-- Dialog -->
    <div class="col-12 mb-3">
      <app-cas-dialog title="メニュー新規作成">
        <section dialogContent class="container-fluid">
          <div class="row">
            <div class="col-6">
              Content
            </div>
            <div class="col-6">
              Content
            </div>
          </div>
        </section>

        <section dialogAction>
          <p>This is Dialog footer</p>
        </section>
      </app-cas-dialog>
    </div>

    <!-- Table -->
    <div class="col-12 mb-3">
      <app-cas-table [headers]="tableHeader">
        <tr>
          <td class="text-center">da</td>
          <td>おすすめ</td>
          <td class="text-center">３品</td>
          <td class="text-center">action</td>
        </tr>
        <tr>
          <td class="text-center">da</td>
          <td>おすすめ</td>
          <td class="text-center">３品</td>
          <td class="text-center">action</td>
        </tr>
      </app-cas-table>
    </div>

    <div class="col-12 mb-3">
      <app-cas-preview></app-cas-preview>
    </div>

    <!-- Upload file -->
    <div class="col-12 mb-3">
      <div class="row">
        <div class="col-6">
          <app-cas-dropzone [large]="true" (eventDropzone)="uploadFile($event)"></app-cas-dropzone>
        </div>

        <div class="col-6">
          <app-cas-dropzone [large]="true" (eventDropzone)="uploadFile($event)" error="message error"></app-cas-dropzone>
        </div>
      </div>
    </div>

    <!-- Card Item -->
    <div class="col-12 col-sm-6 col-md-4 mb-3" *ngFor="let card of cardList">
      <app-cas-card-item
        [content]="card.content"
        [image]="card.image"
        [price]="card.price"
      ></app-cas-card-item>
    </div>

    <!-- Card Type -->
    <div class="col-12 col-sm-6 col-md-4 mb-3" *ngFor="let type of cardType">
      <app-cas-card-type
        [title]="type.title"
        [caption]="type.caption"
        [isAction]="type.isAction"
        (eventAction)="eventTrash(type.id)"
      ></app-cas-card-type>
    </div>

    <!-- Card Table -->
    <div class="col-12 col-sm-6 col-md-4 mb-3" *ngFor="let table of cardTables">
      <app-cas-card-table
        [table]="table"></app-cas-card-table>
    </div>
  </div>
</section>
