.draggable-wrap {
  display: flex;
}

.rich-menu {
  &__helper {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__drag {
    flex: 0 0 60%;
    padding: 0 15px;

    &-drop {
      height: 423px;
      margin: 10px auto 30px;
      width: 564px;
    }
  }

  &__item {
    background-color: var(--grey-lighten-0);
    flex: 0 0 40%;
    height: calc(var(--vh) * 100);
    padding: 0 10px 0 15px;
  }
}
