<app-cas-dialog [title]="dialogTitle" (close)="closeModal()" bodyClass="p-0">
  <section dialogContent>
    <div class="draggable-wrap">
      <div class="rich-menu__drag">
        <!-- Import module drag & drop -->
        <div class="rich-menu__drag-drop">
<!--          <select name="screen_size" class="form-control mb-2"-->
<!--            [(ngModel)]="selectedScreen">-->
<!--            <option *ngFor="let screen of SCREENS_SIZE" [ngValue]="screen.value">{{ screen.title }}</option>-->
<!--          </select>-->
          <app-konva-category-layout
            [itemCategory]="itemCategory"
            [page]="page"
            [screenSize]="selectedScreen"
            [onEventEmitter]="onEventEmitter"></app-konva-category-layout>
        </div>

        <!-- Rich menu helper -->
        <div class="rich-menu__helper">
          <img *ngFor="let helper of imageHelper" [src]="helper" alt="rich-menu helper" />
        </div>
      </div>
      <div class="rich-menu__item">
        <app-list-category-menu
          [itemCategory]="itemCategory"
          [isOrder]="true"
          [onEventEmitter]="onEventEmitter"></app-list-category-menu>
      </div>
    </div>
  </section>

  <section class="cas-dialog__btn-group justify-content-end" dialogAction>
    <button type="button" class="btn btn-md btn-secondary btn-border btn-mw--lg mr-3"
      aria-label="Close" (click)="closeModal()" [disabled]="isLoading">
      キャンセル
    </button>

    <button type="submit"
      class="btn btn-md btn-warning btn-border btn-mw--lg"
      aria-label="Close"
      (click)="saveRichMenu()" [disabled]="disabledBtnSave">
      {{ buttonTitle }}
    </button>
  </section>
</app-cas-dialog>
