<app-cas-dialog title="顧客詳細" (close)="close()">

  <section dialogContent>
    <form novalidate #UserForm="ngForm" class="fr-user">
      <div class="row">
        <!-- Form -->
        <div class="col-6">
          <!-- User Name -->
          <div class="form-group mi-form-group">
            <label class="col-form-label mi-form-label">顧客名</label>
            <input type="text" class="form-control"
              name="UserName" [(ngModel)]="user.name" maxlength="255" [readonly]="user.is_cashless_user"/>
          </div>

          <!-- User Phone -->
          <div class="form-group mi-form-group">
            <label class="col-form-label mi-form-label">電話番号</label>
            <input type="text" class="form-control" name="UserPhone"
              [(ngModel)]="user.phone"
              maxlength="11"
              minlength="10"
              [readonly]="user.is_cashless_user"/>
          </div>

          <!-- User Mail -->
          <div class="form-group mi-form-group">
            <label class="col-form-label mi-form-label">メールアドレス</label>
            <input type="email"
              class="form-control"
              name="UserMail"
              [(ngModel)]="user.email"
              maxlength="100"/>
          </div>

          <div class="row">
            <div class="col-6">
              <div class="">
                <label class="col-form-label mi-form-label">顧客ステータス</label>
                <div class="cas-badge" [ngClass]="{'cas-badge--info': user.is_new, 'cas-badge--primary': !user.is_new}">{{ user.status_string }}</div>
              </div>
            </div>
            <div class="col-6">
              <div class="">
                <label class="col-form-label mi-form-label">来店回数</label>
                <div>{{ user.finished_reservations_count }}回</div>
              </div>
            </div>
          </div>

          <div class="form-group mi-form-group">
            <label class="col-form-label mi-form-label">顧客メモ</label>
            <textarea class="form-control cas-form-readonly"
              rows="5" name="UserMemo"
              [(ngModel)]="user.memo"
              maxlength="10000"></textarea>
          </div>

          <div class="text-right">
            <button class="btn btn-warning btn-mw--lg" [disabled]="isSubmiting" (click)="updateUser()">保存する</button>
          </div>
        </div>
        <!-- Table -->
        <div class="col-6">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h3 class="head-title font-md font-weight-bold">
              予約履歴 <span class="font-sm font-weight-normal">( 通算予約合計 {{ pagination.total }}件 )</span>
            </h3>
          </div>

          <app-cas-table [headers]="tableHeader" class="table-user">
            <tr class="text-center" *ngFor="let reservation of reservations" (click)="openReceiptDetails(reservation)">
              <td>{{ reservation.start_at_display }} ~ {{ reservation.end_at_time_display }} </td>
              <td class="text-center font-weight-bold">
                <div class="d-flex justify-content-between">
                  <span>¥{{ reservation.total_price_display }}</span>
                  <span class="fa-right"><i class="fa fa-chevron-right"></i></span>
                </div>
              </td>
            </tr>
          </app-cas-table>

          <div class="text-center" *ngIf="!reservations.length && !isLoading">
            データが見つかりません
          </div>

          <div class="loader--row" *ngIf="isLoading">
            <div class="lds-ripple">
              <div></div><div></div>
            </div>
          </div>

          <div class="cas-pagination" [ngClass]="{ 'd-none': isLoading }">
            <app-pagination
              name="current_page"
              *ngIf="pagination.isPagination"
              class="d-flex justify-content-center"
              [boundaryLinks]="true"
              [totalItems]="pagination.total"
              [itemsPerPage]="pagination.per_page"
              [maxSize]="5"
              [(ngModel)]="pagination.current_page"
              (pageChanged)="pageChanged($event)"
              previousText="&lsaquo;"
              nextText="&rsaquo;"
              firstText="&laquo;"
              lastText="&raquo;"></app-pagination>
          </div>
        </div>
      </div>
    </form>
  </section>

  <section class="cas-dialog__btn-group justify-content-end" dialogAction>
    <button class="btn btn-md btn-mw--lg btn-warning btn-text__large" type="button" (click)="createReservation()">予約を作成</button>
  </section>
</app-cas-dialog>
