.fr-user {
  .cas-badge {
    border-radius: 2px;
    color: #fff;
    display: block;
    padding: 3px;
    text-align: center;
    width: 95px;
  }
}

.table-user {
  tr {
    cursor: pointer;

    td {
      .fa-right {
        color: #54c2cb;
        margin-left: 8px;
      }
    }
  }
}
