$input-text-bg: #fff;

.input-text {
  .popover {
    max-width: none;

    .popover-body {
      width: 19.75rem;
    }

    .arrow {
      top: calc(50% - 5px) !important;
    }

    &.offset-top {
      top: 0 !important;
      transition: all 0.2s ease-in-out;

      .arrow {
        top: 20px !important;
      }
    }

    &.offset-bottom {
      top: -342px !important;
      transition: all 0.2s ease-in-out;

      .arrow {
        top: calc(100% - 25px) !important;
      }
    }
  }

  &_result {
    background-color: #707070;
    padding: 0.8125rem 0.3125rem 0.8125rem 1.3125rem;

    .form-group {
      width: 100%;
    }

    .text-result {
      color: $input-text-bg;
      font-size: 1.5626rem;
      height: 40px;
      justify-content: left;
      width: calc(100% - 50px);
    }
  }

  &_close {
    background-color: $input-text-bg;
    border-radius: 50%;
    cursor: pointer;
    font-size: 0.75rem;
    height: 1.5rem;
    line-height: 1.5rem;
    margin-left: 0.5rem;
    text-align: center;
    width: 1.5rem;
  }
}
