<div class="position-relative input-text">
  <input type="text" class="form-control {{ class }}"
    name="text"
    [ngModel]="text"
    [popover]="textChangePop"
    [outsideClick]="true"
    [disabled]="disabled"
    readonly
    placement="left"
    #popover="bs-popover"
    containerClass="input-text-container"
    container="body"
    (onHidden)="onHidden()"
    (onShown)="onShown()"
    [minlength]="minlength"
    [maxlength]="maxlength"
    [required]="required"
    [placeholder]="placeholder">

  <div class="invalid-feedback">
    {{ errorMessage }}
  </div>

  <ng-template #textChangePop>
    <div class="input-text_result">
      <div class="form-inline">
        <div class="form-group">
          <label class="text-result text-truncate">{{ textEntering }}</label>
          <span class="input-text_close" (click)="clear()">X</span>
        </div>
      </div>
    </div>

    <app-keyboard-number
      [keyboardNumber]="true"
      (digitClicked)="clickedDigit($event)"
      (confirmClicked)="confirmed()"
      (deleteClicked)="delete()"></app-keyboard-number>
  </ng-template>
</div>

