<section class="container-fluid">
  <div class="page-head page-head--space-between">
    <h2 class="head-title">顧客情報</h2>
    <div class="head-action">
      <button type="button" class="btn btn-secondary" (click)="openModalDownloadCSV()">
        CSVをダウンロード
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 mb-3">
      <app-cas-filter
        [sortItems]="sortItems" [sortSearch]="filterData | async"
        (eventSort)="orderEvent($event)"
        [searchConf]="searchConf"
        (eventSearch)="filterUser()">
        <section filterForm>
          <app-form-filter-user [filterData]="filterData | async" (filterEvent)="filterUser()"></app-form-filter-user>
        </section>
      </app-cas-filter>
    </div>

    <div class="col-12 mb-3">
      <app-cas-table [headers]="tableHeader" class="table-user">
        <tr class="text-center" *ngFor="let user of users">
          <td class="font-weight-bold">{{ user.name }}</td>
          <td>{{ user.phone }}</td>
          <td><span class="cas-badge" [ngClass]="{'cas-badge--info': user.is_new, 'cas-badge--primary': !user.is_new}">{{ user.status_string }}</span></td>
          <td>{{ user.finished_reservations_count }}回</td>
          <td><button class="btn cas-btn btn-warning px-3" (click)="openUserDetails(user)">詳細</button></td>
        </tr>
      </app-cas-table>

      <div class="text-center" *ngIf="!users.length && !isLoading">
        データが見つかりません
      </div>

      <div class="loader--row" *ngIf="isLoading">
        <div class="lds-ripple">
          <div></div><div></div>
        </div>
      </div>

      <div class="cas-pagination" [ngClass]="{ 'd-none': isLoading }">
        <app-pagination
          *ngIf="pagination.isPagination"
          class="d-flex justify-content-center"
          [boundaryLinks]="true"
          [totalItems]="pagination.total"
          [itemsPerPage]="pagination.per_page"
          [maxSize]="5"
          [(ngModel)]="pagination.current_page"
          (pageChanged)="pageChanged($event)"
          previousText="&lsaquo;"
          nextText="&rsaquo;"
          firstText="&laquo;"
          lastText="&raquo;"
        ></app-pagination>
      </div>
    </div>
  </div>
</section>
