.menu-toggle {
  align-items: center;
  background-color: var(--grey-lighten-2);
  display: flex;
  margin: 40px 0 15px;
  padding: 9px 20px;

  .toggle-text {
    margin-right: 20px;
  }

  .title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  .caption {
    color: var(--grey-darken-0);
    font-size: 16px;
    margin-bottom: 5px;
  }
}
