$input-time-bg: #fff;

.input-time {
  .popover {
    max-width: none;

    .popover-body {
      width: 19.75rem;
    }

    &.offset-top {
      top: 0 !important;
      transition: all 0.2s step-start;

      .arrow {
        top: 20px !important;
      }
    }

    &.offset-bottom {
      top: -342px !important;
      transition: all 0.2s step-start;

      .arrow {
        top: calc(100% - 25px) !important;
      }
    }
  }

  &_result {
    background-color: #707070;
    padding: 0.8125rem 0.3125rem 0.8125rem 1.3125rem;

    .form-control {
      background-color: $input-time-bg;
      color: #212529;
      font-size: 30px;
      font-weight: bold;
      height: 3.375rem;
      margin: 0 0.3125rem;
      text-align: center;
      width: 3rem;

      &.focus {
        border: 2px solid #f59716;
      }
    }
  }

  &_dots {
    color: $input-time-bg;
    font-size: 2.1875rem;
    margin: 0 0.3125rem;
  }

  &_close {
    background-color: $input-time-bg;
    border-radius: 50%;
    cursor: pointer;
    font-size: 0.75rem;
    height: 1.5rem;
    line-height: 1.5rem;
    margin-left: 0.5rem;
    text-align: center;
    width: 1.5rem;
  }
}

.offset-top {
  top: 85px !important;
  transition: all 0.4s ease-in-out;

  .arrow {
    &::before,
    &::after {
      top: -180px !important;
    }
  }
}
