<div class="position-relative input-time">
  <input type="text" class="form-control {{ class }}" name="time"
    [ngModel]="time_display"
    [popover]="changeTimePop"
    [outsideClick]="true"
    [placement]="placement"
    containerClass="input-time-container {{ containerClass }}"
    (onShown)="onShown()"
    #popover="bs-popover"
    container="body"
    (onHidden)="onHidden()"
    readonly
    [disabled]="disabled"
    [required]="required">

  <ng-template #changeTimePop>
    <div class="input-time_result">
      <div class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control" [ngClass]="{ 'focus': focused === 1 }" name="digit1" readonly [(ngModel)]="digit1" (focus)="focusDigit(1)">
          <input type="text" class="form-control" [ngClass]="{ 'focus': focused === 2 }" name="digit2" readonly [(ngModel)]="digit2" (focus)="focusDigit(2)">
          <span class="input-time_dots">:</span>
          <input type="text" class="form-control" [ngClass]="{ 'focus': focused === 3 }" name="digit3" readonly [(ngModel)]="digit3" (focus)="focusDigit(3)">
          <input type="text" class="form-control" [ngClass]="{ 'focus': focused === 4 }" name="digit4" readonly [(ngModel)]="digit4" (focus)="focusDigit(4)">
          <span class="input-time_close" (click)="clear()">X</span>
        </div>
      </div>
    </div>

    <app-keyboard-number (digitClicked)="clickedDigit($event)"
      (confirmClicked)="confirmed()"
      (currentClicked)="currentClicked($event)"
      (deleteClicked)="delete()"></app-keyboard-number>
  </ng-template>
</div>
