<section class="cas-dialog cas-dialog__menu-sold-out">

  <div class="cas-dialog__body">

    <div class="icon-warning">
      <i class="fa fa-exclamation fa-3x"></i>
    </div>

    <h4 class="mb-1">{{menu.name}}は</h4>
    <h4 class="mb-4">現在売切れとなっています</h4>
    <p class="mb-0 font-size-13">在庫を確認した上で追加をお願いします</p>
  </div>

  <div class="cas-dialog__footer">
    <button class="btn btn-secondary btn-lg" (click)="closeModal()">キャンセル</button>
    <button class="btn btn-warning btn-lg" (click)="applyMenuSoldOut()">追加する</button>
  </div>
</section>
