.cas-dialog {
  &__body {
    padding: 30px 0;
    text-align: center;

    .icon-warning {
      align-items: center;
      border: 5px solid #dc3545;
      border-radius: 50%;
      color: #dc3545;
      display: inline-flex;
      height: 80px;
      justify-content: center;
      margin-bottom: 20px;
      width: 80px;
    }
  }

  &__footer {
    display: flex;

    .btn {
      flex: 1 1 50%;

      &:nth-child(1) {
        border-radius: 0 0 0 5px;
      }

      &:nth-child(2) {
        border-radius: 0 0 5px;
      }
    }
  }
}
