<section class="cas-ngx-datepicker">
  <div class="cas-fr-bspicker-group">
    <input *ngIf="!isDaterangepicker"
      class="form-control w-100"
      type="text"
      [placeholder]="placeholder"
      [name]="name"
      [(ngModel)]="selectedDate"
      bsDatepicker
      [bsConfig]="defaultBsConfig"
      [minDate]="minDate"
      [maxDate]="maxDate"
      [required]="required"
      (ngModelChange)="onChange()"
      [ngClass]="{'is-invalid':validatorError}"
      (focus)="onblur($event)"
      [disabled]="disabled"
      (onShown)="onShownDatepicker($event)"
      [placement]="placement"/>

    <input *ngIf="isDaterangepicker"
      class="form-control"
      type="text"
      [placeholder]="placeholder"
      [name]="name"
      [(ngModel)]="selectedDate"
      bsDaterangepicker
      [bsConfig]="defaultBsConfig"
      [minDate]="minDate"
      [maxDate]="maxDate"
      (bsValueChange)="onChange()"
      [ngClass]="{'is-invalid':validatorError}"
      readonly
      [required]="required"
      [disabled]="disabled"
      (focus)="onblur($event)"
      (onShown)="onShownDatepicker($event)">

    <span class="cas-fr-bspicker-after" *ngIf="isClearPicker && selectedDate" (click)="clearPicker()">x</span>
  </div>

  <div class="invalid-feedback" *ngIf="validatorError">{{ validatorError }}</div>
</section>
