<app-cas-dialog title="料理選択" [isCloseBtn]="!isResvOrder" bodyClass="p-0" headerClass="cas-dialog__header--order-menu" (close)="closeModal()">
  <section dialogContent class="dialog-set">
    <!-- Navigation -->
    <div class="dialog-set__nav border-top-0">
      <!-- Courses -->
      <div class="dialog-set__nav-item"
           [hidden]="!isResvOrder"
           [ngClass]="{'active': isActiveFilter(SEARCH_WITH.COURSE)}"
           (click)="searchListOrder(SEARCH_WITH.COURSE)">
        <p class="dialog-set__nav-item-name mb-0">コース</p>
        <p class="mb-0">({{ totalCourse }})</p>
      </div>
      <!-- Buffet -->
      <div class="dialog-set__nav-item"
           [hidden]="!isSelectBuffet"
           [ngClass]="{'active': isActiveFilter(SEARCH_WITH.BUFFET)}"
           (click)="searchListOrder(SEARCH_WITH.BUFFET)">
        <p class="dialog-set__nav-item-name mb-0">放題メニュー</p>
        <p class="mb-0">({{ totalBuffet }})</p>
      </div>
      <!-- Categories -->
      <div class="dialog-set__nav-item"
           *ngFor="let categorie of categories" [hidden]="isSelectBuffet"
           [ngClass]="{'active': isActiveFilter(SEARCH_WITH.CATEGORY, categorie.id)}"
           (click)="searchListOrder(SEARCH_WITH.CATEGORY, categorie.id)">
        <p class="dialog-set__nav-item-name mb-0">{{ categorie.name }}</p>
        <p class="mb-0">({{ categorie.items_count }})</p>
      </div>
    </div>

    <!-- Oder Item -->
    <div class="dialog-set__scroll">
      <div class="loader--row" *ngIf="isLoading">
        <div class="lds-ripple">
          <div></div><div></div>
        </div>
      </div>

      <div class="text-center" *ngIf="!listItems.length && !isLoading">
        データが見つかりません
      </div>

      <div class="dialog-set__list" *ngIf="!isLoading">
        <div class="dialog-set__item" *ngFor="let menu of listItems">
          <div class="dialog-set__item-avatar" [ngClass]="{ 'item-sold-out': menu.is_sold_out }">
            <div class="dialog-set__item-img" [ngStyle]="menu.style"></div>
          </div>
          <div class="dialog-set__item-name">{{ menu.name }}</div>
          <div class="dialog-set__item-price">{{ menu.price_string }}</div>
          <div class="dialog-set__item-action">
            <span class="dialog-set__item-btn dialog-set__item-btn--minus" [ngClass]="{'cas-btn--hidden': !menu.quantity, 'no-bg': !menu.quantity}" (click)="callMinus(menu)"></span>
            <span class="dialog-set__item-quantity">
              {{ menu.quantity }}
            </span>
            <span class="dialog-set__item-btn dialog-set__item-btn--plus" (click)="callPlus(menu)" *ngIf="menu.quantity < 99"></span>
          </div>
        </div>
      </div>

      <div class="cas-pagination" [ngClass]="{ 'd-none': isLoading }">
        <app-pagination
          *ngIf="pagination.isPagination"
          class="d-flex justify-content-center"
          [boundaryLinks]="true"
          [totalItems]="pagination.total"
          [itemsPerPage]="pagination.per_page"
          [(ngModel)]="pagination.current_page"
          [maxSize]="5"
          (pageChanged)="pageChanged($event)"
          previousText="&lsaquo;"
          nextText="&rsaquo;"
          firstText="&laquo;"
          lastText="&raquo;"
        ></app-pagination>
      </div>
    </div>
  </section>

  <section dialogAction
    class="cas-dialog__btn-group justify-content-between">
    <button type="button" class="btn btn-lg btn-mw--xl"
            [ngClass]="{'btn-secondary btn-border': !isResvOrder, 'btn-outline-primary': isResvOrder}"
            aria-label="Close"
            (click)="closeModal()"
            [disabled]="isLoading">
      キャンセル
    </button>

    <button type="button"
            class="btn btn-lg btn-mw--xl btn-warning"
            aria-label="Submit"
            (click)="orderMenu()"
            [disabled]="isLoading">
      選択する
    </button>
  </section>

</app-cas-dialog>
