<section class="content-page">
  <div class="page-head page-head--space-between">
    <h2 class="head-title">カテゴリー一覧</h2>
    <div class="head-action">
      <button [routerLink]="['/setting/menu-types']" [disabled]="isSwap"
        class="btn btn-secondary btn-border page-head-btn--secondary">メニュー種別設定</button>
      <button type="button" [disabled]="isSwap" (click)="openModalCECategory()" class="btn page-head-btn btn-warning">
        新規追加
      </button>
    </div>
  </div>

  <app-cas-filter [sortItems]="categorySort" (eventSort)="sortCategories($event)" [disabled]="isSwap">
    <button btnSwap class="btn btn-secondary btn-border btn-swap" [ngClass]="{ 'btn-warning': isSwap }" (click)="handleSwap()">
      <i class="fa fa-exchange-alt"></i>
    </button>
    <app-filter-category filterForm (eventFilter)="filterCategory($event)"></app-filter-category>
  </app-cas-filter>

  <div class="page-content container-fluid">
    <app-cas-swap [items]="categories" [isSwap]="isSwap" [swapId]="swapId"
                  (itemsSwapped)="categorySwapped($event)" [swapType]="SWAP_TYPE.CATEGORY"
                  [isResetSwap]="isResetSwap">
      <div class="row" swapContent>
        <div class="col-12 col-sm-6 mb-3" *ngFor="let cat of categories" (click)="selectItemSwap(cat.id)">
          <app-cas-card-type
            [title]="cat.name"
            [caption]="cat.item_type.name"
            [isAction]="true"
            [class]="cat.swapClassActive"
            (eventEdit)="openModalCECategory(cat)"
            (eventDelete)="openModalRemoveCategory(cat)"></app-cas-card-type>
        </div>
      </div>
    </app-cas-swap>


    <div class="text-center" *ngIf="!categories.length && !isLoading">
      データが見つかりません
    </div>

    <div class="loader--row" *ngIf="isLoading">
      <div class="lds-ripple">
        <div></div><div></div>
      </div>
    </div>

    <div class="cas-pagination" [ngClass]="{ 'd-none': isLoading }">
      <app-pagination
        *ngIf="pagination.isPagination && !isSwap"
        class="d-flex justify-content-center"
        [boundaryLinks]="true"
        [totalItems]="pagination.total"
        [itemsPerPage]="pagination.per_page"
        [maxSize]="5"
        [(ngModel)]="pagination.current_page"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;">
      </app-pagination>
    </div>
  </div>
</section>
