.list-items {
  height: calc((var(--vh) * 100));
  overflow-y: auto;
  position: relative;

  .item {
    align-items: center;
    background-color: var(--white);
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    height: 65px;
    margin-bottom: 2px;
    width: 100%;

    &-image {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 40px;
      margin: 5px;
      min-width: 40px;
    }

    &-content {
      font-size: 12px;
      padding: 5px 10px;
    }

    &-name {
      font-size: 12px;
      font-weight: bold;
      margin-bottom: 5px;
    }

    &-plus {
      display: none;
    }

    &:first-child {
      margin-top: 5px;
    }

    &--drag {
      background-color: var(--white);
      border: 3px dashed #c3ed12;
      border-radius: 0;
      color: var(--white);
      height: 69px;
      position: fixed;
      width: 192px;

      .item-drag-handle {
        display: none;
      }

      .item-content {
        color: #000;
      }

      .item-name {
        color: #000;
      }

      .item-plus {
        bottom: calc(50% - (71px / 2));
        display: none;
        position: absolute;
        right: -45px;
      }
    }

    &-drag-handle {
      padding: 0 9px;

      i {
        color: rgba(43, 42, 42, 0.5);
        cursor: pointer;
        font-size: 15px;
      }
    }
  }

  &--hover {
    .item {
      border-color: #c3ed12;
      border-style: dashed;
      opacity: 0.5;
      visibility: hidden;
    }
  }
}
