<ul class="list-items list-items--draggable" (scroll)="scrollEnd($event)" (drop)="drop($event)" (dragover)="allowDrop($event)">
  <li class="item user-select--none"
      *ngFor="let item of richMenuItems; let i = index"
      ngDraggable
      [handle]="dragHandle"
      [trackPosition]="false"
      [preventDefaultEvent]="false"
      [zIndexMoving]="999"
      (started)="onStart($event, i)"
      (stopped)="onStop($event, item, i)">
    <div #dragHandle class="item-drag-handle">
      <span><i class="fa fa-bars"></i></span>
    </div>
    <div class="item-image" [ngStyle]="item.style" *ngIf="item?.image_url"></div>
    <div class="item-content">
      <div class="item-name text-truncate text-truncate--2">{{ item?.name }}</div>
      <div>{{ item?.total_price_display }}</div>
    </div>
    <div class="item-plus">
      <img src="assets/icons/icon-plus.png" alt="icon plus">
    </div>
  </li>
</ul>
