<div class="cas-sidenav">
  <div class="nav-item {{ nav.class }}" *ngFor="let nav of navigation"
     [ngClass]="{'active': checkActiveMenu(nav)}"
     (click)="goToPages(nav)">
    <div class="nav-item--main">
      <div class="main-text">
        <i class="nav-item--icon" [ngClass]="nav.icon" aria-hidden="true"></i>
        <span class="nav-item--text">{{ nav.text }}</span>
      </div>
      <div class="sub-icon" *ngIf="!!nav.sub_icon">
        <i [ngClass]="nav.sub_icon"></i>
      </div>
    </div>

    <div class="nav-sub" *ngIf="!!nav.sub">
      <div class="nav-item" *ngFor="let navSub of nav.sub" [routerLink]="navSub.link" routerLinkActive="active">
        <span class="nav-item--text">{{ navSub.text }}</span>
      </div>
    </div>
  </div>

  <div class="nav-item" (click)="openModalConfirmLogout()">
    <i class="nav-item--icon fas fa-sign-out-alt" aria-hidden="true"></i>
    <span class="nav-item--text">ログアウト</span>
  </div>
</div>
