<app-cas-dialog title="オプションの変更" (close)="closeDialog()">
  <section class="receipt-options" dialogContent>
    <p class="font-size-14">変更するオプションを選択してください</p>

    <div class="receipt-options__item">
      <ng-container *ngFor="let opt of itemOptions">
        <label class="cas-checkbox-item font-weight-bold font-size-16" [ngClass]="{ 'disabled': disableOptSingle(opt) }">
          {{ opt.name }}
          <input
            class="checkbox-input"
            name="item_options"
            type="checkbox"
            value="{{opt.id}}"
            [disabled]="disableOptSingle(opt)"
            [checked]="receiptOpts.indexOf(opt.id) >= 0"
            (change)="clickOptions(opt.id)">
          <span class="checkmark"></span>
        </label>
      </ng-container>
    </div>
  </section>

  <section class="cas-dialog__btn-group justify-content-around" dialogAction>
    <button
      type="button"
      class="btn btn-md btn-secondary btn-border btn-mw--lg"
      aria-label="Close"
      (click)="closeDialog()"
      [disabled]="isLoading"
    >
      キャンセル
    </button>

    <button type="button" class="btn btn-md btn-warning btn-mw--lg" aria-label="Remove" [disabled]="isLoading" (click)="updateItemOpts()">
      変更する
    </button>
  </section>
</app-cas-dialog>
