.receipt-options {
  min-height: 300px;

  &__item {
    display: flex;
    flex-wrap: wrap;

    .cas-checkbox-item,
    .cas-radio-item {
      margin-bottom: 15px;
      width: 50%;

      &.disabled {
        opacity: 0.4;
      }
    }
  }
}
