<app-cas-dialog [title]="dialogTitle" (close)="closeModal()">
  <section dialogContent>
    <form class="cas-form" #MenuBuffetForm="ngForm" novalidate>
      <div class="row">
        <div class="col-6">
          <app-cas-dropzone
            class="mb-4"
            [oldImage]="menuBuffet.image_url"
            [large]="true"
            [eventDropzone]="eventDropzone"
            [error]="validation.image"
          ></app-cas-dropzone>

          <!-- Show / Hide block -->
          <div class="menu-toggle">
            <div class="toggle-text">
              <p class="title">このメニューを一覧に表示する</p>
              <p class="caption">店舗側管理画面とオーダー端末のスタッフ専用画面に表示されます</p>
            </div>
            <app-ui-switch
              name="MenuBuffetToggle"
              [(ngModel)]="menuBuffet.is_show"
              size="small-5-2"
              labelOn="表示"
              labelOff="非表示"
            ></app-ui-switch>
          </div>
        </div>

        <div class="col-6">
          <!-- Name -->
          <div class="form-group mi-form-group">
            <label class="col-form-label mi-form-label required">放題メニュー名</label>
            <input
              type="text"
              class="form-control cas-fr-control"
              [ngClass]="{ 'is-invalid': ((NameRef.dirty || NameRef.touched) && NameRef.errors) || validation.name }"
              id="Name"
              name="buffetName"
              placeholder="放題メニュー名を入力してください"
              [(ngModel)]="menuBuffet.name"
              (input)="resetValidation('name')"
              #NameRef="ngModel"
              required
              appSpaceValidation
              maxlength="255"
            />

            <div class="invalid-feedback" *ngIf="(NameRef.dirty || NameRef.touched) && NameRef.errors?.required">
              放題メニュー名は必須です
            </div>

            <div class="invalid-feedback" *ngIf="(NameRef.dirty || NameRef.touched) && NameRef.errors?.maxlength">
              放題メニュー名は255文字以下で入力してください
            </div>

            <div
              class="invalid-feedback"
              *ngIf="
                (NameRef.dirty || NameRef.touched) && NameRef.errors?.appSpaceValidation && !NameRef.errors?.required
              "
            >
              空白のみを入力することはできません
            </div>

            <div class="invalid-feedback" *ngIf="validation.name">{{ validation.name }}</div>
          </div>

          <!-- Price -->
          <div class="form-group mi-form-group">
            <label class="col-form-label mi-form-label required">料金</label>
            <div class="mi-form__price-group">
              <app-digit-formater
                [(ngModel)]="menuBuffet.price"
                name="buffetPrice"
                [max]="999999999"
                (ngModelChange)="setPrice()"
                placeholder="料金を入力してください"
                [required]="true && '料金は必須です'"
                [validator]="validation.price"
              >
              </app-digit-formater>
              <p class="price-symbol">円</p>
            </div>
          </div>

          <!-- Menu -->
          <div class="form-group mi-form-group">
            <label class="col-form-label mi-form-label required">メニュー</label>

            <app-select-menu-item
              name="menus"
              #MenuRef="ngModel"
              placeholder="メニューを選択"
              [(ngModel)]="menuBuffet.items"
              [ngClass]="{
                'is-invalid': ((MenuRef.dirty || MenuRef.touched) && MenuRef.errors) || validation.items
              }"
              [optionType]="OPTION_TYPE.BUFFET"
              required
            >
            </app-select-menu-item>

            <div class="invalid-feedback" *ngIf="(MenuRef.dirty || MenuRef.touched) && MenuRef.errors?.required">
              メニューは必須です
            </div>

            <div class="invalid-feedback" *ngIf="validation.items">{{ validation.items }}</div>
          </div>

          <!-- Memo -->
          <div class="form-group mi-form-group">
            <label class="col-form-label mi-form-label required">説明</label>
            <textarea
              class="form-control cas-fr-control"
              [ngClass]="{ 'is-invalid': ((MemoRef.dirty || MemoRef.touched) && MemoRef.errors) || validation.memo }"
              id="Description"
              name="buffetMemo"
              rows="4"
              placeholder="説明を入力してください"
              [(ngModel)]="menuBuffet.memo"
              (input)="resetValidation('memo')"
              #MemoRef="ngModel"
              maxlength="2000"
            ></textarea>

            <div class="invalid-feedback" *ngIf="(MemoRef.dirty || MemoRef.touched) && MemoRef.errors?.maxlength">
              説明は2000文字以下で入力してください
            </div>

            <div class="invalid-feedback" *ngIf="validation.memo">{{ validation.memo }}</div>
          </div>
        </div>
      </div>
    </form>
  </section>

  <section class="cas-dialog__btn-group justify-content-between" dialogAction>
    <button
      type="button"
      class="btn btn-md btn-secondary btn-border btn-mw--lg mr-3"
      (click)="closeModal()"
      [disabled]="isLoading"
    >
      キャンセル
    </button>

    <div>
      <button
        type="button"
        class="btn btn-md btn-default btn-border btn-mw--lg mr-3"
        [disabled]="MenuBuffetForm.form.invalid || isLoading"
        *ngIf="this.menuBuffet.id"
        (click)="deleteBuffet()"
      >
        削除する
      </button>
      <button
        type="button"
        class="btn btn-md btn-warning btn-mw--lg"
        [disabled]="MenuBuffetForm.form.invalid || isLoading || validationImg || is_invalid_items"
        (click)="submitMenuBuffet()"
      >
        {{ menuBuffet && menuBuffet.id ? '編集する' : '作成する' }}
      </button>
    </div>
  </section>
</app-cas-dialog>
