@import 'src/stylesheets/mixins/index';
@import 'src/stylesheets/variable';

.cas-header {
  align-items: center;
  background-color: var(--yellow-accent);
  box-shadow: 0 0 pixel-to-rem(10) var(--black-opacity--16);
  display: flex;
  flex: 1 1 100%;
  height: pixel-to-rem(70);
  justify-content: space-between;
  min-height: pixel-to-rem(70);
  padding: 0 pixel-to-rem(15);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1010;

  &--left,
  &--right {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-start;
    max-width: calc(100% / 3);
  }

  &--right {
    justify-content: flex-end;
    max-width: 50%;
  }

  &--center {
    align-items: center;
    display: flex;
    flex: 1 1 30%;
    justify-content: center;
    max-width: calc(100% / 3);
  }

  &__icon-menu {
    cursor: pointer;
    margin-right: pixel-to-rem(15);
    text-align: center;

    .icon-menu {
      cursor: pointer;
      height: pixel-to-rem(14);
      width: pixel-to-rem(25);
    }

    .icon-desc {
      font-size: pixel-to-rem(11);
      font-weight: bold;
      margin-top: pixel-to-rem(2);
    }
  }

  &__store-info {
    border-left: 1px dashed var(--white);
    font-size: pixel-to-rem(16);
    padding-left: pixel-to-rem(17);

    .info-name {
      font-weight: bold;
      width: 100px;
    }

    .info-account-name {
      align-items: center;
      display: flex;
      font-size: pixel-to-rem(13);

      .icon-account-name {
        margin-right: pixel-to-rem(2);
      }

      span {
        width: 100px;
      }
    }
  }

  &__date-time {
    align-items: center;
    background-color: var(--white);
    border-radius: 25px;
    display: flex;
    height: pixel-to-rem(50);
    justify-content: space-between;
    width: pixel-to-rem(230);

    .date-time__info {
      text-align: center;
      width: 100%;
    }

    .date-time__prev,
    .date-time__next {
      align-items: center;
      background-color: var(--yellow-lighten);
      border: 2px solid var(--white);
      cursor: pointer;
      display: flex;
      height: pixel-to-rem(50);
      justify-content: center;
      width: pixel-to-rem(32);
    }

    .date-time__prev {
      border-bottom-left-radius: pixel-to-rem(22);
      border-top-left-radius: pixel-to-rem(22);
    }

    .date-time__next {
      border-bottom-right-radius: pixel-to-rem(22);
      border-top-right-radius: pixel-to-rem(22);
    }

    .info-date {
      font-size: pixel-to-rem(22);
      font-weight: bold;

      .date-text {
        font-size: pixel-to-rem(12);
        letter-spacing: pixel-to-rem(2.4);
        opacity: 0.7;
      }
    }

    .info-time {
      color: var(--grey-lighten-1);
      font-size: pixel-to-rem(13);
      font-weight: bold;
      opacity: 0.7;
      position: relative;
      text-align: center;

      &.day-off {
        color: $form-feedback-invalid-color;
        opacity: 1;
      }

      .date-picker {
        border: 0;
        height: 0;
        left: 50%;
        padding: 0;
        position: absolute;
        width: 0;
      }
    }

    @media screen and (max-width: 768px) {
      width: pixel-to-rem(200);
    }

    &__no-focus {
      justify-content: center;
      pointer-events: none;
      width: 12.6rem;

      .date-time__prev,
      .date-time__next {
        display: none;
      }
    }
  }

  @media (min-width: 992px) {
    &__store-info {
      width: calc(100% - 72px);

      .info-name {
        width: 100%;
      }

      .info-account-name {
        span {
          width: 90%;
        }
      }
    }

    &__date-time {
      margin: 0 10px;
    }
  }

  &__btn {
    align-items: center;
    background-color: var(--grey-lighten-1);
    border-radius: pixel-to-rem(5);
    box-shadow: 0 0 1px 1px var(--white);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: pixel-to-rem(54);
    justify-content: center;
    margin-right: pixel-to-rem(8);
    min-width: pixel-to-rem(60);
    padding: 0 pixel-to-rem(10);

    .btn-title {
      color: var(--white);
      font-size: pixel-to-rem(12);
      letter-spacing: pixel-to-rem(2.4);
      margin-top: pixel-to-rem(2);

      @media screen and (max-width: 768px) {
        font-size: pixel-to-rem(10);
      }
    }

    &--walk-in {
      background-color: var(--blue-accent);

      .btn-title {
        letter-spacing: -1.2px;
      }

      &.active {
        background-color: var(--blue-dark);
      }
    }

    &--reservation {
      background-color: var(--orange-lighten-1);

      &.active {
        background-color: var(--orange-darken-1);
      }
    }

    &.disabled {
      background-color: var(--grey-lighten-0);
      cursor: not-allowed;
    }

    &--current {
      background-color: var(--yellow-lighten);
      border: 2px solid var(--white);
      color: var(--grey-darken-0);
      cursor: pointer;
      display: inline-block;
      font-size: pixel-to-rem(16);
      height: pixel-to-rem(30);
      margin: 0 pixel-to-rem(10);
      min-width: pixel-to-rem(70);
      padding: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .cas-header {
    &__store-info {
      padding-left: 0.5rem;
    }

    &__btn--current {
      font-size: 0.8rem;
      height: 2rem;
      margin-right: 10px;
      min-width: 3rem;
      padding: 0;
    }

    &__date-time {
      .info-date {
        font-size: 1rem;

        .date-text {
          font-size: 0.5rem;
        }
      }

      .info-time {
        font-size: 0.7rem;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .cas-header {
    &--left {
      max-width: 280px;
    }
  }
}
