<header class="cas-header">
  <!-- header left -->
  <div class="cas-header--left">
    <!-- Icon menu -->
    <div class="cas-header__icon-menu toggle-menu" (click)="toggleClick()" alt="toggle menu">
      <img class="icon-menu toggle-menu" src="assets/icon/toggle_menu.svg" />
      <div class="icon-desc toggle-menu">メニュー</div>
    </div>

    <!-- Store Info -->
    <div class="cas-header__store-info">
      <div class="info-name text-truncate" [attr.title]="clientProfile?.name">{{ clientProfile?.name }}</div>
      <div class="info-account-name">
        <img class="icon-account-name" src="assets/icon/account-name-header.svg" alt="account-name" />
        <span class="text-truncate" [attr.title]="clientCurrent.name">{{ clientCurrent.name }}</span>
      </div>
    </div>
  </div>

  <!-- header center -->
  <div class="cas-header--center">
    <!-- btn-current-date -->
    <button
      type="button"
      (click)="changeToCurrent()"
      [hidden]="!isShowReservation"
      [disabled]="isToday"
      class="btn cas-btn cas-header__btn--current"
    >
      今日
    </button>
    <!-- date-time -->
    <div class="cas-header__date-time" [ngClass]="{ 'cas-header__date-time__no-focus': !isShowReservation }">
      <div class="date-time__prev" (click)="prevDate()"><i class="fas fa-chevron-left" aria-hidden="true"></i></div>
      <div class="date-time__info user-select--none" (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen">
        <div class="info-date">
          <span class="date-text" *ngIf="!!dateTitle">{{ dateTitle }}</span>
          {{ date_display }}
        </div>
        <div class="info-time" [ngClass]="{ 'day-off': !timeOff }">
          <input
            type="text"
            class="date-picker"
            #dp="bsDatepicker"
            bsDatepicker
            [bsConfig]="bsConfig"
            [(ngModel)]="selectedDate"
            (ngModelChange)="changeDate()"
            (onShown)="onShownDatepicker($event)"
            name="selectedDate"
          />
          {{ workingTimeDisplay }}
        </div>
      </div>
      <div class="date-time__next" (click)="nextDate()"><i class="fas fa-chevron-right" aria-hidden="true"></i></div>
    </div>
  </div>

  <!-- header right -->
  <div class="cas-header--right">
    <app-missed-call *ngIf="isShowReservation"></app-missed-call>
    <div
      class="cas-header__btn cas-header__btn--walk-in"
      (click)="walkInClick()"
      [ngClass]="{ disabled: !timeOff }"
      *ngIf="isShowReservation"
    >
      <img class="icon-account-name" src="assets/icon/btn-walk-in.svg" alt="btn-walk-in" />
      <span class="btn-title">ウォークイン</span>
    </div>
    <div class="cas-header__btn cas-header__btn--reservation" (click)="reservationClick()" *ngIf="isShowReservation">
      <img class="icon-account-name" src="assets/icon/btn-reservation.svg" alt="btn-reservation" />
      <span class="btn-title">予約作成</span>
    </div>
    <div class="cas-header__notify">
      <app-notification [totalUnseen]="totalUnseen"></app-notification>
    </div>
    <div class="cas-header__notify" *ngIf="clientCurrent.isConnectGourmet">
      <app-notification-csv [totalUnseen]="totalUnseenCsv"></app-notification-csv>
    </div>
  </div>
</header>

<app-res-store
  *ngIf="isShowReservation"
  [open]="openRes"
  [resData]="resData | async"
  [walkinData]="walkinData | async"
  [isWalkIn]="isWalkIn"
  [formMode]="formMode"
  [numSelectedItems]="numSelectedItems"
  (close)="closeResStore($event)"
></app-res-store>
