.order-app {
  &__pattern-second {
    flex: 1 1 100%;
  }

  &__body-content {
    background-color: #000;
    display: block;
    height: 420px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px 0;
  }
}
