<div class="order-app__pattern-secound">
  <div class="order-app__body-content" #SelfOrderBodyContent id="CategoryLayout" [ngStyle]="{'background-color': styleSetting.bg_color, 'font-family': styleSetting.font_family}">
    <div class="order-app__layout">
      <ul class="order-app__layout-list" #CategoryLayout>
        <li class="order-app__layout-item"
          #LayoutItem
          draggable="true"
          (dragstart)="drag($event, item)"
          (touchend)="touchend($event, LayoutItem, item)"
          *ngFor="let item of itemCategory?.self_order_rich_menu_settings[0]?.items; let i = index">
          <div class="order-app__layout-caption font-size-12 text-center" [ngStyle]="{'color': styleSetting.text_color}">{{ i + 1 }}</div>
          <div class="order-app__layout-image" [ngStyle]="item?.style"></div>
          <div class="order-app__layout-caption text-center text-truncate--3" [ngStyle]="{'color': styleSetting.text_color}">{{ item.name }}</div>
        </li>
      </ul>
    </div>
  </div>
</div>

