<section class="cas-auth">
  <div class="cas-auth__logo"><img src="assets/img/logo.png" alt="logo login" /></div>

  <div class="cas-auth__form">
    <form novalidate #LoginForm="ngForm">
      <div class="form-group cas-auth__form-group">
        <label class="cas-auth__form-label">ログインID</label>
        <input
          type="text"
          class="form-control cas-auth__form-control"
          [ngClass]="{ 'is-invalid': LoginID.dirty && LoginID.errors }"
          name="given-name"
          [(ngModel)]="loginData.login_id"
          #LoginID="ngModel"
          placeholder="ログインIDを入カしてください"
          minlength="10"
          maxlength="13"
          required
          [disabled]="isAutofill"
          autocomplete="given-name"
          (blur)="btnInputHidden.click();"
        />

        <div class="invalid-feedback" [hidden]="!LoginID.errors?.required">ログインIDを入力してください</div>

        <div class="invalid-feedback" [hidden]="!LoginID.errors?.minlength">
          ログインIDは10文字以上で入力してください
        </div>
      </div>

      <div class="form-group cas-auth__form-group">
        <label class="cas-auth__form-label">メールアドレス</label>
        <input
          type="email"
          class="form-control cas-auth__form-control"
          [ngClass]="{ 'is-invalid': Email.dirty && Email.errors }"
          name="CasEmail"
          [(ngModel)]="loginData.email"
          #Email="ngModel"
          placeholder="メールアドレスを入力してください"
          minlength="3"
          maxlength="100"
          required
          appEmailValidator
        />

        <div class="invalid-feedback" [hidden]="!Email.errors?.required">メールアドレスを入力してください</div>

        <div class="invalid-feedback" [hidden]="!Email.errors?.appEmailValidator">
          メールアドレスのフォーマットが正しくありません
        </div>
      </div>

      <div class="form-group cas-auth__form-group">
        <label class="cas-auth__form-label">パスワード</label>
        <input
          type="password"
          name="CasPassword"
          class="form-control cas-auth__form-control"
          placeholder="パスワードを入力してください"
          [ngClass]="{ 'is-invalid': Password.dirty && Password.errors }"
          [(ngModel)]="loginData.password"
          #Password="ngModel"
          minlength="8"
          maxlength="100"
          required
        />

        <div class="invalid-feedback" [hidden]="!Password.errors?.required">パスワードを入力してください</div>

        <div class="invalid-feedback" [hidden]="!Password.errors?.minlength">
          パスワードは8文字以上で入力してください
        </div>
      </div>

      <div class="cas-auth__form-action">
        <button
          type="submit"
          class="btn cas-auth__btn"
          [disabled]="LoginForm.invalid || isLoading"
          (click)="login()"
        >
          サインイン
        </button>

        <a [routerLink]="['/auth/password/forgot']" class="cas-auth__link">パスワードを忘れた方はこちら</a>
      </div>
    </form>
  </div>

  <form class="formHidden" method="POTS">
    <input type="text" [ngModel]="loginData.login_id" name="given-name" autocomplete="given-name">
    <button #btnInputHidden type="submit" class="btn">click</button>
  </form>
</section>
