.cas-dialog__body-confirm {
  border-bottom: 1px solid #c4c4c4;
  padding: 47px 20px;
  text-align: center;

  img {
    margin-bottom: 28px !important;
  }
}

.cas-dialog__footer-confirm {
  .btn {
    border-radius: 0;
    min-height: 60px;
    width: 50%;

    &.btn-secondary {
      border-radius: 0 0 0 5px;
      border-right: 1px solid #c4c4c4;
    }

    &.btn-warning {
      border-radius: 0 0 5px;
    }
  }
}
