<section class="cas-dialog">
  <section class="cas-dialog__body-confirm">
    <img class="mb-3" src="assets/icon/exclamation-mark.svg" alt="icon delete warning" />
    <h5 class="font-weight-bold font-size-22">退店処理を行いますか？</h5>
    <p class="mb-0 font-size-14">※この操作は取り消し不可です</p>
  </section>

  <section class="cas-dialog__footer-confirm">
    <button
      type="button"
      class="btn btn-md btn-secondary"
      aria-label="Close"
      [disabled]="isLoading"
      (click)="closeDialog()"
    >
      戻る
    </button>

    <button
      type="button"
      class="btn btn-md btn-warning"
      aria-label="Remove"
      [disabled]="isLoading"
      (click)="finished()"
    >
      はい
    </button>
  </section>
</section>
