<app-cas-dialog  [isHiddenHeader]="true" [isHiddenFooter]="true">
  <section class="text-center" dialogContent >
    <img class="my-4" src="assets/icon/icon-delete-warning.svg" alt="icon delete warning" />
    <div class="error-text">
      <p class="error-text--title mb-3 font-weight-bold">Squareとの疎通に失敗しました</p>
      <p class="error-text--content">「現金会計」「クレジット会計」を再選択して再度疎通を行っても失敗する場合は <br>「その他会計」より決済を行なってください  </p>
    </div>
  </section>
</app-cas-dialog>

