<div class="cas-modal">
    <div class="modal-header">
      <h5 class="cas-modal__title text-center w-100 font-weight-bold">顧客情報CSVダウンロード</h5>
      <button type="button" class="rounded-circle btn btn-default cas-modal__close"
        aria-label="Close" (click)="closeModal()" [disabled]="isLoading">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
    </div>
    <div class="modal-body">
      <h5 class="text-center">顧客情報のバックアップとして、CSVを</h5>
      <p class="text-center">ダウンロードします。よろしいですか？</p>
    </div>
    <div class="modal-footer cas-modal__footer">
      <button type="button"
        class="btn cas-btn btn-secondary btn-mw"
        aria-label="Close" (click)="closeModal()"
        [disabled]="isLoading">
        いいえ
      </button>

      <button type="button"
        class="btn cas-btn btn-warning btn-mw"
        aria-label="Download"
        (click)="exportPathCSV()"
        [disabled]="isLoading">
        はい
      </button>
    </div>
  </div>
