<app-cas-ai-analysis [analysisTitle]="title">
  <section analysisContent>
    <!-- Bar Chart Info -->
    <div class="ai-pie-chart_info">
      <div class="info-item" [ngClass]="{ 'info-item--men': isGender }">
        <p class="info-title info-title-first">{{ cardLeftTitle }}</p>
        <p class="info-total_percent">{{ percentLeft ? percentLeft : 0 }}%</p>
        <p class="info-total_number">{{ chartData[0] }}</p>
      </div>

      <div class="info-item" [ngClass]="{ 'info-item--woman': isGender, 'info-item--repeater': !isGender }">
        <p class="info-title">{{ cardRightTitle }}</p>
        <p class="info-total_percent">{{ percentRight ? percentRight : 0 }}%</p>
        <p class="info-total_number">{{ chartData[1] }}</p>
      </div>
    </div>

    <!-- Pie chart -->
    <div class="ai-pie-chart">
      <div class="ai-pie-chart_wrap" *ngIf="labels && labels.length > 0 && !!chartData && !isDataNotFound">
        <canvas baseChart
          height="100"
          width="90vw"
          [data]="chartData"
          [labels]="labels"
          [colors]="colors"
          chartType="pie"
          [options]="pieChartOptions">
        </canvas>

        <div class="ai-pie-chart_legend" (click)="changeLegend()" [innerHTML]="renderLegend"></div>
      </div>

      <div class="ai-not-found" *ngIf="!chartData || isDataNotFound">表示するデータがありません</div>

      <div class="loader--center" *ngIf="isLoadingChart">
        <div class="lds-ripple">
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </section>
</app-cas-ai-analysis>
