.ai-pie-chart {
  display: flex;
  justify-content: center;
  padding: 50px 15px;

  &_wrap {
    display: inline-block;
    position: relative;
    width: 100%;

    @media (min-width: 1024px) {
      width: 250px;
    }
  }

  &_info {
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

    .info-item {
      background-image: url('../../../assets/icons/new_customer.png');
      background-position: 90% bottom;
      background-repeat: no-repeat;
      border-right: 1px solid #e5e5e5;
      flex: 1 1 50%;
      padding: 0 10px;

      &:last-child {
        border-right: 0;
      }

      p {
        margin-bottom: 0;
      }

      .info-title {
        color: #434343;
        font-size: 13px;
        line-height: 1;
        margin-bottom: 12px;
        padding-left: 18px;
        position: relative;

        &::before {
          background-color: #8d8d8d;
          border-radius: 50%;
          content: '';
          height: 13px;
          left: 0;
          position: absolute;
          top: calc(50% - (13px / 2));
          width: 13px;
        }

        &-first {
          &::before {
            background-color: #54c2cb;
          }
        }
      }

      .info-total_percent {
        color: #bcbcbc;
        font-size: 12px;
        line-height: 1;
        margin-bottom: 3px;
      }

      .info-total_number {
        color: #434343;
        font-size: 26px;
        line-height: 1;
      }

      &--repeater {
        background-image: url('../../../assets/icons/repeater.png');
      }

      &--men {
        background-image: url('../../../assets/icons/ai-men.png');
      }

      &--woman {
        background-image: url('../../../assets/icons/ai-woman.png');
      }
    }
  }

  &_legend {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    left: calc(50% - 50px);
    position: absolute;
    top: calc(50% - 50px);
    width: 100px;
  }
}

.ai-not-found {
  padding-top: 50%;
  text-align: center;
}
