.master-notify {
  text-align: center;

  &__icon {
    margin: 1.5rem 0 2rem;
  }

  &__content {
    h2 {
      font-size: 25px;
      margin-bottom: 1.5rem;
    }

    p {
      color: #282904;
      font-size: 16px;
    }
  }
}
