<app-cas-dialog [title]="'CSVアップロード'" [isCloseBtn]="false" dialogClass="cas-dialog__footer-no-border" (close)="closeDialog()">
  <section dialogContent>
    <div class="master-notify text-center">
      <div class="master-notify__icon">
        <img src="assets/icons/icon_warning_larger.svg" />
      </div>
      <div class="master-notify__content">
        <h2>入力値に不備がある為、<br />
          変更点の反映を行えません。
        </h2>
        <p>アップロードされたマスターファイルに入力された値の確認<br />
          を行なった上で、再度実行をお願いします。
        </p>
      </div>
    </div>
  </section>

  <section class="cas-dialog__btn-group justify-content-center" dialogAction>
    <button class="btn btn-md btn-mw--lg btn-secondary btn-border" (click)="closeDialog()">OK</button>
  </section>
</app-cas-dialog>
