.cas-dialog {
  &--dialog-recipe {
    margin-top: -20px;
  }

  &__header {
    align-items: center;
    background-color: var(--yellow-accent);
    border-radius: 5px 5px 0 0;
    display: flex;
    height: 72px;
    justify-content: center;
    padding: 0 15px;

    &-close {
      cursor: pointer;
      height: 25px;
      width: 25px;
    }

    &-title {
      flex: 1 1 80%;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 0;
      margin-left: 0 !important;
      text-align: center;
    }

    &--setting,
    &--order-menu {
      background-color: var(--grey-lighten-2);
      border-bottom: 1px solid var(--grey-lighten-0);
      box-sizing: border-box;
    }

    &--receipt-details {
      background-color: #616161;
      border-radius: 4px 4px 0 0;
      color: #fff;
      height: 44px;

      &__square .cas-dialog__header-title {
        padding-left: 150px;
      }

      .cas-dialog__header-close {
        height: 14.34px;
        width: 14.34px;
      }
    }

    &--order-menu {
      height: 48px;

      .cas-dialog__header-close {
        height: 18.19px;
        width: 18.19px;
      }
    }

    &--small {
      height: 48px;
    }
  }

  &__body {
    background-color: var(--white);
    max-height: calc((var(--vh) * 100) - 220px); // exclude header and footer
    min-height: 100px;
    overflow: auto;
    padding: 15px;

    &.background-gray {
      background-color: #eaeaea;
    }

    &.receipt-body {
      background-color: #eaeaea;
      padding: 0;
    }

    &.background-dark {
      background-color: #404040;
      border: solid 4px #000;
      border-radius: 4px;
      height: 100%;
      padding: 0;
    }
  }

  &__footer {
    background-color: var(--grey-lighten-2);
    border-radius: 0 0 5px 5px;
    border-top: 1px solid var(--grey-lighten-3);
    display: flex;
    flex-direction: column;
    height: 85px;
    padding: 0 15px;

    &.receipt-footer {
      background-color: #eaeaea;
      height: auto;
      padding: 0;
    }
  }

  &.header-bg--white {
    .cas-dialog {
      &__header {
        background-color: var(--grey-lighten-5);
        border-bottom: 2px solid #eaeaea;
        border-radius: 12px 12px 0 0;
        height: 65px;

        &-title {
          font-size: 18px;
          letter-spacing: 0.36px;
        }
      }

      &__footer {
        background-color: var(--grey-lighten-5);
        border-radius: 0 0 12px 12px;
        border-top: 2px solid #eaeaea;
        height: 65px;
      }
    }
  }

  .height-50 {
    height: 50px;
  }

  &__square {
    background-color: #404040;
    border: 1px solid #707070;
    border-radius: 5px;
    height: 31px;
    width: 176px;

    p {
      color: #ffe500;
      font-size: 12px;
      line-height: 29px;
      margin-bottom: 0;
      padding-left: 20px;
      position: relative;
      text-align: center;

      &::before {
        background-image: url('../../../assets/icons/icon_warning.svg');
        background-position: 0 center;
        background-repeat: no-repeat;
        background-size: 14px 13px;
        content: '';
        height: 13px;
        left: 20px;
        position: absolute;
        top: calc(50% - 7px);
        width: 14px;
      }
    }

    &--connect p {
      color: #fff;
      padding-left: 15px;

      &::before {
        background-image: url('../../../assets/icons/icon_link_square.svg');
        left: 10px;
      }
    }
  }
}
