<section class="cas-dialog" [ngClass]="dialogClass">
  <div class="cas-dialog__header" [hidden]="isHiddenHeader" [ngClass]="headerClass">
    <img
      *ngIf="isCloseBtn"
      class="cas-dialog__header-close"
      [src]="closeBtnImg"
      alt="close dialog"
      (click)="closeDialog()"
    />
    <h3 class="cas-dialog__header-title text-truncate ml-3">{{ title }}</h3>
    <div class="cas-dialog__square" *ngIf="isBtnSquareUp" [ngClass]="{ 'cas-dialog__square--connect': isSquareConnect }">
      <p>{{ squareDisplay }}</p>
    </div>
  </div>

  <div class="cas-dialog__body" appScroller [ngClass]="bodyClass">
    <ng-content select="[dialogContent]"></ng-content>
  </div>

  <div class="cas-dialog__footer" [ngClass]="footerClass" [hidden]="isHiddenFooter">
    <ng-content select="[dialogAction]"></ng-content>
  </div>
</section>
