<span #pop="bs-popover"
  [popover]="popTemplate" [containerClass]="'popover--number'"
  [outsideClick]="true" container="body" placement="left"
  class="memo-form__keyword-item font-weight-bold text-center text-white d-block text-truncate"
  [title]="keyword.name_display"
  [ngClass]="{ 'selected': keyword.is_selected }"
  triggers=""
  (click)="eventClick(pop)"
  appDoubleClick
  (doubleClick)="eventDoubleClick(pop)">
  {{ keyword.name_display }}
</span>

<ng-template #popTemplate>
  <div class="p-3">
    <label class="font-weight-bold">{{ keyword.is_registered ? 'キーワード編集' : 'キーワード登録'}}</label>
    <input
      type="text"
      name="keyword"
      class="form-control"
      [ngClass]="{ 'is-invalid': ((Keyword.dirty || Keyword.touched) && (Keyword.errors || is_invalid_name)) || validator.keyword }"
      placeholder="未登録"
      [(ngModel)]="selectedKeyword.keyword"
      #Keyword="ngModel"
      maxlength="50"
      (input)="validatorReset('keyword')"
      [disabled]="disabled"
      appSpaceValidation
      appAutoFocus
      required/>

    <div class="invalid-feedback" *ngIf="(Keyword.dirty || Keyword.touched) && Keyword.errors?.required">
      キーワード名は必須です
    </div>

    <div class="invalid-feedback" *ngIf="(Keyword.dirty || Keyword.touched) && is_invalid_name">
      このキーワードは既に使われています
    </div>

    <div class="invalid-feedback" *ngIf="(Keyword.dirty || Keyword.touched) && Keyword.errors?.appSpaceValidation">
      空白のみを入力することはできません
    </div>

    <div class="invalid-feedback" *ngIf="validator.name">{{ validator.name }}</div>
  </div>

  <div class="d-flex memo-form__popup-footer border-top">
    <button class="btn pt-3 pb-3 btn-secondary w-50"
    (click)="pop.hide()">
      キャンセル
    </button>

    <button class="btn pt-3 pb-3 btn-primary w-50"
      (click)="submitKeyword(); pop.hide()"
      [disabled]="Keyword.invalid || is_invalid_name || isLoading">設定
    </button>
  </div>
</ng-template>
