<div class="form-control cas-fr-file"
  [ngClass]="{'is-invalid': (menuThumbnail.dirty && menuThumbnail.errors) || validator,'cas-fr-file__bg': !!showFile }">
  <img class="cas-fr-file__image" [src]="showFile" *ngIf="!!showFile">
  <span>
    <input type="file" name="thumbnail"
    [attr.accept]="accept_type"
    (change)="getFile($event)"
    [(ngModel)]="file" #menuThumbnail="ngModel" #uploadFile requireFile
    (click)="resetValidator()"
    [attr.disabled]="disabled" [attr.multiple]="multiple"
    />
    <img class="cas-fr-file__icon" src="assets/icon/plus_fr-file.svg" alt="plus file">
  </span>
  <div class="cas-fr-file__info" *ngIf="file" >
    <span class="cas-fr-file__info-name">{{ fileName }}</span>
    <button (click)="removeFile()" class="btn btn-link cas-fr-file__btn"><span><i class="fa fa-trash-alt" aria-hidden="true"></i></span></button>
  </div>
</div>
<div class="invalid-feedback"
  [hidden]="validator || !(menuThumbnail.dirty && menuThumbnail.errors?.required)">{{ errorMessage }}</div>

<div class="invalid-feedback"
  [hidden]="!validator">{{ validator }}</div>


