<section class="content-page">
  <div class="page-head">
    <h2 class="head-title">予約画面用設定</h2>
  </div>

  <div class="page-content container-fluid bg-white pt-4">
    <form #clientInfoFr="ngForm">
      <!-- Title -->
      <div class="form-group row">
        <label class="col-2 col-form-label mi-form-label required">店舗紹介<br />タイトル</label>
        <div class="col-10">
          <textarea
            class="form-control cas-fr-control"
            name="title"
            [(ngModel)]="clientInfo.title"
            rows="2"
            minlength="1"
            maxlength="50"
            placeholder="50文字以内で入力してください。(例)【新宿駅徒歩5分】本格イタリアン専門店！窯焼きピッツァとワインがおすすめ☆コースは4000円から"
          ></textarea>
        </div>
      </div>

      <!-- Description -->
      <div class="form-group row">
        <label class="col-2 col-form-label mi-form-label required">店舗紹介<br />本文</label>
        <div class="col-10">
          <textarea
            class="form-control cas-fr-control"
            name="description"
            [(ngModel)]="clientInfo.description"
            rows="7"
            [ngClass]="{
              'is-invalid': DescriptionRef.dirty && DescriptionRef.touched && DescriptionRef.errors
            }"
            #DescriptionRef="ngModel"
            minlength="3"
            maxlength="1000"
            placeholder="お店のおすすめメニューやこだわりなどを、1000字以内で入力してください。"
          ></textarea>

          <div class="invalid-feedback" [hidden]="!DescriptionRef.errors?.minlength">
            最低3文字以上で入力してください
          </div>
        </div>
      </div>

      <!-- Time Note -->
      <div class="form-group row">
        <label class="col-2 col-form-label mi-form-label required">表示営業時間<br />定休日</label>
        <div class="col-10">
          <textarea
            class="form-control cas-fr-control"
            name="working_note"
            [ngClass]="{ 'is-invalid': validator.working_note }"
            rows="5"
            [(ngModel)]="clientInfo.working_note"
            maxlength="2000"
            (input)="resetValidator('working_note')"
            placeholder=""
          >
          </textarea>
          <div class="invalid-feedback" *ngIf="validator.working_note">{{ validator.working_note }}</div>
        </div>
      </div>

      <!-- Cost Estimate -->
      <div class="form-group row">
        <label class="col-2 col-form-label mi-form-label required">平均予算</label>
        <div class="col-4">
          <input
            type="text"
            name="cost_estimate"
            class="form-control cas-fr-control cas-fr-number"
            [ngClass]="{
              'is-invalid':
                (CostEstimate.dirty && CostEstimate.touched && CostEstimate.errors) || validator.cost_estimate
            }"
            placeholder="3000"
            #CostEstimate="ngModel"
            [(ngModel)]="clientInfo.cost_estimate"
            (input)="resetValidator('cost_estimate')"
            maxlength="9"
            OnlyNumeric
            [NumberPattern]="rules.number_price"
            inputmode="numeric"
            [pattern]="rules.numericMode"
            required
          />

          <div class="invalid-feedback" [hidden]="!CostEstimate.errors?.required">平均予算は必須です</div>

          <div class="invalid-feedback" [hidden]="!CostEstimate.errors?.pattern">平均予算は数字になります</div>

          <div class="invalid-feedback" [hidden]="!validator.cost_estimate">{{ validator.cost_estimate }}</div>
        </div>
        <div class="col-2 mt-3 font-weight-bold">円</div>
      </div>

      <!-- Transportation -->
      <div class="form-group row">
        <label class="col-2 col-form-label mi-form-label required">交通手段</label>
        <div class="col-10">
          <textarea
            class="form-control cas-fr-control"
            name="Transportation"
            [(ngModel)]="clientInfo.transportation"
            rows="3"
            [ngClass]="{
              'is-invalid': TransportationRef.dirty && TransportationRef.touched && TransportationRef.errors
            }"
            #TransportationRef="ngModel"
            minlength="3"
            maxlength="100"
            placeholder="交通手段を入力してください"
          ></textarea>

          <div class="invalid-feedback" [hidden]="!TransportationRef.errors?.minlength">
            最低3文字以上で入力してください
          </div>
        </div>
      </div>

      <!-- Payment -->
      <div class="form-group row">
        <label class="col-2 col-form-label mi-form-label required">お支払い<br />方法</label>
        <div class="col-10">
          <input
            class="form-control cas-fr-control"
            name="paymentMethod"
            [ngClass]="{
              'is-invalid': PaymentMethodRef.dirty && PaymentMethodRef.touched && PaymentMethodRef.errors
            }"
            [(ngModel)]="clientInfo.payment_method"
            #PaymentMethodRef="ngModel"
            minlength="9"
            maxlength="100"
            placeholder="お支払い方法を入力してください"
          />

          <div class="invalid-feedback" [hidden]="!PaymentMethodRef.errors?.minlength">
            最低9文字以上で入力してください
          </div>
        </div>
      </div>

      <!-- Cancel Policy -->
      <div class="form-group row">
        <label class="col-2 col-form-label mi-form-label required">キャンセル<br />ポリシー</label>
        <div class="col-10">
          <textarea
            class="form-control cas-fr-control"
            name="cancel_policy"
            [ngClass]="{ 'is-invalid': validator.cancel_policy }"
            [disabled]="isUpdatingPolicy || !currentUser.is_admin"
            rows="5"
            [(ngModel)]="clientInfo.cancel_policy.cancel_policy"
            maxlength="10000"
            (input)="resetValidator('cancel_policy')"
            placeholder="キャンセルポリシーを入力して下さい。"
          >
          </textarea>
          <div class="invalid-feedback" *ngIf="validator.cancel_policy">{{ validator.cancel_policy }}</div>
        </div>
      </div>

      <!-- Reservation Duration -->
      <div class="row">
        <!-- Min Reservation Duration -->
        <div class="col-12 col-lg-6">
          <div class="form-group row">
            <label class="col-3 col-lg-4 col-form-label mi-form-label required">ご利用時間</label>
            <div class="col-4">
              <app-cas-ng-select
                [items]="DURATIONS"
                [clearable]="false"
                bindLabel="name"
                bindValue="value"
                name="min_reservation_duration"
                className="mi-form-ng-select"
                [ngClass]="{
                  'is-invalid':
                    (MinResvDuration.dirty && MinResvDuration.touched && MinResvDuration.errors) ||
                    validator.min_reservation_duration
                }"
                placeholder="予約最低時間を選択してください"
                #MinResvDuration="ngModel"
                (change)="resetValidator('min_reservation_duration')"
                [(ngModel)]="clientInfo.min_reservation_duration"
                required
              >
              </app-cas-ng-select>

              <div class="invalid-feedback" [hidden]="!MinResvDuration.errors?.required">予約最低時間は必須です</div>
              <div class="invalid-feedback" [hidden]="!validator.min_reservation_duration">
                {{ validator.min_reservation_duration }}
              </div>
            </div>
          </div>
        </div>

        <!-- Min Cleanup Duration -->
        <div class="col-12 col-lg-6">
          <div class="form-group row">
            <label class="col-3 col-lg-5 col-form-label mi-form-label required">バッシング時間</label>
            <div class="col-4">
              <input
                type="text"
                name="min_cleanup_duration"
                class="form-control cas-fr-control cas-fr-number"
                [ngClass]="{
                  'is-invalid':
                    (MinCleanupDuration.dirty && MinCleanupDuration.touched && MinCleanupDuration.errors) ||
                    validator.cleaning_duration
                }"
                placeholder="バッシング時間を入力してください"
                #MinCleanupDuration="ngModel"
                [(ngModel)]="clientInfo.cleaning_duration"
                (ngModelChange)="resetValidator('cleaning_duration')"
                OnlyNumeric
                [NumberPattern]="rules.number_max_three_first_zero"
                inputmode="numeric"
                [pattern]="rules.numericMode"
                required
              />

              <div class="invalid-feedback" [hidden]="!MinCleanupDuration.errors?.required">
                バッシング時間は必須です
              </div>

              <div class="invalid-feedback" [hidden]="!MinCleanupDuration.errors?.pattern">
                バッシング時間は数字になります
              </div>

              <div class="invalid-feedback" [hidden]="!validator.cleaning_duration">
                {{ validator.cleaning_duration }}
              </div>
            </div>
            <div class="col-2 mt-3 font-weight-bold">分</div>
          </div>
        </div>
      </div>

      <div class="form-group text-right mb-0 pb-3">
        <button
          class="btn btn-warning btn-lg btn-mw--lg px-5"
          [disabled]="isLoading || !clientInfoFr.form.valid"
          (click)="updateClient()"
        >
          予約画面用設定を保存
        </button>
      </div>
    </form>
  </div>
</section>
