.course-history {
  padding: 15px;

  &__header {
    align-items: center;
    border-bottom: 1px solid #eee;
    color: #b8b8b8;
    display: flex;
    font-size: 12px;
    padding-bottom: 5px;
  }

  p {
    margin-bottom: 0;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(5),
    &:nth-child(8) {
      width: 100px;
    }

    &:nth-child(4) {
      width: 150px;
    }

    &:nth-child(6) {
      width: calc(100% - 800px);
    }

    &:nth-child(7) {
      width: 50px;
    }

    &:last-child {
      width: 100px;
    }
  }
}

.course-history__content {
  .course-item {
    border-bottom: 1px solid #eee;
    padding: 15px 0;

    &.no-border {
      position: relative;

      &::after {
        background-color: var(--white);
        bottom: -1px;
        content: '';
        height: 2px;
        position: absolute;
        width: 100px;
      }
    }
  }

  .course-info {
    align-items: center;
    color: #808080;
    display: flex;
    font-size: 14px;
  }

  .course-memo {
    margin-left: 100px;
    margin-right: 228px;
    margin-top: 10px;

    &__item {
      background-color: #fafafa;
      border: 1px solid #eee;
      border-radius: 4px;
      color: #707070;
      display: flex;
      font-size: 13px;
      line-height: 18px;
      padding: 8px;
      width: calc(50% - 5px);
    }

    &__badge {
      background-color: #eee;
      border: 1px solid #eee;
      border-radius: 1px;
      color: #707070;
      font-size: 10px;
      height: 20px;
      padding: 0 5px;
      width: 55px;
    }

    &__text {
      flex: 1;
    }
  }
}

.course-history__filter {
  display: flex;
  font-size: 12px;
  justify-content: flex-end;
  margin-right: 18px;
  padding-top: 13px;
}

.course-history__sort {
  margin-right: 23px;

  .dropdown-menu {
    border: 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16);
    padding: 0;
  }

  .dropdown-toggle {
    background-color: var(--white);
    border: 0;
    color: #f59716;
    cursor: pointer;
    font-weight: normal;

    &:focus {
      box-shadow: none;
    }

    &::before {
      content: none;
    }
  }

  .dropdown-item {
    cursor: pointer;
    font-size: 13px;
    line-height: 40px;
    padding-left: 26px;

    &.active,
    &:active {
      background-color: #f5faff;
    }
  }
}

.course-history__download-csv img {
  cursor: pointer;
}
