<section class="bg-white pb-1">
  <!-- Reservation history filter -->
  <div class="course-history__filter">
    <div class="course-history__sort">
      <div class="dropdown dropleft">
        <button type="button" class="btn dropdown-toggle py-0"
          data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          {{ sortItemSelected }}
          <img class="ml-1" src="assets/icon/arrow_sort_orange.svg" alt="arrow-sort-orange" />
        </button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item"
            *ngFor="let item of sortItems; let idx = index"
            [ngClass]="{ active: item.isSelected }"
            (click)="changeSort(idx)">
            {{ item.title }}
          </a>
        </div>
      </div>
    </div>

    <div class="course-history__download-csv">
      <img src="assets/icon/course-history-download.svg" width="14px" height="19px" alt="course-history-download-csv" (click)="downloadCSV()" />
    </div>
  </div>

  <div class="course-history">
    <div class="course-history__header">
      <p>来店日</p>
      <p>時間</p>
      <p>テーブル</p>
      <p>顧客名</p>
      <p>予約人数</p>
      <p>オーダー内容</p>
      <p>個数</p>
      <p>ステータス</p>
      <p></p>
    </div>

    <div class="course-history__content">
      <ng-container *ngFor="let key of reservationKey">
        <div
          class="course-item"
          *ngFor="let item of reservations[key]; let idx = index"
          [ngClass]="{ 'no-border': idx !== reservations[key].length - 1 }"
        >
          <div class="course-info">
            <p>{{ idx === 0 ? key : '' }}</p>
            <p [ngClass]="{ 'align-self-start': item.reservation_preorder_items.length !== 1  }">
              {{ item.start_end_time_string }}
            </p>
            <p [ngClass]="{ 'align-self-start': item.reservation_preorder_items.length !== 1  }">
              <span class="pr-2">{{ item.tables_name_display }}</span>
            </p>
            <p
              class="font-weight-bold cas-text--black"
              [ngClass]="{ 'align-self-start': item.reservation_preorder_items.length !== 1  }"
            >
              {{
                item.client_user_display ? item.client_user_display.toEllipsisWithCountLetters(35).string + ' 様' : ''
              }}
            </p>
            <p [ngClass]="{ 'align-self-start': item.reservation_preorder_items.length !== 1 }">{{ item.quantity }}人</p>
            <p
              [ngClass]="{ 'align-self-start': item.reservation_preorder_items.length !== 1 }"
              [innerHTML]="item.courseNamePre"
            ></p>
            <p
              [ngClass]="{ 'align-self-start': item.reservation_preorder_items.length !== 1  }"
              [innerHTML]="item.courseCountPre"
            ></p>
            <p>
              <span
                class="cas-badge text-center"
                [ngClass]="{
                  'cas-badge--primary': item.isInComing,
                  'cas-badge--info': item.isWorking,
                  'cas-badge--secondary': item.isFinished || item.isCanceled
                }"
              >
                {{ item.status_display }}
              </span>
            </p>
            <p class="text-center">
              <button class="btn cas-btn btn-warning px-3" (click)="navigate(item)">
                詳細
              </button>
            </p>
          </div>

          <div class="course-memo d-flex justify-content-between">
            <div class="course-memo__item" *ngIf="!!item.client_user && !!item.client_user.memo">
              <span class="course-memo__badge mr-2">顧客メモ</span>
              <span class="course-memo__text">{{ item.client_user.memo }}</span>
            </div>
            <div class="course-memo__item" *ngIf="!!item.memo">
              <span class="course-memo__badge mr-2">予約メモ</span>
              <span class="course-memo__text">{{ item.memo }}</span>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="text-center" *ngIf="!reservationKey.length && !isLoading">
    データが見つかりません
  </div>

  <div class="loader--row" *ngIf="isLoading">
    <div class="lds-ripple">
      <div></div>
      <div></div>
    </div>
  </div>

  <div class="cas-pagination" [ngClass]="{ 'd-none': isLoading }">
    <app-pagination
      *ngIf="pagination.isPagination"
      class="d-flex justify-content-center"
      [boundaryLinks]="true"
      [totalItems]="pagination.total"
      [itemsPerPage]="pagination.per_page"
      [maxSize]="5"
      [(ngModel)]="pagination.current_page"
      (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
    ></app-pagination>
  </div>
</section>
