<section class="content-page">
  <!-- Header -->
  <div class="page-head page-head--space-between">
    <h2 class="head-title">税金一覧</h2>
  </div>

  <!-- Body -->
  <div class="page-content container-fluid mt-3">
    <div class="tax-method">
      <div class="tax-method__action">
        <p class="tma-title">課税方法 : {{ taxSelected.applyTypeStr }}</p>
        <button class="btn cas-btn btn-border btn-secondary" [disabled]="isLoading" (click)="changeTaxType()">課税設定</button>
      </div>
      <div class="tax-method__helper">
        <p class="mb-0">内税と外税のどちらかを選択してください。(内税設定が推奨されています)</p>
        <p class="mb-0">選択した課税方法は「店内食」「持ち帰り」「軽減税率対象外」の各項目に適用されます。</p>
      </div>
    </div>

    <!-- Loading -->
    <div class="loader--row mb-3" *ngIf="isLoading">
      <div class="lds-ripple">
        <div></div>
        <div></div>
      </div>
    </div>

    <app-cas-table
      [headers]="tableHeader"
      class="cas-table--middle cas-table--head-white cas-table--head-sm cas-table--head__color-back"
    >
      <tr *ngFor="let tax of taxes">
        <td class="text-center">
          <span class="cas-badge" [ngClass]="tax.badgeClass">
            {{ tax.statusString }}
          </span>
        </td>
        <td>
          {{ tax.name }} <span>{{ tax.isOrder === 1 ? '(デフォルト)' : '' }}</span>
        </td>
        <td>
          <button class="btn btn-sm btn-warning" (click)="updateTax(tax.id)" [disabled]="isLoading">編集する</button>
        </td>
      </tr>
    </app-cas-table>

    <div class="text-center" *ngIf="!taxes.length && isLoading">
      データが見つかりません
    </div>

    <!-- Pagination -->
    <div class="cas-pagination" [ngClass]="{ 'd-none': isLoading }">
      <app-pagination
        *ngIf="pagination.isPagination"
        class="d-flex justify-content-center"
        [boundaryLinks]="true"
        [totalItems]="pagination.total"
        [itemsPerPage]="pagination.per_page"
        [maxSize]="5"
        [(ngModel)]="pagination.current_page"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;"
      ></app-pagination>
    </div>
  </div>
</section>
