.tax-method {
  background-color: var(--white);
  margin-bottom: 15px;
  padding: 11px 17px 15px 12px;

  &__action {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;

    .tma-title {
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 0;
    }

    button {
      font-size: 14px;
      height: 32px;
      line-height: 0;
      min-width: 114px;

      &:disabled {
        opacity: 0.5;
      }
    }
  }

  &__helper {
    color: #8b8a8a;
    font-size: 13px;
  }
}
