<section class="cas-auth">
    <div class="cas-auth__title">
      <h2>{{ isCompleted ? 'パスワード再発行完了' : 'パスワード再発行' }}</h2>
    </div>

    <!-- Block Form input reset -->
    <div class="cas-auth__form" *ngIf="!isCompleted">
      <form novalidate #ResetPWForm="ngForm" autocomplete="off">
        <div class="form-group cas-auth__form-group">
          <label class="cas-auth__form-label">パスワード</label>
          <input
            type="password"
            class="form-control cas-auth__form-control"
            [ngClass]="{ 'is-invalid': Password.dirty && Password.errors }"
            name="password"
            [(ngModel)]="resetPwData.password"
            #Password="ngModel"
            placeholder="パスワードを入力してください"
            autocomplete="new-password"
            maxlength="100"
            minlength="8"
            appPasswordValidator
            required/>

          <div class="invalid-feedback"
            *ngIf="Password.dirty && Password.errors?.required">パスワードを入力してください</div>

          <div class="invalid-feedback" *ngIf="Password.dirty && Password.errors?.appPasswordValidator">
            半角英数字を含める8文字以上で設定してください
          </div>
        </div>

        <div class="form-group cas-auth__form-group">
          <label class="cas-auth__form-label">確認用パスワード</label>
          <input
            type="password"
            name="password-confirm"
            class="form-control cas-auth__form-control"
            placeholder="確認用パスワードを入力してください"
            [ngClass]="{ 'is-invalid': PasswordConfirm.dirty && PasswordConfirm.errors }"
            [(ngModel)]="resetPwData.password_confirmation"
            #PasswordConfirm="ngModel"
            appEqualValidator="password"
            autocomplete="new-password"
            minlength="8"
            maxlength="100"
            appPasswordValidator
            required/>

          <div class="invalid-feedback"
            *ngIf="PasswordConfirm.dirty && PasswordConfirm.errors?.required">確認用パスワードを入力してください</div>

          <div class="invalid-feedback" *ngIf="PasswordConfirm.dirty && PasswordConfirm.errors?.appPasswordValidator">
            半角英数字を含める8文字以上で設定してください
          </div>

          <div class="invalid-feedback" *ngIf="PasswordConfirm.dirty && PasswordConfirm.errors?.appEqualValidator">
            確認用パスワードとパスワードが一致しません
          </div>
        </div>

        <div class="cas-auth__form-action">
          <button type="submit" class="btn cas-auth__btn"
            [disabled]="ResetPWForm.invalid || isLoading"
            (click)="resetPassword()">
            パスワード再発行する
          </button>
        </div>
      </form>
    </div>

    <!-- Block completed reset -->
    <div class="cas-auth__completed text-center" *ngIf="isCompleted">
      <p class="font-size-18">パスワードの再発行が完了しました。</p>
      <p class="font-size-18">下記ボタンをクリックして、新しいパスワードでログインをしてください。</p>

      <div class="cas-auth__form-action">
        <a [routerLink]="['/auth/login']"
          class="btn cas-auth__btn cas-auth__btn--link cas-auth__btn--space-unset">ログインページへ
        </a>
      </div>
    </div>
  </section>
