<section class="content-page">
  <div class="page-head page-head--space-between">
    <h2 class="head-title">メニュー種別一覧</h2>
    <div class="head-action">
      <button type="button" (click)="openModalCEMenuType()" class="btn page-head-btn btn-warning">新規追加</button>
    </div>
  </div>

  <app-cas-filter [sortItems]="sortMenuType" (eventSort)="menuTypeSort($event)">
    <section filterForm>
      <form novalidate>
        <div class="form-group mi-form-group row mb-0">
          <div class="col-7">
            <input type="text" name="filterName" [(ngModel)]="filterName" class="form-control" placeholder="種別名を入力">
          </div>
          <div class="col-5 text-right">
            <button class="btn btn-warning btn-mw--lg" (click)="filterMenuType()">この条件で絞込む</button>
          </div>
        </div>
      </form>
    </section>
  </app-cas-filter>

  <div class="page-content container-fluid">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 mb-3" *ngFor="let menu of menuTypes">
        <app-cas-card-type
          [title]="menu.name"
          [isAction]="true"
          (eventEdit)="openModalCEMenuType(menu)"
          (eventDelete)="openModalRemoveMenuType(menu)"></app-cas-card-type>
      </div>
    </div>

    <div class="text-center" *ngIf="!menuTypes.length && !isLoading">
      データが見つかりません
    </div>

    <div class="loader--row" *ngIf="isLoading">
      <div class="lds-ripple">
        <div></div>
        <div></div>
      </div>
    </div>

    <div class="cas-pagination" [ngClass]="{ 'd-none': isLoading }">
      <app-pagination
        *ngIf="pagination.isPagination"
        class="d-flex justify-content-center"
        [boundaryLinks]="true"
        [totalItems]="pagination.total"
        [itemsPerPage]="pagination.per_page"
        [maxSize]="5"
        [(ngModel)]="pagination.current_page"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;"
      >
      </app-pagination>
    </div>
  </div>
</section>
