<section class="content-page">
  <div class="page-head page-head--space-between">
    <h2 class="head-title">
      メニュー一覧 <span class="sub-title">( 合計{{ pagination.total }}件 )</span>
    </h2>
    <div class="head-action">
      <button
        type="button"
        class="btn btn-secondary btn-border page-head-btn--secondary"
        (click)="dialogSettingSoulOut()"
      >
        売切画像設定
      </button>

      <!-- setting client language -->
      <button type="button"
        class="btn btn-secondary btn-border page-head-btn--secondary"
        (click)="dialogSettingClientLanguage()">
        表示言語設定
      </button>
<!--      <button-->
<!--        type="button"-->
<!--        class="btn btn-secondary btn-border page-head-btn&#45;&#45;secondary"-->
<!--        [disabled]="isSwap"-->
<!--        (click)="openModalSettingChargeFee()"-->
<!--      >-->
<!--        席料設定-->
<!--      </button>-->
      <button
        [routerLink]="['/setting/category']"
        [disabled]="isSwap"
        class="btn btn-secondary btn-border page-head-btn--secondary"
      >
        カテゴリー設定
      </button>
      <button type="button" [disabled]="isSwap" (click)="openDialogMenu()" class="btn page-head-btn btn-warning">
        新規追加
      </button>
    </div>
  </div>

  <app-cas-filter [sortItems]="menuOrder" (eventSort)="sortMenu($event)" [disabled]="isSwap">
    <button
      btnSwap
      class="btn btn-secondary btn-border btn-swap"
      [ngClass]="{ 'btn-warning': isSwap }"
      (click)="handleSwap()"
    >
      <i class="fa fa-exchange-alt"></i>
    </button>
    <app-form-filter-menu
      filterForm
      (filterEvent)="menuFilter($event)"
      filterSubmitText="この条件で絞込む"
    ></app-form-filter-menu>
  </app-cas-filter>

  <div class="page-content container-fluid">
    <app-cas-swap
      [items]="menus"
      [isSwap]="isSwap"
      [swapId]="id"
      (itemsSwapped)="menuSwapped($event)"
      [swapType]="SWAP_TYPE.MENU"
      [isResetSwap]="isResetSwap"
    >
      <div class="row cas-page--setting__list" swapContent>
        <div
          class="col-12 col-sm-6 col-md-6 col-lg-3 mb-3 cas-swap__item"
          *ngFor="let menu of menus"
          (click)="selectItemSwap(menu.id)"
        >
          <app-cas-card-item
            [image]="menu.image_url"
            [caption]="menu.item_category?.name"
            [content]="menu.internal_name"
            [price]="menu.price"
            [is_show]="menu.is_show"
            [recommend]="menu.recommend"
            [isSoldOut]="menu.is_sold_out"
            [class]="menu.swapClassActive"
            (eventClick)="openDialogMenu(menu)"
          ></app-cas-card-item>
        </div>
      </div>
    </app-cas-swap>

    <div class="text-center" *ngIf="!menus.length && !isLoading">
      データが見つかりません
    </div>

    <div class="loader--row" *ngIf="isLoading">
      <div class="lds-ripple">
        <div></div>
        <div></div>
      </div>
    </div>

    <div class="cas-pagination" [ngClass]="{ 'd-none': isLoading }">
      <app-pagination
        *ngIf="!isLoading || (pagination.isPagination && !isSwap)"
        class="d-flex justify-content-center"
        [boundaryLinks]="true"
        [totalItems]="pagination.total"
        [itemsPerPage]="pagination.per_page"
        [maxSize]="5"
        [(ngModel)]="pagination.current_page"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;"
      ></app-pagination>
    </div>
  </div>
</section>
