.cas-table {
  .table-menu {
    td {
      &:nth-child(2) {
        min-width: 170px;
      }

      &:nth-child(3) {
        min-width: 140px;
      }

      &:nth-child(4) {
        min-width: 70px;
      }

      &:last-of-type {
        min-width: 140px;
        width: 140px;
      }
    }
  }
}

.head-title {
  width: 120px;
}
