<section class="container-fluid">
  <div class="row">
    <!-- User Menu -->
    <div class="col-3 p-0 cas-setting-sidebar">
      <div class="cas-setting-sidebar__content">
        <nav class="sidebar">
          <a class="sidebar-title" [routerLink]="['/setting/information']" routerLinkActive="active">店舗情報</a>
          <ul class="sidebar-list-item">
            <!-- Manager Menu -->
            <li class="sidebar-item">
              <div class="sidebar-item__link" appDropdown>
                <a>メニュー管理</a>
                <span class="sidebar-item__icon"> <img src="assets/icon/arrow_menu.svg" alt="icon menu" /> </span>
              </div>
              <ul class="submenu">
                <li class="sidebar-item">
                  <a [routerLink]="['/setting/menus']" routerLinkActive="active" class="sidebar-item__link">
                    メニュー一覧
                  </a>
                </li>

                <li class="sidebar-item">
                  <a [routerLink]="['/setting/menu-types']" routerLinkActive="active" class="sidebar-item__link">
                    メニュー種別
                  </a>
                </li>
                <li class="sidebar-item">
                  <a [routerLink]="['/setting/category']" routerLinkActive="active" class="sidebar-item__link"
                    >カテゴリー設定</a
                  >
                </li>
                <li class="sidebar-item">
                  <a [routerLink]="['/setting/menu-options']" routerLinkActive="active" class="sidebar-item__link"
                    >オプション設定</a
                  >
                </li>

                <li class="sidebar-item">
                  <a [routerLink]="['/setting/rich-menu']" routerLinkActive="active" class="sidebar-item__link"
                    >リッチメニュー設定</a
                  >
                </li>
              </ul>
            </li>

            <!-- Manager Courses -->
            <li class="sidebar-item">
              <div class="sidebar-item__link" appDropdown>
                <a>コース管理</a>
                <span class="sidebar-item__icon"> <img src="assets/icon/arrow_menu.svg" alt="icon menu" /> </span>
              </div>
              <ul class="submenu">
                <li class="sidebar-item">
                  <a [routerLink]="['/setting/courses']" routerLinkActive="active" class="sidebar-item__link">
                    コース一覧
                  </a>
                </li>
                <li class="sidebar-item">
                  <a [routerLink]="['/setting/menu-buffet']" routerLinkActive="active" class="sidebar-item__link">
                    放題メニュー一覧
                  </a>
                </li>
              </ul>
            </li>

            <!-- Manager Coupon -->
            <li class="sidebar-item">
              <div class="sidebar-item__link" appDropdown>
                <a>クーポン管理</a>
                <span class="sidebar-item__icon"> <img src="assets/icon/arrow_menu.svg" alt="icon menu" /> </span>
              </div>
              <ul class="submenu">
                <li class="sidebar-item">
                  <a [routerLink]="['/setting/coupons']" routerLinkActive="active" class="sidebar-item__link">
                    クーポン一覧
                  </a>
                </li>
              </ul>
            </li>

            <!-- Manager Table -->
            <li class="sidebar-item">
              <div class="sidebar-item__link" appDropdown>
                <a>テーブル管理</a>
                <span class="sidebar-item__icon"> <img src="assets/icon/arrow_menu.svg" alt="icon menu" /> </span>
              </div>
              <ul class="submenu">
                <li class="sidebar-item">
                  <a
                    [routerLink]="['/setting/table']"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    class="sidebar-item__link"
                    >テーブル一覧</a
                  >
                </li>
                <li class="sidebar-item">
                  <a
                    [routerLink]="['/setting/table/type']"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    class="sidebar-item__link"
                    >テーブルタイプ</a
                  >
                </li>
              </ul>
            </li>

            <!-- Manager appointment schedule -->
            <li class="sidebar-item">
              <div class="sidebar-item__link" appDropdown>
                <a>予約管理機能</a>
                <span class="sidebar-item__icon"> <img src="assets/icon/arrow_menu.svg" alt="icon menu" /> </span>
              </div>
              <ul class="submenu">
                <li class="sidebar-item">
                  <a
                    [routerLink]="['/setting/sub-information']"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    class="sidebar-item__link"
                    >予約画面用設定</a
                  >
                </li>
                <li class="sidebar-item">
                  <a
                    [routerLink]="['/setting/manage-gourmet']"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    class="sidebar-item__link"
                    >グルメサイト連携</a
                  >
                </li>
              </ul>
            </li>

            <!-- Cooking Master -->
            <li class="sidebar-item">
              <div class="sidebar-item__link">
                <a [routerLink]="['/setting/cooking-masters']" routerLinkActive="active" *ngIf="curUser.is_admin"
                  >調理マスター管理</a
                >
              </div>
            </li>

            <!-- Manager Account -->
            <li class="sidebar-item">
              <div class="sidebar-item__link">
                <a [routerLink]="['/setting/account']" routerLinkActive="active" *ngIf="curUser.is_admin"
                  >アカウント管理</a
                >
              </div>
            </li>

            <!-- Manager Tax -->
            <li class="sidebar-item">
              <div class="sidebar-item__link" appDropdown>
                <a>会計管理</a>
                <span class="sidebar-item__icon"> <img src="assets/icon/arrow_menu.svg" alt="icon menu" /> </span>
              </div>
              <ul class="submenu">
                <li class="sidebar-item">
                  <a
                    [routerLink]="['/setting/manager-tax']"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    class="sidebar-item__link"
                    >税金設定</a
                  >
                </li>
              </ul>
            </li>

            <!-- Go Back -->
            <li class="sidebar-item sidebar-item--back">
              <div class="sidebar-item__link">
                <a [routerLink]="['/']"
                  ><i class="fa fa-chevron-circle-left mr-2" aria-hidden="true"></i>管理画面に戻る</a
                >
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <!-- User Info -->
    <div class="col-9 cas-setting-content border-left p-0"><router-outlet></router-outlet></div>
  </div>
</section>
