@import '../../../stylesheets/variable';

.cas-setting {
  &-sidebar {
    height: 100%;
    position: fixed;

    &__content {
      background-color: $grey-darken-10;
      height: 100%;
      opacity: 0.88;

      .sidebar {
        overflow: auto;
        overflow-x: hidden;

        &-title {
          border-bottom: 2px solid $grey-darken-2;
          color: $white;
          display: flex;
          font-size: 1rem;
          font-weight: 400;
          padding: 25px 20px;
          text-decoration: none;
          width: 100%;
        }

        &-item {
          color: $white;
          cursor: pointer;
          display: block;
          font-size: 13px;
          position: relative;
          width: 100%;

          &:hover,
          &:focus {
            opacity: 1;
          }

          &__link {
            color: $white;

            a {
              color: $white;
              display: block;
              padding: 18px 0 18px 15px;
              text-decoration: none;

              &.active {
                background-color: $grey-darken-13;
              }
            }
          }

          &__icon {
            img {
              -o-transition: all 0.4s ease;
              -webkit-transition: all 0.4s ease;
              left: auto;
              position: absolute;
              right: 12px;
              top: 22px;
              transition: all 0.4s ease;

              //&.fa-angle-down {
              //  font-size: 16px;
              //  left: auto;
              //  right: 12px;
              //}
            }
          }

          &--back {
            border-top: 2px solid $grey-darken-2;
          }

          &--active {
            a {
              border-left: 5px solid $yellow-accent;
            }
          }

          &.is-open {
            border-top: 1px solid $grey-shadow-1;

            .sidebar-item__link {
              border-bottom: 1px solid $black-opacity;
            }

            .sidebar-item {
              border-top: 1px solid $grey-darken-5;

              &:first-child {
                border-top: 0;
              }
            }
          }
        }

        li {
          &.is-close {
            .submenu {
              display: block;
            }
          }

          &.default {
            img {
              display: none;
            }
          }

          &.is-open {
            .submenu {
              -webkit-transform: scaleY(1);
              height: auto;
              opacity: 1;
              transform: scaleY(1);
            }

            img {
              -ms-transform: rotate(180deg);
              -o-transform: rotate(180deg);
              -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
            }
          }
        }

        .submenu {
          -webkit-transform: scaleY(0);
          -webkit-transform-origin: top;
          -webkit-transition: all 0.3s;
          display: block;
          font-size: 14px;
          height: 0;
          opacity: 0;
          transform: scaleY(0);
          transform-origin: top;
          transition: all 0.3s;
          width: 100%;

          li {
            background-color: $grey-darken-3;
          }

          a {
            color: $white;
            display: block;
            padding: 13.5px 0 13.5px 30px;
            text-decoration: none;

            &:hover,
            &.active {
              background-color: $grey-darken-13;
            }
          }
        }
      }
    }
  }

  &-content {
    left: 25%;
    min-height: 100%;
  }
}
