<app-cas-dialog title="予約履歴" (close)="close()" bodyClass="background-gray">
    <section dialogContent>
      <div class="row">
        <!-- Form -->
        <div class="col-6">
          <div class="resv-info">
            <h5 class="resv-info__name d-flex">
              <span class="resv-info__name-resv text-truncate d-block" [title]="resv.name">{{ resv.name }}</span>
              <span class="pl-3">様の予約履歴</span>
            </h5>
            <div class="d-flex align-items-center justify-content-between">
              <p class="resv-info__datetime">{{ resv.start_at_display }} ~ {{ resv.end_at_time_display }}</p>
              <p class="resv-info__total-menu">品数:{{ resv.all_selection.length }}品</p>
            </div>
            <div class="resv-info__payment">
              <div class="d-flex align-items-center justify-content-center">
                <div class="resv-info__payment-price">
                  <span appResizeText elementClass="resv-info__payment-price-num" class="resv-info__payment-price-num">{{ resv.total_price_display }}</span>
                </div>
                <div class="resv-info__payment-unit">
                  <span class="unit">円</span><span class="fee">(税込)</span>
                </div>
              </div>

              <div class="text-center resv-info__payment-detail">
                <span>席料: {{ resv.service_fee_format }}</span>
                <span>割引額: {{ resv.coupon_discount_format }}</span>
                <span>事前支払: {{ resv.prepaid_format }}</span>
              </div>

              <div class="resv-info__payment-method">
                <label class="col-form-label cas-text--light-gray font-weight-bold">決済方法</label>

                <div class="d-flex justify-content-between form-payment">
                  <button type="button" class="btn btn-payment"
                    [ngClass]="{ 'active': resv.isPaymentByCash }">
                    <span class="btn-payment__img"></span>
                    <span class="mt-2">現金</span>
                  </button>
                  <button type="button" class="btn btn-payment"
                    [ngClass]="{ 'active': resv.isPaymentByCard }">
                    <span class="btn-payment__img"></span>
                    <span class="mt-2">クレジット</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Table -->
        <div class="col-6 pl-0">
          <div class="resv-table-scroll">
            <app-cas-table class="table-receipt">
              <tr *ngFor="let item of resv.all_selection" >
                <td class="d-flex font-weight-bold">
                  <span class="text-truncate text-truncate--2" [title]="item.name">{{ item.name }}</span>
                </td>
                <td><p class="mb-0">{{ item.total_price_format }}円</p><p class="count-order mb-0">({{ getPriceItem(item) }}円× {{ item.quantity }})</p></td>
              </tr>
              <tr *ngIf="resv.coupon">
                <td>
                  <span class="receipt-name font-size-22 text-truncate text-truncate--2">{{ resv.coupon.name }}</span>
                </td>
                <td><p class="font-size-18 mb-0 mr-1">-{{ resv.coupon.discount_display }}円</p></td>
              </tr>
            </app-cas-table>
          </div>
        </div>
      </div>
    </section>

    <section class="cas-dialog__btn-group justify-content-between" dialogAction>
      <button class="btn btn-md btn-border btn-mw--lg btn-secondary" type="button" (click)="openUserDetails()">顧客詳細へ戻る</button>
      <button class="btn btn-md btn-mw--lg btn-warning" type="button" (click)="createReservation()">予約を作成</button>
    </section>
  </app-cas-dialog>
