.resv-info {
  &__name {
    color: #434343;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;

    &-resv {
      max-width: calc(100% - 136px);
    }
  }

  &__datetime {
    color: #434343;
    font-size: 20px;
    font-weight: 400;
  }

  &__total-menu {
    color: #9f9f9f;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.38px;
  }

  &__payment {
    background-color: #fff;
    height: 420px;

    padding: 20px;

    &-price {
      color: #050500;
      font-size: 64px;
      font-weight: 500;
      letter-spacing: 0.7px;
      max-width: calc(100% - 30px);
    }

    &-unit {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      padding-top: 10px;

      .unit {
        font-size: 25px;
      }

      .fee {
        font-size: 10px;
      }
    }

    &-detail {
      border-top: 1px solid #ccc;
      font-size: 13px;
      letter-spacing: 0.3px;
      padding-top: 12px;

      span {
        color: #9f9f9f;
        padding-right: 10px;
      }
    }

    &-method {
      padding-left: 10%;
      padding-right: 10%;
    }

    .form-payment {
      .btn-payment {
        align-items: center;
        align-self: center;
        background-clip: content-box;
        background-color: #ccc;
        border: 4px solid #fff;
        border-radius: 8px;
        color: #fff;
        cursor: unset;
        display: flex;
        flex-direction: column;
        height: 148px;
        justify-content: center;
        padding: 3px;
        width: 138px;
        border: solid 2px #ccc;

        &:first-child {
          .btn-payment__img {
            background-image: url('assets/img/payment_cash.svg');
          }
        }

        &:last-child {
          .btn-payment__img {
            background-image: url('assets/img/payment_card.svg');
            background-position: center 20px;
          }
        }

        &.active {
          background-color: #afd50f;
          border: solid 2px #afd50f;
        }

        &__img {
          background-repeat: no-repeat;
          height: 70px;
          width: 80px;
        }
      }
    }
  }

  @media (max-width: 991.98px) {
    &__datetime,
    &__name {
      font-size: 16px;
    }

    &__payment {
      padding: 20px;

      &-price {
        font-size: 45px;
      }
    }
  }
}

.resv-table-scroll {
  max-height: 500px;
  overflow-y: auto;

  .table-receipt {
    tr {
      td {
        font-size: 13px;

        &:first-child {
          span {
            max-width: 250px;

            @media (max-width: 991.98px) {
              max-width: 180px;
            }
          }
        }

        &:last-child {
          width: 135px;

          p {
            text-align: center;

            &.count-order {
              color: #818181;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
