<section class="content-page">
  <div class="page-head page-head--space-between">
    <h2 class="head-title">会計一覧</h2>
  </div>

  <div class="bg-white">
    <ul class="nav cas-nav cas-nav--line">
      <li class="nav-item">
        <a class="nav-link"
          routerLink="order"
          routerLinkActive="active">
          オーダー端末
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="self-order"
          routerLinkActive="active">
          KIOSK端末
        </a>
      </li>
    </ul>

    <div class="receipt-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>

