<app-cas-dialog title="テーブルの編集"
  dialogClass="cas-dialog__footer-no-border" (close)="closeModal()">
  <section dialogContent>
    <div class="text-center">
      <img src="assets/icons/icon_warning_larger.svg" class="mt-2 mb-4" />
      <div>
        <p class="font-size-20 font-weight-bold">予約済みの座席数を下回ります</p>
        <p class="font-size-14">既に予約に利用されている座席数を下回りますが、<br>
          変更してもよろしいですか？</p>
      </div>
    </div>
  </section>

  <section class="cas-dialog__btn-group justify-content-between" dialogAction>
    <button
      type="button"
      class="btn btn-md btn-secondary btn-border btn-mw--lg"
      aria-label="Close"
      (click)="closeModal()">
      キャンセル
    </button>

    <button
      type="button"
      class="btn btn-md btn-warning btn-mw--lg"
      aria-label="Confirm update"
      (click)="closeModal(DIALOG_EVENT.ACCEPTED_UPDATE_TABLE)">
      編集する
    </button>
  </section>
</app-cas-dialog>
