<app-cas-dialog title="予約履歴詳細" (close)="closeDialog()">
  <section dialogContent>
    <div class="page-item--head">
      <h4 class="font-weight-bold">
        {{ user.name }}　の予約履歴
        <span class="font-weight-normal">(合計 {{ pagination.total }}件 )</span>
      </h4>
    </div>

    <div class="page-item--content">
      <app-cas-table [headers]="tableHeader">
        <tr *ngFor="let reservation of reservations">
          <td class="text-center">
            <div>{{ reservation.date_string }}</div>
            <div>{{ reservation.start_end_time_string }}</div>
          </td>
          <td>
            <p class="mb-0" *ngFor="let item of reservation.items" >{{ item.item_infor_display }}</p>
          </td>
          <td class="text-center">{{ reservation.total_price_display}}円(税込)</td>
        </tr>
      </app-cas-table>

      <div class="text-center" *ngIf="!reservations.length && !isLoading">
        データが見つかりません
      </div>

      <div class="loader--row" *ngIf="isLoading">
        <div class="lds-ripple">
          <div></div><div></div>
        </div>
      </div>

      <div class="cas-pagination" [ngClass]="{ 'd-none': isLoading }">
        <app-pagination
          *ngIf="pagination.isPagination"
          class="d-flex justify-content-center"
          [boundaryLinks]="true"
          [totalItems]="pagination.total"
          [itemsPerPage]="pagination.per_page"
          [maxSize]="5"
          [(ngModel)]="pagination.current_page"
          (pageChanged)="pageChanged($event)"
          previousText="&lsaquo;"
          nextText="&rsaquo;"
          firstText="&laquo;"
          lastText="&raquo;">
        </app-pagination>
      </div>
    </div>
  </section>

  <section class="cas-dialog__btn-group justify-content-between" dialogAction>
    <button class="btn btn-md btn-mw--lg btn-secondary btn-text__large" type="button" (click)="openDialogDetail()">顧客詳細へ戻る</button>
    <button class="btn btn-md btn-mw--lg btn-warning btn-text__large" type="button" (click)="createReservation()">予約を作成</button>
  </section>
</app-cas-dialog>
