@import 'src/stylesheets/variable';

.table-information {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;

  .customer {
    align-items: center;
    display: flex;

    .number {
      background-color: $grey-lighten-5;
      border: 1px solid $grey-darken-0;
      border-radius: 5px;
      font-size: 40px;
      margin-right: 10px;
      min-width: 70px;
      padding: 4px 5px;
      text-align: center;
    }

    .cas-input-number {
      height: 70px;
      width: 70px;
    }
  }

  .info {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-align: center;
  }

  .action .btn {
    font-size: 20px;
    padding: 15px 50px;
  }
}

.table-calendar {
  padding-top: 5.8875rem;
}

.konva-scroll {
  height: 83.3vh !important;
}

.fc-resource-area.fc-widget-content .fc-scroller-clip .fc-scroller {
  height: 77.7vh !important;
}

.fc-time-area.fc-widget-content .fc-scroller-clip .fc-scroller {
  height: 77.7vh !important;
}
