<section class="content-page">
  <div class="page-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <app-konva-canvas
            [tables]="tables"
            [canvasHandleEvent]="canvasHandleEvent$"
            [isLoading]="isLoading"
            [mode]="MODES.VIEW" (eventChooseTable)="chooseTable($event)"></app-konva-canvas>
        </div>
        <div class="col-lg-6 col-md-12 table-calendar">
          <app-calendar
          (resourcesClick)="resourcesClick($event)"
          (eventClick)="eventClick($event)"
          (dayClick)="dayClicked($event)" (scrollEndReached)="scrollEnd($event)"
          (eventDrop)="eventDrop($event)" instructionClass="cal-ins_calendar"
          [eventUpdateCalendar]="eventUpdateCalendar"></app-calendar>
        </div>
      </div>
    </div>
  </div>


  <!-- Mock Data -->
  <div class="page-footer mt-4" *ngIf="tableSelected.id">
    <div class="table-information">
      <div class="customer">
        <div class="number"><span>{{ tableSelected.hasReservation ? tableSelected.current_reservation.quantity : selectedQuantity }}</span></div> <span class="text">名様</span>
      </div>

      <div class="info">
        <span class="name text-truncate w-md" [attr.title]="tableSelected.name"
          >{{ tableSelected.name }} ({{ tableSelected.quantity }}名)</span
        >
        <span class="time" *ngIf="tableSelected.hasReservation">{{ (tableSelected?.current_reservation?.start_end_time_string) }}</span>
      </div>

      <div class="action">
        <button class="btn btn-primary" [disabled]="tableSelected.isStartResv || isLoading" (click)="submitSelectedTable()">ご案内する</button>
      </div>
    </div>
  </div>
</section>
