<app-cas-dialog title="課税方法設定の変更" (close)="closeModal()">
  <section class="text-center" dialogContent>
    <img class="mb-3" src="assets/icon/icon-delete-warning.svg" alt="icon delete warning" />
    <h5 class="font-weight-bold">課税方法を変更しますか？</h5>
    <p class="mb-0 font-size-14">変更後以降に作成された予約、及び現在未会計の予約に対して</p>
    <p class="mb-0 font-size-14">変更が適用されます。変更してもよろしいですか？</p>
  </section>

  <section class="cas-dialog__btn-group justify-content-between" dialogAction>
    <button
      type="button"
      class="btn btn-md btn-secondary btn-border btn-mw--xl"
      (click)="closeModal()"
      [disabled]="isLoading"
    >
      キャンセル
    </button>

    <button type="button" class="btn btn-md btn-warning btn-mw--xl" [disabled]="isLoading" (click)="changeTaxType()">
      変更する
    </button>
  </section>
</app-cas-dialog>
