<div class="missed-call__btn" (click)="historyCallClick()">
  <span class="unsolved-count" *ngIf="unsolved > 0">{{ unsolved }}</span>
  <img class="icon-account-name" src="assets/icon/btn-call-list.svg" alt="btn-call-list">
  <span class="btn-title">着信</span>
</div>
