@import 'src/stylesheets/mixins/index';

.missed-call__btn {
  align-items: center;
  background-color: var(--grey-lighten-1);
  border-radius: pixel-to-rem(5);
  box-shadow: 0 0 1px 1px var(--white);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: pixel-to-rem(54);
  justify-content: center;
  margin-right: pixel-to-rem(8);
  min-width: pixel-to-rem(60);
  padding: 0 pixel-to-rem(10);
  position: relative;

  .unsolved-count {
    background-color: #ed1212;
    border-radius: 50%;
    color: var(--white);
    font-size: 9px;
    font-weight: 700;
    height: 15px;
    line-height: 15px;
    position: absolute;
    right: -6px;
    text-align: center;
    top: -6px;
    transition: opacity 0.5s cubic-bezier(0.39, 0.58, 0.57, 1);
    width: 15px;
  }

  .btn-title {
    color: var(--white);
    font-size: pixel-to-rem(12);
    letter-spacing: pixel-to-rem(2.4);
    margin-top: pixel-to-rem(2);

    @media screen and (max-width: 768px) {
      font-size: pixel-to-rem(10);
    }
  }
}
