.table-history-resv {
  thead th,
  tbody td {
    text-align: center;
    vertical-align: middle;
    word-break: break-all;
  }

  tbody {
    tr {
      height: 67px;
    }

    tr > td:nth-child(1),
    tr > td:nth-child(2) {
      max-width: 300px;
    }

    tr > td:nth-child(3),
    tr > td:nth-child(4),
    tr > td:nth-child(5),
    tr > td:nth-child(6) {
      min-width: 100px;
    }
  }
}
