<section class="content-page">
  <div class="page-head page-head--space-between">
    <h2 class="head-title">変更履歴</h2>
  </div>

  <app-cas-filter
    [sortItems]="sortItems"
    [sortSearch]="filterData | async"
    [searchConf]="searchConf"
    (eventSearch)="reservationFilter()"
    (eventSort)="updateSortTerm($event)">
    <section filterForm>
      <app-resv-update-history-filter
        [filterTerm]="filterData | async"
        (changeFilter)="reservationFilter()"
        [disabled]="isLoading"
      ></app-resv-update-history-filter>
    </section>
  </app-cas-filter>

  <div class="page-content container-fluid">
    <app-cas-table [headers]="tableHeader" class="table-history-resv">
      <tr class="text-center" *ngFor="let resv of resvHistorys">
        <td class="text-truncate">{{ resv.client_member?.name }}</td>
        <td class="text-truncate">{{ resv.reservation?.client_user?.name }}</td>
        <td>{{ resv.reservation?.start_at_date_display }} {{ resv.reservation?.start_at_time_display }}</td>
        <td>{{ resv.updated_at_date_display }} {{ resv.updated_at_time_display }}</td>
        <td class="font-weight-bold text-center">
          {{ resv.status_string }}
        </td>
        <td class="text-center">
          <div class="box-action">
            <button type="button"
              class="btn cas-btn btn-primary cas-btn--sm"
              (click)="navigate(resv)"
              [disabled]="isLoading">
              詳細ヘ
            </button>
          </div>
        </td>
      </tr>
    </app-cas-table>

    <div class="text-center" *ngIf="!resvHistorys.length && !isLoading">
      データが見つかりません
    </div>

    <div class="loader--row" *ngIf="isLoading">
      <div class="lds-ripple">
        <div></div><div></div>
      </div>
    </div>

    <div class="cas-pagination" [ngClass]="{ 'd-none': isLoading }">
      <app-pagination
        *ngIf="pagination.isPagination"
        class="d-flex justify-content-center"
        [boundaryLinks]="true"
        [totalItems]="pagination.total"
        [itemsPerPage]="pagination.per_page"
        [maxSize]="5"
        [(ngModel)]="pagination.current_page"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;"></app-pagination>
    </div>
  </div>
</section>
