<section class="cas-ngx-datepicker cas-ngx-datepicker-filter">
  <div class="cas-fr-bspicker-group">
    <div class="d-flex align-items-center">
      <div class="cas-ngx-datepicker-filter__input-group" [hidden]="isUnitTypeCustom" [ngClass]="{ disabled: disabled, small: isSmall }">
        <div class="d-flex">
          <button
            type="button"
            class="btn cas-ngx-datepicker-filter__btn-left"
            (click)="prevDate()"
            [disabled]="disabled"
          >
            <img src="assets/icon/calendar-arrow-left.svg" alt="icon calendar arrow" />
          </button>

          <div class="position-relative">
            <input
              class="form-control w-100 py-0 cas-ngx-datepicker-filter__bs-input"
              type="text"
              [placeholder]="placeholder"
              [name]="name"
              [bsConfig]="defaultBsConfig"
              [minDate]="minDate"
              [maxDate]="maxDate"
              [required]="required"
              (ngModelChange)="onChange($event)"
              [ngClass]="{ 'is-invalid': validatorError }"
              (focus)="onblur($event)"
              [disabled]="disabled"
              (onShown)="onShownDatepicker($event)"
              [placement]="placement"
              #dp="bsDatepicker"
              bsDatepicker
              [(ngModel)]="selectedDateCalendar"
              [isOpen]="isOpen"
            />

            <div class="cas-ngx-datepicker-filter__input">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <img src="assets/icon/calendar-filter.svg" alt="icon calendar filter" />
                  </span>
                </div>

                <input
                  class="form-control p-0"
                  type="text"
                  [placeholder]="placeholder"
                  [name]="name"
                  [ngClass]="{ 'is-invalid': validatorError }"
                  (focus)="onblur($event)"
                  [disabled]="disabled"
                  [ngModel]="selectedDateDisplay"
                  (click)="dp.toggle()"
                  [attr.aria-expanded]="dp.isOpen"
                />
              </div>
            </div>
          </div>

          <button
            type="button"
            class="btn cas-ngx-datepicker-filter__btn-right"
            (click)="nextDate()"
            [disabled]="disabled"
          >
            <img src="assets/icon/calendar-arrow-right.svg" alt="icon calendar arrow" />
          </button>
        </div>
      </div>

      <div class="cas-ngx-datepicker-custom" *ngIf="isUnitTypeCustom" [ngClass]="{ disabled: disabled, small: isSmall }">
        <div class="input-group">
          <div class="input-group-prepend">
              <span class="input-group-text">
                <img src="assets/icon/calendar-filter.svg" alt="icon calendar filter" />
              </span>
          </div>

          <input
            class="form-control"
            type="text"
            name="custom-From"
            [placeholder]="placeholder"
            [bsConfig]="defaultBsConfig"
            [minDate]="minDate"
            [maxDate]="maxDate"
            [required]="required"
            (ngModelChange)="customChange($event)"
            [ngClass]="{ 'is-invalid': validatorError }"
            (focus)="onblur($event)"
            [disabled]="disabled"
            (onShown)="onShownDatepicker($event)"
            [placement]="placement"
            bsDatepicker
            [(ngModel)]="customFrom"
          />
        </div>
        <span class="mx-2">-</span>
        <div class="input-group">
          <div class="input-group-prepend">
              <span class="input-group-text">
                <img src="assets/icon/calendar-filter.svg" alt="icon calendar filter" />
              </span>
          </div>

          <input
            class="form-control"
            type="text"
            name="custom-to"
            [placeholder]="placeholder"
            [bsConfig]="defaultBsConfig"
            [minDate]="customFrom"
            [maxDate]="maxDate"
            [required]="required"
            (ngModelChange)="customChange($event, false)"
            [ngClass]="{ 'is-invalid': validatorError }"
            (focus)="onblur($event)"
            [disabled]="disabled"
            (onShown)="onShownDatepicker($event)"
            [placement]="placement"
            bsDatepicker
            [(ngModel)]="customTo"
          />
        </div>
      </div>

      <div class="cas-ngx-datepicker-filter__unit ml-3" *ngIf="isShowUnit" [ngClass]="{ small: isSmall }">
        <app-cas-ng-select
          [items]="DATE_UNIT"
          [closeOnSelect]="true"
          [clearable]="false"
          [loading]="false"
          placeholder="人数"
          className="mi-form-ng-select cas-fr-small"
          name="unit"
          [(ngModel)]="unitType"
          bindLabel="label"
          bindValue="value"
          (change)="changeUnit()"
          [disabled]="disabled"
        >
        </app-cas-ng-select>
      </div>
    </div>

    <span class="cas-fr-bspicker-after" *ngIf="isClearPicker && selectedDate" (click)="clearPicker()">x</span>
  </div>

  <div class="invalid-feedback" *ngIf="validatorError">{{ validatorError }}</div>
</section>
