.cas-ngx-datepicker-filter {
  &__input-group {
    border: 1px solid #eaeaea;
    border-radius: 30px;

    .btn {
      background-color: var(--grey-lighten-5);
      border: 1px solid var(--white);
      padding: 0 8px;

      img {
        vertical-align: baseline;
      }

      .fa {
        font-size: 20px;
      }

      &:focus {
        box-shadow: none;
      }
    }

    input,
    button,
    .input-group-text {
      height: 40px;
    }

    input,
    .input-group-text {
      border-color: var(--white);
      border-radius: 0;
    }

    .input-group-text {
      background-color: var(--white);
    }

    &.disabled {
      .input-group-text {
        background-color: var(--grey-lighten-2);
        border-color: var(--grey-lighten-2);
      }
    }
  }

  &__unit {
    min-width: 95px;
  }

  &__btn-left {
    border-radius: 20px 0 0 20px;
  }

  &__btn-right {
    border-radius: 0 20px 20px 0;
  }

  &__bs-input {
    visibility: hidden;
  }

  &__input {
    left: 0;
    position: absolute;
    top: 0;
  }
}

.ng-select.ng-select-single .ng-select-container {
  border-radius: 3px;
  height: 40px;
}

.cashless-theme.calendar-date-picker {
  margin-top: 18px;
}

.cas-ngx-datepicker-filter {
  &__input-group,
  &__unit {
    &.small {
      input,
      button,
      .input-group-text,
      .ng-select.ng-select-single .ng-select-container {
        height: 32px;
      }
    }
  }
}

.cas-ngx-datepicker-custom {
  align-items: center;
  display: flex;

  .input-group-text,
  input {
    height: 32px;
  }

  .input-group-text {
    background-color: var(--white);
    border-radius: 15px 0 0 15px;
    border-right: 0;
    padding-right: 0;
  }

  input {
    border-left: 0;
    border-radius: 0 15px 15px 0;
    width: 140px !important;
  }
}
