<app-cas-dialog title="表示言語設定" (close)="closeModal()">
  <section dialogContent class="setting-client-language">
    <div class="content mx-5">
      <div class="d-flex justify-content-between my-3">
        <label class="my-auto">
          <img src="assets/icon/flag_english.svg" height="29" />
          <span class="align-middle ml-5">英語</span>
        </label>
        <app-ui-switch className="ui-switch--short"
          [(ngModel)]="clientLanguage.allow_en"
          name="lang_allow_en"></app-ui-switch>
      </div>

      <div class="d-flex justify-content-between my-3">
        <label class="my-auto">
          <img src="assets/icon/flag_china.svg" height="29" />
          <span class="align-middle ml-5">中国語(簡体字)</span>
        </label>
        <app-ui-switch className="ui-switch--short"
          [(ngModel)]="clientLanguage.allow_zh_hans"
          name="lang_allow_zh_hans"></app-ui-switch>
      </div>

      <div class="d-flex justify-content-between my-3">
        <label class="my-auto">
          <img src="assets/icon/flag_china.svg" height="29" />
          <span class="align-middle ml-5">中国語(繁体字)</span>
        </label>
        <app-ui-switch className="ui-switch--short"
          [(ngModel)]="clientLanguage.allow_zh_hant"
          name="lang_allow_zh_hant"></app-ui-switch>
      </div>

      <div class="d-flex justify-content-between my-3">
        <label class="my-auto">
          <img src="assets/icon/flag_korea.svg" height="29" />
          <span class="align-middle ml-5">韓国語</span>
        </label>
        <app-ui-switch className="ui-switch--short"
          [(ngModel)]="clientLanguage.allow_ko"
          name="lang_allow_ko"></app-ui-switch>
      </div>
    </div>

  </section>

  <section class="cas-dialog__btn-group justify-content-between" dialogAction>
    <button
      type="button"
      class="btn btn-md btn-secondary btn-border btn-mw--lg mr-3"
      aria-label="Close"
      (click)="closeModal()"
      [disabled]="isLoading">
      キャンセル
    </button>

    <button type="submit"
      class="btn btn-md btn-warning btn-border btn-mw--lg"
      aria-label="設定する"
      [disabled]="isLoading"
      (click)="saveSettingClientLanguage()">
      設定する
    </button>
  </section>
</app-cas-dialog>
