<div class="cas-modal resv-modal m-0">
  <div class="modal-header">
    <h5 class="cas-modal__title text-center w-100 font-weight-bold">ご予約内容</h5>
    <button type="button" class="cas-modal__close-text" aria-label="Close" (click)="closeModal()">
      <i class="fa fa-times mr-1" aria-hidden="true"></i> 閉じる
    </button>
  </div>
  <div class="modal-body">
    <div class="d-flex justify-content-between mt-4">
      <label class="resv-label font-size-16">ご注文内容</label>
      <div class="font-size-13">受付日：{{ reservation.receipt_date_display }}</div>
    </div>
    <div class="resv-line"></div>
    <div class="resv-section">
      <div class="d-flex justify-content-end mb-3">
        <button
          [disabled]="reservation.isCanceled || reservation.isFinished"
          (click)="navigateEditResv()"
          class="btn cas-btn cas-btn--darken cas-btn__icon-arrow--right cas-btn--sm cas-btn--bg-gray font-size-13 pt-2 w-25"
        >
          予約内容を変更
        </button>
      </div>
      <div class="mb-3">
        <span class="font-size-18 mr-2">{{ reservation.start_at | date: 'yyyy' }}年</span>
        <span class="font-size-30 font-weight-bold cas-text--red">{{ reservation.start_at | date: 'MM' }}</span>
        <span class="font-size-18 font-weight-bold mr-2">月</span>
        <span class="font-size-30 font-weight-bold cas-text--red">{{ reservation.start_at | date: 'dd' }}</span>
        <span class="font-size-18 font-weight-bold mr-2">日</span>
        <span class="font-size-19 font-weight-bold mr-4" *ngIf="reservation.start_at"
          >({{ reservation.start_week_day }})</span>
        <span class="font-size-30 font-weight-bold cas-text--red mr-3">{{ reservation.start_at | date: 'HH:mm' }}</span>
        <span class="font-size-30 font-weight-bold cas-text--red">{{ reservation.quantity }}</span>
        <span class="font-size-18 font-weight-bold">名</span>
        <span class="font-size-14" *ngIf="reservation.has_children">(お子様含む)</span>
      </div>
      <div class="mb-3">
        <span class="font-size-34 font-weight-bold mr-2 cas-text--pre-line">{{ reservation.resv_name_display }}</span>
        <span class="font-size-22 font-weight-bold">様</span>
      </div>
      <div>
        <span>電話番号</span> <span class="font-size-18">：</span>
        <span class="font-size-20">{{ reservation.client_user?.phone }}</span>
      </div>
    </div>
    <div class="resv-line"></div>
    <div class="resv-section">
      <div class="row mb-2">
        <label class="col-3 resv-label">
          <img src="assets/icon/resv-detail.svg" class="resv-icon" alt="" /> ご注文内容
        </label>
        <div class="col-9">
          <div class="mb-1" *ngFor="let item of reservation.all_selection_string">{{ item }}</div>
        </div>
      </div>
      <div class="row mb-2" *ngIf="reservation.coupon">
        <label class="col-3 resv-label"> クーポン </label>
        <div class="col-9">{{ reservation.coupon?.name }}</div>
      </div>
      <div class="row mb-2">
        <label class="col-3 resv-label">
          <img src="assets/icon/resv-time.svg" class="resv-icon" alt="" /> ご利用時間
        </label>
        <div class="col-9">{{ reservation.duration_usage }}</div>
      </div>
      <div class="row mb-2">
        <label class="col-3 resv-label">
          <img src="assets/icon/resv-cost.svg" class="resv-icon" alt="" /> 合計金額
        </label>
        <div class="col-9">{{ reservation.total_price_display }}円</div>
      </div>
      <div class="row mb-2">
        <label class="col-3 resv-label">
          <img src="assets/icon/resv-other.svg" class="resv-icon" alt="" /> その他
        </label>
        <div class="col-9 cas-text--pre-line">{{ reservation.memo }}</div>
      </div>
    </div>
    <div class="resv-line"></div>
    <div class="resv-section">
      <div class="d-flex justify-content-end mb-3">
        <button
          [disabled]="reservation.isCanceled || reservation.isFinished"
          (click)="navigateEditTable()"
          class="btn cas-btn cas-btn--darken cas-btn__icon-arrow--right cas-btn--sm cas-btn--bg-gray font-size-13 pt-2 w-25"
        >
          テーブルを変更
        </button>
      </div>
      <div class="row mb-3">
        <div class="col-3 cas-text--gray">座席</div>
        <div class="col-9 font-weight-bold">
          <span class="badge badge-info text-truncate w-sm mr-2 mt-1 py-1"
            *ngFor="let table of reservation.tables" [attr.title]="table.name">
            {{ table.name }} {{ table.quantityString }} (テーブル)
          </span>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-3 cas-text--gray">ステータス</div>
        <div class="col-9">{{ reservation.resvStatusString }}</div>
      </div>
      <div class="row mb-3">
        <div class="col-3 cas-text--gray">お客さまメモ</div>
        <div class="col-9 cas-text--pre-line">{{ reservation.client_user?.memo }}</div>
      </div>
    </div>
    <div class="resv-line"></div>
    <div class="resv-section">
      <div class="row py-3">
        <div class="col-3 cas-text--gray">受付担当者</div>
        <div class="col-9 cas-text--pre-line">{{ reservation.client_member_display }}</div>
      </div>
    </div>
  </div>

  <div class="modal-footer justify-content-between">
    <button
      type="button"
      class="btn cas-btn cas-btn--cancel font-weight-bold"
      aria-label="Close"
      (click)="openModalResvCancel()"
      [disabled]="isLoading || reservation.isDisabledCancelBtn"
    >
      予約をキャンセルする
    </button>

    <button
      type="button"
      *ngIf="reservation.user"
      class="btn cas-btn btn-primary font-weight-bold"
      aria-label="Send Message"
      (click)="sendMessage()"
      [disabled]="isLoading || reservation.isCanceled || reservation.isFinished"
    >
      メールを送信する
    </button>
  </div>
</div>
