<section class="content-page">
  <div class="page-content container-fluid p-0">
    <app-calendar
      (resourcesClick)="resourcesClick($event)"
      (eventClick)="eventClick($event)"
      (dayClick)="dayClicked($event)"
      (scrollEndReached)="scrollEnd($event)"
      (eventDrop)="eventDrop($event)"
      [eventUpdateCalendar]="eventUpdateCalendar">
    </app-calendar>
  </div>
</section>
