<section class="content-page">
  <!-- Analysis Header -->
  <div class="analysis-header">
    <h1 class="title">来店分析</h1>

    <!-- Analysis Filter -->
    <div class="analysis-filter">
      <app-ngx-datepicker-filter [(ngModel)]="filterDate" (change)="filterAnalysis($event)" [disabled]="!isConnected || isLoading" isShowUnit="true">
      </app-ngx-datepicker-filter>
    </div>
  </div>

  <!-- Analysis Status -->
  <div class="analysis-status">
    <!-- Analysis Status Config -->
    <div class="status-item status-item__status">
      <p class="title">ステータス</p>
      <div class="content">
        <div class="type" [ngClass]="{ 'success': isConnected }">{{ isConnected ? '良好' : '未接続' }}</div>
      </div>
    </div>

    <!-- Analysis Status Date -->
    <div class="status-item status-item__date">
      <p class="title">集計日</p>
      <div class="content">
        <p>{{ dateDisplay }}</p>
      </div>
    </div>

    <!-- Analysis Status Guest Count -->
    <div class="status-item status-item__total">
      <p class="title">来店人数</p>
      <div class="content">
        <p>{{ aiAnalysis.total_user }}</p>
      </div>
    </div>

    <!-- Analysis Status Export CSV -->
    <div class="status-item status-item__export flex-wrap">
      <div class="font-size-13 text-right">指定した期間のCSVをダウンロードする</div>
      <button class="btn btn-secondary btn-border btn-download" (click)="exportCSV()" [disabled]="!isConnected || isLoading"><img class="icon-download" src="assets/icon/icon-download.svg"/>ダウンロード</button>
    </div>
  </div>

  <!-- Analysis Content -->
  <div class="page-content container-fluid analysis-content mb-3" *ngIf="isConnected">
    <div class="row">
      <div class="col-md-4">
        <app-ai-pie-chart
          [percentLeft]="aiAnalysis.status_new_percent"
          [percentRight]="aiAnalysis.status_repeater_percent"
          [chartData]="statusData"
          [labels]="statusLabels"
          title="顧客種別"
          [isDataNotFound]="aiAnalysis.data_status_not_found">
        </app-ai-pie-chart>
      </div>
      <div class="col-md-4">
        <app-ai-pie-chart
          [percentLeft]="aiAnalysis.gender_male_percent"
          [percentRight]="aiAnalysis.gender_female_percent"
          [chartData]="genderData"
          [labels]="genderLabels"
          [isGender]="true"
          title="性別"
          [isDataNotFound]="aiAnalysis.data_gender_not_found">
        </app-ai-pie-chart>
      </div>
      <div class="col-md-4">
        <app-ai-bar-chart
          [chartData]="ageData"
          [labels]="ageLabels"
          [colors]="colors"
          [isDataNotFound]="aiAnalysis.data_age_not_found">
        </app-ai-bar-chart>
      </div>
    </div>
  </div>

  <!-- Disconnected Device Message -->
  <div class="text-center mt-5" *ngIf="!isConnected">
    <p class="disconnected-message">未接続なので、表示するデーターがありません</p>
  </div>
</section>
