// .autocomplete ul {
//   background-color: #fff;
//   border-bottom: 1px solid;
//   border-color: #ce4185;
//   border-left: 1px solid;
//   border-right: 1px solid;
//   border-top: 0;
//   left: 0;
//   list-style: none;
//   margin: 0 15px;
//   max-height: 200px;
//   overflow-y: scroll;
//   padding-left: 0;
//   position: absolute;
//   width: calc(100% - 30px);
//   z-index: 1100;

//   &.hidden {
//     display: none;
//   }
// }

// .autocomplete li {
//   cursor: pointer;
//   list-style: none;
//   overflow: hidden;
//   padding: 6px 10px;
//   text-align: left;
//   text-overflow: ellipsis;
//   white-space: nowrap;
//   width: 100%;

//   &.active {
//     background-color: #f5faff;
//     color: #333;
//     width: 100%;
//   }

//   &:hover {
//     background-color: #ebf5ff;
//     color: #333;
//   }
// }

// .autocomplete .highlight {
//   background-color: #e2e2e2;
// }

// .autocomplete li.active .highlight {
//   background: #666;
//   color: #fff;
// }

// .autocomplete .form-control[readonly] {
//   background-color: #fff;
// }

// .input-loading {
//   -webkit-animation: load8 0.8s infinite linear;
//   -webkit-transform: translateZ(0);
//   animation: load8 0.8s infinite linear;
//   border-bottom: 2px solid rgba(66, 66, 66, 0.2);
//   border-left: 2px solid #424242;
//   border-radius: 50%;
//   border-right: 2px solid rgba(66, 66, 66, 0.2);
//   border-top: 2px solid rgba(66, 66, 66, 0.2);
//   font-size: 10px;
//   height: 17px;
//   margin-right: 5px;
//   position: absolute;
//   right: 20px;
//   text-indent: -9999em;
//   top: 10px;
//   transform: translateZ(0);
//   width: 17px;
// }
