.badge-secondary {
  background-color: $grey-lighten-1;
  color: $white;
}

// .cas-badge-number {
//   border: 1px solid $grey-darken-9;
//   border-radius: 50%;
//   display: inline-block;
//   font-size: 12px;
//   height: 20px;
//   line-height: 1;
//   padding: 2px;
//   width: 20px;
// }

.cas-badge {
  border-radius: 2px;
  color: var(--white);
  display: inline-block;
  font-size: 13px;
  padding: 3px;
  width: 85px;

  &--primary {
    background-color: var(--orange-lighten-1);
  }

  &--info {
    background-color: var(--blue-accent);
  }

  &--secondary {
    background-color: var(--grey-darken-1);
  }
}
