// .cas-breadcrumb {
//   background-color: $grey-lighten-5;
//   border-bottom: 1px solid var(--grey-lighten-8);
//   width: 100%;

//   .breadcrumb {
//     background-color: $grey-lighten-5;
//     display: flex;
//     justify-content: space-between;
//     margin: 0 auto;
//     padding: 0.65rem 1rem;

//     &-clild {
//       align-items: center;
//       display: flex;
//       flex: 0 0 39%;
//       justify-content: space-around;

//       &:last-child {
//         flex: 0 0 21%;
//         justify-content: center;
//       }

//       &__link {
//         color: $grey-darken-13;
//         font-size: 14px;
//         pointer-events: none;

//         &.active {
//           color: $grey-darken-9;
//           font-weight: bold;
//         }
//       }
//     }
//   }
// }
