@each $color, $value in $theme-colors {
  .btn-#{$color}:focus,
  .btn-#{$color}:active:focus {
    box-shadow: none;
    outline: 0;
  }
}

.btn-success,
.btn-primary {
  color: var(--white);

  &:disabled {
    color: var(--white);
  }
}

.btn-outline-success,
.btn-outline-primary {
  background-color: var(--white);

  &:hover {
    color: var(--white) !important;
  }
}

.btn-outline-success {
  border-color: var(--white);
}

.btn-mw {
  min-width: 120px;

  &--lg {
    min-width: 150px;
    padding-bottom: 14px;
    padding-top: 14px;
  }

  &--xl {
    min-width: 184px;
    padding-bottom: 14px;
    padding-top: 14px;
  }

  &--md {
    font-size: 18px;
    min-width: 160px;
    padding-bottom: 8px;
    padding-top: 8px;
  }

  &--sm {
    font-size: 15px;
    min-width: 100px;
    padding-bottom: 8px;
    padding-top: 8px;
  }
}

.btn-text__large {
  font-size: 1rem;
}

.btn-border {
  border: 0.0625rem solid var(--grey-lighten-4);
}

.btn-swap {
  color: #a8a8a8;
  font-size: 20px;
  height: 42.19px;
  line-height: 1;
  margin-right: 5px;
  width: 45px;

  &.btn-warning {
    color: #333;
  }
}

.btn-remove {
  align-items: center;
  background-color: $grey-lighten-2;
  border-radius: 50%;
  color: $white;
  cursor: pointer;
  display: flex;
  font-size: 10px;
  height: 16px;
  justify-content: center;
  margin-right: 5px;
  min-width: 16px;
  width: 16px;
}

.btn.page-head-btn {
  font-size: 17px;
  min-width: 160px;
  padding: 9px;

  &--secondary {
    font-size: 12px;
    margin-right: 10px;
    min-width: 115px;
    padding: 6px;
  }

  @media screen and (max-width: 768px) {
    min-width: 120px;

    &--secondary {
      min-width: 100px;
    }
  }
}

.btn.btn-md {
  font-size: pixel-to-rem(20);
}

.btn-link {
  &--black {
    color: #222;

    &:hover {
      color: #2e2c2c;
    }
  }

  &--primary {
    color: #3597eb;

    &:hover {
      color: #65a7ed;
    }
  }
}

.btn-language {
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  color: #c3c3c3;
  cursor: pointer;
  font-size: 18px;
  height: 3.75rem;
  position: relative;
  width: 100%;

  &::before {
    content: '+';
    font-size: 25px;
    left: 145px;
    line-height: 0;
    position: absolute;
    top: 50%;
  }

  &:focus {
    box-shadow: none;
    color: #c3c3c3;
    outline: none;
  }
}
