.pie-chart {
  background-color: var(--white);
  border: 1px solid $grey-lighten-2;
  border-radius: 5px;
  height: 100%;
  padding: 20px;
  position: relative;
}

.text-not-found {
  -webkit-transform: translate(-50%, -50%);
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.pie-container {
  align-items: stretch;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.chart-wrap {
  width: calc(100% - 200px);
}

.legend-wrap {
  padding-top: 20px;
  width: 200px;
}

.legend-panel {
  font-size: 13px;
  max-height: 150px;
  overflow: auto;
  width: 100%;

  &__item {
    cursor: pointer;

    &.in-active {
      text-decoration: line-through;
    }
  }

  &__color {
    border-radius: 15px;
    display: inline-block;
    height: 10px;
    margin-right: 15px;
    width: 40px;
  }
}
