$light-blue-cld: #d3f0f3;
$light-green-cld: #e4f3a6;
$light-green: #abd304;
$light-green-opacity: rgba(171, 211, 4, 0.6);
$light-orange-cld: #f6f0cf;

.fc-calendar {
  .fc-header-toolbar {
    display: none;
  }

  .fc-event {
    background-color: $grey-lighten-7;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
    color: $black-darken-1;
    font-size: 0.875rem;
    font-weight: bold;
    margin-top: 8.5px;
    padding: 0.3125rem;

    &__resv--by-web {
      background-color: var(--white);
      border: 2px solid $light-green;

      &.is-incoming {
        background: repeating-linear-gradient(
          312deg,
          $light-green-cld,
          $light-green-cld 2px,
          var(--white) 2px,
          var(--white) 8px
        );
      }

      &.is-working {
        background-color: $light-green;
      }
    }

    &__resv--walk-in {
      background-color: var(--white);
      border: 2px solid var(--blue-accent);

      &.is-incoming {
        background: repeating-linear-gradient(
          312deg,
          $light-blue-cld,
          $light-blue-cld 2px,
          var(--white) 2px,
          var(--white) 8px
        );
      }

      &.is-working {
        background-color: var(--blue-accent);
      }
    }

    &__resv--by-phone {
      background-color: var(--white);
      border: 2px solid var(--orange-lighten-1);

      &.is-incoming {
        background: repeating-linear-gradient(
          312deg,
          $light-orange-cld,
          $light-orange-cld 2px,
          var(--white) 2px,
          var(--white) 8px
        );
      }

      &.is-working {
        background-color: var(--orange-lighten-1);
      }
    }

    &__resv--wait-for-pay {
      animation-duration: 1.2s;
      animation-iteration-count: infinite;
      animation-name: toggleBgColor;
      animation-timing-function: ease;
      border: 0;
      color: var(--white) !important;
    }

    .fc-resv-info {
      p {
        margin-bottom: 0;
      }

      &_badge {
        background-color: $red;
        border-radius: 5px;
        color: var(--white);
        font-size: 0.5rem;
        padding: 0 0.3125rem;

        &.badge-ordered {
          background-color: var(--white);
          color: var(--orange-lighten-1);
        }

        &.badge-no-paid {
          background-color: $red !important;
          color: var(--white);
        }

        &.badge-paid {
          background-color: #a9a9a9 !important;
          color: var(--white);
        }
      }

      &_code {
        font-size: 0.7rem;
      }
    }

    &.is-working,
    &.is-working:not([href]):not([tabindex]):hover {
      border: unset;
      color: var(--white);
    }

    &.is-finished {
      background-color: $grey-lighten-7;
      border: unset;
      color: var(--white);

      .fc-resv-info_badge {
        background-color: var(--grey-lighten-1);

        &.badge-ordered {
          color: var(--white);
        }
      }
    }
  }

  .fc-timeline {
    .fc-head {
      background-color: #8b8a8a;
      color: #fff;
      font-size: 0.75rem;
      font-weight: bold;

      .fc-divider {
        width: 0;
      }

      .fc-cell-content {
        padding-bottom: 7px;
        padding-top: 7px;
        text-align: center;
      }
    }

    .fc-info-seat {
      .seat-item {
        align-items: center;
        color: #707070;
        display: flex;
        font-size: 0.6875rem;
        justify-content: space-between;
        line-height: 1.125rem;
        margin-bottom: 3px;

        &--info {
          display: inline-block;
          text-overflow: ellipsis;
          width: 9.75rem;
        }

        &--res-count {
          align-items: center;
          display: flex;
          line-height: 1;

          img {
            margin-right: 3px;
          }
        }

        &--bold {
          color: #222;
          font-size: 0.875rem;
          font-weight: bold;
        }
      }
    }

    .fc-body {
      .fc-resource-area {
        background-color: #fafafa;
        border-color: #ccc;
        box-shadow: 1px 0 6px 0 #808080;

        .fc-widget-content {
          border-color: #eaeaea;
        }

        .active {
          .fc-widget-content {
            background-clip: padding-box;
            background-color: #fff3e5;
          }
        }
      }

      .fc-cell-content {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }

  .fc-time-area .fc-now-indicator-arrow {
    display: none;
  }

  &.dimmer-bg {
    .fc-timeline .fc-body {
      .fc-event {
        &__resv--walk-in {
          &.is-working {
            background-color: #3199a1;
          }
        }

        &__resv--by-phone {
          &.is-working {
            background-color: #cf7c09;
          }
        }

        &.is-finished {
          background-color: #a3a3a3;
        }
      }
    }
  }
}

body.fc-unselectable {
  .fc-event-old-drag {
    background: unset !important;
    border: 2px dashed#a3a3a3 !important;
    color: #a3a3a3 !important;
    visibility: visible !important;
  }
}

@keyframes toggleBgColor {
  0% {
    background-color: $light-green-opacity;
  }

  50% {
    background-color: $light-green;
  }

  100% {
    background-color: $light-green-opacity;
  }
}

@-webkit-keyframes toggleBgColor {
  0% {
    background-color: $light-green-opacity;
  }

  50% {
    background-color: $light-green;
  }

  100% {
    background-color: $light-green-opacity;
  }
}
