// .cas-input-group-append {
//   border-radius: 5px;
//   height: calc(3.125rem + 2px);
// }

.cas-fr {
  //   &-label {
  //     color: $grey-darken-4;
  //     font-family: 'Hiragino Kaku Gothic Pro';
  //     font-size: 14px;
  //     font-weight: 700;
  //     line-height: 21px;

  //     &.required::after {
  //       color: $red-accent;
  //       content: '*';
  //       padding-left: 5px;
  //     }
  //   }

  //   // &-control {
  //   //   background-color: $white;
  //   //   border: 1px solid $grey-lighten-7;
  //   //   border-radius: 5px;
  //   //   font-size: 16px;
  //   //   height: calc(3.125rem + 2px);

  //   //   &::-webkit-input-placeholder,
  //   //   &::placeholder {
  //   //     color: $grey-lighten-3;
  //   //     font-size: 16px;
  //   //   }

  //   //   &.is-invalid {
  //   //     background-image: none;
  //   //   }

  //   //   &.cas-fr-small {
  //   //     height: calc(2.125rem + 2px);
  //   //   }
  //   // }

  //   &-ng-select {
  //     &.ng-select .ng-select-container {
  //       background-color: $white;
  //       border: 1px solid $grey-lighten-7;
  //       border-radius: 5px;
  //       font-size: 16px;
  //       height: calc(3.125rem + 2px);

  //       .ng-value-container {
  //         .ng-placeholder {
  //           color: $grey-lighten-3;
  //           font-size: 16px;
  //           padding-left: 3px;
  //         }

  //         .ng-input {
  //           top: auto;
  //         }
  //       }
  //     }

  //     &.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
  //       top: auto;
  //     }

  //     &.is-invalid {
  //       .ng-select-container {
  //         border-color: $deep-orange-accent;
  //       }

  //       ~ .invalid-feedback {
  //         display: block;
  //       }

  //       .ng-arrow-wrapper .ng-arrow {
  //         border-color: $deep-orange-accent transparent transparent;
  //       }
  //     }

  //     &.ng-select.ng-select-opened .ng-select-container {
  //       z-index: 1;
  //     }

  //     &.cas-fr-small.ng-select .ng-select-container {
  //       height: calc(2.125rem + 2px);
  //     }

  //     &.ng-select.ng-select-disabled {
  //       .ng-select-container,
  //       .ng-value-container .ng-input > input {
  //         cursor: not-allowed;
  //       }

  //       .ng-arrow-wrapper {
  //         pointer-events: none;
  //       }
  //     }
  //   }

  //   &-file {
  //     align-items: center;
  //     background-color: $grey-lighten-5;
  //     border: 1px solid $grey-lighten-7;
  //     cursor: pointer;
  //     display: flex;
  //     height: 268px;
  //     justify-content: center;
  //     position: relative;
  //     width: 100%;

  //     input[type='file'] {
  //       cursor: pointer;
  //       filter: alpha(opacity=0);
  //       font-size: 100px;
  //       left: 0;
  //       min-height: 100%;
  //       opacity: 0;
  //       outline: none;
  //       position: absolute;
  //       text-align: right;
  //       top: 0;
  //       width: 100%;
  //     }

  //     span {
  //       z-index: 9;
  //     }

  //     &__icon {
  //       color: $grey-lighten-3;
  //       font-size: 2rem;
  //     }

  //     &__image {
  //       bottom: 0;
  //       height: 100%;
  //       object-fit: cover;
  //       position: absolute;
  //       top: 0;
  //       width: 100%;
  //       z-index: 1;
  //     }

  //     &__info {
  //       background-color: $black;
  //       bottom: 0;
  //       display: inline-block;
  //       opacity: 0.5;
  //       position: absolute;
  //       text-align: right;
  //       width: 100%;
  //       z-index: 99;

  //       &-name {
  //         color: $white;
  //         font-size: 13px;
  //       }
  //     }

  //     &__btn {
  //       color: $grey-lighten-7;
  //       font-size: 12px;
  //     }

  //     &.is-invalid {
  //       padding-right: 0.75rem;
  //     }
  //   }

  //   &-time-picker {
  //     .form-control {
  //       background-color: $white;
  //       border: 1px solid $grey-lighten-7;
  //       border-radius: 5px;
  //       font-size: 16px;
  //       height: calc(3.125rem + 2px);

  //       &::-webkit-input-placeholder,
  //       &::placeholder {
  //         color: $grey-lighten-3;
  //         font-size: 16px;
  //       }

  //       &.is-invalid {
  //         background-image: none;
  //       }
  //     }

  //     &.cas-fr-small .form-control {
  //       height: calc(2.125rem + 2px);
  //     }
  //   }

  //   &-image {
  //     align-items: center;
  //     background-color: #fafafa;
  //     background-position: center;
  //     background-repeat: no-repeat;
  //     background-size: cover;
  //     border: 1px solid #ccc;
  //     border-radius: 4px;
  //     cursor: pointer;
  //     display: flex;
  //     height: 268px;
  //     justify-content: center;
  //     position: relative;
  //     width: 100%;

  //     &:hover .cas-fr-image__info {
  //       -webkit-transform: scaleY(1);
  //       transform: scaleY(1);
  //     }

  //     &__info {
  //       -webkit-transform: scaleY(0);
  //       -webkit-transform-origin: bottom;
  //       -webkit-transition: all 0.3s;
  //       background-color: $black;
  //       bottom: 0;
  //       display: inline-block;
  //       opacity: 0.5;
  //       position: absolute;
  //       text-align: right;
  //       transform: scaleY(0);
  //       transform-origin: bottom;
  //       transition: all 0.3s;
  //       width: 100%;
  //       z-index: 99;

  //       &-name {
  //         color: $white;
  //         font-size: 13px;
  //       }
  //     }

  //     &__btn {
  //       color: $grey-lighten-7;
  //       font-size: 12px;
  //     }
  //   }

  //   &-loading {
  //     animation: spin 1s infinite linear;
  //     border: 0.25rem solid rgba(23, 22, 22, 0.2);
  //     border-radius: 50%;
  //     border-top-color: $red-accent;
  //     height: 50px;
  //     left: calc(50% - 15px);
  //     position: absolute;
  //     right: 0;
  //     top: calc(50% - 15px);
  //     width: 50px;
  //   }

  &-bspicker {
    &-group {
      position: relative;
    }

    &-after {
      -webkit-transform: translateX(-50%);
      -webkit-transition: all 0.3s;
      cursor: pointer;
      font-size: 16px;
      margin-top: -2px;
      padding: 3px 5px;
      position: absolute;
      right: 15px;
      text-shadow: 0 0 2px $black-opacity;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.3s;

      &:hover {
        font-weight: bold;
      }
    }
  }

  &-group {
    margin-bottom: 0;
    padding: 22px 0 23px;

    // &.border-bottom {
    //   border-bottom: 1px solid $grey-lighten-8;
    // }

    // &__sub {
    //   border-top: 1px dashed $grey-lighten-7;
    //   margin: 10px 0;
    // }
  }

  &-control {
    &__text--large {
      .form-control {
        font-size: 24px;
        padding: 2px 5px;
        text-align: center;
      }
    }
  }
}

// @keyframes spin {
//   0% {
//     transform: rotate(0deg);
//   }

//   100% {
//     transform: rotate(360deg);
//   }
// }

// .input-group {
//   > .input-group-append:not(:last-child) > .input-group-text {
//     border-bottom-right-radius: 5px;
//     border-top-right-radius: 5px;
//     color: $grey-darken-0;
//   }
// }
// }

.cas-radio,
.cas-checkbox {
  &-group {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
  }

  &-item {
    color: $black-1;
    cursor: pointer;
    display: block;
    font-family: 'Hiragino Kaku Gothic Pro';
    font-size: 14px;
    letter-spacing: -0.28px;
    line-height: 24px;
    margin-bottom: 0;
    min-width: 150px;
    padding-left: 30px;
    position: relative;
    user-select: none;

    .radio-input,
    .checkbox-input {
      cursor: pointer;
      height: 0;
      opacity: 0;
      position: absolute;
      width: 0;
    }

    .checkmark {
      height: 24px;
      left: 0;
      position: absolute;
      top: 0;
      width: 24px;

      &::after {
        content: '';
        display: block;
        position: absolute;
      }
    }

    .radio-input:checked ~ .checkmark,
    .checkbox-input:checked ~ .checkmark {
      background-color: $lime-accent;
    }

    &--input {
      .checkmark {
        top: 27%;
      }
    }

    &.label-left {
      padding-right: 0;

      .checkmark {
        left: unset;
        margin-left: 10px;
      }
    }

    &.label-right {
      .checkmark {
        left: auto;
        right: 0;
      }
    }
  }
}

.cas-radio-item {
  .checkmark {
    background-color: $grey-lighten-7;
    border-radius: 50%;

    &::after {
      background-color: $white;
      border-radius: 50%;
      height: 12px;
      left: 6px;
      top: 6px;
      width: 12px;
    }
  }

  &--sm {
    .checkmark {
      height: 20px;
      width: 20px;

      &::after {
        height: 10px;
        left: 5px;
        top: 5px;
        width: 10px;
      }
    }
  }

  &--md {
    font-size: 18px;
  }
}

.cas-checkbox-item {
  .checkmark {
    background-color: $white;
    border: 1px solid #dedede;
    border-radius: 2px;

    &::after {
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      border-color: $white;
      border-radius: 0;
      border-style: solid;
      border-width: 0 3px 3px 0;
      height: 15px;
      left: 8px;
      top: 2px;
      transform: rotate(45deg);
      width: 7px;
    }
  }

  &--sm {
    .checkmark {
      border-radius: 4px;
      height: 20px;
      width: 20px;

      &::after {
        border-width: 0 2px 2px 0;
        height: 13px;
        left: 6px;
        top: 1px;
        width: 6px;
      }
    }
  }
}

.cas-input-number {
  background-color: $yellow-lighten-2;
  border: pixel-to-rem(2) solid $grey-lighten-2;
  border-radius: pixel-to-rem(5);
  box-sizing: border-box;
  color: $grey-darken-3;
  font-size: pixel-to-rem(30);
  height: pixel-to-rem(55);
  margin-right: pixel-to-rem(5);
  padding: pixel-to-rem(1) 0;
  text-align: center;
  width: pixel-to-rem(55);

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &--none-border {
    background-color: transparent;
    border: 0;
    font-size: pixel-to-rem(35);
    height: pixel-to-rem(60);
  }
}

.mi-form {
  &--border {
    border-bottom: 1px solid #eaeaea;
    margin-bottom: $form-group-margin-bottom;

    .ng-select.mi-form-ng-select .ng-select-container,
    .form-control {
      font-size: pixel-to-rem(16);
      height: pixel-to-rem(60);
    }

    .cas-fr-number {
      font-size: 24px;
    }
  }

  &-group {
    margin-bottom: 15px;
  }

  &-label {
    align-self: center;
    color: $mi-form-label-color;
    font-weight: $mi-form-label-font-weight;
  }

  &-input-group {
    .price-input {
      width: calc(50% - 9px);
    }
  }

  &-ng-select {
    &.ng-select .ng-select-container {
      background-color: $white;
      border: 1px solid var(--grey-lighten-0);
      border-radius: 5px;
      font-size: 14px;

      .ng-value-container {
        .ng-placeholder {
          color: $grey-lighten-3;
          font-size: 14px;
          padding-left: 3px;
        }

        .ng-input {
          top: auto;
        }
      }
    }

    &.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
      top: auto !important;
    }

    &.is-invalid {
      .ng-select-container {
        border-color: $deep-orange-accent;
      }

      ~ .invalid-feedback {
        display: block;
      }

      .ng-arrow-wrapper .ng-arrow {
        border-color: $deep-orange-accent transparent transparent;
      }
    }

    &.ng-select.ng-select-opened .ng-select-container {
      z-index: 1;
    }

    &.ng-select.ng-select-disabled {
      pointer-events: none;

      .ng-select-container,
      .ng-value-container .ng-input > input {
        cursor: not-allowed;
      }

      .ng-arrow-wrapper {
        pointer-events: none;
      }
    }

    &__scroll.ng-select-multiple .ng-select-container {
      height: auto !important;
      min-height: 2.7rem;

      .ng-value-container {
        max-height: 6.3rem;
        overflow: auto;
        overflow-x: hidden;
      }
    }
  }

  &__price-group {
    display: flex;

    .price-input {
      flex: 1 1 80%;

      &.is-invalid {
        padding-right: 0.75rem;
      }
    }

    .price-symbol {
      margin: 22px 10px 0;
    }
  }

  &-select-menu,
  &-ordinal-input {
    &.is-invalid {
      .form-control {
        border: 1px solid #ed1212;
      }
    }

    &.is-invalid ~ .invalid-feedback {
      display: block;
    }
  }
}

.form-control-plaintext {
  &:focus {
    outline: 0;
  }
}

.form-group.mi-form--border {
  padding-bottom: $form-group-margin-bottom;
}

.cas-dialog {
  &__body {
    .mi-form {
      &-group {
        .ng-select.mi-form-ng-select .ng-select-container,
        .form-control {
          font-size: pixel-to-rem(16);
          height: pixel-to-rem(60);
        }

        .ng-select.mi-form-ng-select .ng-placeholder {
          font-size: pixel-to-rem(16);
        }
      }

      &__price-group {
        .form-control {
          font-size: pixel-to-rem(24);
        }
      }
    }
  }
}

.app-filter {
  &__search,
  &__form {
    .form-control,
    .ng-select.ng-select-single .ng-select-container,
    .ng-select .ng-select-container {
      font-size: 0.75rem;
      height: 2rem;
    }

    .ng-select .ng-select-container {
      min-height: 2rem;

      .ng-value-container .ng-placeholder {
        font-size: 0.75rem;
      }
    }
  }
}
