.cas-img {
  &--small {
    width: 75px;

    img {
      height: 54.41px;
      width: 75px;
    }
  }

  &--square {
    img {
      height: 55px;
      width: 55px;
    }
  }

  &--cover {
    -o-object-fit: cover;
    border-radius: 5px;
    object-fit: cover;
  }
}
