// $input-border: #EAEAEA;
// $input-border-active: #F59716;
// $input- rgba(245, 152, 22, 0.253)
// $input-border-error: #F59716;

// .form-control {
//   height: 3rem;
//   border-radius: 0.25rem;
//   border: 0.0625rem solid $input-border;

//   &:focus {
//     border-color: $input-border-active;
//     box-shadow: 0 0 0 0.2rem rgba(245, 152, 22, 0.253);
//   }
// }

// .custom-control.cas-control {
//   &.custom-checkbox,
//   &.custom-radio {
//     min-height: 28px;

//     .custom-control-label {
//       &::before,
//       &::after {
//         height: 20px;
//         width: 20px;
//       }
//     }

//     .custom-control-input:checked ~ .custom-control-label {
//       &::before {
//         background-color: $lime-accent;
//         border-color: $lime-accent;
//       }
//     }
//   }

//   &.custom-switch {
//     min-height: 33px;

//     .custom-control-label {
//       padding: 3px 10px;

//       &::before {
//         border-radius: 15px;
//         height: 25px;
//         width: 40px;
//       }

//       &::after {
//         border-radius: 15px;
//         height: 21px;
//         left: -34px;
//         width: 20px;
//       }
//     }

//     .custom-control-input:checked ~ .custom-control-label {
//       &::after {
//         transform: translateX(17px);
//       }

//       &::before {
//         background-color: $lime-accent;
//         border-color: $lime-accent;
//       }
//     }
//   }
// }

.form-control:disabled {
  background-color: var(--grey-lighten-2) !important;
  border-color: transparent !important;
}

.input {
  &-walkin {
    font-size: 3.2rem;
    padding-bottom: 45px;
    padding-top: 45px;
    text-align: center;

    &:disabled {
      background-color: #ccc;
    }
  }

  &-number {
    font-size: 1.6rem;
    text-align: center;
  }
}

.flex-1 {
  flex: 1;
}

.cas-form-control.is-invalid {
  & ~ .invalid-feedback {
    display: block;
  }
}

.form-control.is-invalid {
  padding-right: 0.75rem;
}
