.modal-open .modal {
  & ~ .modal {
    background-color: $black-shadow-4;
  }
}

.cas-modal {
  margin: 20px auto;

  .modal-header {
    border-bottom: 0;
    padding: 10px 25px;
  }

  .modal-body {
    padding: 10px 25px;

    .cas-text-area {
      margin: 10px auto;
      width: 100%;
    }
  }

  &__close {
    display: flex;
    height: 30px;
    justify-content: center;
    padding: 0;
    width: 32px;

    &:hover {
      background-color: #f0f0f0;
    }

    &.btn-default {
      border-color: $grey-lighten-7;
    }
  }

  &__close-text {
    align-items: center;
    align-self: center;
    background: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    min-width: 65px;
    padding: 0;
  }

  &__footer {
    border-top: 0;
    justify-content: center;

    .btn {
      margin: 0;
      margin-right: 15px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &__text {
    font-size: 14px;
  }

  @media (max-width: 480px) {
    &__footer {
      flex-direction: column-reverse;

      .btn {
        margin-bottom: 15px;
        margin-right: 0;
        width: 100%;

        &:first-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}

.modal-dialog-absolute-centered {
  -webkit-transform: translate(-50%, -50%) !important;
  -webkit-transform-origin: top;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) !important;
  transform-origin: top;
  transition: none !important;
  width: 100%;
}

.modal-dialog-right {
  position: absolute;
  right: 1.75rem;
}

.cas-dialog__btn-group {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
}

.cas-dialog__footer-no-border {
  .cas-dialog__footer {
    border: 0 !important;
  }
}

.modal-dialog-large-border {
  .modal-content {
    border-radius: pixel-to-rem(12);
  }
}

.modal-header--small {
  .cas-dialog__header {
    height: 50px !important;
  }
}

.modal-loading {
  height: 384px;
  width: 450px;
}
