.popover {
  border: pixel-to-rem(2) solid #707070;
  max-width: none;

  .popover-body {
    padding: 0;
    width: pixel-to-rem(320);

    .box-input {
      height: pixel-to-rem(85);
      margin: 0 auto;
      width: 85%;

      .item-value {
        color: #707070;
        font-size: pixel-to-rem(46);
        margin-bottom: 0;
      }
    }

    .input-action {
      width: 100%;

      .btn {
        border-radius: unset;
        height: pixel-to-rem(55);
        width: 50%;
      }
    }
  }

  &--number .popover-body {
    width: pixel-to-rem(220);
  }

  &.guide-container {
    background-color: #fff;
    border: 2px solid #dedede;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    height: 450px;
    width: 563px;

    .arrow {
      left: 49% !important;

      &::after {
        border-bottom-color: #fff;
      }
    }

    .popover-body {
      width: 100%;
    }
  }

  &.filter-popover {
    border: 0;
    border-radius: 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16);
    margin-right: 30px;
    z-index: 1;

    .arrow {
      opacity: 0;
      visibility: hidden;
    }

    .popover-body {
      width: pixel-to-rem(414);
    }

    &__course {
      margin-left: pixel-to-rem(60);

      .popover-body {
        width: pixel-to-rem(184);
      }
    }
  }

  &.filter-self-order__popover {
    border: 0;
    border-radius: 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16);
    margin-right: 15px;
    margin-top: 0;
    z-index: 1009;

    &-body {
      width: 415px;
    }

    .arrow {
      &::before,
      &::after {
        content: unset;
      }
    }

    .btn {
      padding-left: 21px;
      padding-right: 21px;
    }
  }
}
