perfect-scrollbar {
  &.cas-scroll {
    .ps,
    .ps.ps--active-y {
      .ps__rail-y,
      .ps__thumb-y {
        width: 4px;
      }
    }
  }

  &.visible-scroll {
    .ps__rail-y {
      background-color: #eee;
      opacity: 0.9;
    }
  }
}

.cas-scroll {
  &::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #a9a9a9;
    border-radius: 10px;
    outline: 1px solid #708090;
  }
}
