.box-list-menu {
  max-height: pixel-to-rem(350);
  overflow-y: auto;
  padding-bottom: 15px;
}

.list-selection {
  .invalid-feedback {
    color: $red-accent;
    display: block;
  }

  .cas-is-invalid {
    &-input {
      border: 1px solid $red-accent !important;
    }
  }

  .selection {
    align-items: center;
    display: flex;
    margin-top: 15px;

    .item-info {
      align-items: center;
      background-color: transparent;
      border: 2px solid $grey-lighten-2;
      border-radius: 5px;
      display: flex;
      flex: 1 1 80%;
      height: 70px;
      overflow: hidden;
      padding: 0 5px;

      .info-description {
        align-items: center;
        display: flex;
        flex: 1 1 auto;
        overflow: hidden;

        .cas-img {
          margin-right: 10px;
        }

        span {
          color: $grey-darken-0;
          font-size: 14px;
          max-width: 500px;
          overflow: hidden;
          padding-right: 5px;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      .info-number {
        align-items: center;
        display: flex;

        input {
          background-color: $yellow-lighten-2;
          border: 2px solid $grey-lighten-2;
          border-radius: 5px;
          box-sizing: border-box;
          color: $grey-darken-2;
          font-size: 30px;
          height: 55px;
          margin-right: 5px;
          padding: 1px 0;
          text-align: center;
          width: 55px;

          &:focus,
          &:active {
            outline: none;
          }

          &::-webkit-inner-spin-button,
          &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }

        span {
          align-self: flex-end;
          margin-bottom: 5px;
        }
      }
    }

    .item-total {
      color: $grey-darken-0;
      font-size: 14px;
      margin: 0 10px;
      text-align: center;
      width: 100px;
      word-break: break-all;
    }

    .item-action {
      color: $grey-darken-0;
      cursor: pointer;
      flex: 1 1 10%;
      font-size: pixel-to-rem(14);
      text-align: center;
    }

    .infor-detail {
      .item-name {
        /* autoprefixer: ignore next */
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        max-height: calc(16px * 1.5 * 2);
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  &.cas-order-items {
    border: 1px solid $grey-lighten-6;
    font-size: 14px;
    max-height: pixel-to-rem(315);
    overflow-y: auto;
    padding: 5px 10px;

    .selection {
      margin: 0;

      .item-info {
        border: 0;
        border-bottom: 2px solid $grey-lighten-2;
        border-radius: 0;
        height: 75px;
        padding: 5px 0;
      }

      .infor-detail .item-name {
        max-height: calc(14px * 1.5 * 2);
      }

      .cas-img--cover {
        border: 2px solid $grey-lighten-2;
        border-radius: 0;
      }

      &:nth-last-child(1) .item-info {
        border: 0;
      }
    }
  }
}
