.cas-slide {
  background-color: var(--grey-darken-0);
  display: flex;
  flex-direction: column;
  height: calc(var(--vh, 1vh) * 100 - 70px);
  opacity: 0;
  position: fixed;
  right: pixel-to-rem(-500);
  top: pixel-to-rem(70);
  transition: all 0.5s ease-in-out;
  width: pixel-to-rem(420);
  z-index: 1011;

  &.open {
    opacity: 1;
    right: 0;
  }

  &__body {
    background-color: var(--white);
    display: flex;
    height: calc((var(--vh, 1vh) * 100) - 160px);

    &-action {
      background-color: var(--grey-lighten-0);

      .cas-slide_btn-close,
      .tab-item {
        align-items: center;
        border-bottom: pixel-to-rem(2) solid var(--white);
        cursor: pointer;
        display: flex;
        flex-direction: column;
        padding: pixel-to-rem(10) 0;
        width: pixel-to-rem(75);

        .btn-title {
          font-size: pixel-to-rem(12);
          margin-top: pixel-to-rem(5);
        }
      }

      .tab-item {
        color: var(--grey-darken-0);
        height: calc(((var(--vh, 1vh) * 100) - 225px) / 3);
        justify-content: center;
        transition: all 0.1s;

        p {
          font-size: 1rem;
          font-weight: 700;
          margin-bottom: 0;

          &.order-count {
            background-color: var(--white);
            border-radius: pixel-to-rem(15);
            color: var(--grey-lighten-1);
            font-size: pixel-to-rem(24);
            line-height: 1rem;
            margin-top: pixel-to-rem(5);
            padding: pixel-to-rem(4) pixel-to-rem(15);

            .symbol {
              font-size: 0.75rem;
            }
          }
        }

        &:hover,
        &.active {
          background-color: var(--orange-lighten-1);
          // border: 0;
          color: var(--white);
          position: relative;

          &::after {
            border-bottom: pixel-to-rem(5) solid transparent;
            border-left: pixel-to-rem(5) solid var(--orange-lighten-1);
            border-top: pixel-to-rem(5) solid transparent;
            content: '';
            height: 0;
            position: absolute;
            right: pixel-to-rem(-5);
            width: 0;
          }

          &.walkin {
            background-color: var(--blue-accent);

            &::after {
              border-left: pixel-to-rem(5) solid var(--blue-accent);
            }
          }
        }

        &.active {
          pointer-events: none;
        }
      }
    }

    &-content {
      overflow-y: auto;
      padding: pixel-to-rem(15) 0;
      width: pixel-to-rem(345);
    }
  }

  &_btn-tabs .tab-item:last-child {
    border-bottom: 0;
  }

  &__footer {
    background-color: var(--grey-darken-0);
    position: relative;
    z-index: 1;

    &-content {
      align-items: center;
      display: flex;
      height: pixel-to-rem(90);
      justify-content: space-evenly;
      padding: 15px 20px;
    }

    .btn {
      flex-basis: 0;
      flex-grow: 1;
      margin: 0 8px;

      &-40 {
        flex: 1 1 40%;
      }

      &-60 {
        flex: 1 1 60%;
      }
    }
  }

  .form-group {
    [class^='col-'],
    [class*='col-'] {
      padding-left: pixel-to-rem(5);
      padding-right: pixel-to-rem(5);
    }
  }

  .form-control {
    &.is-invalid {
      border-color: var(--grey-lighten-0) !important;
      box-shadow: none;
      padding-right: 15px;
    }
  }

  .resv-form {
    padding: 0 pixel-to-rem(25);

    .entered .form-control,
    .entered .ng-select-container,
    .form-control.entered {
      border-color: var(--orange-lighten-1);
    }

    .entered .ng-select-disabled .ng-select-container {
      border-color: #eaeaea;
    }
  }

  .walkin-form {
    padding: 0 pixel-to-rem(25);

    .entered .form-control,
    .form-control.entered {
      border-color: var(--blue-accent);
    }

    .form-control:focus {
      border-color: var(--blue-accent);
      box-shadow: 0 0 0 0.125rem rgba(22, 212, 245, 0.2);
    }
  }
}
