.loader {
  &--row {
    align-content: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &--full {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &--center {
    @extend .cas-position--center;
  }
}

@keyframes lds-ripple {
  0% {
    height: 0;
    left: 24px;
    opacity: 1;
    top: 24px;
    width: 0;
  }

  100% {
    height: 39px;
    left: 4px;
    opacity: 0;
    top: 4px;
    width: 39px;
  }
}

@-webkit-keyframes lds-ripple {
  0% {
    height: 0;
    left: 24px;
    opacity: 1;
    top: 24px;
    width: 0;
  }

  100% {
    height: 39px;
    left: 4px;
    opacity: 0;
    top: 4px;
    width: 39px;
  }
}

.lds-ripple {
  position: relative;
}

.lds-ripple div {
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  border-radius: 50%;
  border-style: solid;
  border-width: 4px;
  box-sizing: content-box;
  opacity: 1;
  position: absolute;
}

.lds-ripple div:nth-child(1) {
  border-color: #0055a5;
}

.lds-ripple div:nth-child(2) {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
  border-color: #45aee7;
}

.lds-ripple {
  -webkit-transform: translate(-25px, -25px) scale(1) translate(25px, 25px);
  height: 50px !important;
  transform: translate(-25px, -25px) scale(1) translate(25px, 25px);
  width: 50px !important;
}
