.cas-table {
  background-color: var(--white);

  thead {
    background-color: var(--yellow-lighten);

    th {
      border: 0.0625rem solid var(--white);
      font-size: 0.75rem;
      font-weight: bold;
    }
  }

  tbody {
    td {
      font-size: 1rem;
      word-break: break-all;
    }
  }

  &--middle {
    tbody {
      td {
        vertical-align: middle;
      }
    }
  }

  &--head-white {
    thead th {
      background-color: var(--white);
      border-bottom: 1px solid var(--grey-lighten-8);
      color: var(--grey-darken-3);
    }
  }

  &--head-sm {
    thead th {
      padding: 0.4rem 0.75rem;
    }
  }

  &--head__color-back {
    thead th {
      color: #302c2c;
    }
  }

  &__history {
    tbody td {
      color: #808080;
      font-size: 14px;
    }
  }
}
