.cas-text {
  &--black {
    color: #302c2c !important;
  }

  &--light-gray {
    color: $grey-darken-0;
  }

  &--dark-blue {
    color: $blue-accent !important;
  }

  &--cyan {
    color: $cyan;
  }

  &--red {
    color: $red-accent-1 !important;
  }

  &--gray {
    color: $grey-darken-4;
  }

  &--info {
    color: $blue;
  }

  &--break {
    word-break: break-all;
  }

  &--pre-line {
    white-space: pre-line;
    word-break: break-all;
  }
}

%rows {
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  display: -webkit-box;
  white-space: normal;
}

.text {
  &-truncate {
    &--2 {
      @extend %rows;
      -webkit-line-clamp: 2;
    }

    &--3 {
      @extend %rows;
      -webkit-line-clamp: 3;
    }
  }
}
