@import './variable';

.flex {
  &--1 {
    flex: 1;
  }
}

.border {
  &-bottom {
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }

  &-grey-lighten {
    border-color: 1px solid $grey-lighten-7;
  }
}

.bg {
  &-grey-lighten {
    background-color: $grey-lighten-5;
  }
}

.line-height {
  &--md {
    line-height: 1.8;
  }
}

.user-select--none {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
