body {
  background: #efefef;
  display: flex;
  flex-direction: column;
  font-family: 'Noto Sans JP', Arial, Helvetica, 'Times New Roman', sans-serif;
  height: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0;

  &.modal-open {
    height: 100%;
    overflow: hidden;
    width: 100%;

    @supports (-webkit-overflow-scrolling: touch) {
      position: fixed;
    }
  }

  .fc-scroller {
    -webkit-overflow-scrolling: auto !important;
  }
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-indent: 0;
}

.form-control.is-invalid {
  background-image: none;
}

// Layout App
.cas-head {
  align-items: center;
  background-color: $yellow-accent;
  color: $grey-darken-9;
  display: flex;
  flex: 1 1 auto;
  height: 60px;
  justify-content: space-between;
  padding: 0 13px;
  position: fixed;
  transition: all 0.5s ease-in-out;
  width: 100%;
  z-index: 1040;

  .notify {
    position: relative;

    &-number {
      background-color: #ed1212;
      border-radius: 50%;
      color: $white;
      font-size: 9px;
      font-weight: 700;
      height: 15px;
      line-height: 15px;
      opacity: 0;
      position: absolute;
      right: -4px;
      text-align: center;
      top: -4px;
      transition: opacity 0.5s cubic-bezier(0.39, 0.58, 0.57, 1);
      width: 15px;
    }

    &--show {
      animation: ring 4s 0.7s ease-in-out infinite;
      transform-origin: 50% 4px;

      .notify-number {
        opacity: 1;
      }
    }
  }

  &__title {
    color: $black-darken-1;
    font-size: 18px;
    font-weight: 700;

    &-center {
      display: flex;
      flex: 1 1 auto;
      justify-content: center;
    }
  }

  &-separate {
    .pr-14 {
      padding-right: 14px;
    }

    &__list {
      align-items: center;
      border-right: 1px solid var(--grey-lighten-8);
      display: inline-flex;
      height: 60px;
      text-align: center;
      width: 100%;

      .cas-head__title {
        width: 90%;
      }
    }

    &__sub_title {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;

      .title-menu {
        color: $black-darken-1;
        font-size: 18px;
        font-weight: 700;
      }
    }
  }
}

.cas-sidenav {
  background-color: $grey-darken-11;
  height: calc(var(--vh) * 100);
  left: -300px;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  transition: left 0.5s ease-in-out;
  width: 300px;
  width: 300px;
  z-index: 1050;

  .nav-item {
    align-items: center;
    color: $white;
    cursor: pointer;
    display: flex;
    font-size: 15px;
    height: 75px;
    line-height: 14px;
    padding-left: 15px;

    &--icon {
      font-size: 16px;
      margin-right: 20px;

      &__phone-reserve {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
      }
    }

    &--text {
      text-transform: capitalize;
    }

    &:last-child {
      border-top: 2px solid $grey-darken-2;
    }

    &:hover,
    &.active {
      background-color: $grey-darken-12;
    }

    &:focus,
    &:active {
      outline: none;
    }

    &__sub {
      align-items: flex-start;
      flex-direction: column;
      padding-left: 0;
      transition: height 0.5s ease-in-out;

      .nav-item--main {
        align-items: center;
        display: flex;
        height: 75px;
        justify-content: space-between;
        padding-left: 15px;
        width: 100%;

        .sub-icon {
          padding-right: 15px;
          transition: all 0.3s ease-in-out;
        }
      }

      .nav-sub {
        background-color: #7a7a7a;
        height: 0;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        visibility: hidden;
        width: 100%;

        .nav-item {
          padding-left: 50px;

          &:last-child {
            border-top-color: #7a7a7a;
          }

          &.active {
            background-color: rgba(134, 134, 134, 0.8);
          }
        }
      }

      &--open {
        height: auto;

        .nav-sub {
          height: auto;
          opacity: 1;
          visibility: visible;
        }

        .sub-icon {
          padding-left: 15px;
          padding-right: 0;
          transform: rotate(-180deg);
        }
      }
    }
  }
}

.cas-content {
  padding-top: 70px;
}

.cas-app {
  height: 100%;
  min-height: 500px;

  &::after {
    background-color: $black-opacity;
    content: '';
    display: none;
    height: calc(100% + 370px);
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;
  }

  &--show-sidenav {
    .cas-head {
      padding-left: 313px;

      &-separate {
        display: none;
      }
    }

    .cas-sidenav {
      left: 0;
    }

    &::after {
      display: block;
      opacity: 1;
    }
  }
}

.page {
  &-head {
    align-items: center;
    background-color: $grey-lighten-9;
    border-bottom: 1px solid $grey-lighten-8;
    display: flex;
    height: 56px;
    padding-left: 26px;
    padding-right: 13px;

    .head-title {
      color: $grey-darken-4;
      font-size: 17px;
      font-weight: 600;
      line-height: 24px;
      margin: 0;

      .sub-title {
        color: $grey-darken-0;
        display: inline-block;
        font-size: 14px;
        font-weight: 400;
        line-height: 15px;
      }
    }

    &--space-between {
      justify-content: space-between;
    }

    &-sub {
      background-color: $white;
      display: flex;
      flex-direction: column;
      height: 80px;
      padding-right: 15px;
      padding-top: 15px;

      .sub-btn {
        align-self: flex-end;
        display: flex;

        .space {
          margin-right: 8px;
        }
      }

      .sub-text {
        align-self: flex-end;
        color: $grey-darken-0;
        display: flex;
        font-size: 13px;
        font-weight: 400;
        margin-top: 12px;
      }
    }
  }

  &-content {
    min-height: 500px;

    &--padding {
      padding: 0 33px;
    }
  }

  &-footer {
    align-items: center;
    border-top: 1px solid $grey-lighten-6;
    display: flex;
    height: 85px;
    padding: 0 23px;

    .space {
      margin-right: 12px;
    }

    &--flex-end {
      justify-content: flex-end;
    }
  }

  &-item {
    margin-bottom: 30px;

    &--head {
      align-items: center;
      display: flex;
      font-size: 15px;
      padding-bottom: 5px;

      &_border {
        border-bottom: 1px solid $grey-lighten-6;
        padding-bottom: 5px;
      }

      .head-title {
        font-size: 24px;
        margin-bottom: 0;
      }

      &_icon {
        .head-title {
          margin-left: 10px;
        }
      }

      &_title-note {
        font-size: 13px;
        font-weight: 300;
      }
    }

    &--content {
      margin-top: 15px;

      textarea.form-control {
        resize: none;

        &:focus,
        &:active {
          border-color: transparent;
        }
      }
    }
  }

  &-breadcrumb {
    background-color: $grey-lighten-8;
    border-bottom: 1px solid var(--grey-lighten-8);
    display: flex;
    justify-content: center;
    width: 100%;

    &--bg-white {
      background-color: #fafafa;
    }

    .breadcrumb {
      align-items: center;
      background-color: transparent;
      margin: 0;
      padding: 5px;
    }

    .breadcrumb-item {
      & + .breadcrumb-item {
        padding-left: 2rem;

        &::before {
          color: $black-darken-1;
          content: '>';
          font-size: 20px;
          padding-right: 2rem;
        }
      }

      &.active .page-breadcrumb__link {
        color: $grey-darken-9;
        font-weight: bold;
      }
    }

    &__link {
      color: $grey-darken-13;
      font-size: 14px;
      pointer-events: none;

      &:hover {
        color: $grey-darken-9;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
}

.cas-label {
  background-color: $white;
  border: 1px solid $grey-lighten-7;
  color: $grey-darken-2;
  font-size: 12px;
  height: 20px;
  line-height: 18px;
  text-align: center;
  width: 56px;

  &--active {
    background-color: #f2f2f2;
  }

  &--dark-grey {
    background-color: $grey-darken-14;
    border-color: $grey-darken-14;
    color: $white;
  }
}

// Layout Page
.cas {
  &-pages {
    align-items: center;
    border-bottom: 1px solid $grey-lighten-6;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-bottom: 8px;

    &--title {
      font-size: 30px;
      margin-bottom: 0;
    }
  }

  &-page {
    &__header {
      align-items: center;
      background-color: $grey-lighten-6;
      border-bottom: 1px solid $grey-lighten-6;
      display: flex;
      min-height: 75px;
      padding: 0 15px;

      .title {
        color: $grey-darken-4;
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 0;
      }
    }
  }

  &-nav {
    &--head {
      background-color: $grey-lighten-5;
      border-bottom: 1px solid $grey-lighten-6;
      padding: 14px 13px 14px 9px;
    }

    &--line {
      border-bottom: 5px solid $grey-lighten-13;
      padding: 15px 15px 0;

      .nav-item {
        margin-right: 30px;
      }

      .nav-link {
        color: var(--black-darken-0);
        font-size: 13px;
        padding: 0.4375rem 0.5rem;

        &.active {
          border-bottom: 4px solid var(--orange-lighten-1);
          color: var(--orange-lighten-1);
          font-weight: bold;
        }
      }
    }
  }

  &-filter {
    align-items: center;
    background-color: $white;
    border: 1px solid $grey-lighten-7;
    border-radius: 5px;
    display: flex;
    height: 40px;
    padding: 3px;

    .filter-icon {
      color: $grey-lighten-3;
      margin: 0 2px;
    }

    input.filter-input {
      border: 0;
      width: calc(100% - 20px);

      &::-webkit-input-placeholder,
      &::placeholder {
        color: $grey-lighten-3 !important;
      }

      &:focus,
      &:active {
        outline: none;
      }
    }
  }

  &-list {
    display: flex;
    flex-direction: column;

    &--item {
      align-items: center;
      border-bottom: 1px solid $grey-lighten-6;
      cursor: pointer;
      display: flex;
      font-size: 14px;
      margin-left: 10px;
      padding: 13px 9px 13px 15px;

      &:hover,
      &.active {
        background-color: $grey-lighten-6;
        color: $deep-orange-accent;
      }

      .item-name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: calc(100% - 100px);
      }

      &__link {
        color: $black-darken-1;

        &:hover {
          color: #f53816;
          text-decoration: none;
        }

        &.active {
          color: #f53816;
        }
      }
    }

    &--box {
      border-left: 1px solid $grey-lighten-6;
      border-right: 1px solid $grey-lighten-6;

      .cas-list--item {
        padding: 15px;
      }
    }
  }

  &-pagination {
    margin-top: 20px;

    .page-item.disabled {
      cursor: not-allowed;
    }
  }
}

.font {
  &-md {
    font-size: 14px !important;
  }

  &-sm {
    font-size: 13px !important;
  }
}

.bg {
  &-light {
    &--yellow-5 {
      background-color: $yellow-lighten-1 !important;
    }

    &--grey-8 {
      background-color: $grey-lighten-5 !important;
    }
  }
}

.w {
  &-sm {
    width: 150px;
  }

  &-md {
    width: 300px;
  }
}

.no-border {
  &--top {
    border-top: 0 !important;
  }

  &--bottom {
    border-bottom: 0 !important;
  }

  &--y {
    border-bottom: 0 !important;
    border-top: 0 !important;
  }
}

.cursor {
  &-pointer {
    cursor: pointer;
  }
}

.pre-line {
  white-space: pre-line !important;
}

@each $size, $value in $grid-breakpoints {
  .max-w-#{$size} {
    max-width: $value / 4;
  }

  .min-w-#{$size} {
    min-width: $value / 4;
  }
}
