@import 'variable';
@import 'mixins/index';
@import '~bootstrap/scss/bootstrap';
@import '~@ng-select/ng-select/scss/default.theme';
@import 'keyframe';
@import 'layout';
@import 'utils';
@import 'bootstrap/index';
@import 'pages/index';

// Modules
@import 'modules/ng-select';
@import 'modules/datepicker';

.toast-container .toast {
  opacity: 1;
}

.notify-pagination {
  .page-item {
    margin-bottom: 0;
  }
}

.noselect {
  -moz-user-select: none; // Firefox
  -ms-user-select: none; // Internet Explorer/Edge
  -webkit-touch-callout: none; // iOS Safari
  -webkit-user-select: none; // Safari
  user-select: none; // Non-prefixed version, currently supported by Chrome and Opera
}

.dimmer {
  -moz-user-select: none;
  -ms-flex-align: center;
  -ms-flex-direction: column;
  -ms-flex-pack: center;
  -ms-user-select: none;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-transition: background-color 0.5s linear;
  -webkit-user-select: none;
  align-items: center;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  background-color: rgba(0, 0, 0, 0.85);
  display: none;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0 !important;
  line-height: 1;
  opacity: 0;
  padding: 1em;
  position: absolute;
  text-align: center;
  top: 0 !important;
  transition: background-color 0.5s linear;
  user-select: none;
  vertical-align: middle;
  width: 100%;
  will-change: opacity;
  z-index: 1000;

  &.active {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0.2;
  }

  &.create {
    left: 212px !important;
    width: calc(100% - 212px);
  }
}

.no-resize {
  resize: none !important;
}

.z-index {
  &--1 {
    z-index: 1 !important;
  }
}

.bg-grey-lighten-2 {
  background-color: var(--grey-lighten-2);
}

.opacity {
  &-sm {
    opacity: 0.6 !important;
  }

  &-md {
    opacity: 0.5 !important;
  }

  &-lg {
    opacity: 0.4 !important;
  }
}

.item-sold-out {
  position: relative;

  &::before {
    color: var(--white);
    content: '売切';
    font-size: 15px;
    left: calc(50% - (32px / 2));
    position: absolute;
    top: calc(50% - (19px / 2));
    z-index: 2;
  }

  &::after {
    background-color: var(--black-opacity--50);
    border-radius: 5px;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}

.course-history-item {
  /*! autoprefixer: off */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  height: 33px;
  line-height: 1.1;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
  word-break: break-word;
}

.h-auto {
  min-height: auto;
}
