:root {
  --blue-accent: #54c2cb;
  --blue-dark: #3f9199;
  --orange-darken-1: #d18213;
  --orange-lighten-1: #f59716;
  --orange-lighten-2: #ffd28b;
  --yellow-accent: #eaed12;
  --yellow-lighten: #f8f9b8;
  --black-opacity--16: rgba(0, 0, 0, 0.16);
  --black-opacity--50: rgba(0, 0, 0, 0.5);
  --black-darken-0: #222;
  --grey-lighten-0: #eaeaea;
  --grey-lighten-1: #8b8a8a;
  --grey-lighten-2: #fafafa;
  --grey-lighten-3: #e5e5e5;
  --grey-lighten-4: #d9d9d9;
  --grey-lighten-5: #f4f4f4;
  --grey-lighten-6: #d4d4d4;
  --grey-lighten-7: #d3cfcf;
  --grey-lighten-8: #dee2e6;
  --grey-darken-0: #707070;
  --grey-darken-1: #a6a6a6;
  --grey-darken-2: #434343;
  --grey-darken-3: #b8b8b8;
  --white: #fff;
}

// COLOR RED
$red-accent: #dc3545;
$red-accent-1: #f53816;

// COLOR PURPLE
$purple: #9c27b0;

// COLOR DEEP PURPLE
$deep-purple: #673ab7;

// COLOR INDIGO
$indigo: #3f51b5;

// COLOR BLUE
$blue: #2196f3;
$blue-accent: #056fff;
$blue-accent-1: #166cf5;

// COLOR LIGHT BLUE
$light-blue: #03a9f4;
$light-blue-1: #54c2cb;

// COLOR CYAN
$cyan: #00bcd4;

// COLOR TEAL
$teal: #009688;

// COLOR LIGHT GREEN
$light-green: #8bc34a;

// COLOR LIME
$lime: #cddc39;
$lime-accent: #c3ed12;

// COLOR YELLOW
$yellow: #ffeb3b;
$yellow-lighten-2: #fcfbe4;
$yellow-lighten-1: #ededdd;
$yellow-lighten-0: #d7da35;
$yellow-darken: #edcc13;
$yellow-accent: #eaed12;

// COLOR AMBER
$amber: #ffc107;

// COLOR ORANGE
$orange: #ff9800;

// COLOR DEEP ORANGE
$deep-orange: #ff5722;
$deep-orange-accent: #f54916;

// COLOR BROWN
$brown: #795548;

// COLOR BLUE GREY
$blue-grey: #607d8b;

// COLOR GREY
$grey: #9e9e9e;

$grey-lighten-13: #f7f7f7;
$grey-lighten-11: #f0f0f0;
$grey-lighten-9: #fdfdfd;
$grey-lighten-8: #e5e5e5;
$grey-lighten-7: #ccc;
$grey-lighten-6: #eaeaea;
$grey-lighten-5: #fafafa;
$grey-lighten-4: #f4f4f4;
$grey-lighten-3: #d8d8d8;
$grey-lighten-2: #dcdcdd;
$grey-lighten-1: #d2d2d2;
$grey-lighten-12: #e9ecef;

$grey-darken-0a: #8d8d8d;
$grey-darken-0: #707070;
$grey-darken-1: #757575;
$grey-darken-2: #575757;
$grey-darken-3: #4e4e4c;
$grey-darken-4: #424242;
$grey-darken-5: #434340;
$grey-darken-6: #333;
$grey-darken-9: #282904;
$grey-darken-10: #292925;
$grey-darken-11: #42423f;
$grey-darken-12: #4a4949;
$grey-darken-13: #818181;
$grey-darken-14: #a6a6a6;
$grey-darken-15: #909090;
$grey-shadow-0: rgba(202, 196, 196, 0.4);
$grey-shadow-1: rgba(255, 255, 255, 0.16);
$grey-shadow-2: rgba(112, 112, 112, 0.2);
$grey-shadow-3: rgba(234, 237, 18, 0.04);

// COLOR SHADES
$black: #000;
$black-1: #050500;
$black-darken-1: #222;
$black-opacity: rgba(0, 0, 0, 0.25);
$black-shadow: rgba(0, 0, 0, 0.2);
$black-shadow-1: rgba(0, 0, 0, 0.14);
$black-shadow-2: rgba(0, 0, 0, 0.12);
$black-shadow-3: rgba(0, 0, 0, 0.4);
$black-shadow-4: rgba(0, 0, 0, 0.5);
$white: #fff;

// Bootstrap
// Colors:
$primary: #f59716;
$info: #fff;
$secondary: #f4f4f4;
$warning: #eaed12;
$green: #54c2cb;
$red: #d77;

// Form
$input-color: #222;
$input-placeholder-color: #dedede;
$input-border-color: #eaeaea;
$input-focus-border-color: #f59716;
$input-btn-focus-width: 0.125rem;
$input-btn-focus-color: rgba(245, 152, 22, 0.2);
$input-btn-padding-y: 0.6315rem;
$input-disabled-bg: #fff;
$input-font-size: 0.875rem;

// badge
$badge-pill-padding-x: 0.5rem;

// Table
$table-cell-padding: 1rem 0.75rem;

$btn-font-weight: bold;
$btn-font-size-lg: 1.25rem;
$btn-padding-x-lg: 1rem;
$btn-padding-y-lg: 0.875rem;

$btn-font-size: 0.8375rem;
$btn-padding-x: 0.65rem;

$form-feedback-invalid-color: #ed1212;
$form-group-margin-bottom: 2.5rem;

// APP CASHLESS
$mi-form-label-color: #434343;
$mi-form-label-font-weight: bold;

//
$popover-arrow-color: #707070;

// borders
$border-color: #aaa;

// modal
$modal-sm: 500px;
$modal-md: 720px;
$modal-lg: 980px;
