<app-cas-dialog title="パターンの切り替え" dialogClass="cas-dialog__footer-no-border" (close)="closeModal()">
  <section dialogContent>
    <div class="text-center">
      <img src="assets/icons/icon_warning_larger.svg" class="mt-2 mb-4" />
      <div>
        <p class="font-size-20 font-weight-bold">パターンを切り替えると既存のデータが消えます。よろしいでしょうか？</p>
        <p>※この操作は取り消すことができません</p>
      </div>
    </div>
  </section>

  <section class="cas-dialog__btn-group justify-content-between" dialogAction>
    <button
      type="button"
      class="btn btn-md btn-secondary btn-border btn-mw--lg"
      aria-label="Close"
      (click)="closeModal()">
      キャンセル
    </button>

    <button
      type="button"
      class="btn btn-md btn-warning btn-mw--lg"
      aria-label="Confirm Change"
      (click)="confirmChange()">
      切り替える
    </button>
  </section>
</app-cas-dialog>

