<div class="switch-timebar">
  <div class="card">
    <div class="card-header font-weight-bold font-size-13">台帳設定</div>
    <div class="card-body">
      <h3 class="font-size-13">表示時間幅編集</h3>
      <div class="slider-range">
        <div class="slider-range__wrp">
          <div class="d-flex justify-content-between align-items-center mb-2">
            <div  *ngFor="let item of scales; let i = index" class="slider-range__item">
              <span class="slider-range__badge" [ngClass]="'slider-range__badge-'+ (i+1)" [hidden]="(i+1) !== selectedSerial">{{item}}時間</span>
              <span class="slider-range__number" [ngClass]="'slider-range__number-'+ (i+1)">{{item}}</span>
            </div>
          </div>
          <input type="range" min="1" max="7" class="slider-range__input"
            [(ngModel)]="selectedSerial"
            (change)="changeScale()"
            [disabled]="isDisabled">
        </div>
      </div>
    </div>

    <div class="card-footer d-flex justify-content-end py-1">
      <button type="button" class="btn btn-light border btn-sm px-3" (click)="closeSwitchTimebar()">閉じる</button>
    </div>
  </div>
</div>
