.switch-timebar {
  bottom: 44px;
  left: 7px;
  position: absolute;
  z-index: 1;

  .card {
    border: 1px solid #eaeaea;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
    color: #212529;
    width: 433px;

    &-header {
      background-color: var(--yellow-accent);
      color: #222;
      font-family: 'Noto Sans CJK JP';
      letter-spacing: 0.39px;
      padding: 10px;
    }

    &-body {
      padding: 1.25rem 0.625rem;

      h3 {
        color: #707070;
        font-family: 'Noto Sans CJK JP';
        font-weight: 700;
        letter-spacing: 0.39px;
      }
    }

    &-footer {
      background-color: #fafafa;
      border-top-color: #eaeaea;

      .btn {
        background-color: #f4f4f4;
        border: 1px solid rgba(112, 112, 112, 0.2) !important;
        border-radius: 3px;
        font-size: 13px;
        font-weight: normal;

        &:hover {
          background-color: #ebebeb;
        }
      }
    }
  }

  .dialog-set__item-btn {
    cursor: pointer;
    height: 30px;
    width: 30px;
  }

  .slider-range {
    &__wrp {
      border: 1px solid #f4f4f4;
      border-radius: 4px;
      padding: 45px 15px 15px;
    }

    &__item {
      height: 33px;
      position: relative;
      width: 54px;
    }

    &__number {
      bottom: 5px;
      font-size: 14px;
      position: absolute;

      &::before {
        border: 1px solid #ccc;
        bottom: -5px;
        content: '';
        height: 4px;
        position: absolute;
      }

      &-1 {
        left: 9px;
      }

      &-2 {
        left: 13px;
      }

      &-3 {
        left: 18px;
      }

      &-4 {
        left: 24px;
      }

      &-5 {
        left: 25px;
      }

      &-6 {
        left: 30px;
      }

      &-7 {
        right: 5px;
      }

      &-1,
      &-2,
      &-3,
      &-4 {
        &::before {
          left: 3px;
        }
      }

      &-5,
      &-6 {
        &::before {
          left: 6px;
        }
      }

      &-7 {
        &::before {
          left: 8px;
        }
      }
    }

    &__badge {
      background-color: #f4ad49;
      border-radius: 4px;
      bottom: 43px;
      color: var(--white);
      font-size: 14px;
      font-weight: bold;
      padding: 2px;
      position: absolute;
      text-align: center;
      width: 56px;

      &::before {
        border: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid #f4ad49;
        bottom: -7px;
        content: '';
        position: absolute;
        right: 21px;
      }

      &-1 {
        left: -15px;
      }

      &-2 {
        left: -10px;
      }

      &-3 {
        left: -5px;
      }

      &-5 {
        left: 5px;
      }

      &-6 {
        left: 10px;
      }

      &-7 {
        left: 15px;
      }
    }

    &__input {
      -moz-appearance: none;
      -webkit-appearance: none;
      -webkit-transition: 0.2s;
      border-radius: 10px;
      height: 10px;
      outline: none;
      transition: opacity 0.2s;
      width: 100%;

      &:hover {
        opacity: 1;
      }

      &:disabled {
        opacity: 0.6;
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        background-color: #f59716;
        border: 2px solid var(--white);
        border-radius: 50%;
        cursor: pointer;
        height: 24px;
        width: 24px;
      }

      &::-moz-range-thumb {
        background-color: #f59716;
        border: 2px solid var(--white);
        border-radius: 50%;
        cursor: pointer;
        height: 24px;
        width: 24px;
      }
    }
  }
}
