<app-cas-dialog title="課税方法設定" (close)="closeModal()" headerClass="cas-dialog__header--order-menu">
  <section dialogContent>
    <div class="tax-type__box">
      <div class="tax-type__item">
        <label class="radio-item cas-radio-item cas-radio-item--md font-weight-bold">
          <input
            class="radio-input"
            type="radio"
            name="taxType"
            [(ngModel)]="taxType"
            [value]="TAX_APPLY_TYPE.IN"
          />内税
          <span class="checkmark"></span>
        </label>
      </div>

      <div class="tax-type__item">
        <label class="radio-item cas-radio-item cas-radio-item--md font-weight-bold">
          <input
            class="radio-input"
            type="radio"
            name="taxType"
            [(ngModel)]="taxType"
            [value]="TAX_APPLY_TYPE.OUT"
          />外税 <b class="font-size-15 font-weight-normal">(※非推奨)</b>
          <span class="checkmark"></span>
        </label>
      </div>
    </div>
  </section>

  <section class="cas-dialog__btn-group justify-content-between" dialogAction>
    <button
      type="button"
      class="btn btn-md btn-secondary btn-border btn-mw--xl"
      (click)="closeModal()"
      [disabled]="isLoading"
    >
      キャンセル
    </button>

    <button type="button" class="btn btn-md btn-warning btn-mw--xl" [disabled]="isLoading" (click)="confirmTaxType()">
      変更する
    </button>
  </section>
</app-cas-dialog>
