.tax-type {
  &__item {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 14.5px;

    .cas-radio-item {
      display: inline-block;
      min-width: auto;
      padding-left: 45px;
    }

    &:first-child {
      margin-bottom: 15px;
    }

    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }
  }
}
