<section class="app-filter">
  <div class="app-filter__action" [ngClass]="{ 'no-sort': !isSort }">
    <div class="app-filter__sort" *ngIf="isSort">
      <div class="sort-item"
         *ngFor="let sort of sortItems; let sortIdx = index"
         [ngClass]="{ 'sort-asc': sort.active, 'sort-active': isActiveSort(sort)}" (click)="sortAction(sortIdx)">
        {{ sort.name }}
      </div>
    </div>

    <div class="app-filter__search" *ngIf="isSearch">
      <div class="input-group">
        <input type="text" class="form-control" [(ngModel)]="sortSearch.search_filter" #SearchTerm [placeholder]="searchConf.placeholder">
        <button class="input-group-append btn btn-warning" (click)="searchAction()">{{ searchConf.button }}</button>
      </div>
    </div>

    <div class="app-filter__button">
      <ng-content select="[btnSwap]"></ng-content>
      <button
        class="btn disabled--out-line app-filter__btn"
        [ngClass]="{ 'show' : isShowForm }"
        (click)="showFormFilter()"
        [disabled]="filterLoading">
        {{ filterOpenText }}
      </button>
    </div>
  </div>

  <div class="app-filter__wrap" [ngClass]="{ 'show': isShowForm, 'loading': filterLoading }">
    <div class="app-filter__form container-fluid">
      <ng-content select="[filterForm]"></ng-content>
    </div>

    <div class="app-filter__loading" *ngIf="filterLoading">
      <div class="lds-ripple">
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</section>
