$sort-color: #9b9b9b;
$sort-color-active: #505050;
$filter-btn-background: #f4f4f4;
$filter-btn-border-color: #d9d9d9;
$filter-color: #707070;
$filter-img: 'assets/icon/arrow-filter.svg';
$wrap-background: #f7f7f7;

.app-filter {
  margin-bottom: 0.9375rem;

  &__action {
    align-items: center;
    background-color: var(--white);
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    justify-content: space-between;
    padding: 0.9375rem;

    &.no-sort {
      justify-content: flex-end;
    }
  }

  &__sort {
    display: flex;

    .sort-item {
      color: $sort-color;
      cursor: pointer;
      font-size: 0.8125rem;
      margin-right: 1.5625rem;
      position: relative;

      &::after {
        border-left: 0.3125rem solid transparent;
        border-right: 0.3125rem solid transparent;
        border-top: 0.3125rem solid $sort-color;
        content: '';
        height: 0;
        position: absolute;
        right: -0.8125rem;
        top: 42%;
        transition: transform 0.3s ease-in;
        width: 0;
      }

      &.sort-active,
      &:hover {
        color: $sort-color-active;
        font-weight: bold;

        &::after {
          border-top-color: $sort-color-active;
        }
      }

      &.sort-asc::after {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }
  }

  &__btn {
    background-color: $filter-btn-background;
    border: 0.0625rem solid $filter-btn-border-color;
    color: $filter-color;
    padding-left: 1.5625rem;
    padding-right: 0.9375rem;
    position: relative;

    &::before {
      background-image: url($filter-img);
      background-position: 0 center;
      background-repeat: no-repeat;
      content: '';
      height: 0.9375rem;
      left: 0.3125rem;
      position: absolute;
      top: calc(50% - 0.375rem);
      transition: transform 0.5s ease-in-out;
      width: 0.9375rem;
    }

    &.show::before {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }

    &:focus {
      box-shadow: none;
    }
  }

  &__wrap {
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    background-color: $wrap-background;
    box-sizing: border-box;
    min-height: 0;
    opacity: 0;
    transition: all 0.5s ease-in-out;

    .app-filter__form {
      height: 0;
      opacity: 0;
      visibility: hidden;
    }

    &.show {
      border-bottom: 1px solid #e5e5e5;
      margin-bottom: 0.9375rem;
      min-height: 3.875rem;
      opacity: 1;
      padding: 0.625rem 0;

      .app-filter__form {
        height: auto;
        opacity: 1;
        visibility: visible;
      }
    }

    &.loading {
      &::before {
        background-color: rgba(0, 0, 0, 0.5);
        content: '';
        height: 100vh;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;
      }
    }

    .btn {
      min-width: 8.75rem;
      padding: 0.4375rem;
    }
  }

  &__loading {
    left: calc(50% - 2rem);
    position: absolute;
    top: calc(35% - 2rem);
    z-index: 3;
  }

  &__search {
    min-width: 400px; // Fixed width to show placeholder fully

    .input-group-append {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      padding: 4px 15px;
    }
  }
}
