<section class="account-set-password">
  <div class="account-form">
    <div class="account__title">
      <h2>パスワード登録</h2>
    </div>

    <form class="cas-auth__form" #SetPasswordForm="ngForm" novalidate>
      <div class="form-group cas-auth__form-group">
        <label class="cas-auth__form-label">パスワード</label>
        <input
          type="password"
          [ngClass]="{
              'is-invalid': ((Password.dirty || Password.touched) && Password.errors) || validation.password
            }"
          class="form-control cas-auth__form-control"
          name="password"
          placeholder="パスワードを入力してください"
          [(ngModel)]="pwdData.password"
          appPasswordValidator
          autocomplete="new-password"
          #Password="ngModel"
          required
          minlength="8"
          maxlength="100"
          (input)="resetValidation('password')"
        />

        <div class="invalid-feedback" *ngIf="(Password.dirty || Password.touched) && Password.errors?.required">
          パスワードを入力してください
        </div>

        <div
          class="invalid-feedback"
          *ngIf="(Password.dirty || Password.touched) && Password.errors?.appPasswordValidator"
        >
          半角英数字を含める8文字以上で設定してください
        </div>

        <div class="invalid-feedback" *ngIf="validation.password">{{ validation.password }}</div>
      </div>

      <div class="form-group cas-auth__form-group">
        <label class="cas-auth__form-label">確認用パスワード</label>
        <input
          type="password"
          [ngClass]="{
              'is-invalid':
                ((PwConfirm.dirty || PwConfirm.touched) && PwConfirm.errors) || validation.password_confirmation
            }"
          class="form-control cas-auth__form-control"
          name="password_confirmation"
          placeholder="パスワードを入力してください"
          autocomplete="new-password"
          [(ngModel)]="pwdData.password_confirmation"
          #PwConfirm="ngModel"
          required
          minlength="8"
          appPasswordValidator
          maxlength="100"
          appEqualValidator="password"
          (input)="resetValidation('password_confirmation')"
        />

        <div class="invalid-feedback" *ngIf="(PwConfirm.dirty || PwConfirm.touched) && PwConfirm.errors?.required">
          再度パスワードを入力してください
        </div>

        <div
          class="invalid-feedback"
          *ngIf="(PwConfirm.dirty || PwConfirm.touched) && PwConfirm.errors?.appPasswordValidator"
        >
          半角英数字を含める8文字以上で設定してください
        </div>

        <div
          class="invalid-feedback"
          *ngIf="(PwConfirm.dirty || PwConfirm.touched) && PwConfirm.errors?.appEqualValidator"
        >
          確認用パスワードとパスワードが一致しません
        </div>

        <div class="invalid-feedback" *ngIf="validation.password_confirmation">
          {{ validation.password_confirmation }}
        </div>
      </div>

      <div class="cas-auth__form-action mt-3">
        <button type="submit" class="btn cas-auth__btn" [disabled]="isLoading" (click)="resetPassword()">パスワードを登録する</button>
      </div>
    </form>
  </div>
</section>
