.account-set-password {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;

  .account-form {
    width: 600px;
  }
}

.account-form {
  .account__title {
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 20px;
    text-align: center;
  }
}
