.guide-drag {
  padding: 20px;

  &__title {
    h2 {
      border-bottom: 2px solid rgba(0, 0, 0, 0.16);
      font-size: 16px;
      font-weight: 700;
      line-height: 25px;
    }

    p {
      font-size: 10px;
      line-height: 10px;
    }
  }

  &__helper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 15px 0 25px;

    &-items {
      p {
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        text-align: left;
        white-space: pre-line;
        word-break: break-word;
      }
    }
  }
}
