<section class="">
  <img
    src="assets/icon/question.svg"
    [popover]="guidePop"
    [containerClass]="'guide-container'"
    placement="bottom"
    container="body"
    #inputPop="bs-popover"
    [outsideClick]="true"
    width="28px" height="28px"
  />
</section>

<ng-template #guidePop>
  <div class="guide-drag">
    <div class="guide-drag__title">
      <h2>パターン１の作成方法</h2>
      <p>複数料理が写っている写真をアップロード後、任意の位置にメニュー名を表示させることができます。</p>
    </div>
    <div class="guide-drag__helper">
      <img *ngFor="let helper of imageHelper" [src]="helper" alt="rich-menu helper" />
    </div>
    <div class="guide-drag__title">
      <h2>パターン2の作成方法</h2>
      <p>メニューの表示順を任意の順番に変更することができます。</p>
    </div>
    <div class="guide-drag__helper">
      <div class="guide-drag__helper-items" *ngFor="let helper of imageHelper2" >
        <img [src]="helper.img" alt="rich-menu helper 2" />
        <p class="pl-3"> {{ helper.name }} </p>
      </div>
    </div>
  </div>
</ng-template>
