
 <form #WalkinForm="ngForm" autocomplete="off" novalidate class="walkin-form">
 <div class="form-group row">
    <label class="col-12 col-form-label font-weight-bold">ウォークイン時間</label>
    <div class="col-12">
      <app-input-time
        [disabled]="walkin.isWorking || walkin.isFinished || walkin.isDatePass"
        [class]="validation.start_at ? 'input-walkin is-invalid' : 'input-walkin'"
        name="start_time"
        [ngClass]="{ 'is-invalid': validation.start_at, 'entered': walkin.start_time }"
        [(ngModel)]="walkin.start_time"
        (ngModelChange)="changeDuration(); resetValidator('start_at'); checkFormChange()"
        placement="bottom"
        placeholder="開始時間" required>
      </app-input-time>
      <div class="d-block invalid-feedback" *ngIf="validation.start_at">
        {{ validation.start_at }}
      </div>
    </div>
  </div>

  <!-- People Number -->
  <div class="form-group row">
    <label class="col-sm-4 col-form-label font-weight-bold">人数</label>
    <div class="col-sm-6">
      <app-input-text
        name="Quantity"
        [(ngModel)]="walkin.quantity"
        (ngModelChange)="resetValidator('quantity'); checkFormChange()"
        [ngClass]="{'entered': walkin.quantity}" max="999"
        class="cas-fr-control__text--large"
        [class]="(Quantity.dirty || Quantity.touched) && Quantity.errors ? 'is-invalid' : ''"
        #Quantity="ngModel"
        [pattern]="rules.quantity_one_thousand" errorMessage="人数は必須です"
        [required]="true" [disabled]="walkin.isFinished || walkin.isDatePass"
        placeholder="2"></app-input-text>
      <div class="d-block invalid-feedback" *ngIf="validation.quantity">
        {{ validation.quantity }}
      </div>
    </div>
    <div class="col-sm-2 d-flex align-items-center"><span>人</span></div>
  </div>

  <!-- Table -->
  <div class="form-group row">
    <label class="col-sm-4 col-form-label font-weight-bold">テーブル</label>
    <div class="col-sm-8">
      <textarea
        type="text"
        class="form-control no-resize"
        [ngModel]="walkin.tables_name_display"
        (ngModelChange)="resetValidator('table_ids'); checkFormChange()"
        [ngClass]="{
          'is-invalid': ((tableNames.dirty || tableNames.touched) && tableNames.errors) || validation.table_ids,
          'entered': walkin.tables_name_display
        }"
        [disabled]="walkin.isFinished || walkin.isDatePass"
        #tableNames="ngModel"
        name="tables"
        readonly
        required
        (touchstart)="activeSelectTable()"
        (click)="activeSelectTable()"
        placeholder="時間表から選んでください"
        rows="1">
      </textarea>
      <div class="invalid-feedback" *ngIf="(tableNames.dirty || tableNames.touched) && tableNames.errors?.required">
        テーブルは必須です
      </div>
      <div class="invalid-feedback" *ngIf="validation.table_ids">
        {{ validation.quantity }}
      </div>
    </div>
  </div>

  <!-- Passcode -->
  <div *ngIf="walkin.smp_code && walkin.status !== 'finished' && isUseSmpOrder && !walkin.paid_at" class="form-group row cas-fr-control__text--large">
    <label class="col-sm-4 col-form-label font-weight-bold">パスコード</label>
    <div class="col-sm-6">
      <input
        type="text"
        class="form-control entered"
        name="Passcode"
        [(ngModel)]="walkin.smp_code"
        (ngModelChange)="changeValuesForm()"
        #Name="ngModel"
        maxlength="255"
        autocomplete="off"
        required
        appSpaceValidation
        disabled
      />
    </div>
    <div class="col-sm-2 d-flex align-items-center">
      <div class="col-sm-2 d-flex align-items-center">
        <span><i class="fas fa-sync-alt color-icon" (click)="changeSmpCode()"></i></span>
      </div>
    </div>
  </div>

  <!-- setting time -->
  <div class="form-group row">
    <label class="col-sm-12 font-weight-bold">確保時間</label>
    <div class="col-sm-12">
      <app-time-setting
        name="time-setting"
        [(ngModel)]="walkin.duration"
        (ngModelChange)="changeDuration(); checkFormChange()"
        isWalkin="true"
        #settingTime="ngModel"
        [disabled]="walkin.isWorking || walkin.isFinished || walkin.isDatePass"
        required>
      </app-time-setting>
    </div>
  </div>
</form>
