@import 'src/stylesheets/utilities/_menu-toggle';

.page-setting-charge-fee {
  min-height: calc(100vh - 60px);

  .page-footer {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
  }
}

.fee-unit {
  margin-bottom: 0;
  padding-top: 35px;
}
