<app-cas-dialog title="席料設定" (close)="closeModal()">
  <section dialogContent>
    <!-- Show / Hide block -->
    <div class="menu-toggle justify-content-between mt-2">
      <div class="toggle-text">
        <p class="title font-weight-bold">席料を有効にしますか？</p>
        <p class="caption">オンすると、席料が反映されます</p>
      </div>
      <app-ui-switch [(ngModel)]="clientChargeFee.use_service_fee"></app-ui-switch>
    </div>

    <form class="cas-form coupon-form col-md-10 offset-md-1 mb-5" #ChargeFeeForm="ngForm" novalidate>
      <div class="form-group mi-form-group">
        <label class="col-form-label mi-form-label required">席料形式</label>

        <app-cas-ng-select
          name="chargeFeesType"
          #ChargeFeeType="ngModel"
          [items]="chargeFeeTypes"
          [(ngModel)]="clientChargeFee.service_fee_type"
          [clearable]="false"
          [ngClass]="{ 'is-invalid': ((ChargeFeeType.dirty || ChargeFeeType.touched) && ChargeFeeType.errors) || validator.service_fee_type }"
          bindLabel="label"
          bindValue="value"
          className="mi-form-ng-select"
          placeholder="選択してください"
          (change)="changeFeeType()"
          [required]="clientChargeFee.use_service_fee">
        </app-cas-ng-select>
        <div class="invalid-feedback" *ngIf="(ChargeFeeType.dirty || ChargeFeeType.touched) && ChargeFeeType.errors?.required">
          種別は必須です
        </div>
        <div class="invalid-feedback" *ngIf="validator.service_fee_type">
          {{ validator.service_fee_type }}
        </div>
      </div>

      <div class="form-group mi-form-group">
        <label class="col-form-label mi-form-label" [ngClass]="{'required': clientChargeFee.use_service_fee }">金額</label>
        <div class="row">
          <div class="col-sm-8" *ngIf="clientChargeFee.isAmount">
            <app-digit-formater [(ngModel)]="fee_amount"
              name="fee_amount"
              [max]="999999"
              (ngModelChange)="resetValidation('service_fee')"
              placeholder="数値を入力してください"
              [required]="clientChargeFee.use_service_fee && '数値は必須です'"
              [validator]="validator.service_fee"></app-digit-formater>
          </div>
          <div class="col-sm-8" *ngIf="clientChargeFee.isPercent">
            <app-digit-formater [(ngModel)]="fee_fercent"
              name="fee_fercent"
              [max]="99"
              (ngModelChange)="resetValidation('service_fee')"
              placeholder="数値を入力してください"
              [required]="clientChargeFee.use_service_fee && '数値は必須です'"
              [validator]="validator.service_fee"></app-digit-formater>
          </div>
          <p class="col-sm-2 fee-unit">{{ clientChargeFee.service_fee_type_unit }}</p>
        </div>
      </div>

      <div class="form-group mi-form-group">
        <label class="col-form-label mi-form-label required">運用対象</label>

        <app-cas-ng-select
          name="chargeFeeScope"
          #ChargeFeeScope="ngModel"
          [items]="serviceFeeBys"
          [(ngModel)]="clientChargeFee.service_fee_by"
          [clearable]="false"
          [ngClass]="{ 'is-invalid': ((ChargeFeeScope.dirty || ChargeFeeScope.touched) && ChargeFeeScope.errors) || validator.service_fee_by }"
          bindLabel="label"
          bindValue="value"
          className="mi-form-ng-select"
          placeholder="選択してください"
          [required]="clientChargeFee.service_fee_type">
        </app-cas-ng-select>
        <div class="invalid-feedback" *ngIf="(ChargeFeeScope.dirty || ChargeFeeScope.touched) && ChargeFeeScope.errors?.required">
          運用対象は必須です
        </div>
        <div class="invalid-feedback" *ngIf="validator.service_fee_by">
          {{ validator.service_fee_by }}
        </div>
      </div>
    </form>
  </section>

  <section class="cas-dialog__btn-group justify-content-end" dialogAction>
    <button type="button"
      class="btn btn-md btn-secondary btn-border btn-mw--lg mr-3"
      (click)="closeModal()">
      キャンセル
    </button>

    <button
      type="button"
      class="btn btn-md btn-warning btn-border btn-mw--lg"
      [disabled]="ChargeFeeForm.invalid || isLoading"
      (click)="settingChargeFee()">
      設定する
    </button>
  </section>
</app-cas-dialog>
