<form novalidate>
  <div class="row">
    <div class="col-sm-5 col-lg-6">
      <input
        type="text"
        class="form-control"
        name="OptionName"
        maxlength="255"
        [(ngModel)]="filterData.name"
        placeholder="オプション名を入力"
      />
    </div>
    <div class="col-sm-4 col-lg-3 p-0">
      <div class="input-group mi-form-input-group align-items-center">
        <app-digit-formater
          class="price-input"
          [(ngModel)]="filterData.price_gte"
          name="OptionPriceGte"
          [min]="0"
          [max]="999999999"
          placeholder="0"
        ></app-digit-formater>
        <span class="mx-1">~</span>
        <app-digit-formater
          class="price-input"
          [(ngModel)]="filterData.price_lte"
          name="OptionPriceLte"
          [min]="1"
          [max]="999999999"
          placeholder="100,000"
        ></app-digit-formater>
      </div>
    </div>
    <div class="col-sm-3 col-lg-3 text-right align-self-end">
      <button type="button" class="btn btn-warning" (click)="filter()">この条件で絞込む</button>
    </div>
  </div>
</form>
