<input
  type="text"
  name="value"
  [ngModel]="valueFormat"
  (keypress)="handleKeyPress($event)"
  (ngModelChange)="changeValue = $event; validator = ''"
  class="form-control cas-fr-control"
  [ngClass]="{ 'is-invalid': ((InputModel.dirty || InputModel.touched) && InputModel.errors) || validator }"
  [placeholder]="placeholder"
  inputmode="numeric"
  #InputEl
  unFocus
  #InputModel="ngModel"
  [required]="isRequired">

<div class="invalid-feedback" *ngIf="(InputModel.dirty || InputModel.touched) && InputModel.errors?.required">
  {{ required }}
</div>

<div class="invalid-feedback" *ngIf="validator">
  {{ validator }}
</div>
