<app-cas-dialog title="Twilioアカウント連携" dialogClass="cas-dialog__footer-no-border" (close)="closeModal()">
  <section dialogContent>
    <form novalidate #twilioForm="ngForm">
      <div class="border-bottom border--grey-lighten mb-4 font-size-13">
        <p class="mb-0">ACCOUNT SID・AUTH TOKENを入力し　「設定する」を押すと、</p>
        <p>CTI用電話番号が発行される。</p>
        <p>※反映には時間がかかる場合がございます。設定完了後、店舗詳細画面にCTI番号
          　が表示されない場合は画面の更新をお願いします</p>
      </div>

      <div class="form-group">
        <label class="col-form-label mi-form-label required">ACCOUNT SID</label>
        <div>
          <input type="text" class="form-control cas-fr-control"
            name="dis_tnuocca"
            [ngClass]="{ 'is-invalid': ((AccountSid.dirty || AccountSid.touched) && AccountSid.errors) || validator.account_sid }"
            [(ngModel)]="clientTwilio.account_sid"
            #AccountSid="ngModel"
            (input)="resetValidator('account_sid')"
            placeholder="ACCOUNT SIDを入力してください"
            maxlength="255"
            required>

          <div class="invalid-feedback"
            [hidden]="!((AccountSid.dirty || AccountSid.touched) && AccountSid.errors?.required)">ACCOUNT SIDは必須です</div>

          <div class="invalid-feedback" [hidden]="!validator.account_sid">{{ validator.account_sid }}</div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-form-label mi-form-label required">AUTH TOKEN</label>
        <div>
          <app-input-contenteditable
            name="token_1"
            class="cas-form-control"
            [ngModel]="clientTwilio.auth_token"
            (ngModelChange)="changeAuthToken($event)"
            #AuthToken="ngModel"
            [ngClass]="{ 'is-invalid': isDirtyAuthToken && (((AuthToken.dirty || AuthToken.touched) && AuthToken.errors) || validator.auth_token) }"
            required
            placeholder="AUTH TOKENを入力してください"
            name="auth_token"
            maxlength="255">
          </app-input-contenteditable>

          <div class="invalid-feedback"
            [hidden]="!((AuthToken.dirty || AuthToken.touched) && AuthToken.errors?.required)">AUTH TOKENは必須です</div>
          <div class="invalid-feedback"
            [hidden]="!((AuthToken.dirty || AuthToken.touched) && AuthToken.errors?.maxlength)">AUTH TOKENは255文字以下で入力してください</div>
          <div class="invalid-feedback" [hidden]="!validator.auth_token">{{ validator.auth_token }}</div>
        </div>
      </div>
    </form>
  </section>

  <section class="cas-dialog__btn-group justify-content-between" dialogAction>
    <button
      type="button"
      class="btn btn-md btn-secondary btn-border btn-mw--lg"
      aria-label="Close"
      (click)="closeModal()">
      キャンセル
    </button>

    <button
      type="submit"
      class="btn btn-md btn-warning btn-mw--lg"
      aria-label="Confirm Change"
      [disabled]="twilioForm.form.invalid || isLoading"
      (click)="submitTwilio()">
      設定する
    </button>
  </section>
</app-cas-dialog>
