<form novalidate #resvInfoForm="ngForm" class="resv-form">
  <div class="form-group row">
    <label class="col-sm-4 col-form-label font-weight-bold">予約日時</label>
    <div class="col-sm-5 pr-0">
      <app-ngx-datepicker
        name="start_date"
        [minDate]="minDate"
        [(ngModel)]="resData.start_date"
        (ngModelChange)="changeValuesForm(); changeDate()"
        [ngClass]="{ entered: resData.start_date }"
        [bsConfig]="{ containerClass: 'bs-datepicker cashless-theme resv-date-picker' }"
        [disabled]="resData.isFinished || resData.isPassDate || resData.isWorking"
        placement="right"
      ></app-ngx-datepicker>
    </div>
    <div class="col-sm-3">
      <app-input-time
        name="start_time"
        class="cas-fr-control__text--large"
        [(ngModel)]="resData.start_time"
        (ngModelChange)="changeValuesForm(); changeDuration()"
        [ngClass]="{ entered: resData.start_time }"
        [disabled]="resData.isFinished || resData.isPassDate || resData.isWorking"
        [required]="true"
      ></app-input-time>
    </div>
  </div>

  <!-- People Number -->
  <div class="form-group row">
    <label class="col-sm-4 col-form-label font-weight-bold">人数</label>
    <div class="col-sm-6">
      <app-input-text
        name="resvQuantity"
        [(ngModel)]="resData.quantity"
        (ngModelChange)="changeValuesForm()"
        #Quantity="ngModel"
        max="999"
        class="cas-fr-control__text--large"
        [ngClass]="{ entered: resData.quantity }"
        [class]="(Quantity.dirty || Quantity.touched) && Quantity.errors ? 'is-invalid' : ''"
        errorMessage="人数は必須です"
        [pattern]="rules.quantity_one_thousand"
        [required]="true"
        [disabled]="resData.isFinished || resData.isPassDate"
        [placeholder]="2"
      ></app-input-text>
    </div>
    <div class="col-sm-2 d-flex align-items-center">
      <span>人</span>
    </div>
  </div>

  <!-- Tables -->
  <div class="form-group row">
    <label class="col-sm-4 col-form-label font-weight-bold">テーブル</label>
    <div [ngClass]="{ 'col-sm-4 my-auto': resData.id, 'col-sm-8': !resData.id }">
      <div *ngIf="!resData.id">
        <textarea
          class="no-resize form-control"
          [ngClass]="{
            'is-invalid': ((tableNames.dirty || tableNames.touched) && tableNames.errors) || resData.isEnoughSeat,
            entered: resData.tables_name_display
          }"
          rows="1"
          readonly
          #tableNames="ngModel"
          name="tablesName"
          [ngModel]="resData.tables_name_display"
          (touchstart)="activeSelectTable()"
          (click)="activeSelectTable()"
          [disabled]="resData.isFinished || resData.isPassDate"
          required
          placeholder="時間表から選んでください"
        ></textarea>
        <div class="invalid-feedback" *ngIf="(tableNames.dirty || tableNames.touched) && tableNames.errors?.required">
          テーブルは必須です
        </div>
        <div class="invalid-feedback" *ngIf="resData.isEnoughSeat">後{{ resData.tablesQuanlity }}席足りません</div>
      </div>

      <div *ngIf="resData.id">
        <p class="mb-0 text-truncate text-truncate--2">{{ resData.tables_name_display }}</p>
        <div class="cas-text--red font-size-12" *ngIf="resData.isEnoughSeat">
          後{{ resData.tablesQuanlity }}席足りません
        </div>
      </div>
    </div>
    <div
      class="col-sm-4 d-flex justify-content-center align-items-center pl-0"
      *ngIf="resData.id && !resData.isFinished"
    >
      <button
        class="btn btn-primary"
        (touchstart)="activeSelectTable()"
        [disabled]="resData.isPassDate"
        (click)="activeSelectTable()"
      >
        選び直す
      </button>
    </div>
  </div>

   <!-- Passcode -->
   <div *ngIf="resData.smp_code && resData.status !== 'finished' && isUseSmpOrder && !resData.paid_at" class="form-group row cas-fr-control__text--large">
    <label class="col-sm-4 col-form-label font-weight-bold">パスコード</label>
    <div class="col-sm-6">
      <input
        type="text"
        class="form-control "
        name="Passcode"
        [(ngModel)]="resData.smp_code"
        (ngModelChange)="changeValuesForm()"
        #Name="ngModel"
        maxlength="255"
        autocomplete="off"
        required
        appSpaceValidation
        disabled
      />
    </div>
    <div class="col-sm-2 d-flex align-items-center">
      <span><i class="fas fa-sync-alt color-icon" (click)="changeSmpCode()"></i></span>
    </div>
  </div>

  <!-- Name -->
  <div class="form-group row">
    <label class="col-sm-4 col-form-label font-weight-bold">お名前</label>
    <div class="col-sm-8">
      <input
        type="text"
        class="form-control"
        [ngClass]="{ 'is-invalid': (Name.dirty || Name.touched) && Name.errors, entered: resData.client_user.name }"
        name="userName"
        [(ngModel)]="resData.client_user.name"
        (ngModelChange)="changeValuesForm()"
        #Name="ngModel"
        maxlength="255"
        autocomplete="off"
        required
        appSpaceValidation
        [disabled]="
          resData.isFinished || resData.isPassDate || resData.isWorking || (resData.id && resData.client_user.isOmiseno) || !resData.client_user.phone || !!resData.client_user.id
        "
        placeholder="オミセノ　タロウ"
      />

      <div class="invalid-feedback" *ngIf="(Name.dirty || Name.touched) && Name.errors?.required">
        お名前は必須です
      </div>

      <div class="invalid-feedback" *ngIf="(Name.dirty || Name.touched) && Name.errors?.appSpaceValidation">
        空白のみを入力することはできません
      </div>
    </div>
  </div>

  <!-- Phone -->
  <div class="form-group row">
    <label class="col-sm-4 col-form-label font-weight-bold">電話番号</label>
    <div class="col-sm-8">
      <app-resv-phone-lookup
        class="d-flex w-100"
        name="userPhone"
        [ngClass]="{ entered: resData.client_user.phone }"
        [class]="PhoneLookup.dirty && PhoneLookup.touched && PhoneLookup.errors ? 'is-invalid' : ''"
        [(ngModel)]="resData.client_user.phone"
        (ngModelChange)="changeValuesForm()"
        #PhoneLookup="ngModel"
        (foundClientUser)="foundClientUser($event)"
        [clientUser]="resData.client_user"
        [isFormUpdate]="!!resData.id"
        minlength="10"
        maxlength="11"
        [disabled]="resData.isFinished || resData.isPassDate || resData.isWorking"
        [required]="true"
        placeholder="09012345678"
      >
      </app-resv-phone-lookup>
    </div>
  </div>

  <!-- Usage time -->
  <div class="form-group row">
    <label class="col-form-label font-weight-bold">ご利用時間</label>
    <app-time-setting
      name="time-setting"
      [(ngModel)]="resData.duration"
      (ngModelChange)="changeValuesForm(); changeDuration()"
      (eventSelect)="changeValuesForm(true)"
      #settingTime="ngModel"
      required
      [disabled]="resData.isFinished || resData.isPassDate || resData.isWorking"
    ></app-time-setting>
  </div>
</form>
