<div
  class="category-layout__container"
  [ngClass]="{ 'category-layout__container--vert': isDirectionVert }"
  [ngStyle]="{ 'background-color': currentRichMenu?.bg_color }"
>
  <div id="CategoryLayout" #CategoryLayout class="category-layout__content"></div>
  <div class="category-layout__upload" [ngClass]="{ remove: !!currentRichMenu.image_url }">
    <input
      class="cas-dz__input"
      hidden
      type="file"
      name="inputFile"
      #formFiles
      [accept]="fileAccept"
      (change)="handleFile($event.target.files)"
    />
    <div class="cat-upload__btn" (click)="uploadImage(formFiles)"></div>
  </div>
</div>
