$cat-bg-image: 'assets/img/bg-rich-menu.png';

.category-layout {
  &__container {
    background-color: #e5e5e5;
    // background-image: url($cat-bg-image);
    background-position: center;
    background-repeat: no-repeat;
    height: 430.86px;
    margin: 0 auto 15px;
    min-height: 400px;
    position: relative;
    width: 584px;

    &--vert {
      height: 669px;
      width: 376px;

      .category-layout__content::after {
        height: 35px;
      }
    }
  }

  &__content {
    -webkit-overflow-scrolling: touch;
    height: 100%;
    //overflow: scroll;
    position: relative;
    width: 100%;

    &::after {
      background-image: url('../../../assets/img/self-order-navigation.png');
      background-position: bottom left;
      background-repeat: no-repeat;
      background-size: contain;
      bottom: 0;
      content: '';
      height: 51px;
      position: absolute;
      width: 100%;
    }

    &::before {
      background-image: url('../../../assets/img/self-order-number.png');
      background-position: bottom left;
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      height: 60px;
      position: absolute;
      right: 8px;
      top: 3px;
      width: 60px;
      z-index: 1;
    }
  }

  &__upload {
    .cat-upload__btn {
      background-color: #999;
      border-radius: 50%;
      bottom: -10px;
      cursor: pointer;
      height: 4.6875rem;
      position: absolute;
      right: 10px;
      transition: all ease-in 0.5s;
      width: 4.6875rem;

      &::before,
      &::after {
        background-color: var(--white);
        border-radius: 0.9375rem;
        content: '';
        height: 0.1875rem;
        left: 25%;
        position: absolute;
        top: 48%;
        width: 50%;
      }

      &::after {
        transform: rotate(90deg);
      }

      &.disabled {
        background-color: #eaeaea;
        cursor: not-allowed;
      }
    }

    &.remove .cat-upload__btn {
      background-color: var(--red);
      transform: rotate(45deg);

      &.disabled {
        background-color: #eaeaea;
        cursor: not-allowed;
      }
    }
  }

  &__container--vert {
    .category-layout__upload .cat-upload__btn {
      bottom: -0.7rem;
      height: 4.615rem;
      right: -2.3075rem;
      width: 4.615rem;
    }
  }
}
