<section class="content-page">
  <div class="page-head page-head--space-between">
    <h2 class="head-title">アカウント一覧</h2>
    <div class="head-action">
      <button type="button" (click)="openDialogUser()" class="btn page-head-btn btn-warning">
        アカウント作成
      </button>
    </div>
  </div>

  <app-cas-filter [sortItems]="sortAccount" (eventSort)="accountSort($event)">
    <section filterForm>
      <form novalidate #FormFilter="ngForm">
        <div class="form-group mi-form-group row mb-0">
          <div class="col-6 pr-0">
            <input type="text"
              name="filterName"
              [(ngModel)]="filterData.name"
              class="form-control"
              placeholder="アカウント名を入力"
              #Name="ngModel">
          </div>
          <div class="col-3">
            <app-cas-ng-select
              [items]="roles"
              [clearable]="true"
              [(ngModel)]="filterData.role_name"
              bindLabel="role_name"
              bindValue="role_name"
              className="mi-form-ng-select"
              name="roleName"
              #RoleNameRef="ngModel"
              dropdownPosition="bottom"
              placeholder="役職"
            ></app-cas-ng-select>
          </div>
          <div class="col-3 text-right align-self-end">
            <button class="btn btn-warning"
              (click)="filterAccount()"
              [disabled]="!FormFilter.form.valid">
              この条件で絞込む
            </button>
          </div>
        </div>
      </form>
    </section>
  </app-cas-filter>

  <div class="page-content container-fluid">
    <app-cas-table [headers]="tableHeaders">
      <tr *ngFor="let user of users">
        <td class="cas-text--break font-weight-bold text-center">{{ user.name }}</td>
        <td class="cas-text--break text-center">{{ user.email }}</td>
        <td class="cas-text--break text-center">{{ user.role_name }}</td>
        <td class="text-center">
          <a (click)="openDialogUser(user)" href="javascript:void(0)" class="btn btn-warning">編集</a>
        </td>
      </tr>
    </app-cas-table>

    <div class="text-center" *ngIf="!users.length && !isLoading">
      データが見つかりません
    </div>

    <div class="loader--row" *ngIf="isLoading">
      <div class="lds-ripple">
        <div></div><div></div>
      </div>
    </div>

    <div class="cas-pagination" [ngClass]="{ 'd-none': isLoading }">
      <app-pagination
        *ngIf="pagination.isPagination"
        class="d-flex justify-content-center"
        [boundaryLinks]="true"
        [totalItems]="pagination.total"
        [itemsPerPage]="pagination.per_page"
        [maxSize]="5"
        [(ngModel)]="pagination.current_page"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;"
      ></app-pagination>
    </div>
  </div>
</section>
