<app-cas-dialog [title]="title_modal" (close)="closeModal()">
  <section dialogContent>
    <div class="cas-form">
      <form #MenuTypeFrom="ngForm">
        <div class="form-group mi-form-group">
          <label class="col-form-label">メニュー種別ID / メニュー種別名</label>

          <app-input-name-with-id
            name="ordinal_input"
            [(ngModel)]="ordinalInput"
            (ngModelChange)="onChangeOrdinal()"
            #MenuTypeName="ngModel"
            namePlaceholder="メニュー種別名を入力してください"
            nameRequiredErrorMsg="メニュー種別名は必須です"
            nameMaxlength="100"
            [validatorError]="validator.name"
            [numberUniqueErrorMsg]="validator.ordinal_number"
            required
          >
          </app-input-name-with-id>
        </div>
      </form>
    </div>
  </section>

  <section class="cas-dialog__btn-group justify-content-around" dialogAction>
    <button
      type="button"
      class="btn btn-md btn-secondary btn-border btn-mw--lg"
      aria-label="Close"
      (click)="closeModal()"
      [disabled]="isSubmiting"
    >
      キャンセル
    </button>

    <button
      type="button"
      class="btn btn-md btn-warning btn-mw--lg"
      aria-label="Create"
      *ngIf="mode.isNew"
      (click)="createMenuType()"
      [disabled]="!MenuTypeFrom.form.valid || isSubmiting"
    >
      作成する
    </button>

    <button
      type="button"
      class="btn btn-md btn-warning btn-mw--lg"
      aria-label="Edit"
      *ngIf="mode.isEdit"
      (click)="editMenuType()"
      [disabled]="!MenuTypeFrom.form.valid || isSubmiting"
    >
      編集
    </button>
  </section>
</app-cas-dialog>
