<app-cas-dialog [title]="dialogTitle" (close)="closeModal()">
  <section dialogContent>
    <form novalidate #TableForm="ngForm">
      <div class="row">
        <!-- Name -->
        <div class="col-6">
          <div class="form-group mi-form-group">
            <label for="Name" class="col-form-label mi-form-label required">テーブルID / テーブル名</label>
            <app-input-name-with-id
              name="ordinal_input"
              [(ngModel)]="ordinalInput"
              (ngModelChange)="onChangeOrdinal()"
              #OrdinalInputRef="ngModel"
              namePlaceholder="テーブル名を入力してください"
              nameRequiredErrorMsg="テーブル名を入力してください"
              nameMaxlength="255"
              [validatorError]="validation.name"
              [numberUniqueErrorMsg]="validation.ordinal_number"
              required>
            </app-input-name-with-id>
          </div>
        </div>

        <!-- Number Tables -->
        <div class="col-6">
          <div class="form-group mi-form-group">
            <label for="TableCode" class="col-form-label mi-form-label required">テーブル番号</label>
            <input
              type="text"
              class="form-control cas-fr-control"
              [ngClass]="{
                'is-invalid': ((TableCode.dirty || TableCode.touched) && TableCode.errors) || validation.code
              }"
              id="TableCode"
              name="tableCode"
              placeholder="テーブル番号"
              [(ngModel)]="table.code"
              #TableCode="ngModel"
              maxlength="5"
              appSpaceValidation
              (input)="resetValidate('code')"
              required
            />

            <div
              class="invalid-feedback"
              [hidden]="!((TableCode.dirty || TableCode.touched) && TableCode.errors?.required)"
            >
              テーブル番号は必須です
            </div>
            <div
              class="invalid-feedback"
              [hidden]="!((TableCode.dirty || TableCode.touched) && TableCode.errors?.appSpaceValidation)"
            >
              空白のみを入力することはできません
            </div>
            <div
              class="invalid-feedback"
              [hidden]="!((TableCode.dirty || TableCode.touched) && TableCode.errors?.pattern)"
            >
              番号を入力しないでください
            </div>

            <div class="invalid-feedback" *ngIf="validation.code">{{ validation.code }}</div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Type -->
        <div class="col-6">
          <div class="form-group mi-form-group">
            <label class="col-form-label mi-form-label required">テーブルタイプ</label>
            <app-cas-ng-select
              [items]="tablesType$ | async"
              [loading]="isLoadTableType"
              [clearable]="false"
              [disabled]="isLoadTableType || isPagination"
              [typeahead]="tablesTypeInput$"
              [virtualScroll]="true"
              [ngClass]="{ 'is-invalid': (TableTypeRef.dirty && TableTypeRef.errors) || validation.type_id }"
              [(ngModel)]="table.type"
              (scrollToEnd)="changePage($event)"
              bindLabel="name"
              className="mi-form-ng-select"
              name="MenuType"
              #TableTypeRef="ngModel"
              dropdownPosition="bottom"
              placeholder="選択してください"
              notFoundText="利用できるクーポンがありません"
              required
            ></app-cas-ng-select>

            <div class="invalid-feedback" *ngIf="TableTypeRef.dirty && TableTypeRef.errors?.required">
              タイプは必須です
            </div>
            <div class="invalid-feedback" *ngIf="validation.type_id">{{ validation.type_id }}</div>
          </div>
        </div>

        <!-- Number People -->
        <div class="col-6">
          <div class="form-group mi-form-group">
            <label class="col-form-label mi-form-label required">人数</label>
            <div class="row">
              <div class="col-3">
                <app-input-text
                  [(ngModel)]="table.quantity"
                  name="tablePeople"
                  #TablePeopleRef="ngModel"
                  max="100"
                  class="cas-fr-control__text--large"
                  [class]="
                    ((TablePeopleRef.dirty || TablePeopleRef.touched) && TablePeopleRef.errors) || validation.quantity
                      ? 'is-invalid'
                      : ''
                  "
                  errorMessage="人数は必須です"
                  [pattern]="rules.quantity_one_hundred"
                  [required]="true"
                  placeholder="0"
                ></app-input-text>
              </div>
              <div class="col-2 d-flex align-items-center">
                <span>人</span>
              </div>
            </div>
          </div>
          <div
            class="invalid-feedback"
            [hidden]="!((TablePeopleRef.dirty || TablePeopleRef.touched) && TablePeopleRef.errors?.required)"
          >
            人数は必須です
          </div>

          <div
            class="invalid-feedback"
            [hidden]="!((TablePeopleRef.dirty || TablePeopleRef.touched) && TablePeopleRef.errors?.pattern)"
          >
            番号を入力しないでください
          </div>

          <div class="invalid-feedback" *ngIf="validation.quantity">{{ validation.quantity }}</div>
        </div>
      </div>

      <!-- Can Smoke -->
      <div class="row">
        <div class="col-12">
          <div class="form-group mi-form-group">
            <label class="col-form-label mi-form-label required">喫煙</label>
            <div class="radio-group cas-radio-group">
              <label class="radio-item cas-radio-item">
                <input
                  class="radio-input"
                  type="radio"
                  [(ngModel)]="table.can_smoke"
                  name="canSmoke"
                  [value]="false"
                />禁煙
                <span class="checkmark"></span>
              </label>
              <label class="radio-item cas-radio-item">
                <input
                  class="radio-input"
                  type="radio"
                  [(ngModel)]="table.can_smoke"
                  name="canSmoke"
                  [value]="true"
                />喫煙可
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>

  <section class="cas-dialog__btn-group justify-content-between" dialogAction>
    <button
      type="button"
      class="btn btn-md btn-secondary btn-border btn-mw--lg mr-3"
      (click)="closeModal()"
      [disabled]="isLoading"
    >
      キャンセル
    </button>

    <div>
      <button
        type="button"
        class="btn btn-md btn-default btn-border btn-mw--lg mr-3"
        *ngIf="mode.isEdit"
        [disabled]="TableForm.form.invalid || isLoading"
        (click)="openDialogRemoveTable()"
      >
        削除する
      </button>

      <button
        type="button"
        class="btn btn-md btn-warning btn-mw--lg"
        (click)="submitTable()"
        [disabled]="isLoading || TableForm.form.invalid"
      >
        {{ mode.isEdit ? '編集する' : '作成する' }}
      </button>
    </div>
  </section>
</app-cas-dialog>
