<form novalidate class="order-form resv-form">
  <div class="order-form__body">
    <div class="form-group mi-form-group px-2">
      <input
        type="text"
        class="form-control cas-fr-control"
        name="course"
        placeholder="コース・料理を選択"
        maxlength="255"
        readonly
        [disabled]="resData.isFinished || resData.isPassDate || resData.isWorking || resData.is_paid_or_prepaid"
        (click)="openModalOrderMenu()"
      />
    </div>

    <div class="form-group mi-form-group bg-grey-lighten-2" *ngIf="resData.all_selection.length !== 0">
      <div class="box-list-menu">
        <div class="list-selection resv-list-selection" *ngFor="let item of resData.all_selection; let idx = index">
          <div class="selection">
            <div class="item-info">
              <div class="info-description">
                <div class="cas-img cas-img--small" [ngClass]="{ 'item-sold-out': item.is_sold_out }" *ngIf="item.image_url">
                  <img class="cas-img--cover" [src]="item.image_url" alt="avatar menu course" />
                </div>
                <div class="infor-detail" [ngClass]="{ 'w-100': !item.image_url}">
                  <p class="d-block item-name mb-0">{{ item.name }}</p>
                  <p class="m-0 font-size-14">
                    {{ showPriceSelection(item.quantity, item.price) }}円
                    <span class="cas-text--light-gray m-0 font-size-12">({{ item.price_format }}円×{{ item.quantity }})</span>
                  </p>
                </div>

              </div>

              <app-input-quantity
                name="quantity_{{item.reservation_item_id ? item.reservation_item_id : idx}}"
                [disabled]="item.isDisabled || resData.isFinished || resData.isPassDate || resData.isWorking || resData.is_paid_or_prepaid"
                [name]="item.name"
                [(ngModel)]="item.quantity"
                (change)="changeQuantity()" [containerClass]="'popover--number'"
                (remove)="removeSelection(item, item.type)"></app-input-quantity>
            </div>
          </div>
          <div class="invalid-feedback" *ngIf="item.validator">{{ item.validator }}</div>
        </div>
      </div>
    </div>

    <div class="form-group mb-0 px-2">
      <app-cas-ng-select
        [items]="coupons"
        [loading]="isLoadCoupon"
        [clearable]="true"
        [disabled]="!resData.client_user.phone || resData.isFinished || resData.isPassDate || resData.isWorking || resData.is_paid_or_prepaid"
        bindLabel="code_name_display"
        className="mi-form-ng-select"
        [ngClass]="{ 'is-invalid': (CouponRef.dirty && CouponRef.errors) || validator.coupon_out_of_date, 'entered': resData.coupon }"
        name="couponType"
        #CouponRef="ngModel"
        [(ngModel)]="resData.coupon" (clear)="clearAll()"
        placeholder="クーポンを選択"
        notFoundText="利用できるクーポンがありません"
        (change)="resetValidation('coupon_out_of_date'); getTotalPrice();"
      >
      </app-cas-ng-select>
      <div class="invalid-feedback" *ngIf="validator.coupon_out_of_date">
        {{ validator.coupon_out_of_date }}
      </div>
    </div>
  </div>

  <div class="order-form__footer">
    <div class="order-total">
      <span class="order-total--text">合計</span>
      <span class="order-price">{{ resData.total_price_display }}円</span>
    </div>

    <div class="order-discount">
      <span class="order-discount--text">割引額</span>
      <span class="order-price">{{ resData.discount_display }}円</span>
    </div>
  </div>
</form>
