.order-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 0;

  .box-list-menu {
    max-height: 22rem;
    padding: 0 0.9375rem;
  }

  &__footer {
    border-top: 0.0625rem solid var(--grey-lighten-6);
    padding: 0.3125rem 0.9375rem 0;
    text-align: right;

    .order-total {
      font-size: 1.75rem;
      font-weight: bold;

      &--text {
        font-size: 1rem;
      }
    }

    .order-discount {
      font-size: 0.75rem;
    }

    .order-price {
      display: inline-block;
      min-width: 9.375rem;
    }
  }
}
