<app-cas-dialog
  title="会計詳細"
  dialogClass="cas-dialog__footer-no-border"
  (close)="closeModal()"
>
  <section dialogContent>
    <div class="modal-cf-remove text-center">
      <div class="modal-cf-remove__icon">
        <img src="assets/icons/icon_warning_larger.svg" />
      </div>
      <div class="modal-cf-remove__content mt-3">
        <h5 class="font-weight-bold mb-4">選択したメニューを削除してもよろしいですか？</h5>
      </div>
    </div>
  </section>

  <section class="cas-dialog__btn-group justify-content-between px-3" dialogAction>
    <button type="button" class="btn btn-md btn-secondary btn-border btn-mw--lg mr-3 w-50"
      (click)="closeModal()">キャンセル
    </button>
    <button type="button" class="btn btn-md btn-warning btn-mw--lg w-50"
      (click)="removeMenu()">
      削除する
    </button>
  </section>
</app-cas-dialog>

