.receipt {
  &-info {
    color: #707070;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    padding: 8px 5px 0;

    p {
      margin-bottom: 0;

      &.title {
        font-size: 10px;
        font-weight: normal;
        margin-bottom: 4px;
      }
    }

    .info-item {
      background-color: #dbdbdb;
      border: 1px solid #c7c7c7;
      border-radius: 5px;
      height: 42px;
      margin-right: 5px;
      padding: 3px 5px;

      &:last-child {
        margin-right: 0;
      }

      &__table,
      &__type {
        width: 20%;
      }

      &__customer {
        width: 35%;

        .name {
          align-items: flex-end;
          display: flex;
          justify-content: space-between;

          span {
            font-size: 16px;
          }
        }
      }

      &__payment {
        width: 25%;
      }

      &__table .number {
        font-family: 'Open Sans';
        font-size: 23px;
        font-weight: bold;
      }
    }
  }

  &-content {
    margin-top: 8px;
    padding: 0 5px;

    .content {
      &-head {
        background-color: #dedede;
        border: 1px solid #bdbdbd;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        height: 24px;

        .content-item {
          line-height: 24px;
        }
      }

      &-body {
        height: 400px;
        overflow-x: hidden;
        overflow-y: auto;

        &.no-items::after {
          align-items: center;
          color: #dedede;
          content: 'オーダーしているメニューはありません';
          display: flex;
          font-size: 30px;
          height: 100%;
          justify-content: center;
        }

        .receipt-details {
          display: flex;
          flex-wrap: wrap;
        }
      }

      &-item {
        color: #707070;
        display: flex;
        font-size: 12px;
        line-height: 1;
        width: 50%;

        p {
          margin-bottom: 0;
        }

        .item-number {
          padding-left: 5px;
          width: 6%;
        }

        .item-name {
          width: 52%;
        }

        .item-quantity {
          align-items: center;
          display: flex;
          justify-content: flex-end;
          width: 10%;
        }

        .item-price {
          align-items: center;
          display: flex;
          justify-content: flex-end;
          letter-spacing: -0.66px;
          padding-right: 10px;
          width: 32%;
        }

        &__body {
          background-color: #4a4a4a;
          border-bottom: 1px solid #8d8c8c;
          color: #fff;
          flex-direction: column;
          position: relative;

          &:nth-child(2n) {
            border-left: 2px solid #707070;
          }

          .receipt-item {
            align-items: center;
            display: flex;
            font-size: 22px;
            font-weight: bold;
            height: 54px;
            width: 100%;

            &__kiosk {
              height: 80px;
            }

            .item-number {
              font-family: 'Open Sans';
              font-size: 15px;
              font-weight: normal;
            }

            .item-name {
              font-size: 18px;
              padding-right: 10px;

              span {
                display: block;
                font-family: 'Open Sans';
                font-size: 13px;
                font-weight: normal;
                margin-top: 5px;
              }

              &.pre-order {
                background-image: url('../../../assets/icon/pre-order.svg');
                background-position: 0 0;
                background-repeat: no-repeat;
                background-size: 30px 25px;
                line-height: 1;
                padding-left: 33px;

                span {
                  margin-left: -33px;
                  padding-top: 3px;
                }
              }
            }

            .item-quantity {
              background-color: #555;
              border: 1px solid #707070;
              border-radius: 3px;
              font-family: 'Open Sans';
              height: 38px;
              padding-right: 5px;
            }

            .item-price {
              align-items: flex-end;
              font-family: 'Open Sans';
            }
          }

          .receipt-options {
            display: flex;
            flex-wrap: wrap;
            padding-left: 6%;

            .option-item {
              background-color: #555;
              border: 1px solid #707070;
              border-radius: 2px;
              color: #fff;
              font-size: 11px;
              line-height: 1;
              margin-bottom: 5px;
              margin-right: 8px;
              padding: 3px 8px;
              text-align: center;
            }
          }

          .receipt-item__action {
            align-items: center;
            background-color: #f59716;
            border-radius: 4px;
            bottom: -63px;
            box-shadow: 0 3px 6px #000;
            display: flex;
            height: 63px;
            padding: 10px 0 10px 10px;
            position: absolute;
            right: 0;
            visibility: hidden;
            z-index: 1;

            &.active {
              visibility: visible;
            }

            .btn-receipt__item {
              background-color: #aaa;
              border: 2px solid #fff;
              color: #fff;
              cursor: pointer;
              font-size: 15px;
              height: 43px;
              margin-right: 10px;
              padding-left: 0;
              padding-right: 0;
              width: 108px;

              &--remove {
                background-color: #ef6c70;
              }

              &--option {
                background-color: #41b879;
                width: 123px;
              }
            }

            .btn-receipt__close {
              background-color: #eaeaea;
              background-image: url('../../../assets/icon/close-dialog.svg');
              background-position: center;
              background-repeat: no-repeat;
              background-size: 17px;
              border-radius: 0 4px 4px 0;
              cursor: pointer;
              height: 63px;
              width: 32px;
            }
          }

          &.active {
            background-color: #f59716;

            .receipt-item .item-quantity {
              background-color: #f59716;
              border-color: #f59716;
            }
          }
        }
      }
    }
  }

  &-footer {
    &__action {
      align-items: baseline;
      flex-direction: column;
    }
  }

  &-price {
    background-color: #ddd;
    border-bottom: solid 1px #f3f3f3;
    border-top: solid 1px #f0f0f0;
    display: flex;
    padding: 7px;
    width: 100%;

    p {
      margin-bottom: 0;
    }

    &__item {
      background-color: #f0f0f0;
      border: 1px solid #d1d1cf;
      border-radius: 5px;
      box-sizing: border-box;
      color: #707070;
      display: flex;
      flex-direction: column;
      font-size: 13px;
      height: 65px;
      margin-right: 5px;
      padding: 0 15px;
      width: 210px;

      &:last-child {
        margin-right: 0;
      }

      &-fee {
        flex: 0 0 25%;
        font-family: 'Open Sans';
        font-size: 12px;
        justify-content: center;

        .fee-item {
          display: flex;
          justify-content: space-between;
        }
      }

      &-quantity {
        flex: 0 0 23%;
        text-align: center;

        .number {
          color: #707070;
          font-family: 'Open Sans';
          font-size: 37px;
          font-weight: bold;
          line-height: 1;
        }
      }

      &-total {
        align-items: flex-end;
        background-color: #fff9de;
        border: 2px solid #d1d1cf;
        flex: 0 0 calc(52% - 10px);
        flex-direction: row;
        font-size: 48px;
        justify-content: space-between;
        line-height: 1;
        padding: 5px 10px;

        &.receipt-paid {
          background-color: #f0f0f0;
        }

        .title {
          font-size: 16px;
          padding-bottom: 5px;
        }

        .price-box {
          align-items: flex-end;
          display: flex;
        }

        .price {
          color: #404040;
          font-family: 'Open Sans';
          font-weight: bold;
          letter-spacing: -0.48px;
          padding-right: 15px;
        }

        .symbol {
          color: #404040;
          font-size: 24px;
          margin-bottom: 5px;
        }

        .text {
          font-size: 8px;
        }
      }
    }

    &__self-order {
      justify-content: space-between;
    }
  }

  &-action {
    align-items: flex-end;
    background-color: #b4b4b4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 75px;
    padding: 5px 10px;
    width: 100%;

    &__group {
      align-items: flex-end;
      display: flex;
    }

    &__payment {
      display: flex;
    }

    .btn {
      &.btn-receipt__close {
        background: transparent linear-gradient(180deg, #8b8a8a 0%, #9b9b9b 11%, #8a8989 83%, #828181 97%, #464545 100%)
          0% 0% no-repeat padding-box;
        border: 1px solid #e3e3e3;
        border-radius: 9px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
        color: #fff;
        font-size: 15px;
        font-weight: normal;
        height: 52px;
        width: 140px;
      }

      &.btn-payment-item {
        align-items: center;
        background: rgb(255, 199, 51);
        background: -moz-linear-gradient(
          180deg,
          rgba(255, 199, 51, 1) 0%,
          rgba(244, 204, 34, 1) 10%,
          rgba(240, 199, 25, 1) 80%,
          rgba(242, 200, 25, 1) 100%
        );
        background: -webkit-linear-gradient(
          180deg,
          rgba(255, 199, 51, 1) 0%,
          rgba(244, 204, 34, 1) 10%,
          rgba(240, 199, 25, 1) 80%,
          rgba(242, 200, 25, 1) 100%
        );
        background: linear-gradient(
          180deg,
          rgba(255, 199, 51, 1) 0%,
          rgba(244, 204, 34, 1) 10%,
          rgba(240, 199, 25, 1) 80%,
          rgba(242, 200, 25, 1) 100%
        );
        border: 1px solid #fff;
        border-radius: 10px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        color: #fff;
        display: flex;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc733",endColorstr="#f2c819",GradientType=1);
        font-size: 22px;
        font-weight: bold;
        height: 60px;
        justify-content: space-between;
        line-height: 1;
        padding: 0 5px;
        text-align: right;
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.16);
        width: 233px;

        &__square {
          background: rgb(171, 208, 49);
          background: -moz-linear-gradient(
            180deg,
            rgba(171, 208, 49, 1) 0%,
            rgba(189, 227, 28, 1) 7%,
            rgba(166, 199, 31, 1) 84%,
            rgba(171, 208, 49, 1) 100%
          );
          background: -webkit-linear-gradient(
            180deg,
            rgba(171, 208, 49, 1) 0%,
            rgba(189, 227, 28, 1) 7%,
            rgba(166, 199, 31, 1) 84%,
            rgba(171, 208, 49, 1) 100%
          );
          background: linear-gradient(
            180deg,
            rgba(171, 208, 49, 1) 0%,
            rgba(189, 227, 28, 1) 7%,
            rgba(166, 199, 31, 1) 84%,
            rgba(171, 208, 49, 1) 100%
          );
        }

        &__card {
          background: rgb(171, 208, 49);
          background: -moz-linear-gradient(
            180deg,
            rgba(171, 208, 49, 1) 0%,
            rgba(189, 227, 28, 1) 7%,
            rgba(166, 199, 31, 1) 84%,
            rgba(171, 208, 49, 1) 100%
          );
          background: -webkit-linear-gradient(
            180deg,
            rgba(171, 208, 49, 1) 0%,
            rgba(189, 227, 28, 1) 7%,
            rgba(166, 199, 31, 1) 84%,
            rgba(171, 208, 49, 1) 100%
          );
          background: linear-gradient(
            180deg,
            rgba(171, 208, 49, 1) 0%,
            rgba(189, 227, 28, 1) 7%,
            rgba(166, 199, 31, 1) 84%,
            rgba(171, 208, 49, 1) 100%
          );
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#abd031",endColorstr="#abd031",GradientType=1);
          letter-spacing: -2.2px;
        }

        &__confirm {
          background: rgb(255, 198, 119);
          background: -moz-linear-gradient(
            180deg,
            rgba(255, 198, 119, 1) 0%,
            rgba(240, 165, 60, 1) 7%,
            rgba(241, 166, 62, 1) 84%,
            rgba(224, 154, 56, 1) 100%
          );
          background: -webkit-linear-gradient(
            180deg,
            rgba(255, 198, 119, 1) 0%,
            rgba(240, 165, 60, 1) 7%,
            rgba(241, 166, 62, 1) 84%,
            rgba(224, 154, 56, 1) 100%
          );
          background: linear-gradient(
            180deg,
            rgba(255, 198, 119, 1) 0%,
            rgba(240, 165, 60, 1) 7%,
            rgba(241, 166, 62, 1) 84%,
            rgba(224, 154, 56, 1) 100%
          );
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc677",endColorstr="#e09a38",GradientType=1);

          &--no-square {
            background: rgb(139, 138, 138);
            background: -moz-linear-gradient(
              180deg,
              rgba(139, 138, 138, 1) 0%,
              rgba(155, 155, 155, 1) 7%,
              rgba(138, 137, 137, 1) 79%,
              rgba(130, 129, 129, 1) 95%,
              rgba(70, 69, 69, 1) 100%
            );
            background: -webkit-linear-gradient(
              180deg,
              rgba(139, 138, 138, 1) 0%,
              rgba(155, 155, 155, 1) 7%,
              rgba(138, 137, 137, 1) 79%,
              rgba(130, 129, 129, 1) 95%,
              rgba(70, 69, 69, 1) 100%
            );
            background: linear-gradient(
              180deg,
              rgba(139, 138, 138, 1) 0%,
              rgba(155, 155, 155, 1) 7%,
              rgba(138, 137, 137, 1) 79%,
              rgba(130, 129, 129, 1) 95%,
              rgba(70, 69, 69, 1) 100%
            );
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8b8a8a",endColorstr="#464545",GradientType=1);
            font-size: 17px;
            justify-content: center;
            width: 140px;
          }
        }

        &:disabled {
          background-color: #dcdcdd;
        }
      }
    }
  }
}
