<app-cas-dialog
  [title]="receipt_title"
  (close)="closeDialog()"
  [isSquareConnect]="isUseSquare"
  [isBtnSquareUp]="isUseSquare"
  headerClass="cas-dialog__header--receipt-details {{ isUseSquare ? 'cas-dialog__header--receipt-details__square' : '' }}"
  closeBtnImg="assets/icon/close-dialog-white.svg"
  bodyClass="receipt-body"
  dialogClass="cas-dialog--dialog-recipe"
  footerClass="receipt-footer"
>
  <section dialogContent>
    <!-- Receipt Information -->
    <div class="receipt-info">
      <div class="info-item info-item__table">
        <p class="title">テーブル</p>
        <p class="text-truncate number">{{ receipt.tableCodeDisplay }}</p>
      </div>
      <div class="info-item info-item__customer">
        <p class="title">顧客名</p>
        <div class="flex name">
          <p class="text-truncate" [title]="receipt.resv_name_display">{{ receipt.resv_name_display }}</p>
          <span>様</span>
        </div>
      </div>
      <div class="info-item info-item__type">
        <p class="title">注文形態</p>
        <p>店内利用</p>
      </div>
      <div class="info-item info-item__payment">
        <p class="title">支払い方法</p>
        <p class="text-truncate" [title]="receipt.payment_by_display">{{ receipt.payment_by_display }}</p>
      </div>
    </div>

    <!-- Receipt Content -->
    <div class="receipt-content">
      <div class="content-head">
        <div class="content-item">
          <p class="item-number">NO.</p>
          <p class="item-name">品名/オプション名</p>
          <p class="item-quantity">個数</p>
          <p class="item-price">金額</p>
        </div>
        <div class="content-item">
          <p class="item-number">NO.</p>
          <p class="item-name">品名/オプション名</p>
          <p class="item-quantity">個数</p>
          <p class="item-price">金額</p>
        </div>
      </div>

      <div class="content-body" [ngClass]="{ 'no-items': !receipt.all_selection.length }">
        <div class="receipt-details">
          <div
            class="content-item content-item__body"
            *ngFor="let item of receipt.all_selection; let idx = index"
            (click)="focusItem(item)"
            [ngClass]="{ active: item.isReceiptFocus }"
          >
            <div class="receipt-item" [ngClass]="{'receipt-item__kiosk':receipt.isSelfOrder}">
              <p class="item-number">{{ idx + 1 }}</p>
              <p class="item-name text-truncate" [ngClass]="{ 'pre-order': item.preoder }">
                {{ item.name }}<span>¥{{ getPriceItem(item) }}</span>
              </p>
              <p class="item-quantity">{{ item.quantity }}</p>
              <p class="item-price">{{ item.total_price_format }}<span class="font-size-14">円</span></p>
            </div>
            <div class="receipt-options" *ngIf="item.menu_options.length">
              <p class="option-item" *ngFor="let option of item.menu_options">{{ option.name }}</p>
            </div>
            <div class="receipt-item__action" [ngClass]="{ active: item.isReceiptFocus }">
              <button class="btn btn-receipt__item" (click)="changeQuantityItem(item)">品数変更</button>
              <button class="btn btn-receipt__item btn-receipt__item--remove" (click)="removeItem(item)">
                メニュー削除
              </button>
              <button
                class="btn btn-receipt__item btn-receipt__item--option"
                (click)="changeOptions(item)"
                *ngIf="item.menu_options.length"
              >
                オプション変更
              </button>
              <button class="btn btn-receipt__close" (click)="closeItem(item)"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="cas-dialog__btn-group receipt-footer__action" dialogAction>
    <div class="receipt-price" [ngClass]="{ 'receipt-price__self-order': receipt.isSelfOrder }">
      <div class="receipt-price__item receipt-price__item-quantity">
        <p>オーダー数</p>
        <p class="number">{{ receipt.all_selection.length }}</p>
      </div>

      <div class="receipt-price__item receipt-price__item-fee" *ngIf="!receipt.isSelfOrder">
        <p class="fee-item">
          席料<span>{{ receipt.service_fee_format }}</span>
        </p>
        <p class="fee-item">
          割引額<span>{{ receipt.coupon_discount_format }}</span>
        </p>
        <p class="fee-item">
          事前支払<span>{{ receipt.preorder_paid_format }}</span>
        </p>
      </div>

      <div class="receipt-price__item receipt-price__item-total" [ngClass]="{ 'receipt-paid': receipt.is_paid }">
        <p class="title">合計金額</p>
        <div class="price-box">
          <p class="price">{{ receipt.total_payment_left_display }}</p>
          <div class="text-center">
            <p class="symbol">円</p>
            <p class="text">(税込)</p>
          </div>
        </div>
      </div>
    </div>

    <div class="receipt-action">
      <div class="receipt-action__group mb-1" *ngIf="!receipt.isRefundSelfOrder">
        <button
          *ngIf="receipt.isReadyForPay"
          class="btn btn-payment-item"
          [disabled]="isSubmitting"
          (click)="paymentInStore(RESERVATION_PAYMENT_UNIT.CASH)"
        >
          <img src="assets/img/payment_cash.svg" alt="payment-cash" width="69px" height="43px" />
          現金会計
        </button>

        <button
          *ngIf="isUseSquare && receipt.isReadyForPay"
          class="btn btn-payment-item  btn-payment-item__square ml-1"
          [disabled]="isSubmitting || isReceiptTotalLower"
          (click)="paymentBySquare()"
        >
          <img src="assets/img/btn_payment_square_pos.svg" alt="payment-cash" width="62px" height="45px" />
        Square会計
        </button>

        <button
          *ngIf="!receipt.isSelfOrder && receipt.isReadyForPay && !isUseSquare"
          class="btn btn-payment-item btn-payment-item__card ml-1"
          [disabled]="isSubmitting"
          (click)="paymentInStore(RESERVATION_PAYMENT_UNIT.CARD)"
        >
          <img src="assets/img/payment_card.svg" alt="payment-card" width="61px" height="43px" />
          クレジット会計
        </button>

        <button
          type="button"
          class="btn btn-payment-item btn-payment-item__confirm ml-1"
          [ngClass]="{ 'btn-payment-item__confirm': isPaymentSquare, 'btn-payment-item__confirm--no-square': !isPaymentSquare }"
          *ngIf="receipt.is_paid"
          [disabled]="isSubmitting"
          (click)="undoPaymentResv()"
        >
          <img *ngIf="isPaymentSquare" src="assets/img/undo_payment.svg" alt="undo_payment" width="80px" height="58px" />
          {{ isPaymentSquare ? '払い戻し' : '会計前に戻す'  }}
        </button>
      </div>

      <div class="receipt-action__group" *ngIf="!receipt.isRefundSelfOrder">
        <button *ngIf="receipt.wait_for_payment && !receipt.isSelfOrder" class="btn btn-receipt__close pt-1" type="button" [disabled]="isSubmitting" (click)="cancelRequestPayment()" >
          会計リクエスト解除
        </button>

        <button class="btn btn-receipt__close ml-1" type="button" (click)="addPaymentMethod()" *ngIf="receipt.isReadyForPay" [disabled]="isSubmitting">
          その他会計
        </button>
      </div>
    </div>
  </section>
</app-cas-dialog>
