.receipt-action {
  align-items: center;
  background-color: #f59716;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  display: flex;
  width: 444px;
}

.action-body,
.change-quantity {
  align-items: center;
  display: flex;
}

.action-body {
  flex: 1 1 calc(100% - 44.8px);
  padding: 8.6px 0 11.3px 13.8px;
  width: calc(100% - 44.8px);
}

.change-quantity {
  background-color: var(--white);
  border-radius: 4px;
  margin-right: 8.2px;
  width: 144px;

  .quantity-input {
    font-size: 33px;
    height: 43.54px;
    text-align: center;
    width: calc(100% - 84px);

    &:focus {
      outline: none;
    }
  }

  .btn-minus,
  .btn-plus {
    background-color: #707070;
    border: 1px solid var(--white);
    border-radius: 4px 0 0 4px;
    box-sizing: border-box;
    cursor: pointer;
    height: 43.54px;
    position: relative;
    text-align: center;
    width: 42px;

    &:focus {
      outline: none;
    }

    &::before,
    &::after {
      background-color: var(--white);
      content: '';
      height: 2px;
      left: calc(50% - (21.36px / 2));
      position: absolute;
      top: calc(50% - 1px);
      transform: rotate(-90deg);
      width: 21.36px;
    }

    &::after {
      transform: rotate(180deg);
    }
  }

  .btn-minus::before {
    display: none;
  }

  .btn-plus {
    border-radius: 0 4px 4px 0;
  }
}

.delete-item,
.delete-option {
  background-color: #ef6c70;
  border: 2px solid var(--white);
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--white);
  cursor: pointer;
  height: 43.54px;
  line-height: 38.54px;
  margin-right: 7.8px;
  text-align: center;
  width: 108.27px;

  &:focus {
    outline: none;
  }
}

.delete-option {
  background-color: #41b879;
  margin-right: 0;
}

.action-close {
  background-color: #eaeaea;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  flex: 1 1 31px;
  height: 63.45px;
  position: relative;
  width: 31px;

  &::before,
  &::after {
    background-color: #333;
    content: '';
    height: 2px;
    left: calc(50% - (17.15px / 2));
    position: absolute;
    top: calc(50% - 1px);
    transform: rotate(-45deg);
    width: 17.15px;
  }

  &::after {
    transform: rotate(45deg);
  }
}
