<section class="receipt-action">
  <div class="action-body">
    <div class="change-quantity">
      <button type="button" class="btn-minus" (click)="minus.emit()"></button>
      <input class="quantity-input" type="text" name="quantity" [(ngModel)]="quantity" maxlength="2" disabled>
      <button type="button" class="btn-plus" (click)="plus.emit(true)"></button>
    </div>
    <button type="button" class="delete-item" (click)="deleteItem.emit()">メニュー削除</button>
    <button type="button" class="delete-option" (click)="deleteOption.emit()">オプション削除</button>
  </div>
  <div class="action-close" (click)="close.emit(true)"></div>
</section>
