<form name="FormFilter" #FormCourseFilter="ngForm" novalidate>
  <div class="row">
    <!-- Course Name -->
    <div class="form-group mi-form-group col-sm-6">
      <input
        type="text"
        class="form-control cas-fr-control"
        name="course_name"
        maxlength="255"
        [(ngModel)]="filterData.name"
        placeholder="コース名を入力"
        #Name="ngModel"
      />
    </div>

    <!-- Show / Hide -->
    <div class="form-group mi-form-group col-sm-3">
      <app-cas-ng-select
        [items]="toggleMenu"
        [clearable]="true"
        [(ngModel)]="filterData.is_show"
        bindLabel="name"
        bindValue="value"
        className="mi-form-ng-select"
        name="MenuToggle"
        #MenuToggleRef="ngModel"
        dropdownPosition="bottom"
        placeholder="表示"
      ></app-cas-ng-select>
    </div>
  </div>

  <div class="row">
    <div class="input-group mi-form-input-group align-items-center col-sm-4">
      <app-digit-formater
        class="price-input"
        [(ngModel)]="filterData.price_gte"
        name="MenuPriceGte"
        [min]="1"
        [max]="999999999"
        placeholder="1"
      ></app-digit-formater>
      <span class="mx-1">~</span>
      <app-digit-formater
        class="price-input"
        [(ngModel)]="filterData.price_lte"
        name="MenuPriceLte"
        [min]="1"
        [max]="999999999"
        placeholder="10,0000"
      ></app-digit-formater>
    </div>

    <div class="col-sm-8 align-self-end text-right">
      <button class="btn btn-mw btn-warning" (click)="emitData()" [disabled]="!FormCourseFilter.form.valid">{{ filterSubmitText }}</button>
    </div>
  </div>
</form>
