.table-rich-menu {
  thead {
    tr:nth-child(1) {
      th:nth-child(2),
      th.no-self-order {
        line-height: 4;
      }
    }

    th {
      padding: 6px 0.75rem;
    }
  }

  td {
    vertical-align: middle;

    .cas-btn {
      min-width: 90px;
    }
  }
}
