<section class="content-page">
  <div class="page-head page-head--space-between">
    <h2 class="head-title">
      リッチメニュー設定 <span class="font-weight-normal font-size-14">( オーダー端末用 )</span>
    </h2>
  </div>

  <app-cas-filter [sortItems]="richMenuSort" (eventSort)="eventSortRichMenu($event)">
    <app-filter-rich-menu filterForm (eventFilter)="eventFilterRichMenu($event)"></app-filter-rich-menu>
  </app-cas-filter>

  <div class="page-content container-fluid">
    <div class="row">
      <div class="col-12 mb-3">
        <app-cas-table [theadTemplate]="tableThead" class="table-rich-menu">
          <ng-template #tableThead>
            <tr>
              <th
                [attr.colspan]="isSelfOrder ? '2' : '1'"
                class="text-center"
                [ngClass]="{ 'no-self-order': !isSelfOrder }"
              >
                <strong>設定ステータス</strong>
              </th>
              <th [attr.rowspan]="isSelfOrder ? '2' : '1'"><strong>画面名</strong>（オーダー画面に表示される名前）</th>
              <th [attr.rowspan]="isSelfOrder ? '2' : '1'" width="100px"></th>
            </tr>
            <tr *ngIf="isSelfOrder">
              <th class="text-center" width="100px">オーダー</th>
              <th class="text-center" width="100px">KIOSK</th>
            </tr>
          </ng-template>

          <tr class="text-center" *ngFor="let item of richMenus">
            <td>
              <span
                class="cas-badge"
                [ngClass]="{
                  'cas-badge--primary': item.has_setting_order,
                  'cas-badge--secondary': !item.has_setting_order
                }"
              >
                {{ item.hasOrderSettingStr }}
              </span>
            </td>
            <td *ngIf="isSelfOrder">
              <span
                class="cas-badge"
                [ngClass]="{
                  'cas-badge--primary': item.has_setting_self_order,
                  'cas-badge--secondary': !item.has_setting_self_order
                }"
              >
                {{ item.hasSelfOrderSettingStr }}
              </span>
            </td>
            <td class="text-left" [title]="item.name">
              <span class="text-truncate text-truncate--3">{{ item.name }}</span>
            </td>
            <td>
              <button
                class="btn cas-btn btn-warning px-3"
                (click)="openSettingModal(item)"
                [disabled]="isLoadingSettingOrder"
                *ngIf="!item.is_take_out"
              >
                {{ item.has_setting_order && item.has_setting_self_order ? '編集する' : '設定する' }}
              </button>
            </td>
          </tr>
        </app-cas-table>

        <div class="text-center" *ngIf="!richMenus.length && !isLoading">
          データが見つかりません
        </div>

        <div class="loader--row" *ngIf="isLoading">
          <div class="lds-ripple">
            <div></div>
            <div></div>
          </div>
        </div>

        <div class="cas-pagination" [ngClass]="{ 'd-none': isLoading }">
          <app-pagination
            *ngIf="pagination.isPagination"
            class="d-flex justify-content-center"
            [boundaryLinks]="true"
            [totalItems]="pagination.total"
            [itemsPerPage]="pagination.per_page"
            [maxSize]="5"
            [(ngModel)]="pagination.current_page"
            (pageChanged)="pageChanged($event)"
            previousText="&lsaquo;"
            nextText="&rsaquo;"
            firstText="&laquo;"
            lastText="&raquo;"
          >
          </app-pagination>
        </div>
      </div>
    </div>
  </div>
</section>
