<ng-select
    [name]="name"
    [ngClass]="className"
    [items]="items"
    [multiple]="multiple"
    [bindLabel]="bindLabel"
    [disabled]="disabled"
    [bindValue]="bindValue"
    [loading]="loading"
    [clearable]="clearable"
    [placeholder]="placeholder"
    [selectableGroup]="selectableGroup"
    [closeOnSelect]="closeOnSelect"
    [virtualScroll]="virtualScroll"
    (change)="emitChanged($event)"
    (remove)="emitRemoved($event)"
    (open)="emitOpened($event)"
    [clearOnBackspace]="clearOnBackspace"
    (blur)="emitBlur($event)"
    (close)="emitClose($event)"
    (scroll)="emitScroll($event)"
    (clear)="emitClear($event)"
    (scrollToEnd)="emitScrollToEnd($event)"
    #ngSelectCas="ngModel"
    #casNgSelect
    [searchable]="searchable"
    [(ngModel)]="selectedCas"
    (ngModelChange)="onChange()"
    [dropdownPosition]="dropdownPosition"
    [appendTo]="appendTo"
    [maxSelectedItems]="maxItems">

    <ng-template ng-header-tmp *ngIf="searchable">
      <input type="text"
        #inputSearch
        [attr.maxlength]="maxLengthSearch"
        class="form-control cas-fr-control"
        (input)="search($event.target.value)" auto-focus/>
    </ng-template>

    <ng-template *ngIf="isTemplateSpan" ng-multi-label-tmp let-items="items" let-clear="clear">
      <div class="ng-value" *ngFor="let item of items ? items.slice(0, sliceMax) : []">
        <span class="ng-value-label">{{ item.nameTruncate }}</span>
        <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
      </div>
      <div class="ng-value" *ngIf="items.length > sliceMax">
        <span class="ng-value-label">もっと見る</span>
      </div>
    </ng-template>

    <ng-template *ngIf="isTemplateInput" ng-option-tmp let-item="item" let-item$="item$" let-index="index">
      <input
        id="{{name}}_{{ index }}"
        name="{{name}}_{{ index }}"
        type="checkbox"
        [ngModel]="item$.selected"/>
      {{ item.name }}
    </ng-template>
</ng-select>

