@import 'stylesheets/variable.scss';

.notify-container {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: calc((var(--vh, 1vh) * 100) - 120px);
  justify-content: space-between;
  overflow: hidden;

  .page-content {
    min-height: 200px;
  }

  .notify-head {
    background-color: var(--yellow-accent);
    height: 60px;
    justify-content: space-between;
    min-height: 60px;
  }

  .notify-content {
    -webkit-overflow-scrolling: touch;
    height: calc((var(--vh, 1vh) * 100) - 250px);
    overflow: auto;
    width: 440px;

    &.notify-content--pagination {
      height: calc((var(--vh, 1vh) * 100) - 315px);
    }
  }

  .notify-footer {
    background-color: var(--grey-lighten-2);
    height: 60px;
    justify-content: flex-end;
    margin-top: 20px;
    min-height: 60px;
    padding-left: 26px;
    padding-right: 13px;
  }
}

.notify-title,
.notify-item {
  border-bottom: 1px solid var(--grey-lighten-0);
  font-size: 1rem;
  padding-bottom: 0.75rem;
}

.notify-item {
  cursor: pointer;
  padding-top: 0.75rem;

  .notify-info {
    padding-left: 25px;
    padding-right: 15px;
    position: relative;

    .text {
      color: $black-darken-1;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 0;

      &--red {
        color: #eb2529;
      }
    }

    .caption {
      color: $grey-darken-0;
      font-size: 13px;
      margin-bottom: 0;
    }

    .icon {
      height: auto;
      left: 12px;
      max-width: 100%;
      position: absolute;
      top: 3px;
    }
  }

  &.readed {
    background-color: var(--grey-lighten-5);
  }
}

.notify-action {
  padding-right: 15px;

  &--status {
    font-size: 13px;
  }
}
