<section class="content-page notify-container">
  <div class="page-head notify-head border-bottom-0">
    <h2 class="head-title">連携通知</h2>
  </div>

  <div class="page-content">
    <perfect-scrollbar class="notify-content">
      <div class="notify-item d-flex"
        *ngFor="let notify of notifies; let idx = index"
        [ngClass]="{ 'no-border--bottom mb-3': idx === notifies.length - 1, 'readed': !notify.is_unread }"
        (click)="closeNotify(notify)">
        <div class="w-100 notify-info">
          <p class="text" [ngClass]="{'text--red': notify.is_import_resv_fail}">{{ notify.title }}</p>
          <p class="caption">{{ notify.created_at_display }}</p>
        </div>
        <div class="flex-shrink-0 notify-action">
          <span *ngIf="!notify.is_unread" class="notify-action--status text-right">対応済み</span>
          <button *ngIf="notify.is_unread" class="btn cas-btn btn-secondary btn-border btn-mw" (click)="readNotify(notify.id)">対応済みにする</button>
        </div>
      </div>

      <div class="loader--center" *ngIf="isLoading">
        <div class="lds-ripple">
          <div></div><div></div>
        </div>
      </div>
    </perfect-scrollbar>
  </div>

  <div class="page-footer notify-footer">
    <button class="btn cas-btn btn-secondary btn-border btn-mw" (click)="closeAll()">閉じる</button>
  </div>
</section>
