<section class="cas-multiple-language" [ngClass]="class" *ngIf="langType?.allow">
  <div
    class="lang-form"
    [ngClass]="{
      'is-invalid': (NameRef.dirty || NameRef.touched) && NameRef.errors
    }"
  >
    <div class="lang-select" [ngClass]="{ open: isOpenSelect }" *ngIf="langType">
      <div class="lang-img" #selectBoxRef>
        <img [attr.src]="langType.image" alt="langAvatar" width="29" height="20" />
      </div>

      <ul class="lang-list">
        <li *ngFor="let lang of languages | async" [hidden]="lang.isSelected"
            (click)="selectLanguage(lang)"
            [ngClass]="{ active: lang.isSelected }">
          {{ lang.name }}
        </li>
      </ul>
    </div>
    <div class="lang-input">
      <input
        type="text"
        class="form-control"
        name="langInput"
        #NameRef="ngModel"
        [(ngModel)]="langName"
        (ngModelChange)="onChange()"
        [maxLength]="maxlength"
        [required]="required"
        [placeholder]="placeholder"
        appSpaceValidation
      />
    </div>
  </div>

  <div class="invalid-feedback" *ngIf="(NameRef.dirty || NameRef.touched) && NameRef.errors?.required">
    {{ nameRequiredErrorMsg }}
  </div>

  <div
    class="invalid-feedback"
    *ngIf="(NameRef.dirty || NameRef.touched) && (NameRef.errors?.appSpaceValidation || !NameRef.errors?.required)"
  >
    空白のみを入力することはできません
  </div>

  <div class="invalid-feedback" *ngIf="validatorError">
    {{ validatorError }}
  </div>
</section>
