.lang {
  &-form {
    border: 1px solid #eaeaea;
    border-radius: 0.25rem;
    display: flex;
    font-weight: 400;
    line-height: 1.5;

    &.is-invalid {
      border: 1px solid #ed1212;
    }

    &.is-invalid ~ .invalid-feedback {
      display: block;
    }
  }

  &-select {
    cursor: pointer;
    flex: 1 1 15%;
    position: relative;

    //&::after {
    //  -webkit-transform: rotate(45deg);
    //  border: solid #000;
    //  border-width: 0 2px 2px 0;
    //  content: '';
    //  display: inline-block;
    //  padding: 4px;
    //  position: absolute;
    //  right: 0;
    //  top: calc(50% - 6px);
    //  transform: rotate(45deg);
    //  transition: all 0.3s ease-in;
    //}
  }

  &-input {
    flex: 1 1 85%;

    input {
      border: 0;
      border-radius: 0 0.25rem 0.25rem 0;
      height: 3.75rem;
      padding-left: 0;
      width: 100%;

      &:focus {
        box-shadow: none;
        outline: none;
      }
    }
  }
}

.lang {
  &-select {
    line-height: 3.75rem;
    position: relative;
    text-align: center;
  }

  &-list {
    background-color: var(--white);
    border-bottom: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    border-radius: 0 0 0.25rem 0.25rem;
    border-right: 1px solid #eaeaea;
    box-sizing: content-box;
    display: none;
    font-size: 13px;
    line-height: 40px;
    opacity: 0;
    position: absolute;
    top: 3.8rem;
    width: 100px;
    z-index: 1;

    li:hover,
    li.active {
      background-color: #ebf5ff;
      width: 100%;
    }
  }

  &-select.open {
    &::after {
      -webkit-transform: rotate(-135deg);
      top: calc(50% + 1px);
      transform: rotate(-135deg);
    }

    .lang-list {
      display: block;
      opacity: 1;
    }
  }

  &-select.disabled {
    pointer-events: none;
  }
}
