<app-cas-dialog [title]="'セールスレコード設定'" (close)="closeDialog()">
  <section dialogContent>
    <form name="sendMailFr" #SendMailFr="ngForm" novalidate>
      <div>
        <div class="font-weight-bold pb-3">配信設定</div>
        <label class="cas-checkbox-item cas-checkbox-item--sm">
          <input
            class="checkbox-input"
            name="recommend"
            type="checkbox"
            (click)="clearSendEmail()"
            [(ngModel)]="recordSend.enable"
            #Recommend="ngModel"
          />
          <span class="checkmark"></span>
          セールスレコードのメールを受けとる
        </label>

        <div class="card mt-4" [ngClass]="{ 'disabled-form': !recordSend.enable }">
          <div class="card-body">
            <div class="form-group mi-form-group">
              <div class="col-form-label mi-form-labelrequired">送信先メールアドレス</div>
              <input
                type="email"
                name="emailSend"
                class="form-control cas-fr-control"
                [ngClass]="{
                  'is-invalid': (emailRef.dirty || emailRef.touched) && emailRef.errors,
                  'disabled-form--input': !recordSend.enable
                }"
                placeholder="メールアドレスを入力してください"
                [(ngModel)]="recordSend.email"
                #emailRef="ngModel"
                appEmailValidator
                required
                [disabled]="!recordSend.enable"
                minlength="3"
                maxlength="100"
              />

              <div class="invalid-feedback" *ngIf="(emailRef.dirty || emailRef.touched) && emailRef.errors?.required">
                メールアドレスを入力してください
              </div>
              <div class="invalid-feedback" *ngIf="emailRef.errors?.appEmailValidator">
                メールアドレスのフォーマットが正しくありません
              </div>
            </div>

            <div>
              <div class="col-form-label cas-form-label">期間設定</div>
              <div class="d-flex">
                <label class="radio-item cas-radio-item d-flex align-items-center mb-2">
                  <input
                    class="radio-input mr-2"
                    type="checkbox"
                    [(ngModel)]="settingDay"
                    name="enable_send"
                    [value]="true"
                    disabled
                  />
                  <span [ngClass]="{ 'disabled-form--text': !recordSend.enable }"> 日別</span>
                  <span class="checkmark" [ngClass]="{ 'disabled-form--checkbox': !recordSend.enable }"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>

  <!-- Action submit -->
  <section class="cas-dialog__btn-group justify-content-center" dialogAction>
    <button type="button" class="btn btn-md btn-secondary btn-border mr-3 w-50" (click)="closeDialog()">
      キャンセル
    </button>
    <button
      type="button"
      class="btn btn-md btn-warning w-50"
      [disabled]="SendMailFr.invalid || isLoading"
      (click)="submitSend()"
    >
      保存する
    </button>
  </section>
</app-cas-dialog>
