.disabled-form {
  background-color: rgb(250, 250, 250);
  color: #d8d8d8 !important;

  &--checkbox {
    background-color: rgb(204, 204, 204) !important;
  }

  &--input {
    background-color: rgb(244, 244, 244) !important;
    border: solid 1px #eaeaea !important;
    border-radius: 0.25rem !important;
    color: rgb(217, 217, 217) !important;
  }

  &--text {
    color: #d8d8d8 !important;
  }
}
