<div class="order-app">
  <div class="order-app__header">
    <h3 class="order-app__header-title" title="“{{ itemCategory.name }}”のリッチメニューを作成する">
      <span class="text-truncate">“{{ itemCategory.name }}”のリッチメニューを作成する</span>
      <app-cas-popup-guide-drag></app-cas-popup-guide-drag>
    </h3>
    <div class="order-app__header-group-btn">
      <button
        type="button"
        class="btn btn-md btn-secondary btn-border btn-mw--md mr-2"
        (click)="closeModal()"
        aria-label="Close"
      >
        キャンセル
      </button>

      <button
        type="submit"
        class="btn btn-md btn-warning btn-border btn-mw--md"
        (click)="saveSettingSelfOrder()"
        aria-label="Save"
      >
        {{ dialogBtnSave }}
      </button>
    </div>
  </div>

  <div class="order-app__body-setting"
    [ngClass]="{ 'order-app__body-setting--vert': isDirectionVert && isFirstPattern }">
    <div class="order-app__body-setting-left">
      <div class="order-app__body-setting-box-action">
        <div class="order-app__body-setting-box-action__select-patten">
          <button
            class="btn btn-select-patten mr-2"
            (click)="openModalConfirmChangePattern(1)"
            [ngClass]="{ active: isFirstPattern }"
          >
            <img src="assets/icon/icon-patten-1.svg" /><span>パターン1</span>
          </button>
          <button
            class="btn btn-select-patten"
            (click)="openModalConfirmChangePattern(2)"
            [ngClass]="{ active: !isFirstPattern }"
          >
            <img src="assets/icon/icon-patten-2.svg" /><span>パターン2</span>
          </button>
        </div>
        <button
          type="button"
          class="btn btn-md btn-setting d-flex justify-content-between align-items-center"
          (click)="settingDisplay()"
        >
          <i class="fa fa-cog"></i>詳細設定
        </button>
      </div>

      <div class="order-app__body-setting-konva" *ngIf="isFirstPattern">
        <div class="order-app__image">
          <app-konva-self-order
            [itemCategory]="itemCategory"
            [page]="page"
            [pattern]="pattern"
            [onEventEmitter]="onEventEmitter"
            [direction]="currentUser.client.self_order_direction"
          ></app-konva-self-order>
        </div>
      </div>

      <div class="order-app__pattern-second-wrap" *ngIf="!isFirstPattern">
        <app-dialog-self-order-pattern-second
          [maxItems]="100"
          [itemCategory]="itemCategory"
          [styleSetting]="styleOpts"
          [onEventEmitter]="onEventEmitter"
        >
        </app-dialog-self-order-pattern-second>
      </div>

      <div class="order-app__body-setting-slide-wrap">
        <div class="order-app__slide-title">
          表示画面
        </div>

        <app-cas-carousel
          *ngIf="isFirstPattern"
          [items]="slideItems"
          [isDefaultSlide]="false"
          [onEventEmitter]="onEventEmitter"
          [maxItems]="10"
          [pattern]="pattern"
          [isRemove]="true"
          [isTopScreen]="false"
        ></app-cas-carousel>

        <app-cas-carousel
          *ngIf="!isFirstPattern"
          [items]="slideItems"
          [isDefaultSlide]="false"
          [onEventEmitter]="onEventEmitter"
          [maxItems]="1"
          [isRemove]="false"
        ></app-cas-carousel>
      </div>
    </div>
    <div class="order-app__body-setting-right">
      <app-list-category-menu [itemCategory]="itemCategory" [onEventEmitter]="onEventEmitter"></app-list-category-menu>
    </div>
  </div>
</div>
