<section class="cas-client-info">
  <app-cas-preview
    [disabled]="!currentUser.is_admin"
    [oldImages]="clientInfo.images"
    (eventImage)="updateImages($event)"
  ></app-cas-preview>

  <div class="container-fluid">
    <form #clientInfoFr="ngForm" class="mi-form--border">
      <!-- Name -->
      <div class="row mi-form--border">
        <!-- Client name -->
        <div class="col-12 col-lg-6">
          <div class="form-group row">
            <label class="col-2 col-lg-4 col-form-label mi-form-label required">店舗名</label>
            <div class="col-10 col-lg-8">
              <input
                type="text"
                name="client_name"
                class="form-control cas-fr-control"
                [ngClass]="{
                  'is-invalid': (ClientName.errors && (ClientName.dirty || ClientName.touched)) || validator.name
                }"
                #ClientName="ngModel"
                placeholder="店舗名を入力してください"
                [(ngModel)]="clientInfo.name"
                maxlength="255"
                appSpaceValidation
                required
              />

              <div
                class="invalid-feedback"
                [hidden]="!((ClientName.dirty || ClientName.touched) && ClientName.errors?.required)"
              >
                店舗名は必須です
              </div>

              <div
                class="invalid-feedback"
                [hidden]="
                  !(
                    (ClientName.dirty || ClientName.touched) &&
                    ClientName.errors?.appSpaceValidation &&
                    !ClientName.errors?.required
                  )
                "
              >
                空白のみを入力することはできません
              </div>

              <div class="invalid-feedback" *ngIf="validator.name">{{ validator.name }}</div>
            </div>
          </div>
        </div>
        <!-- Furigana name -->
        <div class="col-12 col-lg-6">
          <div class="form-group row">
            <label class="col-2 col-lg-4 col-form-label mi-form-label required">フリガナ</label>
            <div class="col-10 col-lg-8">
              <input
                type="text"
                class="form-control cas-fr-control"
                [ngClass]="{
                  'is-invalid':
                    (ClientFurigana.errors && (ClientFurigana.touched || ClientFurigana.dirty)) || validator.kana_name
                }"
                name="clientFurigana"
                [(ngModel)]="clientInfo.kana_name"
                (input)="resetValidator('kana_name')"
                #ClientFurigana="ngModel"
                placeholder="フリガナを入力してください"
                maxlength="255"
                required
                appSpaceValidation
                appKatakanaValidation
              />

              <div
                class="invalid-feedback"
                [hidden]="!((ClientFurigana.dirty || ClientFurigana.touched) && ClientFurigana.errors?.required)"
              >
                フリガナは必須です
              </div>

              <div
                class="invalid-feedback"
                [hidden]="
                  !((ClientFurigana.touched || ClientFurigana.dirty) && ClientFurigana.errors?.appKatakanaValidation)
                "
              >
                カタカナで入力してください
              </div>

              <div
                class="invalid-feedback"
                [hidden]="
                  !((ClientFurigana.dirty || ClientFurigana.touched) && ClientFurigana.errors?.appSpaceValidation)
                "
              >
                空白のみを入力することはできません
              </div>

              <div class="invalid-feedback" *ngIf="validator.kana_name">{{ validator.kana_name }}</div>
            </div>
          </div>
        </div>
      </div>

      <!-- Address -->
      <div class="row mi-form--border">
        <label class="col-sm-2 col-form-label mi-form-label required align-self-center">店舗住所</label>
        <div class="col-10">
          <div class="row">
            <div class="col-12 mb-3">
              <div class="form-group row">
                <!-- prefectures -->
                <div class="col-6">
                  <app-cas-ng-select
                    [items]="prefs"
                    [ngClass]="{
                      'is-invalid':
                        (ClientPref.errors && (ClientPref.dirty || ClientPref.touched)) || validator.pref_code
                    }"
                    [loading]="isLoadPrefs"
                    [clearable]="false"
                    bindLabel="prefName"
                    placeholder="店舗都道府県ーを選択してください"
                    className="mi-form-ng-select"
                    name="pref_code"
                    [(ngModel)]="clientInfo.pref"
                    (change)="changePref()"
                    #ClientPref="ngModel"
                    required
                  >
                  </app-cas-ng-select>

                  <div
                    class="invalid-feedback"
                    [hidden]="!((ClientPref.dirty || ClientPref.touched) && ClientPref.errors?.required)"
                  >
                    店舗都道府県は必須です
                  </div>

                  <div class="invalid-feedback" *ngIf="validator.pref_code">{{ validator.pref_code }}</div>
                </div>

                <!-- cities -->
                <div class="col-6">
                  <app-cas-ng-select
                    [items]="cities"
                    [ngClass]="{
                      'is-invalid':
                        (ClientCity.errors && (ClientCity.dirty || ClientCity.touched)) || validator.pref_code
                    }"
                    [loading]="isLoadCities"
                    [clearable]="false"
                    bindLabel="cityName"
                    placeholder="店舗市区町村ーを選択してください"
                    className="mi-form-ng-select"
                    name="city_code"
                    [(ngModel)]="clientInfo.city"
                    (change)="resetValidator('city_code')"
                    #ClientCity="ngModel"
                    required
                  >
                  </app-cas-ng-select>

                  <div
                    class="invalid-feedback"
                    [hidden]="!((ClientCity.dirty || ClientCity.touched) && ClientCity.errors?.required)"
                  >
                    店舗市区町村は必須です
                  </div>

                  <div class="invalid-feedback" *ngIf="validator.pref_code">{{ validator.pref_code }}</div>
                </div>
              </div>
            </div>

            <!-- Client address -->
            <div class="form-group col-12">
              <input
                type="text"
                class="form-control cas-fr-control"
                name="clientAddress"
                [ngClass]="{
                  'is-invalid':
                    (ClientAddress.errors && (ClientAddress.dirty || ClientAddress.touched)) || validator.address
                }"
                [(ngModel)]="clientInfo.address"
                (input)="resetValidator('address')"
                #ClientAddress="ngModel"
                maxlength="255"
                placeholder="店舗住所を入力してください"
                appSpaceValidation
                required
              />

              <div
                class="invalid-feedback"
                [hidden]="!((ClientAddress.dirty || ClientAddress.touched) && ClientAddress.errors?.required)"
              >
                店舗住所は必須です
              </div>

              <div
                class="invalid-feedback"
                [hidden]="!((ClientAddress.dirty || ClientAddress.touched) && ClientAddress.errors?.maxlength)"
              >
                店舗住所は255文字以下で入力してください
              </div>

              <div
                class="invalid-feedback"
                [hidden]="
                  !(
                    (ClientAddress.dirty || ClientAddress.touched) &&
                    ClientAddress.errors?.appSpaceValidation &&
                    !ClientAddress.errors?.required
                  )
                "
              >
                空白のみを入力することはできません
              </div>

              <div class="invalid-feedback" *ngIf="validator.address">{{ validator.address }}</div>
            </div>
          </div>
        </div>
      </div>

      <!-- Genre -->
      <div class="form-group row mi-form--border">
        <label class="col-2 col-form-label mi-form-label required">ジャンル</label>
        <div class="col-10">
          <app-cas-ng-select
            className="mi-form-ng-select"
            [ngClass]="{
              'is-invalid': (ClientGenre.errors && (ClientGenre.dirty || ClientGenre.touched)) || validator.genre_id
            }"
            name="clientGenre"
            placeholder="カテゴリーを選択してください"
            [(ngModel)]="clientInfo.genre"
            #ClientGenre="ngModel"
            bindLabel="name"
            [items]="genres"
            [typeahead]="genresInput$"
            (scrollToEnd)="fetchMore()"
            [virtualScroll]="true"
            [loading]="isLoadGenres"
            [clearable]="false"
            (change)="resetValidator('genre_id')"
            required
          >
          </app-cas-ng-select>

          <div
            class="invalid-feedback"
            [hidden]="!((ClientGenre.dirty || ClientGenre.touched) && ClientGenre.errors?.required)"
          >
            ジャンルは必須です
          </div>

          <div class="invalid-feedback" *ngIf="validator.genre_id">{{ validator.genre_id }}</div>
        </div>
      </div>

      <!-- tags-->
      <div class="form-group row mi-form--border">
        <label class="col-2 col-form-label mi-form-label required">タグ</label>
        <div class="col-10">
          <app-cas-ng-select
            [items]="tags"
            [multiple]="true"
            [closeOnSelect]="false"
            [ngClass]="{
              'is-invalid': (ClientTags.errors && (ClientTags.dirty || ClientTags.touched)) || validator.tag_ids
            }"
            className="mi-form-ng-select"
            [loading]="isLoadTags"
            bindLabel="name"
            placeholder="タグを入力してください"
            name="clientTags"
            [(ngModel)]="clientInfo.tags"
            (change)="resetValidator('tag_ids')"
            #ClientTags="ngModel"
            isTemplateSpan="true"
            required
          >
          </app-cas-ng-select>

          <div
            class="invalid-feedback"
            [hidden]="!((ClientTags.dirty || ClientTags.touched) && ClientTags.errors?.required)"
          >
            タグは必須です
          </div>

          <div class="invalid-feedback" *ngIf="validator.tag_ids">{{ validator.tag_ids }}</div>
        </div>
      </div>

      <!-- Client oficial URL -->
      <div class="form-group row mi-form--border">
        <label class="col-2 col-form-label mi-form-label">公式HP</label>
        <div class="col-10">
          <input
            type="text"
            class="form-control cas-fr-control"
            name="clientUrl"
            [ngClass]="{
              'is-invalid': ((ClientUrl.dirty || ClientUrl.touched) && ClientUrl.errors) || validator.website_url
            }"
            [(ngModel)]="clientInfo.website_url"
            #ClientUrl="ngModel"
            (input)="resetValidator('website_url')"
            maxlength="255"
            appUrlValidation
            placeholder="公式ホームページのURLを入力してください"
          />

          <div
            class="invalid-feedback"
            [hidden]="!((ClientUrl.dirty || ClientUrl.touched) && ClientUrl.errors?.appUrlValidation)"
          >
            店舗URLのフォーマットが正しくありません
          </div>

          <div class="invalid-feedback" *ngIf="validator.website_url">{{ validator.website_url }}</div>
        </div>
      </div>

      <!-- CMS URL -->
      <div class="form-group row mi-form--border">
        <label class="col-2 col-form-label mi-form-label">LPリンク</label>
        <div class="col-10">
          <a
            *ngIf="!!clientInfo.cms_url"
            [href]="clientInfo.cms_url"
            target="_blank"
            class="mt-2 pt-1 text-truncate d-block cursor-pointer"
          >
            {{ clientInfo.cms_url }}
          </a>
          <p class="mt-2 pt-1 mb-0" *ngIf="!clientInfo.cms_url">利用しない</p>
        </div>
      </div>

      <!-- Client Phone number -->
      <div class="form-group row mi-form--border">
        <label class="col-2 col-form-label mi-form-label required">電話番号</label>
        <div class="col-10">
          <input
            type="text"
            class="form-control cas-fr-control"
            name="clientPhone"
            [ngClass]="{
              'is-invalid': ((ClientPhone.dirty || ClientPhone.touched) && ClientPhone.errors) || validator.phone
            }"
            [(ngModel)]="clientInfo.phone"
            #ClientPhone="ngModel"
            (input)="resetValidator('phone')"
            placeholder="電話番号を入力してください"
            inputmode="numeric"
            [pattern]="rules.numericMode"
            maxlength="11"
            minlength="10"
            appPhoneValidation
            required
          />

          <div
            class="invalid-feedback"
            [hidden]="!((ClientPhone.dirty || ClientPhone.touched) && ClientPhone.errors?.required)"
          >
            電話番号は必須です
          </div>

          <div
            class="invalid-feedback"
            [hidden]="
              !(
                (ClientPhone.dirty || ClientPhone.touched) &&
                (ClientPhone.errors?.minlength && !ClientPhone.errors?.appPhoneValidation)
              )
            "
          >
            電話番号は10文字以上で入力してください
          </div>

          <div
            class="invalid-feedback"
            [hidden]="!((ClientPhone.dirty || ClientPhone.touched) && ClientPhone.errors?.appPhoneValidation)"
          >
            半角数字10文字以上11文字以下で、0から始まる番号（ハイフンなし）を入力してください
          </div>

          <div class="invalid-feedback" [hidden]="!validator.phone">{{ validator.phone }}</div>
        </div>
      </div>

      <!-- Twilio's Sid -->
      <div class="form-group row mi-form--border">
        <label class="col-2 col-form-label mi-form-label">CTI番号</label>
        <div class="col-10 d-flex">
          <input
            type="text"
            [hidden]="clientInfo.twilio?.twilio_phone_number"
            name="account_sid"
            class="form-control cas-fr-control cas-fr-number mr-2 w-auto flex-1"
            placeholder="CTI用電話番号を発行してください"
            disabled
            readonly
          />

          <p class="my-auto mr-2 w-auto flex-1" [hidden]="!clientInfo.twilio?.twilio_phone_number">
            {{ clientInfo.twilio?.twilio_phone_number }}
          </p>

          <button type="button" class="btn btn-warning btn-lg ml-2" (click)="settingTwilio()">
            CTI用電話番号を発行
          </button>
        </div>
      </div>

      <!-- Time Working -->
      <div class="form-group row">
        <label class="col-2 col-form-label mi-form-label align-self-start required">営業時間</label>
        <div class="col-10">
          <app-working-time [disabled]="!currentUser.is_admin" [workingData]="clientInfo.client_workings">
          </app-working-time>
        </div>
      </div>

      <!-- Store Avatar -->
      <div class="form-group row">
        <label class="col-2 col-form-label mi-form-label required">店舗ロゴ</label>
        <div class="col-10">
          <div class="store-logo-print">
            <app-cas-dropzone
              [oldImage]="clientInfo.logo.url"
              [rectangle]="true"
              [btnDelete]="!!clientInfo.logo.url"
              [contain]="true"
              [maxFile]="1"
              [removeReview]="isRemoveReview"
              [eventDropzone]="eventDropzone"
            ></app-cas-dropzone>
            <p>JPEG、PNG、GIFの画像データが登録可能です。設定されたロゴ画像は印刷時に自動的に白黒に変換されます。</p>
          </div>
        </div>
      </div>

      <div class="form-group text-right">
        <button
          class="btn btn-warning btn-lg btn-mw--lg px-5"
          (click)="updateClient()"
          [disabled]="
            !currentUser.is_admin ||
            (isLoading || !clientInfoFr.form.valid || (clientInfo.images && clientInfo.images.length === 0))
          "
        >
          店舗情報を保存
        </button>
      </div>
    </form>

    <h3 class="head-title font-weight-bold">個別設定</h3>

    <form #privateSettingFr="ngForm" class="mi-form--border">
      <div class="form-group row">
        <label class="col-3 col-lg-2 col-form-label mi-form-label required">店舗ID</label>
        <div class="col-8">
          <input
            type="text"
            name="store_ID"
            class="form-control-plaintext cas-fr-number"
            placeholder="店舗ID"
            [(ngModel)]="clientInfo.id"
            #StoreID="ngModel"
            readonly
          />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-3 col-lg-2 col-form-label mi-form-label required">店舗パスワード</label>
        <div class="col-9">
          <div class="input-group cas-fr-input-group mb-3">
            <input
              [type]="type_secret_code"
              name="secret_code"
              class="form-control cas-fr-control cas-fr-number"
              [ngClass]="{
                'is-invalid': (SecretCode.dirty && SecretCode.touched && SecretCode.errors) || validator.secret_code
              }"
              placeholder="認証コードを入力してください"
              #SecretCode="ngModel"
              [(ngModel)]="clientInfo.secret_code"
              maxlength="8"
              minlength="3"
              required
              appSpaceValidation
            />
            <div class="input-group-append">
              <button type="button" class="btn btn-link" (click)="toogleShowCode()">
                <i [ngClass]="class_secret_code"></i>
              </button>
            </div>
          </div>
          <div class="invalid-feedback d-block" *ngIf="SecretCode.errors?.required">認証コードは必須です</div>

          <div
            class="invalid-feedback d-block"
            *ngIf="!SecretCode.errors?.appSpaceValidation && SecretCode.errors?.minlength"
          >
            認証コードは3文字以上で入力してください
          </div>

          <div class="invalid-feedback d-block" *ngIf="SecretCode.errors?.appSpaceValidation">
            空白のみを入力することはできません
          </div>

          <div class="invalid-feedback d-block" *ngIf="validator.secret_code">{{ validator.secret_code }}</div>
        </div>
      </div>

      <!-- Use App -->
      <div class="form-group row" *ngIf="clientInfo.appUseStr">
        <label class="col-3 col-lg-2 col-form-label mi-form-label">使用機能</label>
        <div class="col-8">
          <p class="mb-0 mt-2 pt-1">{{ clientInfo.appUseStr }}</p>
        </div>
      </div>

      <div class="form-group text-right">
        <button
          class="btn btn-warning btn-lg btn-mw--lg px-5"
          (click)="updatePrivateSetting()"
          [disabled]="!currentUser.is_admin || (isLoading || !privateSettingFr.form.valid)"
        >
          個別設定を保存
        </button>
      </div>
    </form>
  </div>
</section>
