@import 'src/stylesheets/variable';

.cas-client-info {
  background-color: var(--white);
  height: 100%;
}

.head-title {
  font-size: 20px;
  font-weight: bold !important;
}

.cas-fr-input-group {
  .cas-fr-control {
    border-right: unset;
  }

  .btn-link {
    border: 1px solid #eaeaea;
    border-left: unset;
    color: #000;
  }
}

.store-logo-print {
  color: #8b8a8a;
  display: flex;
  font-size: 13px;

  p {
    margin-bottom: 0;
    margin-left: 24.9px;
  }
}
