<section class="datetime-format">
  <button class="arrow prev" (click)="datePrev()" [disabled]="disabled"></button>
  <div class="text">{{ dateFormat }}</div>
  <button class="arrow next" (click)="dateNext()" [disabled]="disabled"></button>
</section>
