.datetime-format {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 15px 0;

  .text {
    font-size: 18px;
    line-height: 1;
  }

  .arrow {
    background: none;
    border: solid #000;
    border-width: 0 2px 2px 0;
    cursor: pointer;
    display: inline-block;
    padding: 4px;

    &.prev {
      margin-right: 20px;
      transform: rotate(135deg);
    }

    &.next {
      margin-left: 20px;
      transform: rotate(-45deg);
    }
  }
}
