$carousel-light-grey: #e5e5e5;
$carousel-light-grey-1: #c3c3c3;
$carousel-dark-grey: #818181;
$carousel-black: #222;
$carousel-orange: #f59716;
$default-height: 75px;

.cas-carousel {
  outline: none;
  width: 100%;

  &__wrap {
    background-color: var(--grey-lighten-2);
    display: flex;
    overflow-x: hidden;
    padding: 0 45px;
    position: relative;
    width: 100%;
  }

  &__scroll {
    display: flex;
    height: 105px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px 5px;
    width: 100%;
  }

  &__default {
    background-color: $carousel-light-grey;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid $carousel-light-grey-1;
    cursor: pointer;
    height: $default-height;
    min-width: 50px;
  }

  &__list {
    display: flex;
  }

  &__item {
    margin: 0 10px 0 0;

    &.active {
      .cas-carousel__wrap-image {
        border-color: $carousel-orange;
      }
    }
  }

  &__wrap-image {
    border: 2px solid $carousel-light-grey-1;
    border-radius: 5px;
    box-sizing: border-box;
    height: $default-height;
    position: relative;
    width: 100%;
  }

  &__image {
    background-color: $carousel-light-grey;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    height: 100%;
    min-width: 50px;
    position: relative;
  }

  &__caption {
    color: $carousel-black;
    letter-spacing: 0.24px;
    position: relative;
    text-align: center;
  }

  &__remove {
    background-color: var(--white);
    border-radius: 50%;
    color: $carousel-black;
    cursor: pointer;
    font-size: 15px;
    height: 15px;
    position: absolute;
    right: -4px;
    top: -10px;
    width: 15px;
    z-index: 1;
  }

  &__prev,
  &__next {
    align-items: center;
    background-color: $carousel-light-grey;
    bottom: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 30px;
    z-index: 1;

    &.disabled {
      opacity: 0.4;
      pointer-events: none;
    }
  }

  &__prev {
    border-right: 1px solid $carousel-light-grey-1;
    left: 0;
  }

  &__next {
    border-left: 1px solid $carousel-light-grey-1;
    right: 0;
  }

  &__next-icon {
    background-image: none;
    border-bottom: 10px solid transparent;
    border-left: 12px solid $carousel-dark-grey;
    border-top: 10px solid transparent;
    height: 0;
    width: 0;
  }

  &__prev-icon {
    background-image: none;
    border-bottom: 10px solid transparent;
    border-right: 12px solid $carousel-dark-grey;
    border-top: 10px solid transparent;
    height: 0;
    width: 0;
  }

  &__create {
    align-items: center;
    background-color: $carousel-light-grey;
    border: 2px solid $carousel-light-grey-1;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    height: $default-height;
    justify-content: center;
    min-width: 50px;
  }
}
