<div class="cas-carousel">
  <div class="cas-carousel__wrap" #CasCarouselWrap>
    <div class="cas-carousel__prev" (click)="scrollPrev()" [ngClass]="{'disabled': disabled}">
      <div class="cas-carousel__prev-icon"></div>
    </div>

    <div class="cas-carousel__scroll" #CasCarouselScroll>
      <div *ngIf="isDefaultSlide" class="cas-carousel__default"
        class="cas-carousel__item"
        [ngClass]="{'active': defaultActive}"
        (click)="onSelectDefault()">
        <div class="cas-carousel__wrap-image">
          <div class="cas-carousel__image"
            [ngStyle]="defaultStyle"></div>
        </div>
        <div class="cas-carousel__caption">
          <div class="font-size-12">来店画面</div>
        </div>
      </div>

      <ul class="cas-carousel__list">
        <li *ngFor="let slide of slides; let index=index"
          (click)="onSelectSlide(slide)"
          class="cas-carousel__item"
          [ngClass]="{'active': slide.active}">

          <div class="cas-carousel__wrap-image">
            <div *ngIf="isShowRemove(index)" class="cas-carousel__remove" (click)="openModalConfirmRemove(slide, index)"><i class="fas fa-times-circle"></i></div>

            <div class="cas-carousel__image"
              [ngStyle]="slide.style.styleJson"></div>
          </div>
          <div class="cas-carousel__caption">
            <div class="font-size-12">{{ slide.caption }}</div>
          </div>
        </li>
      </ul>

      <div *ngIf="items.length !== maxItems" class="cas-carousel__create"
        [ngStyle]="{'min-width.px': defaultWidth}" (click)="createSlide()">
        <i class="carousel-image__icon fas fa-plus"></i>
      </div>
    </div>

    <div class="cas-carousel__next" (click)="scrollNext()" [ngClass]="{'disabled': disabled}">
      <div class="cas-carousel__next-icon"></div>
    </div>
  </div>
</div>
