<section class="content-page">
  <!-- History Header -->
  <div class="history-header">
    <h1 class="title">予約履歴</h1>
  </div>

  <!-- History Navigation -->
  <div class="history-navigation">
    <div class="navigation-tab">
      <a
        class="nvTab-item"
        routerLink="reservation"
        [routerLinkActiveOptions]="{exact: true}"
        routerLinkActive="active">来店履歴一覧</a>
      <a
        class="nvTab-item"
        routerLink="courses"
        [routerLinkActiveOptions]="{exact: true}"
        routerLinkActive="active">予約一覧</a>
    </div>

    <div class="navigation-filter">
      <app-ngx-datepicker-filter
        [isSmall]="true"
        [is-unit-custom]="true"
        [(ngModel)]="filterDate"
        isShowUnit="true"
        (change)="historyFilter()"
        placement="bottom center"
      ></app-ngx-datepicker-filter>
    </div>
  </div>

  <!-- History Content -->
  <div class="history-content">
    <router-outlet></router-outlet>
  </div>
</section>
