.history {
  &-header {
    background-color: var(--white);
    border-bottom: 1px solid #dedede;
    height: 56px;

    .title {
      font-size: 17px;
      line-height: 56px;
      padding-left: 19px;
    }
  }

  &-navigation {
    align-items: center;
    background-color: var(--white);
    display: flex;
    height: 50px;
    justify-content: space-between;
    padding-right: 20px;
  }

  &-content {
    padding-top: 6px;
  }
}

.navigation-tab {
  align-self: flex-end;

  .nvTab-item {
    border-bottom: 4px solid transparent;
    color: #404040;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    margin: 0 15px;
    padding-bottom: 7px;
    text-decoration: none;

    &.active {
      border-bottom-color: #f59716;
      color: #f59716;
      font-weight: bold;
    }
  }
}
