.cas-modal {
  &-cancel-resv {
    flex-direction: column;
    height: 300px;
    margin: 0;
  }

  .modal-body {
    padding: 25px 25px 10px;
  }

  &__footer {
    .btn {
      border-radius: unset;
      margin: 0;
      width: 50%;
    }
  }
}
