<div class="cas-modal text-center cas-modal-cancel-resv d-flex justify-content-between">
  <div class="modal-body">
    <img src="assets/icon/exclamation-mark.svg" alt="exclamation marks" class="mb-3">

    <h5 class="mb-4 font-weight-bold">本当に予約内容を<br>
      キャンセルしますか？</h5>
    <p class="cas-modal__text cas-text--light-gray">
      こちらの予約をキャンセルします。<br>
      キャンセル後、作成した内容は破棄されます。</p>
  </div>

  <div class="modal-footer cas-modal__footer p-0">
    <button type="button"
      class="btn btn-lg btn-secondary"
      aria-label="Close" (click)="closeModal()"
      [disabled]="isLoading">
      戻る
    </button>

    <button type="button"
      class="btn btn-lg btn-warning"
      aria-label="Cancel Reservation"
      (click)="cancelResv()"
      [disabled]="isLoading">
      はい
    </button>
  </div>
</div>
