<div class="bar-chart">
  <div class="d-block" *ngIf="labels.length > 0 && datasets[0].data">
    <canvas baseChart
      height="500"
      width="100vw"
      [datasets]="datasets"
      [labels]="labels"
      [options]="barChartOptions"
      [legend]="true"
      chartType="bar"
      [colors]="colors"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"></canvas>
  </div>

  <div class="loader--center" *ngIf="isLoadingChart">
    <div class="lds-ripple">
      <div></div><div></div>
    </div>
  </div>
</div>

