<div class="resv-phone-lookup">
  <div class="col-9 pl-0">
    <app-input-text name="phoneNumber"
      [(ngModel)]="phone"
      #PhoneNumber="ngModel"
      (ngModelChange)="onChangePhone($event, PhoneNumber.errors)"
      [class]="class || (PhoneNumber.dirty || PhoneNumber.touched) && PhoneNumber.errors ? 'is-invalid' : ''"
      [pattern]="rules.phone"
      [minlength]="minlength"
      [maxlength]="maxlength"
      [errorMessage]="errorMessage"
      [disabled]="disabled || (isFormUpdate && clientUser.is_casless_user)"
      [required]="required"
      [placeholder]="placeholder" (click)="openListUser()"></app-input-text>
  </div>
  <div class="col-3 align-self-start mt-3" *ngIf="isShowStatus">
    <span class="font-size-16 font-weight-bold">{{ currentUser.status_string }}</span>
  </div>

  <div class="user-box" *ngIf="isOpenUserList && !!userList.length">
    <div class="list-user">
      <div class="user-item" *ngFor="let user of userList; let idx = index" (click)="chooseUser(idx)">{{ user.name }}</div>
    </div>
    <div class="user-item user-add" (click)="createNewUser()">
      新規顧客として登録
    </div>
  </div>
</div>
