.btn-phone {
  background: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  padding: 0;
  position: relative;

  .input-group-text {
    padding: 13px 8px;
  }

  &[disabled] {
    cursor: default;

    .input-group-text {
      background-color: #fafafa;
      color: #818181 !important;
    }
  }
}

.resv-phone-lookup {
  display: flex;
  position: relative;

  .user-box {
    background-color: #fff;
    border: 1px solid #dedede;
    position: absolute;
    top: 100%;
    width: 245px;

    .user-item {
      color: #8b8a8a;
      cursor: pointer;
      font-size: 16px;
      height: 52px;

      &:hover {
        background-color: #f5faff;
      }
    }

    .user-add {
      background-image: url('../../../assets/icon/user-phone-lookup-add.svg');
      background-position: 13px center;
      background-repeat: no-repeat;
      background-size: 18px 19px;
      border-top: 1px dashed #dedede;
      line-height: 51px;
      padding-left: 35px;
    }
  }
}

.list-user {
  height: 102px;
  overflow-x: hidden;
  overflow-y: auto;

  .user-item {
    align-items: center;
    color: #333 !important;
    display: flex;
    line-height: 20px;
    padding: 0 13px;
  }
}
