<form novalidate>
  <div class="row">

    <div class="col-6 mb-3">
      <app-cas-ng-select
        [items]="tablesType$ | async"
        [loading]="isLoadTableType"
        [clearable]="true"
        [searchable]="true"
        [disabled]="isLoadTableType || isPagination"
        [typeahead]="tablesTypeInput$"
        [virtualScroll]="true"
        [ngClass]="{ 'is-invalid': TableTypeRef.dirty && TableTypeRef.errors }"
        [(ngModel)]="filterData.type_id"
        (scrollToEnd)="changePage($event)"
        (close)="onCloseSelect()"
        bindLabel="name"
        bindValue="id"
        className="mi-form-ng-select"
        name="MenuType"
        #TableTypeRef="ngModel"
        dropdownPosition="bottom"
        placeholder="タイプ"
        notFoundText="利用できるクーポンがありません"
      ></app-cas-ng-select>
    </div>
    <div class="col-6 mb-3">
      <div class="input-group align-items-center">
        <input
          type="text"
          class="form-control cas-fr-control mr-3"
          name="TableQuantityFrom"
          [(ngModel)]="filterData.quantity_gte"
          OnlyNumeric [NumberPattern]="rules.quantity_one_hundred" maxlength="3"
          placeholder="人数下限"
          inputmode="numeric"
          [pattern]="rules.numericMode"
        />
        <span>~</span>
        <input
          type="text"
          class="form-control cas-fr-control ml-3"
          name="TableQuantityTo"
          [(ngModel)]="filterData.quantity_lte"
          OnlyNumeric [NumberPattern]="rules.quantity_one_hundred" maxlength="3"
          placeholder="人数上限"
          inputmode="numeric"
          [pattern]="rules.numericMode"
        />
      </div>
    </div>

    <div class="col-5">
      <input type="text" class="form-control" name="TableName" [(ngModel)]="filterData.name" placeholder="テーブル名を入力">
    </div>
    <div class="col-3">
      <app-cas-ng-select
        [items]="smoking"
        [clearable]="true"
        [ngClass]="{ 'is-invalid': SmokingRef.dirty && SmokingRef.errors }"
        [(ngModel)]="filterData.can_smoke"
        bindLabel="name"
        bindValue="value"
        className="mi-form-ng-select"
        name="Smoking"
        #SmokingRef="ngModel"
        dropdownPosition="bottom"
        placeholder="喫煙"
        notFoundText="利用できるクーポンがありません"
      ></app-cas-ng-select>
    </div>

    <div class="col-4 text-right align-self-center">
      <button class="btn btn-warning"(click)="tableFilter()">この条件で絞込む</button>
    </div>
  </div>
</form>
