<section class="working-times">
  <div class="table-responsive">
    <table class="table table-striped table__time-woking">
      <thead>
        <tr class="text-center">
          <th>営業日</th>
          <th>時間設定</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let weekday of WEEK_DAY; let index = index">
          <td class="align-middle">
            <div class="form-inline">
              <label class="week-day">{{ weekday }}</label>
              <label class="working-type__radio" *ngFor="let type of WORKING_TYPES">
                <input
                  class="radio-input mr-2"
                  type="radio"
                  [(ngModel)]="workingData[index].type"
                  (ngModelChange)="setWorkingTime(index)"
                  name="type_{{ index }}"
                  [disabled]="disabled"
                  [value]="type.value">
                <span class="checkmark">
                  <p class="my-auto">{{ type.name }} <br> <span class="font-size-14">{{ type.sub }}</span></p>
                </span>
              </label>
            </div>
          </td>

          <td class="align-middle text-center">
            <div class="time-data" *ngIf="workingData[index].durations.length === 0">
              <span>休業日</span>
            </div>

            <div class="time-data" *ngIf="workingData[index].durations.length > 0">
              <div class="m-auto" *ngFor="let time of workingData[index].durations; let idx = index">
                <app-select-working-time
                  [disabled]="disabled"
                  [workingTime]="time"
                  [errorMsg]="time.error"
                  (updateTime)="updateTime($event, index, idx)"
                ></app-select-working-time>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</section>
