$radio-bg: #eaeaea;
$radio-bg-active: #54c2cb;
$table-row-bg: #fafafa;
$gray-darken: #707070;
$gray-darken-0: #afafaf;

.table.table__time-woking {
  thead th,
  tbody td {
    border: 0;

    &:nth-child(1) {
      min-width: 350px;
    }

    &:nth-child(2) {
      min-width: 200px;
    }
  }

  thead tr,
  tbody tr:nth-of-type(even) {
    background-color: $table-row-bg;
  }

  tbody tr:nth-of-type(odd) {
    background-color: #fff;
  }

  .week-day {
    width: 50px;
  }

  .working-type__radio {
    cursor: pointer;
    margin: 0 5px;

    input[type='radio'] {
      display: none;

      &:checked ~ .checkmark {
        background: $radio-bg-active;
        color: #fff;
      }
    }

    .checkmark {
      background: $radio-bg;
      border-radius: 5px;
      color: $gray-darken;
      display: flex;
      font-weight: bold;
      height: 55px;
      line-height: 1.3;
      margin: auto;
      min-height: 50px;
      padding: 0;
      text-align: center;
      vertical-align: middle;
      white-space: pre-line;
      width: 80px;

      p {
        width: 100%;
      }
    }
  }

  .time-data span {
    color: $gray-darken-0;
    font-size: 20px;
  }
}
