<div class="cas-input-ordinal">
  <div
    class="d-flex mi-form-ordinal-input"
    [ngClass]="{
      'is-invalid':
        ((NumberRef.dirty || NumberRef.touched) && NumberRef.errors) ||
        ((NameRef.dirty || NameRef.touched) && NameRef.errors) ||
        validatorError || numberUniqueErrorMsg
    }"
  >
    <input
      type="text"
      class="form-control cas-input-ordinal__number text-center font-weight-bold"
      [(ngModel)]="input_number"
      (ngModelChange)="onChange(ORDINAL_INPUT_TYPE.ORDINAL_NUMBER)"
      inputmode="numeric"
      OnlyNumeric
      [NumberPattern]="rules.number_max_four"
      [pattern]="rules.numericMode"
      [minlength]="numberMinlength"
      [maxlength]="numberMaxlength"
      [placeholder]="numberPlaceholder"
      #NumberRef="ngModel"
      required
    />

    <input
      class="form-control cas-input-ordinal__name"
      [(ngModel)]="input_name"
      (ngModelChange)="onChange(ORDINAL_INPUT_TYPE.NAME)"
      [maxlength]="nameMaxlength"
      [placeholder]="namePlaceholder"
      #NameRef="ngModel"
      required
      appSpaceValidation
    />
  </div>

  <div
    class="invalid-feedback"
    *ngIf="(NumberRef.dirty || NumberRef.touched) && (NumberRef.errors?.required || NumberRef.errors?.minlength)"
  >
    {{ numberMinlength + numberRequiredErrorMsg }}
  </div>

  <div class="invalid-feedback" *ngIf="(NameRef.dirty || NameRef.touched) && NameRef.errors?.required">
    {{ nameRequiredErrorMsg }}
  </div>

  <div
    class="invalid-feedback"
    *ngIf="(NameRef.dirty || NameRef.touched) && NameRef.errors?.appSpaceValidation && !NameRef.errors?.required"
  >
    空白のみを入力することはできません
  </div>

  <div class="invalid-feedback" *ngIf="validatorError">
    {{ validatorError }}
  </div>

  <div class="invalid-feedback" *ngIf="numberUniqueErrorMsg">
    {{ numberUniqueErrorMsg }}
  </div>

</div>
