.cas-input-ordinal {
  &__number {
    border-radius: 0.25rem 0 0 0.25rem;
    cursor: inherit;
    font-size: 24px !important;
    width: 20%;
  }

  &__name {
    border-left-color: transparent;
    border-radius: 0 0.25rem 0.25rem 0;
    width: 80%;

    &:focus {
      border-left-color: var(--orange-lighten-1) !important;
    }
  }
}
