<div class="profit-charts">
  <!-- Selected Date -->
  <app-profit-select-date [type]="profitType" (change)="datetimeChanged($event)" [disabled]="isLoadingAllChart"></app-profit-select-date>
  <div class="text-right pr-4 send-record">
    <button class="btn btn-sm bg-white btn-border px-3" (click)="sendMail()"><i class="far fa-envelope send-record--icon"></i></button>
  </div>
  <!-- Profit Summary -->
  <div class="table-responsive px-4">
    <table class="table table-bordered profit-summary">
      <tbody>
        <tr>
          <th rowspan="3">売上</th>
          <td rowspan="3" class="font-size-30">{{ profitSum?.total_price_display }}円 <span class="font-size-14 cas-text--cyan">{{ profitSum?.total_reservations_display }}</span></td>
          <th>Web予約</th>
          <td>{{ profitSum?.web_total_price_display }}円 <span class="font-size-14 cas-text--cyan">{{ profitSum?.web_total_reservations_display }}</span></td>
        </tr>
        <tr>
          <th>ウォークイン</th>
          <td>{{ profitSum?.walk_in_total_price_display }}円 <span class="font-size-14 cas-text--cyan">{{ profitSum?.walk_in_total_reservations_display }}</span></td>
        </tr>
        <tr>
          <th>電話予約</th>
          <td>{{ profitSum?.phone_total_price_display }}円 <span class="font-size-14 cas-text--cyan">{{ profitSum?.phone_total_reservations_display }}</span></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Bar category -->
  <div class="d-flex justify-content-end cas-form-group py-4">
    <div class="d-flex align-items-center col-12 col-sm-7 col-md-6">
      <label class="col-4 mi-form-label font-weight-bold text-right">カテゴリー</label>
      <div class="col-8">
        <app-cas-ng-select
          className="mi-form-ng-select"
          name="barCategoryType"
          [items]="categories$ | async"
          [loading]="isLoadCategory"
          [typeahead]="categoriesInput$"
          [(ngModel)]="selectedBarChartCategory"
          placeholder="カテゴリー"
          bindLabel="name"
          (change)="getProfitDays()">
        </app-cas-ng-select>
      </div>
    </div>
  </div>

  <!-- Bar chart -->
  <div class="d-block mb-4">
    <app-bar-chart
      [datasets]="dataBarChart"
      [labels]="labelsBarChart"
      title="メニュー売上ランキング"
      [isLoadingChart]="isLoadingBarChart"></app-bar-chart>
  </div>

  <!-- User & Payment chart -->
  <div class="row m-0 mb-1">
    <div class="col-12 offset-md-1 col-md-10 offset-lg-0 col-lg-6 mb-4">
      <app-pie-chart
        [data]="dataAnalyticsCustomer"
        [labels]="labelsAnalyticsCustomer"
        [tooltip]="tooltipCustomer"
        [isDataNotFound]="customerDataNotFound"
        [isLoadingChart]="customerLoadingChart"
        title="顧客分析"></app-pie-chart>
    </div>

    <div class="col-12 offset-md-1 col-md-10 offset-lg-0 col-lg-6 mb-4">
      <app-pie-chart
        [data]="dataAnalyticsPayment"
        [labels]="labelsAnalyticsPayment"
        [tooltip]="tooltipPayment"
        [isDataNotFound]="paymentDataNotFound"
        [isLoadingChart]="paymentLoadingChart"
        title="決済割合分析"></app-pie-chart>
    </div>
  </div>

  <!-- Category & Coupon chart -->
  <div class="row m-0">
    <div class="col-12 offset-md-1 col-md-10 offset-lg-0 col-lg-6 mb-4">
      <app-pie-chart
        [data]="dataAnalyticsCategory"
        [labels]="labelsAnalyticsCategory"
        [tooltip]="tooltipCategory"
        [isDataNotFound]="categoryDataNotFound"
        [isLoadingChart]="categoryLoadingChart"
        title="種別分析"></app-pie-chart>
    </div>

    <div class="col-12 offset-md-1 col-md-10 offset-lg-0 col-lg-6 mb-4">
      <app-pie-chart
        [data]="dataAnalyticsCoupon"
        [labels]="labelsAnalyticsCoupon"
        [tooltip]="tooltipCoupon"
        [isDataNotFound]="couponDataNotFound"
        [isLoadingChart]="couponLoadingChart"
        title="クーポン分析"></app-pie-chart>
    </div>
  </div>
</div>

