.timepicker-wrap {
  position: relative;

  .timepicker-form {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 12px 0 #848383;
    display: none;
    padding: 5px 10px;
    position: absolute;
    text-align: center;
    width: 100px;
    z-index: 99;
  }

  .form-control:disabled {
    background-color: #e9ecef;
    opacity: 1;
  }
}

table tr td {
  display: inline-block;
  text-align: center;
  width: 25px;
}

[class^='fa-'],
[class*=' fa-'] {
  cursor: pointer;
  font-size: 1.8rem !important;
}

.input_time {
  border: 0;
  outline: none;
  padding: 5px 2px;
  width: 39px;
}
