<div class="timepicker-wrap" #timepickerWrap
  (touchstart)="clickedInside($event, timepickerWrap)"
  (click)="clickedInside($event, timepickerWrap)">
  <input type="text"
    class="form-control"
    [attr.disabled]="disabled"
    [(ngModel)]="timeInput"
    [ngClass]="{ 'is-invalid': isInValid }"
    [hidden]="disabled"
    readonly
    onfocus="this.blur()"/>

  <input type="text"
    class="form-control"
    [attr.disabled]="disabled"
    [ngModel]="timeInput"
    [attr.placeholder]="placeholder"
    [hidden]="!disabled"
    readonly/>

  <div class="timepicker-form" #timepickerForm>

    <div class="form_arrow--up d-flex justify-content-around">
      <a (touchstart)="setHour(MODE_TIME.UP)" (click)="setHour(MODE_TIME.UP)">
        <span class="fa fa-angle-up" aria-hidden="true"></span>
      </a>

      <a (touchstart)="setMin(MODE_TIME.UP)" (click)="setMin(MODE_TIME.UP)">
        <span class="fa fa-angle-up" aria-hidden="true"></span>
      </a>
    </div>

    <div class="form_input d-flex justify-content-around">
      <input type="text"
             class="input_time text-center"
             name="hour"
             maxlength="2"
             autocomplete="off"
             placeholder="時"
             OnlyNumeric
             [(ngModel)]="hour"
             (input)="inputHour($event)"/>
      <span>:</span>
      <input type="text"
             class="input_time text-center"
             name="min"
             maxlength="2"
             autocomplete="off"
             placeholder="分"
             OnlyNumeric
             [(ngModel)]="min"
             (input)="inputMinute($event)"/>
    </div>

    <div class="form_arrow--down d-flex justify-content-around">
      <a (touchstart)="setHour(MODE_TIME.DOWN)" (click)="setHour(MODE_TIME.DOWN)">
        <span class="fa fa-angle-down" aria-hidden="true"></span>
      </a>

      <a (touchstart)="setMin(MODE_TIME.DOWN)" (click)="setMin(MODE_TIME.DOWN)">
        <span class="fa fa-angle-down" aria-hidden="true"></span>
      </a>
    </div>
  </div>

  <div class="invalid-feedback" *ngIf="validateMsg">
    {{ validateMsg }}
  </div>
</div>
