<div class="setting-time">
  <div class="list-time d-inline-flex align-items-center">
    <button *ngFor="let time of DURATIONS"
      [ngClass]="getClassName(time.value)"
      value="time.value"
      (click)="setTime(time.value)"
      [disabled]="disabled"
      class="btn-secondary btn-time m-1">{{ time.name }}</button>
  </div>
</div>
