.setting-time {
  max-width: 20.0625rem;
  overflow-x: scroll;
  overflow-y: hidden;

  .list-time {
    .btn-time {
      background-color: #eaeaea;
      border-radius: 5px;
      border-style: inherit;
      color: #8c8b8b;
      cursor: pointer;
      font-size: 13px;
      height: 3.4375rem;
      width: 4.875rem;

      &:focus {
        box-shadow: none;
        outline: none;
      }

      &.active {
        &--blue {
          background-color: var(--blue-accent);
          color: var(--white);
          font-weight: bold;
        }

        &--orange {
          background-color: var(--orange-lighten-1);
          color: var(--white);
          font-weight: bold;
        }
      }
    }
  }
}
