div[type='password'] {
  overflow: hidden;
  white-space: nowrap;

  &:not(:empty) {
    -webkit-appearance: textfield;
    -webkit-text-security: disc !important;
    -webkit-user-select: text;
    cursor: auto;
  }

  &:empty::before {
    color: #bbb;
    content: attr(placeholder);
    display: block; /* For Firefox */
  }
}
