<app-cas-dialog title="端数処理選択" (close)="closeModal()" headerClass="cas-dialog__header--order-menu">
  <section dialogContent>
    <form #taxRoundForm="ngForm">
      <div class="cas-checkbox">
        <div class="pt-2 pb-3">
          <label class="cas-checkbox-item font-weight-bold">
            <input
              class="checkbox-input"
              name="tax_round"
              type="radio"
              [(ngModel)]="roundType"
              [value]="TAX_ROUND.DOWN">
            <span class="checkmark"></span>
            <span class="ml-3">切り捨て</span>
            <span class="label-border"></span>
          </label>
        </div>

        <div class="pt-2 pb-3">
          <label class="cas-checkbox-item font-weight-bold">
            <input
              class="checkbox-input"
              name="tax_round"
              type="radio"
              [(ngModel)]="roundType"
              [value]="TAX_ROUND.UP">
            <span class="checkmark"></span>
            <span class="ml-3">切り上げ</span>
            <span class="label-border"></span>
          </label>
        </div>

        <div class="pt-2 pb-2">
          <label class="cas-checkbox-item font-weight-bold">
            <input
              class="checkbox-input"
              name="tax_round"
              type="radio"
              [(ngModel)]="roundType"
              [value]="TAX_ROUND.OFF">
            <span class="checkmark"></span>
            <span class="ml-3">四捨五入</span>
          </label>
        </div>
      </div>
    </form>
  </section>

  <section class="cas-dialog__btn-group justify-content-between" dialogAction>
    <button
      type="button"
      class="btn btn-md btn-secondary btn-border btn-mw--xl"
      aria-label="Close"
      (click)="closeModal()"
      [disabled]="isSubmiting">
      キャンセル
    </button>

    <button
      type="button"
      class="btn btn-md btn-warning btn-mw--xl"
      aria-label="confirm"
      (click)="confirmSettingRound()"
      [disabled]="isSubmiting ">
      選択する
    </button>
  </section>
</app-cas-dialog>
