<app-cas-dialog [title]="title_display" (close)="closeModal()">
  <section dialogContent>
    <div class="page-head page-head--space-between border-bottom-0">
      <h2 class="head-title">
        このクーポンを有効にする
        <span class="sub-title d-block">一度有効にしてしまうと再編集ができなくなるのでご注意ください。</span>
      </h2>
      <div class="head-action"><app-ui-switch [(ngModel)]="isPublish" (change)="changeStatus()"></app-ui-switch></div>
    </div>

    <form class="cas-form coupon-form mt-2" #CouponForm="ngForm" novalidate>
      <div class="form-row">
        <div class="col pr-3">
          <!-- coupon name -->
          <div class="form-group mi-form-group">
            <label class="col-form-label mi-form-label pt-0 required">クーポン名</label>
            <div *ngIf="!is_can_not_edit">
              <input
                type="text"
                class="form-control cas-fr-control"
                placeholder="クーポン名を入力してください"
                [ngClass]="{ 'is-invalid': ((Name.dirty || Name.touched) && Name.errors) || validation.name }"
                [(ngModel)]="coupon.name"
                #Name="ngModel"
                name="name"
                (input)="resetValidation('name')"
                appSpaceValidation
                maxlength="255"
                required
              />

              <div class="invalid-feedback" *ngIf="(Name.dirty || Name.touched) && Name.errors?.required">
                クーポン名を入力してください
              </div>
              <div class="invalid-feedback" *ngIf="(Name.dirty || Name.touched) && Name.errors?.maxlength">
                クーポン名は255文字以下で入力してください
              </div>
              <div
                class="invalid-feedback"
                *ngIf="(Name.dirty || Name.touched) && Name.errors?.appSpaceValidation && !Name.errors?.required"
              >
                空白のみを入力することはできません
              </div>
              <div class="invalid-feedback" *ngIf="validation.name">{{ validation.name }}</div>
            </div>

            <p class="mb-0" *ngIf="is_can_not_edit">{{ coupon.name }}</p>
          </div>
        </div>
        <div class="col pl-3">
          <!-- coupon code -->
          <div class="form-group mi-form-group">
            <label class="col-form-label mi-form-label pt-0 required">クーポンコード</label>
            <div *ngIf="!is_can_not_edit">
              <input
                type="text"
                class="form-control cas-fr-control"
                placeholder="クーポンコードを入力してください"
                [ngClass]="{ 'is-invalid': ((Code.dirty || Code.touched) && Code.errors) || validation.code }"
                [(ngModel)]="coupon.code"
                #Code="ngModel"
                name="code"
                (input)="resetValidation('code')"
                [pattern]="rules.only_alphabet_uppcase_number"
                appSpaceValidation
                maxlength="20"
                required
              />

              <div class="invalid-feedback" *ngIf="(Code.dirty || Code.touched) && Code.errors?.required">
                クーポンコードを入力してください
              </div>
              <div
                class="invalid-feedback"
                *ngIf="(Code.dirty || Code.touched) && !Code.errors?.appSpaceValidation && Code.errors?.pattern"
              >
                コードのフォーマットは有効ではありません
              </div>
              <div
                class="invalid-feedback"
                *ngIf="(Code.dirty || Code.touched) && Code.errors?.appSpaceValidation && !Code.errors?.required"
              >
                空白のみを入力することはできません
              </div>
              <div class="invalid-feedback" *ngIf="validation.code">{{ validation.code }}</div>
            </div>

            <p class="mb-0" *ngIf="is_can_not_edit">{{ coupon.code }}</p>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col-5 pr-3">
          <!-- coupon discount -->
          <div class="form-group mi-form-group">
            <label class="col-form-label mi-form-label pt-0 required">割引額</label>
            <div class="row" *ngIf="!is_can_not_edit">
              <div class="col-10 mi-form__price-group">
                <app-digit-formater
                  [(ngModel)]="coupon.discount"
                  name="discount"
                  [max]="999999999"
                  (ngModelChange)="resetValidation('discount')"
                  placeholder="1,200"
                  [required]="true && '割引額を入力してください'"
                  [validator]="validation.discount"
                >
                </app-digit-formater>
              </div>
              <p class="col-2 my-auto">円</p>
            </div>

            <p class="mb-0" *ngIf="is_can_not_edit">{{ coupon.discount_display }}円</p>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col pr-3">
          <!-- start/end date -->
          <div class="form-group mi-form-group">
            <label class="col-form-label mi-form-label required">利用可能期間</label>
            <div class="row has-text-between" *ngIf="!is_can_not_edit">
              <div class="col-5 pr-0">
                <app-ngx-datepicker
                  name="start_date"
                  #StartDate="ngModel"
                  [(ngModel)]="coupon.start_date"
                  placeholder="開始日を入力してください"
                  [ngClass]="{
                    'is-invalid': ((StartDate.dirty || StartDate.touched) && StartDate.errors) || validation.start_date
                  }"
                  [validatorError]="validation.start_date"
                  [minDate]="minDateStart"
                  placement="right"
                  (change)="resetValidation('start_date')"
                  required
                >
                </app-ngx-datepicker>

                <div
                  class="invalid-feedback"
                  *ngIf="(StartDate.dirty || StartDate.touched) && StartDate.errors?.required"
                >
                  開始日を入力してください
                </div>
              </div>

              <div class="col-2 text-center my-auto"><span>〜</span></div>

              <div class="col-5 pl-0">
                <app-ngx-datepicker
                  name="end_date"
                  #EndDate="ngModel"
                  [(ngModel)]="coupon.end_date"
                  placeholder="終了日を入力してください"
                  [ngClass]="{
                    'is-invalid': ((EndDate.dirty || EndDate.touched) && EndDate.errors) || validation.end_date
                  }"
                  [validatorError]="validation.end_date"
                  [minDate]="minDateEnd"
                  placement="top"
                  (change)="resetValidation('end_date')"
                  required
                >
                </app-ngx-datepicker>

                <div class="invalid-feedback" *ngIf="(EndDate.dirty || EndDate.touched) && EndDate.errors?.required">
                  終了日を入力してください
                </div>
              </div>
            </div>

            <p class="mb-0" *ngIf="is_can_not_edit">
              {{ coupon.start_date_display + ' ~ ' + coupon.end_date_display }}
            </p>
          </div>
        </div>

        <div class="col pl-3">
          <!-- start/end time -->
          <div class="form-group mi-form-group">
            <label class="col-form-label mi-form-label required">利用可能時間帯</label>
            <div class="row has-text-between" *ngIf="!is_can_not_edit">
              <div class="col-5 pr-0">
                <app-time-picker
                  class="cas-fr-time-picker"
                  name="start_time"
                  minTime="00:00"
                  maxTime="23:59"
                  [(ngModel)]="coupon.start_time"
                  minuteStep="5"
                  [isInValid]="validation.start_time"
                  [validateMsg]="validation.start_time"
                  placeholder="時:分"
                  readonly
                  [disabled]="coupon.is_all_day"
                >
                </app-time-picker>
              </div>

              <div class="col-2 text-center my-auto"><span>〜</span></div>

              <div class="col-5 pl-0">
                <app-time-picker
                  class="cas-fr-time-picker"
                  name="end_time"
                  minTime="00:00"
                  maxTime="23:59"
                  [(ngModel)]="coupon.end_time"
                  minuteStep="5"
                  [isInValid]="validation.end_time"
                  [validateMsg]="validation.end_time"
                  placeholder="時:分"
                  readonly
                  [disabled]="coupon.is_all_day"
                >
                </app-time-picker>
              </div>
            </div>

            <p class="mb-3" *ngIf="is_can_not_edit">{{ coupon.start_time + ' ~ ' + coupon.end_time }}</p>

            <div class="cas-checkbox cas-checkbox-group mt-2">
              <label class="cas-checkbox-item">
                <input
                  class="checkbox-input"
                  id="is_all_day"
                  name="is_all_day"
                  type="checkbox"
                  [(ngModel)]="coupon.is_all_day"
                  #is_specific_time="ngModel"
                  [disabled]="is_can_not_edit"
                />終日
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col-6">
          <!-- specific target -->
          <div class="form-group mi-form-group">
            <label class="col-form-label mi-form-label required">対象顧客</label>
            <div class="form-row">
              <div class="pl-1 pr-3 mb-2">
                <label class="radio-item cas-radio-item">
                  <input
                    class="radio-input"
                    type="radio"
                    name="is_not_specific_target"
                    [(ngModel)]="coupon.is_specific_target"
                    [value]="false"
                    [disabled]="is_can_not_edit"
                  />全ての顧客を対象とする
                  <span class="checkmark"></span>
                </label>
              </div>

              <div class="pl-1">
                <label class="radio-item cas-radio-item">
                  <input
                    class="radio-input"
                    type="radio"
                    name="is_specific_target"
                    [(ngModel)]="coupon.is_specific_target"
                    [value]="true"
                    [disabled]="is_can_not_edit"
                  />適用する顧客対象を決める
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col">
          <!-- target type -->
          <div class="form-group mi-form-group" *ngIf="coupon.is_specific_target">
            <label class="col-form-label mi-form-label required">来店回数</label>
            <div class="form-row">
              <div class="col-2">
                <label class="radio-item cas-radio-item">
                  <input
                    class="radio-input"
                    type="radio"
                    name="target_type"
                    [(ngModel)]="coupon.target_type"
                    [value]="COUPON_TARGET.NEW"
                  />新規
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="col-5">
                <label class="radio-item cas-radio-item">
                  <input
                    class="radio-input"
                    type="radio"
                    name="target_type"
                    [(ngModel)]="coupon.target_type"
                    [value]="COUPON_TARGET.REPEAT_USER"
                  />リピーター(２回以上)
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="col-5">
                <label class="radio-item cas-radio-item">
                  <input
                    class="radio-input"
                    type="radio"
                    name="target_type"
                    [(ngModel)]="coupon.target_type"
                    [value]="COUPON_TARGET.USAGE_COUNT"
                  />来店回数を指定する
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <!-- usage type -->
          <div
            class="form-group mi-form-group specific-target"
            *ngIf="coupon.is_specific_target && coupon.isTargetUsage"
          >
            <div class="cas-fr-group__sub">
              <div class="form-row">
                <div class="col-6 usage-greater">
                  <label class="radio-item cas-radio-item cas-radio-item--input mr-3">
                    <input
                      class="radio-input"
                      type="radio"
                      name="usage_type"
                      [(ngModel)]="coupon.usage_type"
                      [value]="USAGE_TYPE.USAGE_GREATER"
                      (change)="setUsageType()"
                    />
                    <span class="checkmark"></span>
                    <input
                      type="text"
                      class="form-control cas-fr-control usage-value-greater mx-1"
                      name="usage_count_greater"
                      [disabled]="coupon.isUsageEqual"
                      OnlyNumeric
                      [ngClass]="{ 'is-invalid': (UsageGreater.dirty || UsageGreater.touched) && UsageGreater.errors }"
                      [(ngModel)]="usage_count_greater"
                      #UsageGreater="ngModel"
                      required
                      placeholder="0"
                      [NumberPattern]="rules.quantity_one_hundred"
                    />
                    回以上で利用可能
                  </label>

                  <div
                    class="d-flex cas-text--red font-size-12"
                    *ngIf="(UsageGreater.dirty || UsageGreater.touched) && UsageGreater.errors?.required"
                  >
                    来店回数を入力してください
                  </div>
                </div>
                <div class="col-6 usage-equal">
                  <label class="radio-item cas-radio-item cas-radio-item--input">
                    <input
                      class="radio-input"
                      type="radio"
                      name="usage_type"
                      [(ngModel)]="coupon.usage_type"
                      (change)="setUsageType()"
                      [value]="USAGE_TYPE.USAGE_EQUAL"
                    />
                    <span class="checkmark"></span>
                    <input
                      type="text"
                      [disabled]="coupon.isUsageGreater"
                      class="form-control cas-fr-control usage-value-equal mx-1"
                      name="usage_count_equal"
                      OnlyNumeric
                      [ngClass]="{ 'is-invalid': (UsageEqual.dirty || UsageEqual.touched) && UsageEqual.errors }"
                      [(ngModel)]="usage_count_equal"
                      #UsageEqual="ngModel"
                      required
                      placeholder="0"
                      [NumberPattern]="rules.quantity_one_hundred"
                    />
                    回目のみで利用可能
                  </label>
                  <div
                    class="d-flex cas-text--red font-size-12"
                    *ngIf="(UsageEqual.dirty || UsageEqual.touched) && UsageEqual.errors?.required"
                  >
                    来店回数を入力してください
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>

  <section class="cas-dialog__btn-group justify-content-between" dialogAction>
    <button type="button" class="btn btn-md btn-secondary btn-border btn-mw--lg mr-3" (click)="closeModal()">
      キャンセル
    </button>

    <div>
      <button
        type="button"
        class="btn btn-md btn-default btn-border btn-mw--lg mr-3"
        *ngIf="is_edit"
        [disabled]="CouponForm.form.invalid || isSubmiting"
        (click)="deleteCoupon()"
      >
        削除する
      </button>

      <button
        type="button"
        class="btn btn-md btn-default btn-border btn-mw--lg mr-3"
        [disabled]="CouponForm.form.invalid || isSubmiting || !!isPublish || is_can_not_edit"
        (click)="submitCoupon(COUPON_STATUS.DRAFT)"
      >
        下書きとして保存
      </button>

      <button
        type="button"
        class="btn btn-md btn-default btn-border btn-mw--lg mr-3"
        [disabled]="CouponForm.form.invalid || isSubmiting || !!isPublish || is_can_not_edit"
        (click)="submitCoupon(COUPON_STATUS.UNPUBLISH)"
      >
        非公開で保存
      </button>

      <button
        type="button"
        class="btn btn-md btn-warning btn-mw--lg"
        [disabled]="CouponForm.form.invalid || isSubmiting || is_can_not_edit"
        (click)="submitCoupon(COUPON_STATUS.PUBLISH)"
      >
        公開で保存
      </button>
    </div>
  </section>
</app-cas-dialog>
