.page-head {
  background-color: #fafafa;
  padding-left: 15px;
}

.cas-form {
  &.coupon-form {
    &-usage {
      padding-left: 20px;
    }

    .border-right {
      border-color: #e5e5e5 !important;
    }

    .cas-fr-group__sub {
      .cas-radio-item {
        align-items: center;
        display: flex;

        .checkmark {
          border-radius: 2px;

          &::after {
            background-color: transparent;
            border-color: #fff;
            border-radius: 0;
            border-style: solid;
            border-width: 0 3px 3px 0;
            height: 15px;
            left: 8px;
            top: 4px;
            transform: rotate(45deg);
            width: 7px;
          }
        }

        .usage-value-greater,
        .usage-value-equal {
          font-size: 20px;
          height: 53px;
          width: 53px;
        }
      }
    }

    .specific-target {
      background: #fafafa;
      border: 1px solid #ddd;
      padding: 10px 5px;

      .form-row {
        .usage-greater {
          flex: 0 0 calc(50% - 10px);
          max-width: calc(50% - 10px);
        }

        .usage-equal {
          flex: 0 0 calc(50% + 10px);
          max-width: calc(50% + 10px);
        }

        .form-control {
          &:disabled {
            background: #fcfddd !important;
            border-color: #eaeaea !important;
          }

          &.is-invalid {
            padding-right: 0.25rem;
          }
        }
      }
    }

    .course-select {
      &.is-invalid {
        border-color: #ed1212;
      }
    }

    .select-time {
      height: 200px;
    }
  }

  .cas-radio-item,
  .cas-checkbox-item {
    min-width: 100%;
  }
}

.course-wrapper {
  border: 1px solid #ddd;
  border-radius: 5px;
  height: 150px;
  overflow-y: scroll;
  padding: 10px;

  .course-item {
    margin-bottom: 5px;
  }
}

.row.has-text-between {
  .col-5 {
    flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px);
  }

  .col-2 {
    max-width: 20px;
    padding: 0;
  }
}

.cas-dialog__btn-group {
  @media (min-width: 768px) and (max-width: 991.98px) {
    .btn {
      font-size: 1.1rem;
    }
  }
}
