<form novalidate #formCouponFilter="ngForm">
  <div class="row">
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-6">
          <input type="text"
            class="form-control"
            name="name"
            [(ngModel)]="filterTerm.name"
            maxlength="255"
            placeholder="クーポン名を入力">
        </div>

        <div class="col-sm-6 pl-0">
          <div class="input-group mi-form-input-group align-items-center">
            <app-digit-formater
              class="price-input"
              [(ngModel)]="filterTerm.price_gte"
              name="price_gte"
              [min]="1"
              [max]="999999999"
              placeholder="割引額下限"
            ></app-digit-formater>
            <span class="mx-1">~</span>
            <app-digit-formater
              class="price-input"
              [(ngModel)]="filterTerm.price_lte"
              name="price_lte"
              [min]="1"
              [max]="999999999"
              placeholder="割引額上限"
            ></app-digit-formater>
          </div>
        </div>

        <div class="col-sm-9 mt-3">
          <div class="form-row has-text-between">
            <div class="col-5">
              <app-ngx-datepicker
                [(ngModel)]="filterTerm.start_date_gte"
                name="start_date_gte"
                placeholder="開始日を入力"
                placement="bottom"
                [isClearPicker]="true">
              </app-ngx-datepicker>
            </div>
            <div class="col-2 text-center my-auto"><span>~</span></div>
            <div class="col-5">
              <app-ngx-datepicker
                [(ngModel)]="filterTerm.end_date_lte"
                name="start_date_lte"
                placeholder="終了日を入力"
                placement="bottom"
                [isClearPicker]="true">
              </app-ngx-datepicker>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3 text-right align-self-end mt-3">
      <button type="submit"
        class="btn btn-warning"
        (click)="filterCoupon()"
        [disabled]="disabled || !formCouponFilter.form.valid">この条件で絞込む</button>
    </div>
  </div>
</form>
