.form-row.has-text-between {
  .col-5 {
    flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px);
  }

  .col-2 {
    max-width: 20px;
    padding: 0;
  }
}

.row.row--2 {
  & > .col-2 {
    flex: 0 0 170px;
    max-width: 170px;
  }

  & > .col-4 {
    flex: 0 0 calc(30% - 40px);
    max-width: calc(30% - 40px);
  }

  & > .col-6 {
    flex: 0 0 calc(70% - 130px);
    max-width: calc(70% - 130px);
  }
}
