.cas-table {
  .table-management {
    td {
      min-width: 140px;

      &:nth-child(1) {
        min-width: 200px;
      }
    }
  }
}

.qr-code {
  background-color: var(--white);
  border: 1px solid #eaeaea;
  margin: 0 5px 15px;

  p {
    font-family: 'Noto Sans CJK JP';
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .btn {
    font-family: 'Noto Sans CJK JP';
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.36px;
    padding-left: 16px;
    padding-right: 16px;
    text-transform: uppercase;
  }
}
