<section class="content-page">
  <div class="page-head page-head--space-between">
    <h2 class="head-title">テーブル一覧 <span class="sub-title">{{ summaryTable }}</span></h2>
    <div class="head-action">
      <button type="button" class="btn page-head-btn btn-warning" [disabled]="isSwap" (click)="createTable()">
        新規追加
      </button>
    </div>
  </div>

  <app-cas-filter [sortItems]="sortTables" (eventSort)="tableSort($event)" [disabled]="isSwap">
    <button btnSwap class="btn btn-secondary btn-border btn-swap" [ngClass]="{ 'btn-warning': isSwap }" (click)="handleSwap()">
      <i class="fa fa-exchange-alt"></i>
    </button>
    <app-filter-table filterForm (eventFilter)="tableFilter($event)"></app-filter-table>
  </app-cas-filter>

  <div class="page-content container-fluid">
    <div class="d-flex justify-content-between align-items-center qr-code p-3" *ngIf="isShowQRCode">
      <p class="mb-0">スマホオーダー用 QRコード発行</p>
      <button type="button" class="btn btn-mw--sm btn-warning"
        (click)="exportPathQRCode()"
        [disabled]="isLoadingQRCode">
        QRコード生成
      </button>
    </div>

    <app-cas-swap [items]="tables" [isSwap]="isSwap" [swapId]="swapId"
                  (itemsSwapped)="tableSwapped($event)" [swapType]="SWAP_TYPE.TABLE"
                  [isResetSwap]="isResetSwap">
      <div class="row cas-page--setting__list" swapContent>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-3" *ngFor="let table of tables" (click)="selectItemSwap(table.id)">
          <app-cas-card-table
            [table]="table"
            (changedTable)="editTable($event)"></app-cas-card-table>
        </div>
      </div>
    </app-cas-swap>

    <div class="text-center" *ngIf="!tables.length && !isLoading">
      データが見つかりません
    </div>

    <div class="loader--row" *ngIf="isLoading">
      <div class="lds-ripple">
        <div></div><div></div>
      </div>
    </div>

    <div class="cas-pagination" [ngClass]="{ 'd-none': isLoading }">
      <app-pagination
        *ngIf="pagination.isPagination && !isSwap"
        class="d-flex justify-content-center"
        [boundaryLinks]="true"
        [totalItems]="pagination.total"
        [itemsPerPage]="pagination.per_page"
        [maxSize]="5"
        [(ngModel)]="pagination.current_page"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;"
      ></app-pagination>
    </div>
  </div>
</section>

