.profit-navigation {
  align-items: center;
  display: flex;
  justify-content: center;

  .nav-item {
    border-bottom: 1px solid #dcdcdd;
    flex: 1 1 calc(100% / 3);
    text-align: center;

    a {
      border-right: 1px solid #dcdcdd;
      box-sizing: border-box;
      color: #222;
      display: block;
      padding: 20px 0;

      &:hover {
        text-decoration: none;
      }
    }

    &:last-child a {
      border-right: 0;
    }

    &.active,
    &:hover {
      background-color: #54c2cb;
      font-weight: bold;

      a {
        color: #fff;
      }
    }

    &.active {
      pointer-events: none;
    }
  }
}
