<section class="content-page">
  <div class="page-content">

    <!-- Navigation -->
    <div class="profit-navigation">
      <div class="nav-item" *ngFor="let menu of profitNavigation" [routerLinkActive]="'active'">
        <a [routerLink]="menu.link" (click)="settingProfit(menu.type)">{{ menu.name }}</a>
      </div>
    </div>

    <router-outlet></router-outlet>
  </div>
</section>
