<section class="content-page">
  <div class="mb-3">
    <app-cas-filter-self-order
      [sortItems]="sortItems"
      [sortSearch]="filterData | async"
      [isSelfOrder]="true"
      (eventSort)="orderEvent($event)"
      [searchConf]="searchConf"
      (eventSearch)="filterReceipt()"
    >
      <section filterForm>
        <app-form-filter-receipt [filterData]="filterData | async" (filterEvent)="filterReceipt()" isSelfOrder="true">
        </app-form-filter-receipt>
      </section>
    </app-cas-filter-self-order>
  </div>

  <div class="page-content container-fluid">
    <div class="table-responsive">
      <table class="table cas-table cas-table--head-white tbl-receipt">
        <thead>
          <tr>
            <th colspan="2">日時</th>
            <th width="300">オーダー番号</th>
            <th width="150">合計金額</th>
            <th width="110" class="text-center">会計ステータス</th>
            <th width="100"></th>
          </tr>
        </thead>

        <tbody>
          <ng-container *ngFor="let key of receiptsKey">
            <tr *ngFor="let receipt of receipts[key]; let sIdx = index">
              <td [rowSpan]="receipts[key].length"
                *ngIf="sIdx === 0"
                class="tbl-receipt__date"
                [ngClass]="{'align-text-top': receipts[key].length > 1}">
                {{ key }}
              </td>
              <td class="tbl-receipt__time">{{ receipt.start_at_time_display }} ~ {{ receipt.end_time }}</td>
              <td class="font-weight-bold">{{ receipt.receipt_number }}</td>
              <td>{{ receipt.total_price_include_fee_display }}</td>
              <td class="text-center">
                <div class="d-flex justify-content-around align-items-center" *ngIf="receipt.is_paid">
                  <span class="cas-label cas-label--dark-grey">会計済</span>
                </div>

                <div class="d-flex justify-content-around align-items-center" *ngIf="receipt.isRefund">
                  <span class="cas-label cas-label--dark-grey">払い戻し</span>
                </div>
              </td>
              <td class="text-right">
                <button class="btn cas-btn btn-warning px-3 font-weight-normal"
                  (click)="openReceiptDetail(receipt.id)">
                  詳細
                </button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>

    <div class="text-center" *ngIf="!receiptsKey.length && (!isLoading || !isLoadDetail)">
      データが見つかりません
    </div>

    <div class="loader--row" *ngIf="isLoading || isLoadDetail">
      <div class="lds-ripple">
        <div></div>
        <div></div>
      </div>
    </div>

    <div class="cas-pagination" [ngClass]="{ 'd-none': isLoading || isLoadDetail }">
      <app-pagination
        *ngIf="pagination.isPagination"
        class="d-flex justify-content-center"
        [boundaryLinks]="true"
        [totalItems]="pagination.total"
        [itemsPerPage]="pagination.per_page"
        [maxSize]="5"
        [(ngModel)]="pagination.current_page"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;"
      ></app-pagination>
    </div>
  </div>
</section>
