<form novalidate>
  <div class="row">
    <div class="col-6 col-sm-5">
      <input type="text" class="form-control" name="RichMenuName" maxlength="255" [(ngModel)]="filterData.name" placeholder="画面名を入力">
    </div>
    <div class="col-6 col-sm-3">
      <app-cas-ng-select
        [items]="settings"
        [clearable]="true"
        [virtualScroll]="true"
        [(ngModel)]="filterData.has_setting"
        bindLabel="label"
        bindValue="value"
        className="mi-form-ng-select"
        name="richMenuStatus"
        dropdownPosition="bottom"
        placeholder="ステータス"
      ></app-cas-ng-select>
    </div>
    <div class="col-6 col-sm-4 text-right align-self-end">
      <button type="button" class="btn btn-warning" (click)="filter()">この条件で絞込む</button>
    </div>
  </div>
</form>
