@import 'src/stylesheets/utilities/_menu-toggle';

.page-menu-create {
  .head-title--note {
    font-size: 13px;
    font-weight: 300;
  }
}

.menu-checkbox {
  align-items: center;
  display: flex;
  justify-content: space-between;

  .title {
    flex: 1 1 80%;
    font-weight: bold;
    margin-bottom: 0;
  }
}

.mi-form-check {
  padding: 0 21px;
}

.block-csv-import {
  background-color: var(--grey-lighten-2);
  padding: 9px 20px;
}
