<app-cas-dialog [title]="menu.id ? 'メニュー編集' : 'メニュー新規作成'" (close)="closeModal()">
  <section dialogContent>
    <form class="cas-form" #MenuForm="ngForm" novalidate>
      <div class="row">
        <div class="col-6">
          <app-cas-dropzone
            class="mb-4"
            [oldImage]="menu.image_url"
            [large]="true"
            [eventDropzone]="eventDropzone"
            [delete]="true"
            [error]="validation.image"
          ></app-cas-dropzone>

          <!-- Show / Hide block -->
          <div class="menu-toggle mb-2">
            <div class="toggle-text">
              <p class="title">このメニューを一覧に表示する</p>
              <p class="caption">ユーザーサイトと店舗側管理画面に表示されます</p>
            </div>
            <app-ui-switch
              name="MenuToggle"
              [(ngModel)]="menu.is_show"
              (change)="changeToogle(MENU_TYPE_TOOGLE.IS_SHOW, menu.is_show)"
              size="small-5-2"
              labelOn="表示"
              labelOff="非表示"
            ></app-ui-switch>
          </div>

          <!-- Show / Hide sold out -->
          <div class="menu-toggle mt-2 justify-content-between">
            <div class="toggle-text">
              <p class="title">このメニューを売切れにする</p>
            </div>
            <app-ui-switch
              name="MenuSoldToggle"
              [(ngModel)]="menu.is_sold_out"
              size="small-5-2"
              labelOn="売切"
              labelOff="販売中"
            ></app-ui-switch>
          </div>

          <label class="col-form-label mi-form-label">CSVインポートメニュー</label>
          <div class="block-csv-import">
            <!-- Menu Cooking Type -->
            <div class="row form-group mi-form-group">
              <label class="col-4 col-form-label mi-form-label">調理タイプ</label>
              <div class="col-8">
                <app-cas-ng-select
                  className="mi-form-ng-select"
                  name="cookingType"
                  #CookingTypeRef="ngModel"
                  [items]="cookTypes"
                  [clearable]="true"
                  [searchable]="true"
                  [appendTo]="null"
                  [dropdownPosition]="'top'"
                  [loading]="isLoadCookType"
                  [typeahead]="cookTypesInput$"
                  (scrollToEnd)="loadMoreCookingTypes()"
                  [virtualScroll]="true"
                  [(ngModel)]="menu.cooking_type"
                  placeholder="選択してください"
                  [ngClass]="{
                    'is-invalid':
                      ((CookingTypeRef.dirty || CookingTypeRef.touched) && CookingTypeRef.errors) ||
                      validation.cooking_type_id
                  }"
                  bindLabel="name"
                >
                </app-cas-ng-select>

                <div class="invalid-feedback" *ngIf="validation.cooking_type_id">{{ validation.cooking_type_id }}</div>
              </div>
            </div>

            <!-- Menu Cooking Duration -->
            <div class="row form-group mi-form-group">
              <label class="col-4 col-form-label mi-form-label">推奨調理時間</label>
              <div class="col-8">
                <app-cas-ng-select
                  className="mi-form-ng-select"
                  name="cookingDuration"
                  #CookingDurationRef="ngModel"
                  [items]="cookDurations"
                  [clearable]="true"
                  [searchable]="true"
                  [appendTo]="null"
                  [dropdownPosition]="'top'"
                  [loading]="isLoadCookDuration"
                  [typeahead]="cookDurationsInput$"
                  (scrollToEnd)="loadMoreCookingDurations()"
                  [virtualScroll]="true"
                  [(ngModel)]="menu.cooking_duration"
                  placeholder="選択してください"
                  [ngClass]="{
                    'is-invalid':
                      ((CookingDurationRef.dirty || CookingDurationRef.touched) && CookingDurationRef.errors) ||
                      validation.cooking_duration_id
                  }"
                  bindLabel="duration_display"
                >
                </app-cas-ng-select>

                <div class="invalid-feedback" *ngIf="validation.cooking_duration_id">
                  {{ validation.cooking_duration_id }}
                </div>
              </div>
            </div>

            <!-- Menu Sub Statuses -->
            <div class="row form-group mi-form-group">
              <label class="col-4 col-form-label mi-form-label">特記</label>
              <div class="col-8">
                <app-cas-ng-select
                  className="mi-form-ng-select ng-select-show-check"
                  name="subStatuses"
                  #SubStatusRef="ngModel"
                  [items]="statuses"
                  [clearable]="true"
                  [searchable]="true"
                  [multiple]="true"
                  isTemplateSpan="true"
                  sliceMax="1"
                  [appendTo]="null"
                  [closeOnSelect]="false"
                  [dropdownPosition]="'top'"
                  [loading]="isLoadStatus"
                  [typeahead]="statusesInput$"
                  (scrollToEnd)="loadMoreSubStatuses()"
                  [virtualScroll]="true"
                  [(ngModel)]="menu.sub_statuses"
                  placeholder="-"
                  [ngClass]="{
                    'is-invalid':
                      ((SubStatusRef.dirty || SubStatusRef.touched) && SubStatusRef.errors) || validation.substatus_id
                  }"
                  bindLabel="name"
                >
                </app-cas-ng-select>

                <div class="invalid-feedback" *ngIf="validation.substatus_id">{{ validation.substatus_id }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <!-- Menu Name -->
          <div class="form-group mi-form-group">
            <label class="col-form-label mi-form-label required">メニューID / メニュー名</label>
            <app-input-name-with-id
              name="ordinal_input"
              [(ngModel)]="ordinalInput"
              (ngModelChange)="onChangeOrdinal()"
              #OrdinalInputRef="ngModel"
              namePlaceholder="メニュー名を入力してください"
              nameRequiredErrorMsg="メニュー名を入力してください"
              nameMaxlength="255"
              [numberUniqueErrorMsg]="validation.ordinal_number"
              [validatorError]="validation.name" [isMenuName]="true"
              required>
            </app-input-name-with-id>
          </div>

          <!-- Menu Multiple Name -->
          <div class="form-group mi-form-group">
            <label class="col-form-label mi-form-label required">多言語対応</label>
            <app-cas-multiple-language
              *ngFor="let lang of languages; let idx = index"
              name="lang_{{lang.type}}"
              [(ngModel)]="lang"
              [languages]="languagesArr"
              nameRequiredErrorMsg="メニュー名を入力してください"
              [validatorError]="validation.nameLang"
              class="mb-2"
            ></app-cas-multiple-language>
          </div>

          <!-- Menu Internal Name -->
          <div class="form-group mi-form-group">
            <label class="col-form-label mi-form-label required">通名</label>
            <input
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  ((InternalNameRef.dirty || InternalNameRef.touched) && InternalNameRef.errors) ||
                  validation.internal_name
              }"
              [(ngModel)]="menu.internal_name"
              #InternalNameRef="ngModel"
              name="internal_name"
              rows="3"
              placeholder="通名を入力してください"
              (input)="validatorReset('internal_name')"
              appSpaceValidation
              maxlength="12"
              required
            />
            <div
              class="invalid-feedback"
              *ngIf="(InternalNameRef.dirty || InternalNameRef.touched) && InternalNameRef.errors?.required"
            >
              通名は必須です
            </div>

            <div
              class="invalid-feedback"
              *ngIf="(InternalNameRef.dirty || InternalNameRef.touched) && InternalNameRef.errors?.maxlength"
            >
              通名は12文字以下で入力してください
            </div>

            <div
              class="invalid-feedback"
              *ngIf="
                (InternalNameRef.dirty || InternalNameRef.touched) &&
                InternalNameRef.errors?.appSpaceValidation &&
                !InternalNameRef.errors?.required
              "
            >
              空白のみを入力することはできません
            </div>

            <div class="invalid-feedback" *ngIf="validation.internal_name">{{ validation.internal_name }}</div>
          </div>

          <!-- Menu Categories -->
          <div class="form-group mi-form-group">
            <label class="col-form-label mi-form-label required">カテゴリー</label>
            <app-cas-ng-select
              className="mi-form-ng-select"
              name="category"
              #CategoryRef="ngModel"
              [items]="categories"
              [clearable]="true"
              [searchable]="true"
              [loading]="isLoadCategory"
              [typeahead]="categoriesInput$"
              (scrollToEnd)="loadMoreCategories()"
              [virtualScroll]="true"
              [(ngModel)]="menu.item_category"
              placeholder="選択してください"
              [ngClass]="{
                'is-invalid':
                  ((CategoryRef.dirty || CategoryRef.touched) && CategoryRef.errors) || validation.category_id
              }"
              bindLabel="name"
              required
            >
            </app-cas-ng-select>
            <div
              class="invalid-feedback"
              *ngIf="(CategoryRef.dirty || CategoryRef.touched) && CategoryRef.errors?.required"
            >
              カテゴリーは必須です
            </div>

            <div class="invalid-feedback" *ngIf="validation.category_id">{{ validation.category_id }}</div>
          </div>

          <!-- Menu Types -->
          <div class="form-group mi-form-group">
            <label class="col-form-label mi-form-label required">種別</label>
            <input type="text" class="form-control" disabled [value]="menu.item_category?.item_type?.name || '-'" />
          </div>

          <!-- Menu Price -->
          <div class="form-group mi-form-group">
            <label class="col-form-label mi-form-label required">料金</label>
            <div class="mi-form__price-group">
              <app-digit-formater
                class="price-input"
                [(ngModel)]="menu.price"
                name="price"
                [max]="999999999"
                (ngModelChange)="validatorReset('price')"
                placeholder="1,200"
                [required]="true && '料金は必須です'"
                [validator]="validation.price"
              >
              </app-digit-formater>
              <p class="price-symbol">円</p>
            </div>
          </div>

          <!-- Menu options -->
          <div class="form-group mi-form-group">
            <label class="col-form-label mi-form-label required">オプション</label>
            <app-cas-ng-select
              className="mi-form-ng-select mi-form-ng-select__scroll"
              name="menu-options"
              #MenuOptionsRef="ngModel"
              [items]="menuOptions"
              [clearable]="true"
              [searchable]="true"
              [multiple]="true"
              [closeOnSelect]="false"
              (scrollToEnd)="loadMoreOptions()"
              [virtualScroll]="true"
              [dropdownPosition]="'top'"
              [appendTo]="null"
              [loading]="isLoadMenuOption"
              [typeahead]="menuOptionsInput$"
              [(ngModel)]="menu.menu_options"
              placeholder="選択してください"
              [ngClass]="{
                'is-invalid':
                  ((MenuOptionsRef.dirty || MenuOptionsRef.touched) && MenuOptionsRef.errors) ||
                  validation.menu_option_ids ||
                  validationOptions
              }"
              bindLabel="nameDisplay"
              [maxSelectedItems]="10"
            >
            </app-cas-ng-select>

            <div class="invalid-feedback" *ngIf="validationOptions">
              メニュー料金が0円以下となる為、別のオプションを設定して下さい
            </div>

            <div class="invalid-feedback" *ngIf="validation.menu_option_ids">{{ validation.menu_option_ids }}</div>
          </div>

          <div class="form-group mi-form-group">
            <div class="menu-checkbox">
              <div>
                <p class="title">コース専用メニューとして登録する</p>
                <span class="cas-text--light-gray font-size-15">ユーザー・店舗注文画面には表示されません</span>
              </div>
              <app-ui-switch
                (change)="changeToogle(MENU_TYPE_TOOGLE.ONLY_COURSE, menu.only_course)"
                className="ui-switch--short"
                name="MenuOnlyCourse"
                [(ngModel)]="menu.only_course"
              ></app-ui-switch>
            </div>
          </div>

          <div class="form-group mi-form-group">
            <div class="menu-checkbox">
              <p class="title">おすすめメニューに登録する</p>
              <app-ui-switch
                className="ui-switch--short"
                (change)="changeToogle(MENU_TYPE_TOOGLE.RECOMMEND, menu.recommend)"
                name="MenuRecommend"
                [(ngModel)]="menu.recommend"
              ></app-ui-switch>
            </div>
          </div>

          <div class="form-group mi-form-group">
            <div class="menu-checkbox">
              <p class="title">放題専用メニューとして登録する</p>
              <app-ui-switch
                (change)="changeToogle(MENU_TYPE_TOOGLE.ONLY_BUFFET, menu.only_buffet)"
                className="ui-switch--short"
                name="MenuOnlyBuffet"
                [(ngModel)]="menu.only_buffet"
              ></app-ui-switch>
            </div>
          </div>

          <!-- Menu Speed -->
          <div class="form-group mi-form-group">
            <div class="menu-checkbox">
              <div>
                <p class="title">スピードメニューとして登録する</p>
              </div>
              <app-ui-switch
                className="ui-switch--short"
                name="MenuIsSpeed"
                [(ngModel)]="menu.is_speed"
              ></app-ui-switch>
            </div>
          </div>

          <!-- Menu Take Out -->
          <div class="form-group mi-form-group">
            <div class="menu-checkbox">
              <div>
                <p class="title">お持ち帰りメニューとして登録する</p>
              </div>
              <app-ui-switch
                className="ui-switch--short"
                name="MenuAllowTakeOut"
                (change)="changeToogle(MENU_TYPE_TOOGLE.ALLOW_TAKE_OUT, menu.allow_take_out)"
                [(ngModel)]="menu.allow_take_out"></app-ui-switch>
            </div>
          </div>

        </div>
      </div>
    </form>
  </section>

  <section class="cas-dialog__btn-group justify-content-between pr-4" dialogAction>
    <button type="button" class="btn btn-md btn-secondary btn-border btn-mw--lg mr-3"
      (click)="closeModal()"
      [disabled]="isLoading">キャンセル</button>

    <div>
      <button
        type="button"
        class="btn btn-md btn-default btn-border btn-mw--lg mr-3"
        [disabled]="MenuForm.form.invalid || isLoading"
        *ngIf="isEdit"
        (click)="deleteMenu()"
      >
        削除する
      </button>
      <button
        type="button"
        class="btn btn-md btn-warning btn-mw--lg"
        [disabled]="MenuForm.form.invalid || isLoading || validationImg || validationOptions"
        (click)="submitMenu()">
        {{ menu && menu.id ? '保存する' : '作成する' }}
      </button>
    </div>
  </section>
</app-cas-dialog>
