.cashless-theme {
  box-shadow: none;

  // Styles for Arrow
  &::before {
    content: '';
    display: none;
    position: absolute;
  }

  &.calendar-date-picker {
    margin-top: 40px;

    &::before {
      border-bottom: 18px solid #707070;
      border-left: 18px solid transparent;
      border-right: 18px solid transparent;
      display: block;
      left: calc(50% - 18px);
      top: -16px;
    }
  }

  &.resv-date-picker {
    margin-right: 25px;

    &::before {
      border-bottom: 18px solid transparent;
      border-left: 18px solid #707070;
      border-top: 18px solid transparent;
      display: block;
      right: -17px;
      top: 7px;
    }
  }

  .bs-datepicker-container {
    padding: 0;
  }

  .bs-datepicker-head {
    background-color: #707070;
  }

  .bs-datepicker-body {
    border: 2px solid #707070;
    padding: 0;

    table.days {
      th {
        background-color: #e5e5e5;
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
        box-sizing: border-box;
        color: #707070;
        font-size: 1rem;
        font-weight: 700;
        height: 46px;
        width: 56px;
      }

      th:first-child,
      td:first-child span:not(.is-other-month) {
        color: #ed1212;

        &.disabled,
        &.day-off {
          color: #fab7b7;
        }
      }

      th:last-child,
      td:last-child span {
        border-right: 0;

        &:not(.is-other-month) {
          color: #1a12ed;

          &.disabled,
          &.day-off {
            color: #bab7fa;
          }
        }
      }

      td {
        span {
          border-radius: 0;
          border-right: 1px solid #fff;
          color: #222;
          font-size: 1.25rem;
          font-weight: 700;
          height: 56px;
          line-height: 56px;
          width: 56px;

          &.is-other-month {
            background-color: #f7f7f7;
            border-right: #f7f7f7;
            color: rgba(0, 0, 0, 0.25);
          }

          &:focus {
            box-shadow: none;
            outline: none;
          }

          &:hover {
            background-color: #e9edf0;
            cursor: pointer;
            transition: 0s;
          }

          &.selected {
            background-color: #f59716;
            color: #fff !important;
          }

          &.day-off {
            color: rgba(0, 0, 0, 0.25);

            &::before {
              content: '休';
              font-size: 11px;
              top: 16px;
              z-index: 1;
            }
          }

          &.disabled {
            color: rgba(0, 0, 0, 0.25);
          }
        }
      }
    }
  }

  // style for days view
  bs-days-calendar-view {
    .bs-datepicker-head {
      > * {
        display: flex;
      }

      button:nth-child(2) {
        margin-right: 90px;
        order: 1;
      }

      button:nth-child(3) {
        margin-left: 75px;
        margin-right: 15px;
        position: relative;

        &::after {
          content: '年';
        }
      }

      .next {
        order: 1;
      }
    }
  }
}

// TODO: apply this styles for all the calendars
.calendar-date-picker {
  .day-off::before {
    content: '休';
    font-size: 11px;
    top: 16px;
  }
}
