app-cas-ng-select {
  &.is-invalid {
    .ng-select .ng-select-container {
      border-color: #ed1212;
    }

    & ~ .invalid-feedback {
      display: block;
    }
  }
}

.ng-select {
  .ng-select-container {
    &:hover {
      box-shadow: none;
    }
  }

  .ng-dropdown-panel .ng-dropdown-header {
    .form-control {
      height: calc(2.763rem + 2px);
    }
  }
}

.ng-select.ng-select-single {
  .ng-select-container {
    height: $input-height;
  }
}

.ng-select.ng-select-multiple {
  .ng-select-container {
    .ng-value-container {
      min-height: 2.7rem;

      .ng-placeholder {
        top: 10px;
      }

      .ng-value {
        .ng-value-label,
        .ng-value-icon {
          padding: 2px 5px;
        }
      }
    }
  }
}

.ng-select.ng-select-show-check {
  .ng-dropdown-panel {
    .ng-option {
      padding-left: 40px;
      position: relative;

      &::before {
        background-color: #fff;
        border: 1px solid #dedede;
        border-radius: 2px;
        content: '';
        height: 24px;
        left: 8px;
        position: absolute;
        top: 8px;
        width: 24px;
      }

      &.ng-option-selected {
        &::before {
          background-color: #c3ed12;
        }
      }

      &::after {
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        border-color: #fff;
        border-radius: 0;
        border-style: solid;
        border-width: 0 3px 3px 0;
        content: '';
        display: block;
        height: 15px;
        left: 17px;
        position: absolute;
        top: 11px;
        transform: rotate(45deg);
        width: 7px;
      }
    }
  }
}
