<div class="cas-modal resv-modal m-0">
  <div class="modal-header">
    <h5 class="cas-modal__title text-center w-100 font-weight-bold">ご予約内容</h5>
  </div>
  <div class="modal-body pb-0">
    <div class="d-flex justify-content-between">
      <label class="resv-label font-size-16">
        ご予約内容
      </label>
      <span class="font-size-12 w-50 cas-text--pre-line text-right">
        受付日：{{ resv.start_at_form_display }}
        <span class="pl-2">担当:{{ receptionist ? receptionist.name : 'なし' }}</span>
      </span>
    </div>

    <div class="resv-line"></div>
    <div class="resv-section">
      <div class="mb-3">
        <span class="font-size-18 mr-2">{{ resv.start_at_form | date: 'yyyy' }}年</span>
        <span class="font-size-30 font-weight-bold">{{ resv.start_at_form | date: 'MM' }}</span>
        <span class="font-size-18 font-weight-bold mr-2">月</span>
        <span class="font-size-30 font-weight-bold">{{ resv.start_at_form | date: 'dd' }}</span>
        <span class="font-size-18 font-weight-bold mr-2">日</span>
        <span class="font-size-19 font-weight-bold mr-4" *ngIf="resv.start_at_form">({{ resv.start_week_day }})</span>
        <span class="font-size-30 font-weight-bold mr-3">{{ resv.start_at_form | date: 'HH:mm' }}</span>
        <span class="font-size-30 font-weight-bold">{{ resv.quantity }}</span>
        <span class="font-size-18 font-weight-bold">名</span>
        <span class="font-size-14 ml-2" *ngIf="resv.has_children">(お子様含む)</span>
      </div>
      <div class="mb-3">
        <div class="d-flex justify-content-between">
          <div class="">
            <span class="font-size-34 font-weight-bold mr-2 cas-text--pre-line">{{ resv.resv_name_display }}</span>
            <span class="font-size-22 font-weight-bold">様</span>
          </div>
          <button
            type="button"
            class="btn btn-lg btn-secondary btn-resv"
            aria-label="Close"
            (click)="backToEdit()"
            [disabled]="isLoading"
          >
            予約内容を変更<i class="fa fa-angle-right ml-1"></i>
          </button>
        </div>
      </div>
      <div class="row align-items-center">
        <label class="col-3 col-lg-2 mb-0 resv-label">電話番号</label>
        <div class="col-9 col-lg-10">
          <div class="d-flex align-items-center">
            <span class="font-size-28">{{ resv.client_user?.phone }}</span>
            <span class="badge badge-secondary badge-pill ml-2 pt-1 pb-1 user-status">{{ resv?.client_user?.status_string }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="resv-line resv-line--lighter"></div>
    <div class="resv-section">
      <div class="row mb-2">
        <label class="col-3 col-lg-2 resv-label">座席</label>
        <div class="col-9 col-lg-10 font-weight-bold">
          <span *ngFor="let table of resv.tables; let isLast=last" [attr.title]="table.code">
            {{table.code}}{{isLast ? '' : '、'}}
          </span>
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-3 col-lg-2 resv-label">
          ご注文内容
        </label>
        <div class="col-9 col-lg-10">
          <div class="mb-1" *ngFor="let item of resv.all_selection_string">{{ item }}</div>

          <span *ngIf="!resv.all_selection_string.length">-</span>
        </div>
      </div>
      <div class="row mb-2" *ngIf="resv.coupon">
        <label class="col-3 col-lg-2 resv-label"> クーポン </label>
        <div class="col-9 col-lg-10">{{ resv.coupon?.name || '-' }}</div>
      </div>
      <div class="row mb-2">
        <label class="col-3 col-lg-2 resv-label">
          ご利用時間
        </label>
        <div class="col-9 col-lg-10">{{ resv.bookingDurationString || '-' }}</div>
      </div>
      <div class="row mb-2">
        <label class="col-3 col-lg-2 resv-label">
          合計金額
        </label>
        <div class="col-9 col-lg-10">{{ resv.total_price_display }}円</div>
      </div>
      <div class="row mb-2">
        <label class="col-3 col-lg-2 resv-label">
          予約メモ
        </label>
        <div class="col-9 col-lg-10">
          <p class="mb-0 cas-text--pre-line cas-scroll memo-scroll">{{ resv.memo || '-' }}</p>
        </div>
      </div>
    </div>
    <div class="resv-line"></div>
    <div class="resv-section">
      <div class="row">
        <div class="col-3 col-lg-2 cas-text--gray">お客さまメモ</div>
        <div class="col-9 col-lg-10">
          <p class="mb-0 cas-text--pre-line cas-scroll memo-scroll">{{ resv.client_user.memo || '-'}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer justify-content-between">
    <button
      type="button"
      class="btn btn-lg btn-outline-primary"
      aria-label="Close"
      (click)="closeModal()"
      [disabled]="isLoading">
      キャンセル
    </button>

    <button
      type="button"
      class="btn btn-lg btn-primary"
      aria-label="Confirm Create Reservation"
      (click)="confirmCreateResv()"
      [disabled]="isLoading">
      登録
    </button>
  </div>
</div>
