@import 'src/stylesheets/mixins/index';

.resv-modal {
  .btn-resv {
    border: 1px solid var(--grey-darken-0);
    font-size: 1rem;
    font-weight: normal;
  }

  .modal-footer {
    .btn {
      flex-basis: 0;
      flex-grow: 0.2;
    }
  }

  .memo-scroll {
    max-height: pixel-to-rem(80);
    overflow: scroll;
  }

  .table-item {
    max-width: pixel-to-rem(150);
  }

  .user-status {
    font-size: 1rem;
  }
}
