<section class="content-page">
  <div class="page-head page-head--space-between">
    <h2 class="head-title">コース一覧 <span class="sub-title">( 合計{{ pagination.total }}件 )</span></h2>
    <div class="head-action">
<!--      <button type="button"-->
<!--        class="btn btn-secondary btn-border page-head-btn&#45;&#45;secondary"-->
<!--        (click)="openModalSettingChargeFee()">席料設定</button>-->
      <button type="button" (click)="openDialogCoures()" class="btn page-head-btn btn-warning">新規追加</button>
    </div>
  </div>

  <app-cas-filter [sortItems]="courseOrder" (eventSort)="sortCourse($event)">
    <app-form-filter-course filterForm (filterEvent)="courseFilter($event)" filterSubmitText="この条件で絞り込む"></app-form-filter-course>
  </app-cas-filter>

  <div class="page-content container-fluid">
    <div class="row cas-page--setting__list">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3" *ngFor="let course of courses">
        <app-cas-card-item
          [image]="course.image_url"
          [content]="course.name"
          [is_show]="course.is_show"
          [price]="course.price"
          (eventClick)="openDialogCoures(course)"></app-cas-card-item>
      </div>
    </div>

    <div class="text-center" *ngIf="!courses.length && !isLoading">
      データが見つかりません
    </div>

    <div class="loader--row" *ngIf="isLoading">
      <div class="lds-ripple">
        <div></div><div></div>
      </div>
    </div>

    <div class="cas-pagination" [ngClass]="{ 'd-none': isLoading }">
      <app-pagination
        *ngIf="pagination.isPagination"
        class="d-flex justify-content-center"
        [boundaryLinks]="true"
        [totalItems]="pagination.total"
        [itemsPerPage]="pagination.per_page"
        [maxSize]="5"
        [(ngModel)]="pagination.current_page"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;"
      ></app-pagination>
    </div>
  </div>
</section>
