.cas-table {
  .course-table {
    td,
    th {
      &:nth-child(1) {
        min-width: 270px;
      }

      &:nth-child(2) {
        min-width: 140px;
      }

      &:nth-child(3) {
        min-width: 85px;
      }

      &:last-child {
        min-width: 55px;
      }
    }
  }
}
