<div class="cas-modal">
  <div class="modal-header">
    <h5 class="cas-modal__title text-center w-100 font-weight-bold">ウォークイン新規作成</h5>
    <button type="button" class="rounded-circle btn btn-default cas-modal__close"
      aria-label="Close" (click)="closeModal()">
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
  </div>
  <div class="modal-body">
    <form class="fr-resv-walkin" #WalkinForm="ngForm" autocomplete="off" novalidate>

      <!-- Block input phone -->
      <div class="row justify-content-between mb-3">
        <label class="col-3 col-form-label mi-form-label">電話番号</label>

        <div class="col-6">
          <input type="text" class="form-control cas-fr-control cas-fr-small"
            [ngClass]="{ 'is-invalid': ((Phone.dirty || Phone.touched) && Phone.errors) }"
            name="phone"
            #Phone="ngModel"
            [(ngModel)]="walkin.client_user.phone"
            minlength="10"
            maxlength="11"
            OnlyNumeric
            inputmode="numeric"
            [pattern]="rules.numericMode"
            appPhoneValidation
            placeholder="電話番号">

          <div class="invalid-feedback"
            [hidden]="!((Phone.dirty || Phone.touched) && (Phone.errors?.minlength && !Phone.errors?.appPhoneValidation))">
            電話番号は10文字以上で入力してください
          </div>

          <div class="invalid-feedback"
            [hidden]="!((Phone.dirty || Phone.touched) && Phone.errors?.appPhoneValidation)">
            半角数字10文字以上11文字以下で、0から始まる番号（ハイフンなし）を入力してください
          </div>
        </div>

        <!-- Check user exist -->
        <div class="col-3">
          <button class="btn btn-primary w-100"
            [disabled]="Phone.errors || !walkin.client_user.phone"
            (click)="onLookupPhone()"
            type="button">利用確認</button>
        </div>
      </div>

      <!-- Block input name -->
      <div class="row mb-3">
        <label class="col-3 col-form-label mi-form-label">顧客名：</label>
        <div class="col-8">
          <input type="text" class="form-control cas-fr-control cas-fr-small"
            [ngClass]="{ 'is-invalid': Name.dirty && Name.errors }"
            name="name"
            [(ngModel)]="walkin.client_user.name"
            #Name="ngModel"
            maxlength="255"
            placeholder="顧客名"
            autocomplete="off"
            appSpaceValidation>

          <div class="invalid-feedback"
            *ngIf="(Name.dirty || Name.touched) && Name.errors?.appSpaceValidation">
            空白のみを入力することはできません
          </div>
        </div>
      </div>

      <div class="row align-items-center mb-3">
        <label class="col-3 col-form-label mi-form-label required">開始時間</label>

        <div class="col-6">
          <app-time-picker
            class="cas-fr-time-picker cas-fr-small"
            [ngClass]="{ 'is-invalid': isErrorOutOfRange || validator.start_at }"
            name="start_time"
            [minTime]="minTime"
            [maxTime]="maxTime"
            [(ngModel)]="walkin.start_time"
            minuteStep="1"
            [isInValid]="validator.start_at"
            [validateMsg]="validator.start_at"
            placeholder="開始時間"
            [isLimitedTimeRange]="true"
            readonly>
          </app-time-picker>

          <div class="d-block invalid-feedback"
            *ngIf="isErrorOutOfRange">
            予約時間は({{ clientInfo.time_open }}~{{ clientInfo.time_close }})の範囲でなければなりません
          </div>
        </div>

        <div class="col-3">
          <button class="btn btn-primary w-100"
            [disabled]="!walkin.start_time || isLoadTable"
            (click)="onCheckTables()"
            type="button">利用確認</button>
        </div>
      </div>

      <div class="row align-items-center mb-3">
        <label class="col-3 col-form-label mi-form-label required">人数</label>

        <div class="col-8">
          <app-cas-ng-select
            [items]="quantities"
            [closeOnSelect]="true"
            [clearable]="false"
            [loading]="false"
            placeholder="人数"
            className="mi-form-ng-select cas-fr-small"
            name="numberOfPeople"
            [(ngModel)]="walkin.quantity"
            bindLabel="label"
            bindValue="value"
            required>
          </app-cas-ng-select>
        </div>
      </div>

      <div class="row align-items-center mb-3">
        <label class="col-3 col-form-label mi-form-label required">テーブル</label>
        <div class="col-8">
          <app-cas-ng-select
            [items]="tables"
            [closeOnSelect]="false"
            [clearable]="false"
            [loading]="isLoadTable"
            [multiple]="true"
            placeholder="テーブル名"
            className="mi-form-ng-select cas-fr-small"
            name="table"
            [(ngModel)]="walkin.tables"
            #Table="ngModel"
            bindLabel="name"
            isTemplateSpan="true"
            sliceMax="1"
            required>
          </app-cas-ng-select>
        </div>
      </div>

      <div class="row justify-content-between mb-3">
        <label class="col-3 col-form-label mi-form-label">メモ：</label>

        <div class="col-9">
          <textarea class="form-control cas-fr-control"
            name="memo"
            placeholder="メモ"
            rows="4" maxlength="3000"
            [(ngModel)]="walkin.memo"></textarea>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer cas-modal__footer">
    <button type="button"
      class="btn cas-btn"
      aria-label="Close" (click)="closeModal()"
      [disabled]="isLoading">
      キャンセル
    </button>

    <button type="button"
      class="btn cas-btn btn-primary"
      aria-label="Create Walkin Reservation"
      (click)="createWalkinResv()"
      [disabled]="isLoading || WalkinForm.form.invalid || isErrorOutOfRange">
      設定する
    </button>
  </div>
</div>
