.resv-history-filter {
  &_datepicker-start {
    width: calc((100% - 72px - 32px) / 2);
  }

  &_datepicker-create {
    width: calc((100% - 104px - 32px) / 2);
  }

  .form-control {
    font-size: 0.75rem;
    height: 2rem;
  }
}
