<form novalidate #FilterResvUpdateHistoryForm="ngForm" class="resv-history-filter">
  <div class="row mb-2">
    <div class="col-sm-5">
      <div class="form-inline">
        <label class="mr-2 font-weight-bold">予約日時</label>
        <app-ngx-datepicker
          class="datepicker resv-history-filter_datepicker-start"
          [(ngModel)]="filterTerm.start_at_gte"
          name="start_at_gte"
          placeholder="2019年 4月 9日"
          placement="right"
          [isClearPicker]="true">
        </app-ngx-datepicker>
        <span class="text-center mx-2">~</span>
        <app-ngx-datepicker
          class="datepicker resv-history-filter_datepicker-start"
          [(ngModel)]="filterTerm.start_at_lte"
          name="start_at_lte"
          placeholder="2019年 4月 9日"
          placement="bottom"
          [isClearPicker]="true">
        </app-ngx-datepicker>
      </div>
    </div>

    <div class="col-sm-5">
      <div class="form-inline">
        <label class="mr-2 font-weight-bold">予約更新日時</label>
        <app-ngx-datepicker
          class="datepicker resv-history-filter_datepicker-create"
          [(ngModel)]="filterTerm.created_at_gte"
          name="created_at_gte"
          placeholder="2019年 4月 9日"
          placement="bottom"
          [isClearPicker]="true">
        </app-ngx-datepicker>
        <span class="text-center mx-2">~</span>
        <app-ngx-datepicker
          class="datepicker resv-history-filter_datepicker-create"
          [(ngModel)]="filterTerm.created_at_lte"
          name="created_at_lte"
          placeholder="2019年 4月 9日"
          placement="left"
          [isClearPicker]="true">
        </app-ngx-datepicker>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-5">
      <input type="text"
        class="form-control"
        name="client_member_name"
        [(ngModel)]="filterTerm.client_member_name"
        maxlength="255"
        placeholder="実行者名で絞込む">
    </div>

    <div class="col-sm-5">
      <input type="text"
        class="form-control"
        name="client_user_name"
        [(ngModel)]="filterTerm.client_user_name"
        maxlength="255"
        placeholder="予約者名で絞込む">
    </div>

    <div class="col-sm-2 text-right align-self-end">
      <button type="submit"
        class="btn btn-warning"
        (click)="filterResvUpdateHistory()"
        [disabled]="disabled || !FilterResvUpdateHistoryForm.form.valid">この条件で絞込む</button>
    </div>
  </div>
</form>
