<div class="cas-modal m-0">
  <div class="modal-header pt-3 pb-3">
    <h5 class="mb-0 cas-modal__title text-center w-100 font-weight-bold">着信履歴</h5>
  </div>
  <div class="modal-body pr-3 pl-3">
    <div *ngIf="missedCalls && !isLoading">
      <p>{{ missedCalls.length }}件</p>
      <ul class="res-missed-call list-group list-group-flush">
        <li class="list-group-item pr-0 pl-0" *ngFor="let missedCall of missedCalls">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-7">
                  <small class="text-muted">{{ missedCall.start_at_display_intl }}</small>
                  <div class="mb-4 d-flex align-items-center mt-1">
                    <div class="client-name mr-3 d-flex">
                      <span
                        class="mb-0 h4 text-truncate font-weight-bold d-block"
                        [title]="missedCall.client_user.name_display"
                      >
                        {{ missedCall.client_user.name_display }}
                      </span>
                      <span class="ml-1 font-weight-bold">様</span>
                    </div>
                    <span class="cas-text--info h5 mb-0 client-name">{{ missedCall.phone }}</span>
                  </div>
                </div>

                <div class="col-2 px-0">
                  <button
                    type="button"
                    class="btn btn-block btn-outline-primary"
                    aria-label="Solved Missed Call"
                    (click)="solvedMissedCall(missedCall.phone, true)"
                  >
                    対応済にする
                  </button>
                </div>

                <div class="col-3">
                  <button
                    type="button"
                    class="btn btn-block btn-primary"
                    aria-label="Edit Reservation"
                    (click)="createOrEditResv(missedCall)"
                    [disabled]="isSolving"
                  >
                    {{ missedCall.client_user.has_upcoming_resv ? '予約を更新' : '予約を作成' }}
                  </button>
                </div>
              </div>
            </div>

            <div class="col-12" *ngIf="!missedCall.client_user.is_new">
              <div class="client-memo p-3">
                <p class="font-weight-bold mb-0">顧客メモ</p>
                <textarea
                  class="form-control-plaintext no-resize cas-scroll py-0"
                  [ngClass]="{ 'd-none': !missedCall.client_user.memo }"
                  readonly
                  rows="2"
                  [ngModel]="missedCall.client_user.memo"
                ></textarea>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="text-center text-muted font-md cas-position--center w-100" *ngIf="!missedCalls.length && !isLoading">
      データが見つかりませんでした
    </div>

    <div class="loader--center" *ngIf="isLoading">
      <div class="lds-ripple">
        <div></div>
        <div></div>
      </div>
    </div>

    <div class="cas-pagination" [ngClass]="{ 'd-none': isLoading }">
      <app-pagination
        *ngIf="pagination.isPagination"
        class="d-flex justify-content-center"
        [boundaryLinks]="true"
        [totalItems]="pagination.total"
        [itemsPerPage]="pagination.per_page"
        [(ngModel)]="pagination.current_page"
        [maxSize]="5"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;"
      ></app-pagination>
    </div>
  </div>

  <div class="modal-footer justify-content-end">
    <button
      type="button"
      class="btn btn-lg btn-outline-primary"
      aria-label="Close modal missed call"
      (click)="closeModal()"
    >
      閉じる
    </button>
  </div>
</div>
