.cas-modal {
  .modal {
    &-header {
      background-color: var(--yellow-accent);
    }

    &-body {
      color: var(--grey-darken-0);
      min-height: 100px;
    }
  }

  .client {
    &-name {
      line-height: 2rem;
      max-width: calc(100% - 135px);
    }

    &-phone {
      width: 30px;
    }

    &-memo {
      background-color: #fafafa;

      p,
      textarea {
        color: #707070;
      }
    }
  }
}

.res-missed-call {
  height: calc(100vh - 350px);
  overflow-x: hidden;
  overflow-y: auto;
}
