<section class="table-responsive">
  <table class="table cas-table">
    <thead>
      <ng-content *ngTemplateOutlet="theadTemplate ? theadTemplate : defaultThead"></ng-content>
    </thead>
    <ng-content></ng-content>
  </table>
</section>

<ng-template #defaultThead>
  <tr>
    <th
      *ngFor="let header of headers"
      [attr.width]="header.width"
      [attr.class]="header.class"
      [innerHTML]="header.name"
    ></th>
  </tr>
</ng-template>
