<section class="cas-layout" #CasLayout>
  <app-cas-header (toggleEvent)="toggleSideNav()"></app-cas-header>
  <app-cas-sidenav></app-cas-sidenav>

  <div class="cas-content">
    <router-outlet></router-outlet>
  </div>
</section>
