.table-analysis-access .cas-table {
  th,
  td {
    border: 1px solid #dbdbdb !important;
    padding: 0.2rem 0.75rem;
  }

  th {
    background-color: #e9e9e9;
    font-size: 0.625rem !important;
  }

  td {
    font-size: 0.75rem !important;
  }
}

.cas-pagination {
  .page-item {
    margin-bottom: 0;
  }
}

.analysis {
  &-table {
    padding: 15px 18px;
  }

  &-filter {
    width: 260px;
  }

  &-action {
    align-items: center;
    display: flex;

    p {
      color: #707070;
      font-size: 12px;
    }
  }
}
