<section class="content-page">
  <!-- Analysis Header -->
  <div class="analysis-header">
    <h1 class="title">出入分析</h1>

    <!-- Analysis Filter -->
    <div class="analysis-filter">
      <app-ngx-datepicker-filter [(ngModel)]="filterDate" (change)="filterAnalysis()" [disabled]="isLoading">
      </app-ngx-datepicker-filter>
    </div>
  </div>

  <!-- Analysis Content -->
  <div class="page-content container-fluid analysis-content mb-3">
    <div class="analysis-action" [ngClass]="{ 'justify-content-end': !latestUpdateTime, 'justify-content-between': latestUpdateTime }" >
      <p class="mb-0" *ngIf="latestUpdateTime">最終更新日時: {{ latestUpdateTime }}</p>
      <button class="btn btn-secondary btn-border btn-download font-size-14 font-weight-bold"
        (click)="exportCSV()" [disabled]="isLoading">
        <img class="icon-download" src="assets/icon/icon-download.svg"/>
        CSVダウンロード
      </button>
    </div>

    <div class="mt-2 bg-white analysis-table">
      <app-cas-table [headers]="tableHeader" class="table-analysis-access">
        <tr class="text-center" *ngFor="let item of aiAnalysisAccess; let i = index">
          <td>{{ ((pagination.current_page - 1) * pagination.per_page) + (i + 1) }}</td>
          <td>{{ item.face_id }}</td>
          <td>{{ item.ageDisplay }}</td>
          <td>{{ item.gender_string }}</td>
          <td>{{ item.entranceDisplay }}</td>
          <td>{{ item.exitDisplay }}</td>
        </tr>
      </app-cas-table>

      <div class="text-center" *ngIf="!aiAnalysisAccess.length && !isLoading">
        データが見つかりません
      </div>

      <div class="loader--row" *ngIf="isLoading">
        <div class="lds-ripple">
          <div></div><div></div>
        </div>
      </div>

      <div class="cas-pagination d-flex justify-content-end" [ngClass]="{ 'd-none': isLoading }">
        <app-pagination
          *ngIf="pagination.isPagination"
          class="d-flex justify-content-center"
          [boundaryLinks]="true"
          [totalItems]="pagination.total"
          [itemsPerPage]="pagination.per_page"
          [maxSize]="5"
          [(ngModel)]="pagination.current_page"
          (pageChanged)="pageChanged($event)"
          previousText="&lsaquo;"
          nextText="&rsaquo;"
          firstText="&laquo;"
          lastText="&raquo;"
        ></app-pagination>
      </div>
    </div>
  </div>
</section>
