<section class="content-page resv-mail-page">
  <div class="page-content page-content--padding">
    <div class="container-fluid">
      <form class="cas-form" novalidate #ResvEmailForm="ngForm">
        <!-- Send to -->
        <div class="form-group row cas-fr-group">
          <label for="send_to" class="col-12 col-form-label mi-form-label font-weight-bold">メール送信先</label>
          <div class="col-12">
            {{ resv.user?.name }} 様　<span *ngIf="resv.user?.email">（{{ resv.user?.email }}）</span>
          </div>
        </div>

        <!-- Mail title -->
        <div class="form-group row cas-fr-group">
          <label for="mail_title" class="col-12 col-form-label mi-form-label font-weight-bold required">タイトル</label>
          <div class="col-12">
            <input
              type="text"
              class="form-control cas-fr-control"
              [ngClass]="{ 'is-invalid': (EmailTitle.dirty || EmailTitle.touched) && EmailTitle.errors }"
              name="mail_title"
              placeholder="タイトルを入力してください"
              [(ngModel)]="resvEmail.title"
              #EmailTitle="ngModel"
              appSpaceValidation
              maxlength="255"
              required
            />

            <div class="invalid-feedback" [hidden]="!((EmailTitle.dirty || EmailTitle.touched) && EmailTitle.errors?.required)">
              タイトルは必須です
            </div>

            <div class="invalid-feedback" [hidden]="!((EmailTitle.dirty || EmailTitle.touched) && EmailTitle.errors?.appSpaceValidation && !EmailTitle.errors?.required)">
              空白のみを入力することはできません
            </div>
          </div>
        </div>

        <!-- Mail text -->
        <div class="form-group row cas-fr-group">
          <label for="mail_text" class="col-12 col-form-label mi-form-label font-weight-bold required">本文</label>
          <div class="col-12">
            <textarea name="mail_text"
              class="form-control cas-fr-control"
              [ngClass]="{ 'is-invalid': (EmailContent.dirty || EmailContent.touched) && EmailContent.errors }"
              [(ngModel)]="resvEmail.content"
              #EmailContent="ngModel"
              placeholder="本文を入力してください"
              rows="10"
              appSpaceValidation
              maxlength="10000"
              required>
            </textarea>

            <div class="invalid-feedback" [hidden]="!((EmailContent.dirty || EmailContent.touched) && EmailContent.errors?.required)">
              本文は必須です
            </div>

            <div class="invalid-feedback" [hidden]="!((EmailContent.dirty || EmailContent.touched) && EmailContent.errors?.appSpaceValidation && !EmailContent.errors?.required)">
              空白のみを入力することはできません
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="d-flex justify-content-center my-4">
      <button type="button"
        class="btn cas-btn btn-primary"
        (click)="sendEmail()"
        [disabled]="isLoading || ResvEmailForm.form.invalid || !resv.user?.email">
        送信
      </button>
    </div>
  </div>
</section>

