// TODO: extends from _variables
$numpad-primary: #f59716;
$numpad-light: #e5e5e5;
$numpad-info: #fff;
$numpad-secondary: #707070;

.numpad {
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;

  &_digit {
    align-items: center;
    color: #707070;
    display: flex;
    flex: 1 0 25%;
    font-size: 1.5rem;
    justify-content: center;
    line-height: 4.9375rem;
  }

  &_remove {
    background-color: $numpad-light;

    &-content {
      background-color: $numpad-secondary;
      color: $numpad-info;
      font-size: 0.875rem;
      height: 1.375rem;
      line-height: 1.375rem;
      margin-left: 0.625rem;
      position: relative;
      width: 100%;

      &::before {
        border-bottom: 0.6875rem solid transparent;
        border-right: 0.625rem solid $numpad-secondary;
        border-top: 0.6875rem solid transparent;
        content: '';
        height: 0;
        left: -0.625rem;
        position: absolute;
        top: 0;
        width: 0;
      }
    }
  }

  &_now {
    background-color: $numpad-light;
    font-size: 1rem;
  }

  &_enter {
    background-color: $numpad-primary;
    color: $numpad-info;
    font-size: 1rem;
  }
}
