<div class="numpad noselect">
  <div class="container">
    <div class="row" *ngIf="!keyboardNumber">
      <div class="col-md-3 numpad_digit text-center border-bottom border-right" (click)="clickedDigit(1)">1</div>
      <div class="col-md-3 numpad_digit text-center border-bottom border-right" (click)="clickedDigit(2)">2</div>
      <div class="col-md-3 numpad_digit text-center border-bottom border-right" (click)="clickedDigit(3)">3</div>
      <div class="col-md-3 numpad_digit numpad_remove text-center border-bottom" (click)="delete()">
        <span class="numpad_remove-content">X</span>
      </div>
    </div>

    <div class="row" *ngIf="!keyboardNumber">
      <div class="col-md-3 numpad_digit text-center border-bottom border-right" (click)="clickedDigit(4)">4</div>
      <div class="col-md-3 numpad_digit text-center border-bottom border-right" (click)="clickedDigit(5)">5</div>
      <div class="col-md-3 numpad_digit text-center border-bottom border-right" (click)="clickedDigit(6)">6</div>
      <div class="col-md-3 numpad_digit numpad_now text-center border-bottom" (click)="getCurrentTime()">現時刻</div>
    </div>

    <div class="row" *ngIf="keyboardNumber">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4 numpad_digit text-center border-bottom border-right" (click)="clickedDigit(1)">1</div>
          <div class="col-md-4 numpad_digit text-center border-bottom border-right" (click)="clickedDigit(2)">2</div>
          <div class="col-md-4 numpad_digit text-center border-bottom border-right" (click)="clickedDigit(3)">3</div>
        </div>
        <div class="row">
          <div class="col-md-4 numpad_digit text-center border-bottom border-right" (click)="clickedDigit(4)">4</div>
          <div class="col-md-4 numpad_digit text-center border-bottom border-right" (click)="clickedDigit(5)">5</div>
          <div class="col-md-4 numpad_digit text-center border-bottom border-right" (click)="clickedDigit(6)">6</div>
        </div>
      </div>
      <div class="col-md-3 numpad_digit numpad_remove text-center border-bottom" (click)="delete()">
        <span class="numpad_remove-content">X</span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4 numpad_digit text-center border-bottom border-right" (click)="clickedDigit(7)">7</div>
          <div class="col-md-4 numpad_digit text-center border-bottom border-right" (click)="clickedDigit(8)">8</div>
          <div class="col-md-4 numpad_digit text-center border-bottom border-right" (click)="clickedDigit(9)">9</div>
        </div>
        <div class="row">
          <div class="col-md-12 numpad_digit text-center border-right" (click)="clickedDigit(0)">0</div>
        </div>
      </div>
      <div class="col-md-3 numpad_digit numpad_enter text-center" (click)="confirmed()">設定</div>
    </div>
  </div>
</div>
