<section class="content-page">
  <div class="page-head page-head--space-between">
    <h2 class="head-title">テーブルタイプ一覧</h2>
    <div class="head-action">
      <button type="button" class="btn page-head-btn btn-warning" (click)="createTableType()">
        新規追加
      </button>
    </div>
  </div>

  <app-cas-filter [sortItems]="sortTableType" (eventSort)="tableTypeSort($event)">
    <section filterForm>
      <form novalidate #FormTableTypeFilter="ngForm">
        <div class="form-group mi-form-group row mb-0">
          <div class="col-7">
            <input type="text"
              name="filterName"
              [(ngModel)]="filterName"
              class="form-control"
              placeholder="テーブルタイプ名を入力"
              #Name="ngModel">
          </div>
          <div class="col-5 text-right align-self-end">
            <button class="btn btn-warning" (click)="filterTableType()" [disabled]="!FormTableTypeFilter.form.valid">この条件で絞込む</button>
          </div>
        </div>
      </form>
    </section>
  </app-cas-filter>


  <div class="page-content container-fluid">
    <div class="row">
      <div class="col-12 col-sm-6 mb-3" *ngFor="let type of tableTypes">
        <app-cas-card-type [title]="type.name" (eventEdit)="editTableType(type)" [isAction]="true" (eventDelete)="destroyTableType(type)"></app-cas-card-type>
      </div>
    </div>

    <div class="text-center" *ngIf="!tableTypes.length && !isLoading">
      データが見つかりません
    </div>

    <div class="loader--row" *ngIf="isLoading">
      <div class="lds-ripple">
        <div></div><div></div>
      </div>
    </div>

    <div class="cas-pagination" [ngClass]="{ 'd-none': isLoading }">
      <app-pagination
        *ngIf="pagination.isPagination"
        class="d-flex justify-content-center"
        [boundaryLinks]="true"
        [totalItems]="pagination.total"
        [itemsPerPage]="pagination.per_page"
        [maxSize]="5"
        [(ngModel)]="pagination.current_page"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;"
      ></app-pagination>
    </div>
  </div>
</section>

