@import '../../../stylesheets/variable.scss';

.history-call {
  .cas-scroll {
    max-height: 800px;
  }

  .cas-filter {
    &.is-disabled {
      opacity: 0.5;

      input:disabled {
        background-color: $white;
      }
    }

    .filter-input {
      font-size: 13px;
    }
  }

  .cas-content {
    min-height: calc(100vh - 60px);
  }
}
