<section class="container-fluid history-call">
  <div class="row">
    <!-- User Menu -->
    <div class="col-4 p-0 cas-nav">
      <div class="cas-nav--head">
        <!-- Page filter -->
        <form #SearchUser="ngForm" novalidate>
          <div class="cas-filter"
            [ngClass]="{'is-disabled': isLoading}">
            <i class="filter-icon fa fa-search" aria-hidden="true"></i>
            <input type="text"
              name="name"
              class="filter-input"
              placeholder="名前もしくは電話番号で検索"
              [(ngModel)]="clientName"
              (keyup)="searchHistoryCalls($event)"
              >
          </div>
      </form>
      </div>

      <div class="cas-nav--content">
        <!-- list history calls -->
        <perfect-scrollbar class="cas-scroll">
          <div class="cas-list">
            <div class="cas-list--item justify-content-between ml-0 p-0"
              [ngClass]="{ 'active': item.is_show }"
              *ngFor="let item of historyCalls">
              <a href="javascript:void(0)"
                (click)="showDetailHistoryCall(item)"
                class="d-flex cas-list--item__link p-3 w-100 text-truncate justify-content-between"
                [ngClass]="{ 'active': item.is_missed }"
                [title]="item.user_name_phone">
                <span class="item-name">{{ item.user_name_phone }}</span>
                <span>{{ item.start_time_string }}</span>
              </a>
            </div>
          </div>
        </perfect-scrollbar>
      </div>

      <div class="text-center text-muted font-md cas-position--center w-100"
        *ngIf="!historyCalls.length && !isLoading">
        データが見つかりませんでした
      </div>

      <div class="loader--center" *ngIf="isLoading">
        <div class="lds-ripple">
          <div></div><div></div>
        </div>
      </div>
    </div>

    <!-- User Info -->
    <div class="col-8 cas-content border-left">
      <app-history-call-detail
        [historyCall]="selectedCall"
        [detailHistoryCalls]="detailHistoryCalls"
        [isLoadingHistoryDetail]="isLoadingHistoryDetail"
        *ngIf="selectedCall">
      </app-history-call-detail>

      <div class="text-center text-muted font-md cas-position--center w-100"
        *ngIf="!isLoading && !selectedCall">
        データが見つかりませんでした
      </div>

      <div class="loader--center" *ngIf="isLoading">
        <div class="lds-ripple">
          <div></div><div></div>
        </div>
      </div>
    </div>
  </div>
</section>
