.row.row--2 {
  @media (min-width: 992px) {
    & > .col-lg-3 {
      flex: 0 0 calc(50% - 190px);
      max-width: calc(50% - 190px);
    }

    .box-action {
      flex: 0 0 190px;
      max-width: 190px;
    }
  }
}

.flex-1 {
  flex: 1;
}

.menu-filter__checkbox {
  align-self: center;
  display: flex;

  .cas-checkbox-item {
    margin-right: 25px;
    min-width: 80px;

    &:nth-child(2) {
      min-width: 55px;
    }

    &:nth-child(3) {
      min-width: 95px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
