<form name="FormFilter" #formFilter="ngForm" novalidate>

  <div class="row">
    <!-- Menu Type -->
    <div class="col-6 col-sm-3 mb-2">
      <app-cas-ng-select
        [items]="menusType$ | async"
        [loading]="isLoadMenuType"
        [clearable]="false"
        [searchable]="true"
        [typeahead]="menusTypeInput$"
        [multiple]="true"
        [isTemplateSpan]="true"
        [ngClass]="{ 'is-invalid': MenuTypeRef.dirty && MenuTypeRef.errors }"
        [(ngModel)]="filterData.type_id_in"
        [closeOnSelect]="false"
        (close)="onCloseSelect()"
        sliceMax="1"
        bindLabel="name"
        bindValue="id"
        className="mi-form-ng-select"
        name="MenuType"
        #MenuTypeRef="ngModel"
        dropdownPosition="bottom"
        placeholder="種別名"
        notFoundText="利用できるクーポンがありません"
      ></app-cas-ng-select>
    </div>

    <!-- Category -->
    <div class="col-6 col-sm-3 mb-2 px-0">
      <app-cas-ng-select
        [items]="categories$ | async"
        [loading]="isLoadCategory"
        [clearable]="true"
        [searchable]="true"
        [typeahead]="categoryInput$"
        bindLabel="name"
        bindValue="id"
        className="mi-form-ng-select"
        [ngClass]="{ 'is-invalid': MenuCategoryRef.dirty && MenuCategoryRef.errors }"
        name="MenuCategory"
        #MenuCategoryRef="ngModel"
        [(ngModel)]="filterData.category_id"
        (close)="onCloseSelect()"
        dropdownPosition="bottom"
        placeholder="カテゴリー名"
        notFoundText="利用できるクーポンがありません"
      ></app-cas-ng-select>
    </div>

    <!-- Menu Name -->
    <div class="col-6 col-sm-6 mb-2">
      <input
        type="text"
        class="form-control cas-fr-control"
        name="MenuName"
        maxlength="255"
        [(ngModel)]="filterData.name"
        placeholder="メニュー名を入力"
      />
    </div>

    <div class="col-12">
      <div class="row">
        <!-- Price -->
        <div class="col-6 col-sm-3">
          <div class="input-group mi-form-input-group align-items-center">
            <app-digit-formater
              class="price-input"
              [(ngModel)]="filterData.price_gte"
              name="MenuPriceGte"
              [min]="1"
              [max]="999999999"
              placeholder="1"
            ></app-digit-formater>
            <span class="mx-1">~</span>
            <app-digit-formater
              class="price-input"
              [(ngModel)]="filterData.price_lte"
              name="MenuPriceLte"
              [min]="1"
              [max]="999999999"
              placeholder="10,0000"
            ></app-digit-formater>
          </div>
        </div>

        <!-- Show / Hide -->
        <div class="col-6 col-sm-2 pl-0">
          <app-cas-ng-select
            [items]="toggleMenu"
            [clearable]="true"
            [(ngModel)]="filterData.is_show"
            bindLabel="name"
            bindValue="value"
            className="mi-form-ng-select"
            name="MenuToggle"
            #MenuToggleRef="ngModel"
            dropdownPosition="bottom"
            placeholder="表示"
          ></app-cas-ng-select>
        </div>

        <div class="menu-filter__checkbox">
          <label class="cas-checkbox-item cas-checkbox-item--sm label-right font-weight-bold pl-0">
            おすすめ
            <input
              class="checkbox-input"
              name="recommend"
              type="checkbox"
              [(ngModel)]="filterData.recommend"
              #Recommend="ngModel">
            <span class="checkmark"></span>
          </label>
          <label class="cas-checkbox-item cas-checkbox-item--sm label-right font-weight-bold pl-0">
            売切
            <input
              class="checkbox-input"
              name="soldout"
              type="checkbox"
              [(ngModel)]="filterData.is_sold_out"
              #SoldOut="ngModel">
            <span class="checkmark"></span>
          </label>
          <label class="cas-checkbox-item cas-checkbox-item--sm label-right font-weight-bold pl-0">
            お持ち帰り
            <input
              class="checkbox-input"
              name="takeout"
              type="checkbox"
              [(ngModel)]="filterData.allow_take_out"
              #Recommend="ngModel">
            <span class="checkmark"></span>
          </label>
        </div>

        <div class="text-right flex-1 pr-3">
          <button class="btn btn-warning" (click)="emitData()" [disabled]="!formFilter.form.valid">{{ filterSubmitText }}</button>
        </div>
      </div>
    </div>
  </div>
</form>
