.analysis-wrap {
  background-color: var(--white);
  box-shadow: 0 0 5px #dcdcdd;
  min-height: 525px;
}

.analysis-head {
  background-color: var(--white);
  border-bottom: 2px solid #e5e5e5;
  padding: 14.5px 10px;

  .title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
  }
}
