<section class="analysis-wrap">
  <!-- Analysis Head -->
  <div class="analysis-head">
    <h5 class="title">{{ analysisTitle }}</h5>
  </div>

  <!-- Analysis Content -->
  <div class="analysis-content">
    <ng-content select="[analysisContent]"></ng-content>
  </div>
</section>
