<form name="FormFilter" #formFilter="ngForm" novalidate>

  <div class="row">
    <div class="d-inline-flex col-12 col-sm-9 filter-resv__content">
      <div class="d-flex align-items-center col-sm-6 pl-0">
        <div class="w-50">
          <app-ngx-datepicker
            #StartDate="ngModel"
            name="date-search-start"
            [(ngModel)]="filterData.created_at_gte"
            placeholder="開始日"
            placement="bottom"
            [isClearPicker]="true">
          </app-ngx-datepicker>
        </div>

        <span class="ml-3 mr-3">~</span>

        <div class="w-50">
          <app-ngx-datepicker
            #EndDate="ngModel"
            name="date-search-end"
            [(ngModel)]="filterData.created_at_lte"
            placeholder="終了日"
            placement="bottom"
            [isClearPicker]="true">
          </app-ngx-datepicker>
        </div>
      </div>
      <div class="d-flex align-items-center col-sm-6 pl-0">
      <app-cas-ng-select
        [items]="statuses"
        [clearable]="true"
        [searchable]="false"
        [(ngModel)]="filterData.is_new"
        (ngModelChange)="resetCount()"
        bindLabel="name"
        bindValue="value"
        className="mi-form-ng-select"
        class="filter-status"
        name="userStatus"
        #UserStatusRef="ngModel"
        dropdownPosition="bottom"
        placeholder="予約ステータス"
      ></app-cas-ng-select>

      <div class="filter-resv-count" [hidden]="filterData.is_new != 0">
        <input type="text" name="reservation_count"
          class="form-control"
          [(ngModel)]="filterData.finished_reservations_count_gte"
          inputmode="numeric"
          [pattern]="rules.numericMode"
          OnlyNumeric maxlength="3">
        <div class="font-size-11">来店<br>回以上</div>
      </div>
    </div>
    </div>

    <div class="col-6 col-sm-3 text-right align-self-end">
      <button class="btn btn-warning" (click)="filterUser()" [disabled]="!formFilter.form.valid">この条件で絞込む</button>
    </div>
  </div>
</form>
