.filter-title {
  min-width: 80px;
}

.filter-status {
  width: 155px; // fixed width, so that the box won't change on changing options
}

.filter-resv-count {
  display: inline-flex;
  margin-left: 10px;
  min-width: 100px;

  .form-control {
    font-size: 18px;
    margin: 0 5px;
    max-width: 55px;
    min-width: 45px;
  }

  div {
    min-width: 39px;
  }
}
