<div class="cas-modal">
  <div class="modal-body pt-4 pb-3">
    <p class="text-center mb-0">ログアウトしてもよろしいですか？</p>
  </div>

  <div class="modal-footer cas-modal__footer">
    <button
      type="button"
      class="btn btn-md btn-secondary btn-border btn-mw--lg"
      aria-label="Close"
      (click)="closeModal()"
      [disabled]="isLoading">
      キャンセル
    </button>

    <button
      type="button"
      class="btn btn-md btn-warning btn-mw--lg"
      aria-label="Logout"
      (click)="logout()"
      [disabled]="isLoading">
      OK
    </button>
  </div>
</div>
