<section class="list-selection cas-order-items" *ngIf="!!items.length">
  <div class="selection" *ngFor="let item of items">
    <div class="item-info">
      <div class="info-description">
        <div class="btn-remove" (click)="removeSelection(item)"><i class="fas fa-times"></i></div>
        <div class="cas-img cas-img--square" [ngClass]="{ 'item-sold-out': item.is_sold_out }" *ngIf="item.image_url">
          <img class="cas-img--cover" [src]="item.image_url_src" alt="" />
        </div>
        <div class="infor-detail">
          <p class="item-name mb-0">{{ item.name }}</p>
          <p class="m-0 font-size-14">
            {{ showPriceSelection(item.quantity, item.price) }}円
            <span class="cas-text--light-gray m-0 font-size-12">({{ item.price_format }}円×{{ item.quantity }})</span>
          </p>
        </div>

      </div>

      <app-input-quantity
        [attr.name]="item.name"
        [name]="item.name"
        [disabled]="disabledQuantity"
        [(ngModel)]="item.quantity"
        (change)="changeQuantity()"
        (remove)="removeSelection(item)"
        [containerClass]="'popover--number'"></app-input-quantity>
    </div>

    <div class="invalid-feedback" *ngIf="item.validator">{{ item.validator }}</div>
  </div>
</section>
