.master-page {
  .sub-title {
    color: #434343;
    font-size: 13px;
  }

  .btn-file {
    color: #333;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.45px;
    overflow: hidden;
    position: relative;

    input[type='file'] {
      cursor: inherit;
      filter: alpha(opacity=0);
      min-height: 100%;
      min-width: 100%;
      opacity: 0;
      outline: none;
      position: absolute;
      right: 0;
      top: 0;

      &:disabled {
        cursor: not-allowed;
      }
    }
  }

  .table-master {
    td {
      &:first-child {
        color: #302c2c;
        font-size: 18px;
        font-weight: 700;
      }
    }
  }
}
