<section class="content-page master-page">
  <div class="page-head page-head--space-between pl-3">
    <h2 class="head-title">調理マスター設定
      <p class="sub-title ml-4">調理マスターを設定します。CSVファイルをアップロードしてください。</p>
    </h2>
  </div>

  <div class="page-content container-fluid mt-3">
    <app-cas-table [headers]="tableHeader" class="cas-table--middle table-master">
      <tr>
        <td class="text-left">m-subStatus</td>
        <td class="text-center">
          <span class="btn btn-secondary btn-border btn-file px-3">
            <input
              type="file"
              name="subStatus"
              #subStatus
              (change)="setting($event.target.files, COOKING_MASTER.SUB_STATUS)"
              [accept]="MIME_TYPE"
              [disabled]="isUploading"
            />
            ファイルを追加する
          </span>
        </td>
      </tr>
      <tr>
        <td class="text-left">m-cooking_type</td>
        <td class="text-center">
          <span class="btn btn-secondary btn-border btn-file px-3">
            <input
              type="file"
              name="cookingType"
              #cookingType
              (change)="setting($event.target.files, COOKING_MASTER.COOKING_TYPE)"
              [accept]="MIME_TYPE"
              [disabled]="isUploading"
            />
            ファイルを追加する
          </span>
        </td>
      </tr>
      <tr>
        <td class="text-left">m-timeLimit</td>
        <td class="text-center">
          <span class="btn btn-secondary btn-border btn-file px-3">
            <input
              type="file"
              name="timeLimit"
              #timeLimit
              (change)="setting($event.target.files, COOKING_MASTER.TIME_LIMIT)"
              [accept]="MIME_TYPE"
              [disabled]="isUploading"
            />
            ファイルを追加する
          </span>
        </td>
      </tr>
    </app-cas-table>
  </div>
</section>
