.cas-order-top-image {
  &__container {
    background-color: #959595;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    margin-bottom: 20px;
    min-height: 400px;
    position: relative;

    &.remove .cat-upload__btn {
      -webkit-transform: rotate(45deg);
      background-color: var(--red);
      transform: rotate(45deg);

      &.disabled {
        background-color: #eaeaea;
        cursor: not-allowed;
      }
    }
  }

  &__content {
    -webkit-overflow-scrolling: touch;
    border: 1px solid #ddd;
  }

  &__upload {
    .cat-upload__btn {
      background-color: #999;
      border: 1px solid #fff;
      border-radius: 50%;
      bottom: -20px;
      cursor: pointer;
      height: 4.6875rem;
      position: absolute;
      right: 10px;
      width: 4.6875rem;

      &::before,
      &::after {
        background-color: var(--white);
        border-radius: 0.9375rem;
        content: '';
        height: 0.1875rem;
        left: 25%;
        position: absolute;
        top: 48%;
        width: 50%;
      }

      &::after {
        transform: rotate(90deg);
      }
    }
  }
}
