<div class="cas-order-top-image__container"
  [ngStyle]="{'background-color': styleOpts.bg_color}"
  [ngClass]="{'remove': topImage?.image_url}">
  <div id="CasOrderTopImage" #casOrderTopImage class="cas-order-top-image__content"></div>
  <div class="cas-order-top-image__upload">
    <input class="cas-dz__input" hidden type="file" name="inputFile" #formFiles
      [accept]="fileAccept"
      (change)="handleFile($event.target.files)"/>
    <div class="cat-upload__btn" (click)="uploadImage(formFiles)"></div>
  </div>
</div>
