.coupon-item {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  margin: 10px 0;

  .status {
    border-bottom: 1px solid #ddd;
    border-bottom-left-radius: 5px;
    border-color: #ddd;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-top-left-radius: 5px;
    color: #fff;
    display: flex;
    font-size: 13px;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    width: 20px;

    &--publish {
      background: #c3ed12;
    }

    &--unpublish {
      background: #a8a8a8;
    }

    &--expired {
      background: #e5e5e5;
      color: #707070;
    }

    &--draft {
      background: #f9f9f9;
      color: #707070;
    }
  }

  .content {
    border-bottom: 1px solid #ddd;
    border-right: 1px dotted #ddd;
    border-top: 1px solid #ddd;
    flex: 1;
    padding: 10px;
    position: relative;

    .top-right,
    .bottom-right {
      background: #ddd;
      height: 3px;
      position: absolute;
      width: 7px;
    }

    .bottom-right {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      bottom: 0;
      right: -4px;
    }

    .top-right {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      right: -4px;
      top: 0;
    }

    p {
      /*! autoprefixer: off */
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      display: -webkit-box;
      height: 70px;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
    }
  }

  .expiry {
    border-bottom: 1px solid #ddd;
    border-bottom-right-radius: 5px;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-top-right-radius: 5px;
    display: flex;
    flex-flow: column;
    font-size: 12px;
    justify-content: center;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    width: 100px;

    p {
      line-height: 12px;
    }

    span {
      background: #ddd;
    }
  }
}
