<div class="coupon-item" (click)="changedCoupon()">
  <div class="status {{ coupon.status_class }}">
    <p class="my-auto">{{ coupon.status_string }}</p>
  </div>
  <div class="content">
    <p class="my-auto">
      {{ coupon.name }}
    </p>
    <div class="top-right"></div>
    <div class="bottom-right"></div>
  </div>
  <div class="expiry">
    <p class="my-auto cas-text--dive-line">
      {{ coupon.start_date | date: 'yyyy-MM-dd' }} <br>
      ~ <br>
      {{ coupon.end_date | date: 'yyyy-MM-dd' }}
    </p>

    <span class="mt-2">{{ coupon.specific_target_string }}</span>
  </div>
</div>
