$cat-bg-image: 'assets/img/bg-rich-menu.png';

.category-layout {
  &__container {
    background-color: #e5e5e5;
    background-image: url($cat-bg-image);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }

  &__content {
    -webkit-overflow-scrolling: touch;
    border: 1px solid #ddd;
    position: relative;

    &::before {
      background-image: url('../../../assets/img/order-navigation.png');
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      height: 75px;
      position: absolute;
      top: 0;
      width: calc(100% + 2px);
      z-index: 1;
    }
  }

  &__upload {
    .cat-upload__btn {
      background-color: #999;
      border-radius: 50%;
      bottom: -20px;
      cursor: pointer;
      height: 4.6875rem;
      position: absolute;
      right: 10px;
      width: 4.6875rem;

      &::before,
      &::after {
        background-color: var(--white);
        border-radius: 0.9375rem;
        content: '';
        height: 0.1875rem;
        left: 25%;
        position: absolute;
        top: 48%;
        width: 50%;
      }

      &::after {
        transform: rotate(90deg);
      }
    }
  }
}
