<div class="category-layout__container">
  <div id="CategoryLayout" #CategoryLayout class="category-layout__content"></div>

  <div class="category-layout__upload">
    <input class="cas-dz__input" hidden type="file" name="inputFile" #formFiles
      [accept]="fileAccept"
      (change)="handleFile($event.target.files)"/>
    <div class="cat-upload__btn" (click)="uploadImage(formFiles)"></div>
  </div>
</div>
