<form class="memo-form resv-form">
  <div class="row form-group">
    <div class="col-12">
      <label class="font-weight-bold">キーワード</label>
      <div class="memo-form__keyword">
        <div class="row m-0">
          <div class="col-md-4 mb-2 p-0"
            *ngFor="let keyword of keywordList">
            <app-res-keyword-name
              [listKeywords]="keywordList"
              [keyword]="keyword"
              (eventKeywordChange)="eventKeywordChange($event)"
              (eventSelectKeyword)="eventSelectKeyword($event)"
              [disabled]="resData.isCanceled"></app-res-keyword-name>
          </div>
          <div class="loader--row" *ngIf="isLoading && !keywordList.length">
            <div class="lds-ripple">
              <div></div><div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-12">
      <label class="font-weight-bold">予約メモ</label>
      <textarea class="form-control" name="resv_memo"
        [(ngModel)]="resData.memo" rows="4"
        (ngModelChange)="changeValuesForm()"
        [ngClass]="{'entered': resData.memo}"
        [disabled]="resData.isCanceled"
        maxlength="10000"></textarea>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-12">
      <label class="font-weight-bold">お客様メモ</label>
      <textarea class="form-control" name="client_user_memo"
        [(ngModel)]="resData.client_user.memo" rows="4"
        (ngModelChange)="changeValuesForm()"
        [ngClass]="{'entered': resData.client_user.memo}"
        [disabled]="resData.isCanceled"
        maxlength="10000"></textarea>
    </div>
  </div>
</form>
