<div class="order-app">
  <div class="order-app__header">
    <h3 class="order-app__header-title">
      来店画面のリッチメニューを作成する <app-cas-popup-guide-drag></app-cas-popup-guide-drag>
    </h3>
    <div class="order-app__header-group-btn">
      <button
        type="button"
        class="btn btn-md btn-secondary btn-border btn-mw--md mr-2"
        (click)="closeModal()"
        aria-label="Close"
        [disabled]="isLoading"
      >
        キャンセル
      </button>

      <button
        type="submit"
        class="btn btn-md btn-warning btn-border btn-mw--md"
        (click)="saveTopImage()"
        aria-label="Save"
        [disabled]="isLoading"
      >
        編集する
      </button>
    </div>
  </div>

  <div class="order-app__body">
    <div class="order-app__body-content" [ngClass]="{ 'order-app__body-content--vert': isDirectionVert }">
      <button
        type="button"
        class="btn btn-md btn-setting d-flex justify-content-between align-items-center"
        (click)="settingDisplay()"
        [disabled]="isLoading"
      >
        <i class="fa fa-cog"></i>詳細設定
      </button>
      <div class="order-app__image bg-transparent" [ngClass]="{ 'order-app__image--vert': isDirectionVert }">
        <app-cas-top-image
          [topScreen]="topScreen"
          [stylesheets]="settingOpts"
          [onEventEmitter]="onEventEmitter"
          [direction]="currentUser.client.self_order_direction"
        ></app-cas-top-image>

        <div class="order-app__top-infor" *ngIf="!isRemoveImage">
          <h2>画像を登録してください</h2>
        </div>
        <div class="order-app__upload" [ngClass]="{ remove: isRemoveImage }">
          <input
            hidden
            type="file"
            name="inputFile"
            #formFiles
            [accept]="fileAccept"
            (change)="handleFile($event.target.files)"
          />
          <div class="order-app__upload-btn" [ngClass]="{ disabled: isLoading }" (click)="uploadImage(formFiles)"></div>
        </div>
      </div>
    </div>
  </div>
</div>
