<div class="container">
  <div class="row justify-content-center align-items-center auth-content py-4">
    <div class="col-sm-12 col-md-8 col-lg-7">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
