.filter {
  &-receipt {
    padding: 15px;
  }

  &-title {
    min-width: 80px;
  }

  &-status {
    width: 155px; // fixed width, so that the box won't change on changing options
  }

  &-resv-count {
    display: inline-flex;
    margin-left: 10px;
    min-width: 100px;

    .form-control {
      height: 46px;
      margin: 0 5px;
      width: 45px;
    }
  }

  &-input {
    height: 40px;
  }
}
