<form class="filter-receipt" name="FormFilter" #formFilter="ngForm" novalidate>
<!--  <div class="my-4">-->
<!--    <input-->
<!--      *ngIf="!isSelfOrder"-->
<!--      type="text"-->
<!--      class="form-control w-100 filter-input"-->
<!--      name="table_code"-->
<!--      [(ngModel)]="filterData.table_code"-->
<!--      placeholder="テーブル番号を入力"-->
<!--      maxlength="5"-->
<!--    />-->
<!--    <input-->
<!--      *ngIf="isSelfOrder"-->
<!--      type="text"-->
<!--      class="form-control w-100 filter-input"-->
<!--      name="receipt_number"-->
<!--      [(ngModel)]="filterData.receipt_number"-->
<!--      inputmode="numeric"-->
<!--      OnlyNumeric-->
<!--      placeholder="オーダー番号番号を入力"-->
<!--      maxlength="3"-->
<!--    />-->
<!--  </div>-->

  <div class="cas-checkbox cas-checkbox-group mb-4">
    <label class="cas-checkbox-item font-weight-bold">
      <input
        class="checkbox-input"
        name="paid_status"
        type="checkbox"
        [(ngModel)]="filterData.unpaid"
        #UnPaid="ngModel"
      />未会計
      <span class="checkmark"></span>
    </label>

    <label class="cas-checkbox-item font-weight-bold">
      <input
        class="checkbox-input"
        name="paid_status"
        type="checkbox"
        [(ngModel)]="filterData.paid"
        #UnPaid="ngModel"
      />会計済
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="text-right">
    <button
      class="btn btn-secondary btn-border page-head-btn--secondary mr-0 font-weight-normal"
      (click)="filterReceipt()"
      [disabled]="!formFilter.form.valid"
    >
      この条件で絞込む
    </button>
  </div>
</form>
