<app-cas-dialog [title]="title_modal" (close)="closeModal()">
  <section dialogContent>
    <form #menuOptionFrom="ngForm">
      <div class="form-group mi-form-group">
        <label class="col-form-label mi-form-label required">オプション名</label>
        <input
          type="text"
          class="form-control cas-fr-control"
          placeholder="オプション名を入力してください"
          (input)="validatorReset()"
          [ngClass]="{
            'is-invalid': (menuOptionName.errors && (menuOptionName.dirty || menuOptionName.touched)) || validator.name
          }"
          name="Name"
          [(ngModel)]="menuOption.name"
          appSpaceValidation
          #menuOptionName="ngModel"
          maxlength="10"
          required
        />

        <div
          class="invalid-feedback"
          [hidden]="!((menuOptionName.dirty || menuOptionName.touched) && menuOptionName.errors?.required)"
        >
          オプション名は必須です
        </div>

        <div
          class="invalid-feedback"
          [hidden]="!((menuOptionName.dirty || menuOptionName.touched) && menuOptionName.errors?.maxlength)"
        >
          オプション名は10文字以下で入力してください
        </div>

        <div
          class="invalid-feedback"
          [hidden]="
            !(
              (menuOptionName.dirty || menuOptionName.touched) &&
              menuOptionName.errors?.appSpaceValidation &&
              !menuOptionName.errors?.required
            )
          "
        >
          空白のみを入力することはできません
        </div>

        <div class="invalid-feedback" *ngIf="validator.name">{{ validator.name }}</div>
      </div>

      <div class="form-group mi-form-group">
        <label class="mi-form-label required">料金</label>
        <div class="mi-form__price-group">
          <app-digit-formater
            [(ngModel)]="menuOption.price"
            name="price"
            [allowNegative]="true"
            [min]="-999999999"
            [max]="999999999"
            placeholder="1,200"
            [required]="true && '料金は必須です'"
            [validator]="validator.price">
          </app-digit-formater>
          <p class="price-symbol">円</p>
        </div>
      </div>

      <div class="d-flex justify-content-around align-items-center mt-5 mb-4">
        <span class="font-size-17 font-weight-bold">オプションの複数選択を可能にする</span>

        <app-ui-switch
          className="ui-switch--short"
          name="MenuOptionToggle"
          [(ngModel)]="menuOption.is_single"></app-ui-switch>
      </div>
    </form>
  </section>

  <section class="cas-dialog__btn-group justify-content-around" dialogAction>
    <button
      type="button"
      class="btn btn-md btn-secondary btn-border btn-mw--lg"
      aria-label="Close"
      (click)="closeModal()"
      [disabled]="isSubmiting">
      キャンセル
    </button>

    <button
      type="button"
      class="btn btn-md btn-warning btn-mw--lg"
      aria-label="Create"
      *ngIf="mode.isNew"
      (click)="createMenuOption()"
      [disabled]="!menuOptionFrom.form.valid || isSubmiting">
      作成する
    </button>

    <button
      type="button"
      class="btn btn-md btn-warning btn-mw--lg"
      aria-label="Edit"
      *ngIf="mode.isEdit"
      (click)="editMenuOption()"
      [disabled]="!menuOptionFrom.form.valid || isSubmiting">
      編集する
    </button>
  </section>
</app-cas-dialog>
