.card-menu-opts {
  align-items: center;
  background-color: var(--white);
  border: 0.0625rem solid var(--grey-lighten-0);
  border-radius: 0.5rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  min-height: 5.625rem;
  padding: 0.9375rem;

  &__content {
    flex: 1 1 auto;
    width: calc(100% - 1.875rem);

    &-price,
    &-title {
      margin-bottom: 0.3rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &-price {
      color: #818181;
      font-size: 0.75rem;
    }

    &-title {
      color: #222;
      font-size: 0.9375rem;
      font-weight: bold;
    }
  }

  &__action {
    cursor: pointer;
  }
}
