<section class="card-menu-opts">
  <div class="card-menu-opts__content" (click)="editEvent()">
    <p class="card-menu-opts__content-title" [attr.title]="title">{{ title }}</p>
    <p class="card-menu-opts__content-price mb-0">{{ price }}</p>
  </div>

  <div class="card-menu-opts__action ml-2" (click)="trashEvent()">
    <img src="assets/icon/icon-trash.svg" alt="trash" />
  </div>
</section>
