.cas-modal {
  &-update-version {
    flex-direction: column;
    margin: 0;
    min-height: 300px;
  }

  .modal-body {
    padding: 55px 25px 10px;
  }

  .modal-footer {
    border-top: 1;
    flex-direction: column;

    .btn {
      border-radius: unset;
      margin: 0;
      width: 50%;
    }

    .version-infor {
      align-self: flex-end;
    }
  }
}
