<div class="cas-modal text-center cas-modal-update-version d-flex justify-content-between">
  <div class="modal-body">
    <h5 class="font-size-16 font-weight-bold pre-line">{{ message }}</h5>
  </div>

  <div class="modal-footer">
    <button type="button"
      class="btn btn-md btn-mw--lg btn-warning btn-border" (click)="updateVersion()">OK</button>
  </div>
</div>
