.cas-receipt {
  &__head,
  &__body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  &__head {
    .left,
    .right {
      color: #707070;
      display: flex;
      flex: 1 1 50%;
      flex-direction: row;
      font-size: 12px;
    }

    .number {
      flex: 1 1 30px;
      padding-left: 3px;
    }

    .name {
      flex: 1 1 calc(100% - 195px);
    }

    .quantity {
      flex: 1 1 45px;
    }

    .total {
      flex: 1 1 117px;
    }
  }

  &__item {
    border-bottom: 1px solid var(--white);
    border-right: 2px solid var(--white);
    box-sizing: border-box;
    color: var(--white);
    display: flex;
    flex: 0 1 50%;
    flex-direction: column;
    width: 50%;

    &:nth-child(2n) {
      border-right: 0;
    }

    &.active {
      background-color: #f59716;
    }
  }

  &__body {
    background-color: #333;
    max-height: 300px;
    overflow-y: auto;

    .receipt__item {
      &-details {
        align-items: center;
        display: flex;
        padding-left: 3px;
      }

      &-info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 22px;
        font-weight: bold;
        width: calc(100% - 30px);
      }

      &-number {
        flex: 1 1 30px;
        font-size: 20px;
      }

      &-name-price {
        flex: 1 1 calc(100% - 162px);
        width: calc(100% - 162px);

        .status-name {
          align-items: center;
          display: flex;
        }

        .status {
          background-image: url('assets/img/preorder_status.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 3px;
          flex: 0 1 30px;
          height: 28px;
          width: 30px;
        }

        .name {
          flex: 1 1 calc(100% - 30px);
          width: calc(100% - 30px);
        }

        .price {
          color: #eaeaea;
          font-size: 15px;
          font-weight: normal;
        }
      }

      &-quantity {
        flex: 1 1 45px;
        width: 45px;
      }

      &-total {
        flex: 1 1 117px;
        width: 117px;
      }

      &-option {
        margin-bottom: 8px;
        padding-left: 33px;

        span {
          background-color: var(--white);
          color: var(--black-darken-0);
          display: inline-block;
          font-size: 13px;
          line-height: 23px;
          margin-right: 5px;
          text-align: center;
          width: 90px;
        }
      }
    }
  }
}

.receipt-popover {
  border: 0;
  margin-top: 1rem;

  .popover-arrow.arrow {
    display: none;
  }
}
