<section class="cas-receipt-wrap">
  <div class="cas-receipt__head">
    <div class="left">
      <div class="number">NO.</div>
      <div class="name">品名/オプション名</div>
      <div class="quantity">個数</div>
      <div class="total">金額</div>
    </div>
    <div class="right">
      <div class="number">NO.</div>
      <div class="name">品名/オプション名</div>
      <div class="quantity">個数</div>
      <div class="total">金額</div>
    </div>
  </div>
  <div class="cas-receipt__body">
    <div class="cas-receipt__item" *ngFor="let i of [1,2,3,4,5]" [popover]="receiptAction" [outsideClick]="true" containerClass="receipt-popover">
      <div class="receipt__item-details">
        <div class="receipt__item-number">{{ i }}</div>
        <div class="receipt__item-info">
          <div class="receipt__item-name-price">
            <div class="status-name">
              <div class="status" *ngIf="i % 2 !== 0"></div>
              <div class="name text-truncate">タコポン酢タコポン酢タコ</div>
            </div>
            <div class="price">¥1,111,600</div>
          </div>
          <div class="receipt__item-quantity">9</div>
          <div class="receipt__item-total text-truncate">¥1,224</div>
        </div>
      </div>
      <div class="receipt__item-option" *ngIf="false">
        <span class="text-truncate" *ngFor="let j of [1,2,3,4,5,6,7,8]">オプション名</span>
      </div>
    </div>
  </div>

  <ng-template #receiptAction>
    <app-cas-receipt-action [quantity]="quantity" (minus)="changeQuantity($event)" (plus)="changeQuantity($event)"></app-cas-receipt-action>
  </ng-template>
</section>


