<app-cas-dialog [title]="'メンテナンス中です'" [isCloseBtn]="false">
  <section dialogContent>
    <div class="maintenance-message">
      <p> {{ maintenance.message }}</p>
    </div>
  </section>
  <section class="cas-dialog__btn-group justify-content-center" dialogAction>
    <button class="btn btn-md btn-mw--lg btn-secondary btn-border"
      (click)="closeDialogMaintenance()">OK</button>
  </section>
</app-cas-dialog>
